<% content_for :stylesheets do %>
    <link rel="stylesheet" href="/assets/businesses/index.css" />
<% end %>

<% content_for :scripts do %>

<% end %>

<!-- #start products block -->
<article class="block-box">
  <section class="block-title">
    <span>Danh sách doanh nghiệp</span>
  </section>
  <!-- #start products list -->
  <section class="block-content">
    <ul class="products-list row">
      <!-- #start product item -->
      <li class="col-md-4 col-sm-4 col-xs-6">
        <section class="product-item">
          <section class="picture">
            <img src="/assets/logo/BachTuyetLogo.jpg">
          </section>
          <section class="title">
            Cty CP Sơn Bạch Tuyết
          </section>
          <section class="area">
            <b>Lĩnh vực:</b> Mua bán tiếp thị
          </section>
          <section class="address">
            <b>Địa chỉ:</b> 414 Nơ Trang Long, Phường 13, Quận Bình Thạnh
          </section>
          <section class="phone">
            <b>Điện thoại:</b> (84) 8 3553 3373
          </section>
          <section class="fax">
            <b>Fax:</b> (84) 8 3553 3373
          </section>
          <section class="email">
            <b>Email:</b> info@sonbachtuyet.com
          </section>
          <section class="website">
            <b>Website:</b> www.sonbachtuyet.com
          </section>
          <section class="bottom-section">
            <a href="http://www.sonbachtuyet.com">Tìm hiểu thêm</a>
          </section>
        </section>
      </li>
      <!-- #end product item -->
      <!-- #start product item -->
      <li class="col-md-4 col-sm-4 col-xs-6">
        <section class="product-item">
          <section class="picture">
            <img src="/assets/logo/TonHoaSenLogo.jpg">
          </section>
          <section class="title">
            Cty Tôn Hoa Sen
          </section>
          <section class="area">
            <b>Lĩnh vực:</b> Mua bán tiếp thị
          </section>
          <section class="address">
            <b>Địa chỉ:</b> 414 Lê Văn Sỹ, Phường 3, Quận 3
          </section>
          <section class="phone">
            <b>Điện thoại:</b> (84) 8 3553 3373
          </section>
          <section class="fax">
            <b>Fax:</b> (84) 8 3553 3373
          </section>
          <section class="email">
            <b>Email:</b> info@hoasengroup.com
          </section>
          <section class="website">
            <b>Website:</b> www.hoasengroup.com
          </section>
          <section class="bottom-section">
            <a href="http://www.hoasengroup.vn">Tìm hiểu thêm</a>
          </section>
        </section>
      </li>
      <!-- #end product item -->
      <!-- #start product item -->
      <li class="col-md-4 col-sm-4 col-xs-6">
        <section class="product-item">
          <section class="picture">
            <img src="/assets/logo/BachTuyetLogo.jpg">
          </section>
          <section class="title">
            Cty CP Sơn Bạch Tuyết
          </section>
          <section class="area">
            <b>Lĩnh vực:</b> Mua bán tiếp thị
          </section>
          <section class="address">
            <b>Địa chỉ:</b> 414 Nơ Trang Long, Phường 13, Quận Bình Thạnh
          </section>
          <section class="phone">
            <b>Điện thoại:</b> (84) 8 3553 3373
          </section>
          <section class="fax">
            <b>Fax:</b> (84) 8 3553 3373
          </section>
          <section class="email">
            <b>Email:</b> info@sonbachtuyet.com
          </section>
          <section class="website">
            <b>Website:</b> www.sonbachtuyet.com
          </section>
          <section class="bottom-section">
            <a href="http://www.sonbachtuyet.com">Tìm hiểu thêm</a>
          </section>
        </section>
      </li>
      <!-- #end product item -->
      <!-- #start product item -->
      <li class="col-md-4 col-sm-4 col-xs-6">
        <section class="product-item">
          <section class="picture">
            <img src="/assets/logo/BachTuyetLogo.jpg">
          </section>
          <section class="title">
            Cty CP Sơn Bạch Tuyết
          </section>
          <section class="area">
            <b>Lĩnh vực:</b> Mua bán tiếp thị
          </section>
          <section class="address">
            <b>Địa chỉ:</b> 414 Nơ Trang Long, Phường 13, Quận Bình Thạnh
          </section>
          <section class="phone">
            <b>Điện thoại:</b> (84) 8 3553 3373
          </section>
          <section class="fax">
            <b>Fax:</b> (84) 8 3553 3373
          </section>
          <section class="email">
            <b>Email:</b> info@sonbachtuyet.com
          </section>
          <section class="website">
            <b>Website:</b> www.sonbachtuyet.com
          </section>
          <section class="bottom-section">
            <a href="http://www.sonbachtuyet.com">Tìm hiểu thêm</a>
          </section>
        </section>
      </li>
      <!-- #end product item -->
      <!-- #start product item -->
      <li class="col-md-4 col-sm-4 col-xs-6">
        <section class="product-item">
          <section class="picture">
            <img src="/assets/logo/BachTuyetLogo.jpg">
          </section>
          <section class="title">
            Cty CP Sơn Bạch Tuyết
          </section>
          <section class="area">
            <b>Lĩnh vực:</b> Mua bán tiếp thị
          </section>
          <section class="address">
            <b>Địa chỉ:</b> 414 Nơ Trang Long, Phường 13, Quận Bình Thạnh
          </section>
          <section class="phone">
            <b>Điện thoại:</b> (84) 8 3553 3373
          </section>
          <section class="fax">
            <b>Fax:</b> (84) 8 3553 3373
          </section>
          <section class="email">
            <b>Email:</b> info@sonbachtuyet.com
          </section>
          <section class="website">
            <b>Website:</b> www.sonbachtuyet.com
          </section>
          <section class="bottom-section">
            <a href="http://www.sonbachtuyet.com">Tìm hiểu thêm</a>
          </section>
        </section>
      </li>
      <!-- #end product item -->
      <!-- #start product item -->
      <li class="col-md-4 col-sm-4 col-xs-6">
        <section class="product-item">
          <section class="picture">
            <img src="/assets/logo/BachTuyetLogo.jpg">
          </section>
          <section class="title">
            Cty CP Sơn Bạch Tuyết
          </section>
          <section class="area">
            <b>Lĩnh vực:</b> Mua bán tiếp thị
          </section>
          <section class="address">
            <b>Địa chỉ:</b> 414 Nơ Trang Long, Phường 13, Quận Bình Thạnh
          </section>
          <section class="phone">
            <b>Điện thoại:</b> (84) 8 3553 3373
          </section>
          <section class="fax">
            <b>Fax:</b> (84) 8 3553 3373
          </section>
          <section class="email">
            <b>Email:</b> info@sonbachtuyet.com
          </section>
          <section class="website">
            <b>Website:</b> www.sonbachtuyet.com
          </section>
          <section class="bottom-section">
            <a href="www.sonbachtuyet.com">Tìm hiểu thêm</a>
          </section>
        </section>
      </li>
      <!-- #end product item -->
    </ul>
  </section>
  <!-- #end products list -->
  <!-- #start pagination -->
  <section class="pagination-block">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- #end pagination -->
</article>
<!-- #end products block -->