<% content_for :stylesheets do %>
    <link rel="stylesheet" href="/assets/businesses/create.css" />
<% end %>

<% content_for :scripts do %>
<% end %>

<div class="container-fluid">  
  <!-- #start main-content -->
  <article class="row wrapper">
    <article class="main-content col-sm-8">    
      <form class="form-horizontal" id="create_real_estate" method="post" action="/businesses/manager">
      <section class="main-title">Admin Add Company Category</section>      
      <ul class="item-wrapper">
        <!-- #Start item "Thông tin cơ bản" -->
        <li class="item">
          <div class="item-title">Details</div>
          <ul class="item-content">                 
            <li class="form-group">            
              <label class="control-label col-sm-3 input-sm">Name:</label>            
              <div class="col-sm-4">
                <input class="form-control input-sm">
              </div>
            </li>
            <li class="form-group"> 
              <label class="control-label col-sm-3 input-sm">Description</label>                         
              <div class="col-sm-9">
                <textarea name="real_estate[description]" class="form-control required" id="description"></textarea>
              </div>
            </li>
            <li class="form-group"> 
              <label class="control-label col-sm-3 input-sm">Order</label>
              <div class="col-sm-9">
                <input class="form-control input-sm">
              </div>
            </li>            
          </ul>
        </li>
        <!-- #End item "Thông tin cơ bản" -->        
        <!-- #Start item "Submit Button" -->
        <li class="item">          
          <ul class="item-content">
            <li class="submit-button">                                              
              <p class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-danger">Reset</button>                
              </p>              
            </li>
          </ul>
        </li>
        <!-- #End item "Submit Button" -->
      </ul>
      </form>
    </article>              
  </article>
  <!-- #start main-content -->
</div>