<% content_for :stylesheets do %>
    <link rel="stylesheet" href="/assets/businesses/manager.css" />
<% end %>

<% content_for :scripts do %>    
<% end %>

<!-- #start TableResult -->
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<td>Image</td>
				<td>Name</td>
				<td>Company Category</td>
				<td>Email</td>
				<td>Address</td>				
				<td>Action</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>					
					<img src="/assets/product/BDS05.jpg" width="100px" height="100px">
				</td>						
				<td>Sơn Bạch Tuyết</td>
				<td>Vật liệu xây dựng</td>
				<td></td>
				<td>414 Nơ Trang Long-Phường 13-Quận Bình Thạnh-TP.HCM</td>				
				<td>
					<button class="btn btn-default">View</button>
					<button class="btn btn-default">Edit</button>
					<button class="btn btn-danger">Delete</button>
				</td>
			</tr>
			<tr>
				<td>					
					<img src="/assets/product/BDS05.jpg" width="100px" height="100px">
				</td>						
				<td>Sơn Bạch Tuyết</td>
				<td>Vật liệu xây dựng</td>
				<td></td>
				<td>414 Nơ Trang Long-Phường 13-Quận Bình Thạnh-TP.HCM</td>				
				<td>
					<button class="btn btn-default">View</button>
					<button class="btn btn-default">Edit</button>
					<button class="btn btn-danger">Delete</button>
				</td>
			</tr>					
		</tbody>			
	</table>		
</div>
<!-- #end TableResult -->