/*start search*/
.search {
	background: url('/assets/background/background-search.jpg') no-repeat center center;
	height: 500px;
	display: flex;
}	
	.search .search-box {
		margin: auto;
	}
/*end search*/

/*start search-box*/
.search-box {
	width: 550px;	
	border: 1px solid #000;
	background-color: #111;
	opacity: 0.9;
	border-radius: 4px;
	text-align: center;
}
	.search-box .title {
		text-align: center;
		color: #fcfcfc;
	}
	.search-box .tab {
		text-align: center;			
		color: #fff;					
	}				
		.search-box .tab label {
			padding: 10px;
		}				
			.search-box .tab label:hover {
				cursor: pointer;
			}
			.search-box .tab label input {
				position: absolute;
				left: -99999px;
				background-color: #ccc;
			}						
			.search-box .tab label span {							
				font-size: 13px;
				transition: 0.2s;
			}
			.search-box .tab label input:checked ~ span,
			.search-box .tab label input:hover ~ span,
			.search-box .tab label input:focus ~ span {
				color: #ff941e;
			}
			.search-box .tab label input ~ .sale {
				display: inline-block;
				width: 32px;
				height: 32px;
				vertical-align: -10px;							
				background: url('/assets/icon/Real_Estate_Investment-32.png') no-repeat center center;							
				margin-right: 10px;
				transition: 0.2s;
			}
				.search-box .tab label input:hover ~ .sale,
				.search-box .tab label input:focus ~ .sale,
				.search-box .tab label input:checked ~ .sale {
					background: url('/assets/icon/Real_Estate_Investment-32-hover.png') no-repeat center center;							
				}
			.search-box .tab label input ~ .rent {
				display: inline-block;
				width: 32px;
				height: 32px;
				vertical-align: -10px;							
				background: url('/assets/icon/Rent_Home-32.png') no-repeat center center;							
				margin-right: 10px;
				transition: 0.2s;
			}
				.search-box .tab label input:hover ~ .rent,
				.search-box .tab label input:focus ~ .rent,
				.search-box .tab label input:checked ~ .rent {
					background: url('/assets/icon/Rent_Home-32-hover.png') no-repeat center center;							
				}
	.search-box form {
		padding: 0 70px;
	}
		.search-box form .form-group-custom {
			position: relative;
		}
		/*search-keyword*/
		.search-box form .search-keyword {
			padding-right: 150px;
		}
		/*button search*/
		.search-box form .btn-search {
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			padding: 0 10px;
		}
			.search-box form .btn-search button {
				height: 100%;
				width: 24px;
				transition: 0.5s;
				border: none;
				text-decoration: none;
				outline: none;
				padding: 0;
				background: url('/assets/icon/search-home.png') no-repeat center center;
			}
				.search-box form .btn-search button:hover {
					background: url('/assets/icon/search-home-hover.png') no-repeat center center;
				}
		/*button zestimate*/
		.search-box form .btn-zestimate {
			height: 100%;
			position: absolute;
			top: 0;
			right: 43px;
			padding: 0 10px;
		}
			.search-box form .btn-zestimate button {
				height: 100%;
				width: 24px;
				transition: 0.5s;
				border: none;
				text-decoration: none;
				outline: none;
				padding: 0;
				background: url('/assets/icon/price-home.png') no-repeat center center;
			}
				.search-box form .btn-zestimate button:hover {
					background: url('/assets/icon/price-home-hover.png') no-repeat center center;
				}
		/*separator*/
		.search-box form .separator {
			height: 100%;
			position: absolute;
			top: 0;
			right: 42px;
		}
			.search-box form .separator span {
				height: 100%;
				line-height: 33px;
				color: #ccc;
			}
		/*history search*/
		.search-box form .history-search {
			height: 100%;
			position: absolute;
			top: 0;
			right: 86px;
		}
			.search-box form .history-search button {
				padding-left: 0;
				padding-right: 0;
				color: #ccc;
			}
/*end search-box*/