/*start search*/
.search {
	background: url('/assets/background/background-search.jpg') no-repeat center center;
	height: 500px;
	display: flex;
}	
	.search .search-box {
		margin: auto;
	}
/*end search*/

