body {
	background-color: #ffffff;
}

/* Post */

	.post-ctn {
		padding: 200px 20px;
		color: #ffffff;
		position: relative;
		text-align: center;
	}

		.post-ctn .background {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: -1;
			top: 0;
			left: 0;
			background: url('/assets/home/index/post_new.jpg') center bottom no-repeat;
			background-size: cover;
			-webkit-filter: brightness(60%);
			filter: brightness(60%);
		}

		.post-ctn .box-title {
			font-family:'Open Sans';
			font-size: 50px;
			font-weight: 300;
		}

			.post-ctn .box-title .sub-title {
				display: block;
				font-size: 21px;
				margin-top: 10px;
				font-weight: 400;
			}

		.post-ctn .callout-text {
			font-family:'Open Sans';
			font-size: 13px;
			font-weight: bold;
			margin-top: 30px;
			margin-bottom: 10px;
		}

		.post-ctn .purposes-list {
			display: -webkit-flex;
			display: flex;
			-webkit-justify-content: center;
			justify-content: center;
		}

			.post-ctn .purposes-list a {
				font-weight: normal;
				font-size: 15px;
				background-color: rgba(255, 255, 255, .1);
				padding: 10px 20px;
				border: 1px solid rgba(255, 255, 255, .5);
				border-right: 0;
				cursor: pointer;
				color: #ffffff;
				text-decoration: none;
			}

				.post-ctn .purposes-list a:last-child {
					border-right: 1px solid rgba(255, 255, 255, .5);
				}

				.post-ctn .purposes-list a:hover {
					background-color: rgba(255, 255, 255, .2);
				}

		.post-ctn .btn-ctn {
		}

			.post-ctn .btn-ctn .btn {
				padding: 10px 30px;
				background-color: #00A459;
				font-size: 18px;
			}

				.post-ctn .btn-ctn .btn:hover,
				.post-ctn .btn-ctn .btn:focus {
					background-color: #008549;
				}

				.post-ctn .btn-ctn .btn:active {
					background-color: #00D976;
				}

/* / Post */

/* Ìno intro */

	.info-intro-ctn {
		padding: 100px 20px;
	}

		.info-intro-ctn .box-title {
			font-family: 'Open Sans';
			font-size: 40px;
			font-weight: 300;
			text-align: center;
		}

		.info-intro-ctn .items-list {
			margin-top: 50px;
			display: -webkit-flex;
			display: flex;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-flex-wrap: wrap;
			flex-wrap: wrap;
		}

			.info-intro-ctn .items-list .item {
				width: 400px;
				max-width: 100%;
				margin: 20px;
			}

				.info-intro-ctn .items-list .item .image {
					width: 100%;
				}

				.info-intro-ctn .items-list .item .title {
					margin-top: 20px;
					font-family: 'Open Sans';
					font-size: 22px;
					color: #333;
				}

				.info-intro-ctn .items-list .item p {
					margin-top: 10px;
					text-align: justify;
					font-size: 16px;
					color: #666;
				}

/* / Info intro */

/* Search */

	.search-ctn {
		position: relative;
		color: #ffffff;
		padding: 100px 0;
	}

		.search-ctn .background {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: -1;
			top: 0;
			left: 0;
			background: url('/assets/home/index/filter.jpg') center center no-repeat;
			background-size: cover;
			-webkit-filter: brightness(60%);
			filter: brightness(60%);
		}

		.search-ctn .title {
			font-family:'Open Sans';
			font-size: 45px;
			font-weight: 300;
			margin: 0 20px 20px 20px;
			text-align: center;
		}

			.search-ctn .title .sub-title {
				display: block;
				font-size: 22px;
				margin-top: 15px;
				font-weight: 400;
			}

			@media (min-width: 768px) {
				.search-ctn .title {
					margin: 50px 20px;
					text-align: left;
				}

					.search-ctn .title .sub-title {
						max-width: 400px;
					}
			}

		.search-ctn .search-type {
			color: inherit;
			display: block;
			font-size: 15px;
			font-weight: normal;
			margin-bottom: 10px;
			text-decoration: none;
		}

			.search-ctn .search-type .icon {
				font-size: 28px;
				width: 40px;
				text-align: center;
				display: inline-block;
				vertical-align: middle;
			}

		.search-ctn .form-ctn {
			padding: 0 20px;
		}

		.search-ctn .form {
			margin: 20px;
			padding: 40px;
			background-color: rgba(0, 0, 0, .4);
			max-width: 450px;
			margin: auto;
			border-radius: 10px;
		}

			.search-ctn .form .row {
				margin-top: 30px;
			}

			.search-ctn .form .btn {
				padding: 10px 20px;
				background-color: #00A459;
				font-size: 18px;
			}
				.search-ctn .form .btn:hover,
				.search-ctn .form .btn:focus {
					background-color: #008549;
				}

				.search-ctn .form .btn:active {
					background-color: #00D976;
				}

/* / Search */

/* Contact */

	.contact-ctn {
		padding: 70px 0;
	}

		.contact-ctn .box-title {
			font-family: 'Open Sans';
			font-size: 45px;
			font-weight: 300;
			text-align: center;
			padding: 0 20px;
		}

			.contact-ctn .box-title .sub-title {
				font-size: 22px;
				font-weight: 400;
				display: block;
			}

		.contact-ctn .form {
			width: 100%;
			max-width: 650px;
			margin: 20px auto;
			padding: 40px;
			z-index: 1;
			position: relative;
		}

			.contact-ctn .form .background {
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: -1;
				top: 0;
				left: 0;
				background: url('/assets/home/index/help.png') center center no-repeat;
				background-size: cover;
				-webkit-filter: brightness(60%);
				filter: brightness(60%);
			}

			.contact-ctn .form .btn {
				padding: 10px 30px;
				background-color: #00A459;
				font-size: 18px;
			}

				.contact-ctn .form .btn:hover,
				.contact-ctn .form .btn:focus {
					background-color: #008549;
				}

				.contact-ctn .form .btn:active {
					background-color: #00D976;
				}

		.contact-ctn .callout-text {
			font-size: 13px;
			font-weight: bold;
			text-align: center;
			color: rgba(255, 255, 255, .5);
			margin: 0;
		}

/* / Contact */

/* Concept */

	.concept-ctn {
		padding: 70px 0;
	}
	
		.concept-ctn .box-title {
			font-family: 'Open Sans';
			font-size: 45px;
			font-weight: 300;
			text-align: center;
			padding: 0 20px;
		}

			.concept-ctn .box-title .sub-title {
				font-size: 22px;
				font-weight: 400;
				display: block;
			}

		.concept-ctn .content-image {
			width: 800px;
			display: block;
			margin: 0 auto;
			margin-top: 20px;
		}

		.concept-ctn .content {
			font: 300 22px 'Open Sans';
			max-width: 700px;
			margin: 0 auto;
			margin-top: 20px;
			padding: 0 20px;
		}

		.concept-ctn .btn-ctn {
			text-align: center;
			margin-top: 40px;
		}

			.concept-ctn .btn-ctn .btn {
				padding: 15px 30px;
				background-color: #00A459;
				font-size: 18px;
			}

				.concept-ctn .btn-ctn .btn:hover,
				.concept-ctn .btn-ctn .btn:focus {
					background-color: #008549;
				}

				.concept-ctn .btn-ctn .btn:active {
					background-color: #00D976;
				}

/* / Concept */

/* Rating */

	.rating-ctn {
		padding: 50px 0;
	}

		.rating-ctn img {
			width: 100%;
		}

		.rating-ctn img {
			width: 100%;
		}
	
		.rating-ctn .box-title {
			font-family: 'Open Sans';
			font-size: 45px;
			font-weight: 300;
			text-align: center;
			padding: 0 20px;
			margin-top: 30px;
		}

			.rating-ctn .box-title .sub-title {
				font-size: 22px;
				font-weight: 400;
				display: block;
			}

		.rating-ctn .buttons-list {
			display: -webkit-flex;
			display: flex;
			flex-justify-content: center;
			justify-content: center;
			margin-top: 30px;
		}

			.rating-ctn .buttons-list .btn {
				padding: 10px 20px;
			}

				.rating-ctn .buttons-list .btn:hover {
					text-decoration: underline;
				}

			.rating-ctn .buttons-list .btn-1 {
				background-color: #DB9A18;
			}

			.rating-ctn .buttons-list .btn-2 {
				background-color: #DBBA18;
			}

			.rating-ctn .buttons-list .btn-3 {
				background-color: #DBDB18;
			}

			.rating-ctn .buttons-list .btn-4 {
				background-color: #90CD16;
			}

			.rating-ctn .buttons-list .btn-5 {
				background-color: #13B013;
			}

/* / Rating */