/*start search*/
.search {
	width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
    border: 1px solid #eee;
    background-color: #F8f8f8;
    border-radius: 4px;
    box-shadow: 1px 1px 10px #DEDEDE;
}
	.search  .search-box {
		margin: 0 auto;
		background-color: #F8f8f8;
		border: none;
		text-align: center;
		padding-bottom: 10px;	
	}
	.search-box > .title {
		color: #666;
	}
	/*start tab*/
	.search-box .tab span {
		color: #666;
	}
		.search-box .tab input:checked ~ span {
			color: #DE560B !important;
		}
	/*end*/
/*end search*/

/*start navigator*/
.navigator {
	font-size: 13px;
	margin: 40px 0;
}
	.navigator .breadcrumb {
		padding-left: 0;
		background-color: #f6f6f6;
	}
/*end navigator*/