/*start search*/
.search {
	
}	
	.search .search-box {
		margin: auto;
	}
/*end search*/

/*start navigator*/
.navigator {
	font-size: 13px;
	margin: 40px 0;
}
	.navigator .breadcrumb {
		padding-left: 0;
		background-color: #f6f6f6;
	}
/*end navigator*/