<% content_for :stylesheets do %>
  <link rel="stylesheet" type="text/css" href="/assets/sessions/index.css">
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript" src="/assets/sessions/index.js"></script>
  <script type="text/javascript" src="/assets/shared/canvasjs.min.js"></script>
<% end %>

<% content_for :content_header do %>
  Thống kê lượt truy cập
<% end %>

<section id="view_part"></section>