<% content_for :stylesheets do %>
  <link rel="stylesheet" type="text/css" href="/assets/sessions/index.css">
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript" src="/assets/sessions/index.js"></script>
  <script type="text/javascript" src="/assets/shared/canvasjs.min.js"></script>
<% end %>

<% content_for :content_header do %>
  Thống kê lượt truy cập
<% end %>

<section class="box box-solid">
  <section class="box-body">
    <article class="row">
      <article class="form-group col-sm-3">
        <label class="control-label" for="purpose">
          Thống kê
        </label>
        <select class="form-control" id="purpose">
          <option value="host">Nguồn</option>
          <option value="campaign">Chiến dịch</option>
          <optgroup label="Thời gian">
            <option value="day">Ngày</option>
            <option value="month">Tháng</option>
            <option value="year">Năm</option>
          </optgroup>
        </select>
      </article>
      <article class="form-group col-sm-3">
        <label class="control-label" for="date_from">
          Từ
        </label>
        <input class="form-control" id="date_from" />
      </article>
      <article class="form-group col-sm-3">
        <label class="control-label" for="date_to">
          Đến
        </label>
        <input class="form-control" id="date_to" />
      </article>
    </article>
  </section>
</section>

<section class="box box-primary">
  <section class="box-header">
    <h2 class="box-title" id="chart_label">
      Các quý năm 2015
    </h2>
  </section>  
  <section class="box-body">
    <article id="chart" style="height: 300px"></article>
  </section>
</section>