<%
=begin
	params: requests, page(1), per(20)
=end

	@_title 			=
	@_content_header 	= 	'Danh sách yêu cầu đã nhận của tôi';

	per 				||= 20
	page				||= 1
	requests_in_page	= 	requests.page page, per
%>

<% if requests_in_page.count != 0 %>
	<section class="box box-primary">
		<section class="box-body padding-0 table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>
							Yêu cầu
						</th>
						<th>
							Đối tượng
						</th>
						<th>
							Lời nhắn
						</th>
						<th>
							Thành viên
						</th>
						<th>
							Thời điểm
						</th>
					</tr>
				</thead>
				<tbody id="list">
					<%= render partial: 'my_received', locals: { requests: requests_in_page } %>
				</tbody>
			</table>
		</section>
	</section>

	<section id="paginator" class="text-center">
		<%= render partial: 'shared/paginator', locals: { total: requests.count, page: page, per: per } %>
	</section>
<% else %>
	<article class="callout callout-warning">
		<h4>
			Không có kết quả
		</h4>
		<p>
			Không tìm thấy kết quả, vui lòng thử lại sau
		</p>
	</article>
<% end %>

<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/contact_requests/my_received.css">
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript" src="/assets/contact_requests/my_received.js"></script>
<% end %>