<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
  </head>
  <body>
    <h1>Thông tin kích hoạt tài khoản</h1>
    <p>Mã kích hoạt: <b>123123123</b></p>
    <p>Đường dẫn kích hoạt: <a href="http://google.com">abc</a></p>
  </body>
</html>