<h3>Chào mừng <b><%= @user.full_name %></b> đến với hệ thống MuaNhaOnline.vn</h3>
<p>Hãy nhấn vào <a href="<%= Rails.application.config.base_url %>users/active_account/<%= @user.id %>?<%= { code: @user._params['active_code'] }.to_query %>">đây</a> để hoàn tất kích hoạt</p>