<h3>Chào <b><%= @user.full_name %></b>, hệ thống MuaNhaOnline.vn đã khôi phục mật khẩu cho tài khoản của bạn</h3>
<p>Tài khoản: <b><%= @user.account %></b></p>
<p>Mật khẩu mới: <b><%= @new_password %></b></p>
<p>Hãy đăng nhập vào hệ thống với mật khẩu mới và đổi mật khẩu lại nếu bạn muốn</p>