/* 768 992 1200 */
/* 720 940 1140 */

body {
	background-color: #eff1f5;
	overflow-x: hidden;
	font: normal 14px 'Segoe UI';
}

/* Spinner loadding */

	.spinner-container {
		position: fixed;
		left: calc(50% - 35px);
		top: 0;
		background-color: #fff;
		width: 70px;
		height: 70px;
		padding: 10px;
		z-index: 25;
		text-align: center;
		box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
	}	

		.spinner-container img {
			height: 50px;
			width: 50px;
		}

/* / Spinner loadding */

/* Animation */

	@keyframes in {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

/* Animation */

/* Header */

	header {
		height: 40px;
		background-color: #ffffff;
		box-shadow: 0 2px 10px rgba(0, 0, 0, .03);
	}

		header:after {
			content: '';
			display: table;
			clear: both;
		}

		header .page-name {
			position: absolute;
			left: -9999px;
		}

		/* Logo */
		
			header .logo {
				float: left;
				padding: 0 20px;
			}

				header .logo img {
					height: 40px;
				}
		
		/* / Logo */

		/* User */

			header .user-info {
				float: right;
			}

			header .user {
				float: right;
				height: 40px;
				text-decoration: none;
				font-size: 28px;
				margin-left: 10px;
				position: relative;
				background-color: #008347;
				color: #fff;
			}

				header .user .text {
					color: inherit;
					font-weight: 600;
					height: 40px;
					line-height: 40px;
					padding: 0 15px;
					font-size: 14px;
					display: initial;
					float: left;
				}

				header .user img {
					display: block;
					float: left;
					background-color: #006437;
					height: 40px;
					padding: 5px;
				}
			
				header .user .absolute-menu {
					top: 100%;
					right: 0;
					display: none;
				}
			
					header .user:hover .absolute-menu {
						display: block;
					}
		
		/* / User */

/* / Header */

/* Navigator */

	

/* / Navigator */

/* Main menu */

	.main-menu-ctn {
		position: absolute;
		background-color: #646B76;
		width: 100px;
		min-height: calc(100vh - 40px);
	}

/* / Main menu */

/* Main */

	main {
		margin-left: 100px;
		min-height: calc(100vh - 40px);
	}

	/* Callout */
	
		main .callout {
			margin-top: 10px;
			margin-bottom: 10px;
			padding: 15px;
			border-left: 5px solid #00C1F8;
		}
	
	/* / Callout */

	/* Container box */
	
		main .container-box {
			margin-top: 50px;
			margin-bottom: 50px;
			background-color: #fff;
		}
	
			main .container-box.container-box-transparent {
				background-color: transparent;
			}

			main .container-box .container-box-header {
			}

				main .container-box .container-box-header .container-box-title {
					font-size: 28px;
					text-align: center;
					padding: 20px;
				}

			main .container-box .container-box-body {
				
			}
	
	/* / Container box */

	/* Box */
	
		main .box {
			margin-top: 50px;
			margin-bottom: 50px;
			background-color: #fff;
		}
	
			main .box.box-transparent {
				background-color: transparent;
			}
	
			main .box .box-header {
				background-color: #008549;
			}

			main .box .box-title {
				display: inline-block;
				padding: 10px 15px;
				background-color: #4a525d;
				font-size: 20px;
				text-transform: uppercase;
				color: #fff;
			}
	
			main .box .box-body {
				padding: 20px 15px;
			}
				
			/* Callout */
			
				main .box .box-body .callout {
					margin-left: -15px;
					margin-right: -15px;
				}
			
			/* / Callout */
	
			main .box .box-footer {
				padding: 10px 15px;
			}
	
	/* / Box */

	/* Content box */
	
		.content-box {
			margin-top: 10px;
			margin-bottom: 30px;
		}
	
			.content-box:last-child {
				margin-bottom: 0;
			}
	
			.content-box .content-box-header {
				margin-bottom: 10px;
			}

			.content-box .content-box-title {
				font-size: 17px;
				color: #008549;
				display: inline-block;
				padding-right: 15px;
				padding-bottom: 2px;
				border-bottom: 2px solid #008549;
			}
	
			.content-box .content-box-body {
				padding: 5px 0;
			}
	
	/* / Content box */

	/* Items list */
		
		/* Medium items list */
		
			.medium-items-list {

			}

				@media (min-width: 768px) {
					.medium-items-list .list > .row > :nth-child(2n+1) {
						clear: both;
					}
				}
				
				@media (min-width: 992px) {
					.medium-items-list .list > .row > :nth-child(2n+1) {
						clear: none;
					}
					
					.medium-items-list .list > .row > :nth-child(3n+1) {
						clear:both;
					}
				}
		
				.medium-items-list .item {
					max-width: 300px;
					margin: 10px auto;
					background-color: #fff;
					padding: 10px;
				}
		
					.medium-items-list .item > * {
						margin-top: 10px;
						margin-bottom: 10px;
					}
		
						.medium-items-list .item > :first-child {
							margin-top: 0;
						}
			
						.medium-items-list .item > :last-child {
							margin-bottom: 0;
						}
		
					.medium-items-list .item .image {
						margin: -10px;
						margin-bottom: inherit;
					}
		
						.medium-items-list .item .image img {
							width: 100%;
						}

					.medium-items-list .item .title {
						max-height: 50px;
						overflow: hidden;
					}

						.medium-items-list .item .title a {
							font-size: 16px;
							color: #333;
							display: block;
							line-height: 25px;
						}

					.medium-items-list .item .type,
					.medium-items-list .item .address {
						font-size: 13px;
					}

					.medium-items-list .item .price {
						text-align: right;
						padding-right: 10px;
						font-size: 15px;
					}

					.medium-items-list .item .infos {
						text-align: center;
						border-top: 2px solid #008549;
					}
		
						.medium-items-list .item .infos > * {
							display: inline-block;
							margin: 10px 10px 0 10px;
						}
		
						.medium-items-list .item .infos .icon {
							font-size: 18px;
						}
		
		/* / Medium items list */

		/* Large items list */
		
			.large-items-list {
			}

				.large-items-list > .list-container {
					overflow: hidden;
				}

				.large-items-list > .list-container > .list {
					white-space: nowrap;
					display: inline-block;
					position: relative;
				}

				/* Item */
				
					.large-items-list > .list-container > .list > .item {
						display: inline-block;
						white-space: normal;
						width: 100vw;
						box-sizing: content-box;
						padding: 10px 0;
					}
				
						.large-items-list .item .container {
						}

						/* Images */

							.large-items-list .item .images-container {
								background-color: #fff;
								position: relative;
							}

								.large-items-list .item .images-container .image {
									
								}

									.large-items-list .item .images-container .image img {
										width: 100%;
									}

								.large-items-list .item .images-container .circle-paging {
									position: absolute;
									bottom: 0;
									left: 0;
									width: 100%;
								}

						/* / Images */

						/* Infos */

							.large-items-list .item .infos-container-background {
								background-position: center center;
								background-size: cover;
								background-image: initial;
							}

							.large-items-list .item .infos-container {
								background-color: rgba(0, 0, 0, .7);
								height: 469px;
								padding: 20px;
								color: #fff;
							}

								.large-items-list .item .infos-container > .content {
									display: flex;
									display: -webkit-flex;
									flex-direction: column;
									-webkit-flex-direction: column;
									height: 100%;
								}

									.large-items-list .item .infos-container > .content > * {
										margin-bottom: 17px;
									}

										.large-items-list .item .infos-container > .content > *:last-child {
											margin-bottom: 0;
										}

								.large-items-list .item .infos-container .title {
								}

									.large-items-list .item .infos-container .title > * {
										display: inline-block;
										margin: 0;
										padding-right: 20px;
										padding-bottom: 5px;
										border-bottom: 2px solid #00D976;
										max-height: 54px;
										box-sizing: content-box;
										overflow: hidden;
									}

										.large-items-list .item .infos-container .title > * > * {
											display: inline-block;
											font-size: 21px;
											line-height: 27px;
											color: #fff;
										}

								.large-items-list .item .infos-container .price {
									font-size: 17px;
									font-weight: 600;
								}

									.large-items-list .item .infos-container .sell-price-text {
										color: #FFC732;
										margin-bottom: 10px;
									}

									.large-items-list .item .infos-container .rent-price-text {
										color: #2DCEFC;
										margin-bottom: 10px;
									}

								.large-items-list .item .infos-container .price {
									font-size: 17px;
									margin-bottom: 10px;
									font-weight: 600;
								}

								.large-items-list .item .infos-container .content .infos {
									margin: -20px;
									padding: 20px;
								}

								.large-items-list .item .infos-container .infos > .row > *:nth-child(2n+1) {
									clear: left;
								}

									@media (min-width: 768px) {
										.large-items-list .item .infos-container .infos > .row > *:nth-child(2n+1) {
											clear: none;
										}

										.large-items-list .item .infos-container .infos > .row > *:nth-child(4n+1) {
											clear: left;
										}
									}
									
									@media (min-width: 992px) {
										.large-items-list .item .infos-container .infos > .row > *:nth-child(4n+1) {
											clear: none;
										}

										.large-items-list .item .infos-container .infos > .row > *:nth-child(2n+1) {
											clear: left;
										}
									}

								.large-items-list .item .infos-container .infos {
									position: relative;
									overflow: auto;
								}

								/* Item */

									.large-items-list .item .infos-container .info-item {
										margin-bottom: 15px;
									}

										.large-items-list .item .infos-container .info-item:after {
											content: '';
											display: table;
											clear: both;
										}

										.large-items-list .item .infos-container .info-item .icon {
											font-size: 25px;
											float: left;
											width: 25px;
											margin-right: 10px;
											margin-top: 2px;
											color: #00D976;
										}

										.large-items-list .item .infos-container .info-item .text {
											float: left;
											width: calc(100% - 35px);
										}

										.large-items-list .item .infos-container .info-item .name {
											font-size: 13px;
											color: #00D976;
										}

										.large-items-list .item .infos-container .info-item .value {
											font-size: 15px;
										}

										.large-items-list .item .infos-container .info-item .unit {
											font-size: 13px;
											font-weight: normal;
										}
								
								/* / Item */

							.large-items-list .item .buttons-container {

							}

								.large-items-list .item .buttons-container .btn {
									float: left;
									display: block;
									width: 100%;
									padding: 0;
									height: 50px;
									line-height: 50px;
									font-size: 19px;
									color: #fff;
									text-align: center;
									text-decoration: none;
								}

						/* / Infos */

				/* / Item */

				@media (min-width: 768px) {
					.large-items-list .item .container {
					   	box-shadow: 2px 2px 20px rgba(0, 0, 0, .2);
					}

					.large-items-list .item .infos-container {
						height: 365px;
					}
				}
				
				@media (min-width: 992px) {
					.large-items-list > .list-container > .list > .item {
						height: 425px;
					}

					.large-items-list .item .infos-container-background {
						background-image: initial !important;
					}

					.large-items-list .item .infos-container {
						height: 375px;
						background-color: #fff;
						color: #333;
					}

						.large-items-list .item .infos-container .sell-price-text {
							color: #BE8A00;
						}

						.large-items-list .item .infos-container .rent-price-text {
							color: #0085AB;
						}

						.large-items-list .item .infos-container .info-item .icon {
							color: #008549;
						}

						.large-items-list .item .infos-container .info-item .name {
							color: #008549;
						}

						.large-items-list .item .infos-container .title > * {
							border-bottom: 2px solid #008549;
						}

							.large-items-list .item .infos-container .title > * > * {
								color: #333;
							}
				}
				
				@media (min-width: 1200px) {
					.large-items-list > .list-container > .list > .item {
						height: 513px;
					}

					.large-items-list .item .infos-container {
						height: 463px;
					}
				}
		
		/* / Large items list */
	
	/* / Items list */

	/* Numeric paging */
	
		.numeric-paging {
			display: block;
			text-align: center;
			padding: 10px;
		}
	
			.numeric-paging a {
				display: inline-block;
				padding: 5px;
				min-width: 30px;
				margin: 4px;
				background-color: #fff;
				color: #333;
				text-decoration: none;
			}
	
				.numeric-paging a:hover,
				.numeric-paging a.active {
					background-color: #00A459;
					color: #fff;
				}
	
				.numeric-paging a:active {
					background-color: #00D976;
				}
	
	/* / Numeric paging */

	/* Circle paging */

		.circle-paging {
			text-align: center;
			padding: 10px;
			cursor: default;
		}

			.circle-paging a {
				display: inline-block;
			}

			.circle-paging span {
				padding: 4px;
				display: block;
			}

				.circle-paging span:before {
					content: '';
					display: block;
					width: 12px;
					height: 12px;
					border-radius: 50%;
					background-color: #858B93;
					transition: .3s;
				}

					.circle-paging.white-circle-paging span:before {
						background-color: #fff;
					}

					.circle-paging a.active span:before,
					.circle-paging a:hover span:before {
						background-color: #369836;
					}
	
	/* / Circle paging */

	/* Sign-in box */
	
		.sign-in-box .icon {
			font-size: 40px;
		}
	
			.sign-in-box .icon.ico-facebook {
				color: #3b5998;
				text-decoration: none;
			}
	
	/* / Sign-in box */

/* / Main */

/* Footer */

	footer {
		color: #fff;
		background: url('/assets/shared/footer/background.png') center center;
		background-size: cover;
		margin-top: 100px;
	}

		footer .title {
			font: 600 18px 'Open Sans';
			margin-bottom: 10px;
		}

		footer ul {
			padding-left: 0;
			list-style: none;
		}

		footer li {
			margin: 5px 0;
		}

		footer a {
			color: #fff;
		}

			footer a:hover {
				color: #fff;
			}

		footer .icon {
			font-size: 40px;
			display: inline-block;
			width: 50px;
			text-align: center;
			vertical-align: middle;
		}

			footer .ico-facebook {
				color: #3b5998;
			}

			footer .ico-google-plus {
				color: #d34836;
			}

			footer .ico-youtube {
				color: #e52d27;
			}

		footer .box {
			padding: 50px 20px 20px 20px;
			min-height: 200px;
		}

			@media (min-width: 768px) {
				footer .box {
					padding: 80px 20px 20px 20px;
					height: 350px;
				}
			}

			footer .box.box-1 {
				background-color: rgba(0, 101, 130, .8);
			}

			footer .box.box-2 {
				background-color: rgba(0, 100, 55, .8);
			}

			footer .box.box-3 {
				background-color: rgba(162, 118, 0, .8);
			}

			footer .box.box-4 {
				background-color: rgba(255, 255, 255, .8);
				color: #333;
			}

		footer .contact-info {
			text-align: center;
			color: #fff;
			margin: 0;
			padding: 30px 0 50px 0;
		}

/* / Footer */

/* Menu */

	.absolute-menu {
		padding-left: 0;
		list-style: none;
		position: absolute;
		z-index: 40;
		background-color: #008549;
		box-sizing: content-box;
		color: #fff;
		border-top: 3px solid #00A459;
		text-align: left;
		display: flex;
		display: -webkit-flex;
	}

		.absolute-menu .col {
			
		}

		.absolute-menu .item {
			position: relative;
			transition: .3s;
			box-sizing: content-box;
		}

		.absolute-menu .item a {
			display: block;
			padding: 8px 12px;
			text-decoration: none;
			min-width: 170px;
			color: #CFF8E5;
			transition: .3s;
			font-size: 13px;
			line-height: initial;
		}

			.absolute-menu .item a:hover {
				color: #fff;
				background-color: #006437;
			}

		.absolute-menu .line {
			clear: both;
			background-color: #00A459;
			height: 3px;
			width: 50%;
		}

/* / Menu */


/* Override */

	/* Bootstrap */

		/* Form */
	
			/* Form group, control */
			
				.form-group {
					margin-bottom: 10px;
				}

				.form-control {
					border: none;
					border-radius: 0;
					border-bottom: 2px solid #CED5E2;
					transition: border-bottom-color .3s;
					height: 40px;
				}

					.form-control[readonly],
					.form-control[disabled] {
						cursor: not-allowed;
					}

					.form-control,
					.has-error .form-control,
					.has-success .form-control {
						box-shadow: none;
					}

					.form-control:focus,
					.has-success .form-control:focus,
					.has-error .form-control:focus {
						border-bottom-color: #008549;
						box-shadow: none;
					}

					.has-success .form-control {
						border-bottom-color: #008549;
					}

					.has-error .form-control {
						border-bottom-color: #D30029;
					}

				textarea.form-control {
					min-width: 100%;
					max-width: 100%;
				}
			
			/* / Form group, control */

			/* Button */

				.btn {
					border: none;
					border-radius: 0;
					background: #00A459;
					font-size: 15px;
					color: #fff;
				}

					.btn:hover,
					.btn:focus,
					.btn:active {
						color: #fff;
						outline: none;
						box-shadow: none;
					}
					.btn:focus:active {
						outline: none;
					}

					.btn {
						background-color: #303740;
						color: #fff;
					}

						.btn:hover,
						.btn:focus {
							background-color: #1C2532;
						}

						.btn:active {
							background-color: #4a525d;
						}

					.btn.btn-green {
						background-color: #008549;
					}

						.btn.btn-green:hover,
						.btn.btn-green:focus {
							background-color: #006437;
						}

						.btn.btn-green:active {
							background-color: #00A459;
						}

					.btn.btn-orange {
						background-color: #BE8A00;
					}

						.btn.btn-orange:hover,
						.btn.btn-orange:focus {
							background-color: #A37700;
						}

						.btn.btn-orange:active {
							background-color: #DCA001;
						}
			
			/* / Button */

		/* / Form */
	
	/* / Bootstrap */

/* / Override */