form {

}
	form input[type="text"],
	form input[type="password"] {
		border-radius: 2px;
	}
	form select {
		border-radius: 2px !important;
	}
	form .form-group-custom {
		padding: 0;
		margin-bottom: 7px;
	}

@media (max-width: 767px) {
	form .input-inline {
		margin-bottom: 10px;
	}
}
	