/* 768 992 1200 */
/* 720 940 1140 */

body {
	background-color: #eff1f5;
	font: normal 14px 'Segoe UI';
}

/* Spinner loadding */

	.spinner-container {
		position: fixed;
		left: calc(50% - 35px);
		top: 0;
		background-color: #fff;
		width: 70px;
		height: 70px;
		padding: 10px;
		z-index: 25;
		text-align: center;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
	}	

		.spinner-container img {
			height: 50px;
			width: 50px;
		}

/* / Spinner loadding */

/* Animation */

	@keyframes in {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

/* Animation */

/* Header */

	header {
		background-color: #fff;
		width: 100%;
		top: 0;
		z-index: 10;
		box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	}

		header:after {
			content: '';
			display: block;
			clear: both;
		}

		body.no-scroll header {
			overflow-y: scroll;
		}

	header .page-name {
		position: absolute;
		left: -9999px;
	}

	/* Top */
	
		header .top-header-container {
			background-color: #4A525D;
			height: 40px;
		}
	
		header .top-header {
		}
	
			header .top-header .text {
				font-size: 13px;
				vertical-align: middle;
				display: none;
			}
	
			header .top-header > * {
				float: right;
				height: 40px;
				line-height: 40px;
				font-size: 28px;
				color: #fff;
				text-align: center;
				padding: 0 10px;
			}
	
				header .top-header > :hover {
					text-decoration: none;
				}
	
			header .top-header .sign-in {
				transition: .3s;
			}
	
				header .top-header .sign-in:hover,
				header .top-header .sign-in:focus {
					background-color: #006582;
				}
	
			header .top-header .facebook-login {
				transition: .3s;
			}
	
				header .top-header .facebook-login:hover,
				header .top-header .facebook-login:focus {
					background-color: #3a5795;
				}
	
			header .top-header .menu {
				transition: .3s;
				position: relative;
				z-index: 2;
			}
	
				header .top-header .menu:hover,
				header .top-header .menu:focus {
					background-color: #303740;
				}
	
			header .top-header .new-post {
				transition: .3s;
			}
	
				header .top-header .new-post:hover,
				header .top-header .new-post:focus {
					background-color: #A37700;
				}

			/* User */

				header .top-header .user {
					padding: 0;
					margin-left: 10px;
					position: relative;
					background-color: #008347;
					color: #fff;
				}

					header .top-header .user .text {
						height: 40px;
						line-height: 40px;
						padding: 0 15px;
						font-size: 14px;
						display: initial;
						float: left;
					}

					header .top-header .user img {
						display: block;
						float: left;
						background-color: #006437;
						height: 40px;
						padding: 5px;
					}
				
					header .top-header .user .absolute-menu {
						top: 100%;
						right: 0;
						display: none;
					}
				
						header .top-header .user .absolute-menu.on {
							display: block;
						}
			
			/* / User */

	/* / Top */

	/* Bottom */
	
		header .bottom-header-container {
		}
	
		header .bottom-header {
			position: relative;
		}

		/* Logo */
		
			header .bottom-header .logo {
				width: 430px;
				max-width: 100%;
				margin: 20px auto;
				padding: 0 20px;
			}

				header .bottom-header .logo a {
					text-decoration: none;
				}
		
				header .bottom-header .logo img {
					width: 100%;
				}

				header .bottom-header .logo .slogan {
					text-align: right;
					font-size: 16px;
					/*font-family: 'Open Sans';*/
					letter-spacing: 1px;
					font-weight: 600;
					color: #999;
					line-height: 0;
					padding-right: 10px;
					opacity: 1;
					transition: .3s;
				}

					header.fixed .bottom-header .logo .slogan {
						opacity: 0;
						transform: translateY(-20px);
					}
		
		/* / Logo */

		/* Navigator */
		
			header .bottom-header {
				text-align: center;
			}

				header .bottom-header nav {
					display: inline-block;
					text-align: left;
				}

				header .bottom-header ul {
					list-style: none;
					padding: 0;
					margin: 0;
				}

				/* First level */

					header .bottom-header nav ul {
						max-width: 100%;
						text-align: center;
					}

					header .bottom-header nav li {
						display: inline-block;
						position: relative;
					}
				
					header .bottom-header nav li > a {
						font-size: 15px;
						padding: 0 15px;
						line-height: 60px;
						display: block;
						color: #333;
						text-decoration: none;
						position: relative;
						transition: .3s;
					}
				
						header.fixed .bottom-header nav li > a {
							line-height: 40px;
						}
				
						header .bottom-header nav a:hover,
						header .bottom-header nav a:focus {
							text-decoration: none;
							color: #000;
						}

						header .bottom-header nav > ul li > a:after {
							content: '';
							display: block;
							position: absolute;
							left: 0;
							bottom: 0;
							width: 100%;
							height: 3px;
							background-color: transparent;
						}

							header .bottom-header nav li:hover > a:after {
								background-color: #065C06;
								transition: .3s;
							}

							header .bottom-header nav li:hover > a + * {
								display: flex;
								display: -webkit-flex;
							}
				
				/* First level */

				/* Level 2 */
				
					header .bottom-header nav .absolute-menu {
						top: 100%;
						left: 0;
						margin-top: -3px;
						display: none;
					}
				
						header .bottom-header nav li .absolute-menu.on {
							display: flex;
							display: -webkit-flex;
						}
				
				/* Level 2 */

		/* Navigator */
	
	/* / Bottom */
	
	@media (min-width: 768px) {
		header .top-header .text {
			display: initial;
		}
	}
	
	@media (min-width: 992px) {

		header {
			position: fixed;
		}
		
		/* Bottom */
	
			header .bottom-header-container {
				height: 60px;
			}
	
				header.fixed .bottom-header-container {
					height: 40px;
					transition: height .3s;
				}
		
			header .bottom-header {
				text-align: right;
			}
	
				header .bottom-header .logo {
					position: absolute;
					z-index: 1;
					top: -22px;
					margin: 0;
					margin-left: 25px;
				}
		
		/* / Bottom */

	}

/* Header */

/* Navigator */

	.main-navigator {
		padding-top: 30px;
		padding-bottom: 50px;
		background-position: 50% 99%;
		background-size: cover;
	}

		.main-navigator .list-container {
			background-color: rgba(0, 0, 0, .3);
		}

		.main-navigator .list {
			padding: 5px 10px;
		}

		.main-navigator .item {
			display: inline-block;
			font-size: 14px;
		}

		.main-navigator .item:not(:last-child):after {
			content: ' || ';
			color: #aaa;
			font-weight: bold;
			margin-left: 5px;
			margin-right: 5px;
		}

		.main-navigator a {
			color: #fff;
			vertical-align: middle;
		}

		@media (min-width: 768px) {
			.main-navigator {
				padding-top: 35px;
				padding-bottom: 55px;
			}

				.main-navigator .list {
					padding: 6px 10px;
				}
		}
		
		@media (min-width: 992px) {
			.main-navigator {
				padding-top: 40px;
				padding-bottom: 60px;
			}

				.main-navigator .list {
					padding: 7px 10px;
				}
		}

/* / Navigator */

/* Seach box */

	.search-box-container {
		background-color: #f8f8f8;
		border-top: 3px solid #006437;
		box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	}

		.search-box-container:after {
			content: '';
			display: block;
		}

		.search-box-container .search-box {
			position: relative;
		}

		.search-box-container .box-title {
			display: block;
			position: absolute;
			top: -40px;
			font-size: 21px;
			white-space: nowrap;
		}

			.search-box-container.in-top .box-title {
				cursor: pointer;
				left: 50px;
			}

			.search-box-container .box-title .icon {
				display: inline-block;
				height: 37px;
				line-height: 40px;
				width: 40px;
				background-color: #006437;
				text-align: center;
				color: #fff;
				vertical-align: bottom;
			}

			.search-box-container .box-title .text {
				display: inline-block;
				height: 37px;
				line-height: 40px;
				padding: 0 10px;
				background-color: #008549;
				color: #fff;
				font-size: 16px;
			}

				.search-box-container.in-top .box-title:hover .text {
					text-decoration: underline;
				}

		.search-box-container .box-content {
			padding: 20px;
		}

			.search-box-container .box-content .suggest-keywords {
			}

				.search-box-container .box-content .suggest-keywords .label {
					font-weight: bold;
					color: inherit;
				}

				.search-box-container .box-content .suggest-keywords a {
					color: #333;
					display: inline-block;
					padding: 1px 7px;
					border-bottom: 2px solid #ddd;
					text-decoration: none;
					transition: border-bottom-color .3s;
					margin: 3px 0;
				}

					.search-box-container .box-content .suggest-keywords a:hover {
						border-bottom-color: #00A459;
					}

/* / Seach box */

/* Main */

	main {
		padding: 50px 0;
		overflow-x: hidden;
	}

	/* Callout */
	
		main .callout {
			margin-top: 10px;
			margin-bottom: 10px;
			padding: 15px;
			border-left: 5px solid #00C1F8;
		}
	
	/* / Callout */

	/* Container box */
	
		main .container-box {
			margin-bottom: 50px;
			background-color: #fff;
		}
	
			main .container-box.container-box-near {
				margin-bottom: 10px;
			}
	
			main .container-box.container-box-transparent {
				background-color: transparent;
			}

			main .container-box .container-box-header {
			}

				main .container-box .container-box-header .container-box-title {
					font-size: 28px;
					text-align: center;
					padding: 20px;
				}

			main .container-box .container-box-body {
				
			}
	
	/* / Container box */

	/* Box */
	
		main .box {
			margin-bottom: 50px;
			background-color: #fff;
			box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
		}
	
			main .box:last-child {
				margin-bottom: 0;
			}
	
			main .box.box-transparent {
				background-color: transparent;
				box-shadow: none;
			}
	
			main .box.box-form {
				background-color: #f8f8f8;
			}
	
			main .box.box-near {
				margin-bottom: 10px;
			}
	
			main .box .box-header {
				background-color: #008549;
			}

			main .box .box-title {
				display: inline-block;
				padding: 10px 15px;
				background-color: #4a525d;
				font-size: 20px;
				text-transform: uppercase;
				color: #fff;
			}

				main .box.box-small .box-title {
					font-size: 16px;
				}
	
			main .box .box-body {
				padding: 15px;
			}
	
				main .box.box-small .box-body {
					padding: 0;
				}
				
			/* Callout */
			
				main .box .box-body .callout {
					margin-left: -15px;
					margin-right: -15px;
				}
			
			/* / Callout */
	
			main .box .box-footer {
				padding: 10px 15px;
			}
	
	/* / Box */

	/* Content box */
	
		.content-box {
			margin-bottom: 20px;
		}
	
			.content-box:last-child {
				margin-bottom: 0;
			}
	
			.content-box .content-box-header {
				margin-bottom: 10px;
			}

			.content-box .content-box-title {
				font-size: 17px;
				color: #008549;
				display: inline-block;
				padding-right: 15px;
				padding-bottom: 2px;
				border-bottom: 2px solid #008549;
			}
	
			.content-box .content-box-body {
			}
	
	/* / Content box */

	/* Items list */
		
		/* Medium items list */
		
			.medium-items-list {
				display: -webkit-flex;
				display: flex;
				flex-wrap: wrap;
				margin: 0 -5px -10px;
			}

				.medium-items-list .item-ctn {
					flex: 1 1 250px;
					margin: 0 5px;
					margin-bottom: 10px;
				}
		
				.medium-items-list .item {
					max-width: 300px;
					margin: 0 auto;
					background-color: #fff;
					padding: 10px;
					box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
					height: 100%;
					display: -webkit-flex;
					display: flex;
					-webkit-flex-direction: column;
					flex-direction: column;
					position: relative;
				}
		
					.medium-items-list .item > .grow {
						flex-grow: 1;
					}
		
					.medium-items-list .item > :first-child {
						margin-top: -10px;
					}
		
					.medium-items-list .item > :last-child {
						margin-bottom: -10px;
					}
		
					.medium-items-list .item .image {
						margin: 0 -10px 10px;
					}
		
						.medium-items-list .item.item-2 .image {
							margin-bottom: 0;
						}
		
						.medium-items-list .item .image img {
							width: 100%;
						}

					.medium-items-list .item .title {
						max-height: 50px;
						overflow: hidden;
						color: #006437;
						margin-bottom: 7px;
					}

						.medium-items-list .item .title a {
							font-size: 16px;
							color: inherit;
							display: block;
							line-height: 25px;
						}

					.medium-items-list .item .type,
					.medium-items-list .item .address {
						font-size: 13px;
						margin-bottom: 7px;
					}

					.medium-items-list .item .price {
						text-align: right;
						padding-right: 10px;
						font-size: 15px;
						margin-bottom: 7px;
					}

					.medium-items-list .item .infos {
						text-align: center;
						border-top: 2px solid #008549;
						margin-bottom: 10px;
					}
		
						.medium-items-list .item .infos > * {
							display: inline-block;
							margin: 10px 10px 0 10px;
						}
		
						.medium-items-list .item .infos .icon {
							font-size: 18px;
						}
		
					.medium-items-list .item .upon-info {
						position: absolute;
						bottom: 0;
						left: 0;
						padding: 10px;
						background-color: rgba(0, 0, 0, .6);
						color: #eee;
					}
		
						.medium-items-list .item .upon-info .title {
							color: #fff;
						}
		
						.medium-items-list .item .upon-info .sell-price-text {
							color: #FFC732;
						}
		
						.medium-items-list .item .upon-info .rent-price-text {
							color: #FF8F86;
						}
		
						.medium-items-list .item .upon-info > :last-child {
							margin-bottom: 0;
						}
		
		/* / Medium items list */
		
		/* Medium items list */
		
			/*.medium-items-list {

			}

				@media (min-width: 768px) {
					.medium-items-list > .row > :nth-child(2n+1) {
						clear: both;
					}
				}
				
				@media (min-width: 992px) {
					.medium-items-list > .row > :nth-child(2n+1) {
						clear: none;
					}
					
					.medium-items-list > .row > :nth-child(3n+1) {
						clear:both;
					}
				}
		
				.medium-items-list .item {
					max-width: 300px;
					margin: 0 auto 10px;
					background-color: #fff;
					padding: 10px;
					box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
				}
		
					.medium-items-list .item > * {
						margin-top: 10px;
						margin-bottom: 10px;
					}
		
						.medium-items-list .item > :first-child {
							margin-top: 0;
						}
			
						.medium-items-list .item > :last-child {
							margin-bottom: 0;
						}
		
					.medium-items-list .item .image {
						margin: -10px;
						margin-bottom: inherit;
					}
		
						.medium-items-list .item .image img {
							width: 100%;
						}

					.medium-items-list .item .title {
						max-height: 50px;
						overflow: hidden;
					}

						.medium-items-list .item .title a {
							font-size: 16px;
							color: #333;
							display: block;
							line-height: 25px;
						}

					.medium-items-list .item .type,
					.medium-items-list .item .address {
						font-size: 13px;
					}

					.medium-items-list .item .price {
						text-align: right;
						padding-right: 10px;
						font-size: 15px;
					}

					.medium-items-list .item .infos {
						text-align: center;
						border-top: 2px solid #008549;
					}
		
						.medium-items-list .item .infos > * {
							display: inline-block;
							margin: 10px 10px 0 10px;
						}
		
						.medium-items-list .item .infos .icon {
							font-size: 18px;
						}*/
		
		/* / Medium items list */

		/* Large items list */
		
			.large-items-list {
			}

				.large-items-list > .list-container {
					overflow: hidden;
				}

				.large-items-list > .list-container > .list {
					white-space: nowrap;
					display: inline-block;
					position: relative;
				}

				/* Item */
				
					.large-items-list > .list-container > .list > .item {
						display: inline-block;
						white-space: normal;
						width: 100vw;
						box-sizing: content-box;
						padding: 10px 0;
					}
				
						.large-items-list .item .container {
						}

						/* Images */

							.large-items-list .item .images-container {
								background-color: #fff;
								position: relative;
							}

								.large-items-list .item .images-container .image {
									
								}

									.large-items-list .item .images-container .image img {
										width: 100%;
									}

								.large-items-list .item .images-container .circle-paging {
									position: absolute;
									bottom: 0;
									left: 0;
									width: 100%;
								}

						/* / Images */

						/* Infos */

							.large-items-list .item .infos-container-background {
								background-position: center center;
								background-size: cover;
								background-image: initial;
							}

							.large-items-list .item .infos-container {
								background-color: rgba(0, 0, 0, .7);
								height: 469px;
								padding: 20px;
								color: #fff;
							}

								.large-items-list .item .infos-container > .content {
									display: flex;
									display: -webkit-flex;
									flex-direction: column;
									-webkit-flex-direction: column;
									height: 100%;
								}

									.large-items-list .item .infos-container > .content > * {
										margin-bottom: 17px;
									}

										.large-items-list .item .infos-container > .content > *:last-child {
											margin-bottom: 0;
										}

								.large-items-list .item .infos-container .title {
								}

									.large-items-list .item .infos-container .title > * {
										display: inline-block;
										margin: 0;
										padding-right: 20px;
										padding-bottom: 5px;
										border-bottom: 2px solid #00D976;
										max-height: 54px;
										box-sizing: content-box;
										overflow: hidden;
									}

										.large-items-list .item .infos-container .title > * > * {
											display: inline-block;
											font-size: 21px;
											line-height: 27px;
											color: #fff;
										}

								.large-items-list .item .infos-container .price {
									font-size: 17px;
									font-weight: 600;
								}

									.large-items-list .item .infos-container .sell-price-text {
										color: #FFC732;
										margin-bottom: 10px;
									}

									.large-items-list .item .infos-container .rent-price-text {
										color: #EA4235;
										margin-bottom: 10px;
									}

								.large-items-list .item .infos-container .price {
									font-size: 17px;
									margin-bottom: 10px;
									font-weight: 600;
								}

								.large-items-list .item .infos-container .content .infos {
									margin: -20px;
									padding: 10px 20px;
								}

								.large-items-list .item .infos-container .infos > .row > *:nth-child(2n+1) {
									clear: left;
								}

									@media (min-width: 768px) {
										.large-items-list .item .infos-container .infos > .row > *:nth-child(2n+1) {
											clear: none;
										}

										.large-items-list .item .infos-container .infos > .row > *:nth-child(4n+1) {
											clear: left;
										}
									}
									
									@media (min-width: 992px) {
										.large-items-list .item .infos-container .infos > .row > *:nth-child(4n+1) {
											clear: none;
										}

										.large-items-list .item .infos-container .infos > .row > *:nth-child(2n+1) {
											clear: left;
										}
									}

								.large-items-list .item .infos-container .infos {
									position: relative;
									overflow: auto;
								}

								/* Item */

									.large-items-list .item .infos-container .info-item {
										margin-bottom: 15px;
									}

										.large-items-list .item .infos-container .info-item:after {
											content: '';
											display: table;
											clear: both;
										}

										.large-items-list .item .infos-container .info-item .icon {
											font-size: 25px;
											float: left;
											width: 25px;
											margin-right: 10px;
											margin-top: 2px;
											color: #00D976;
										}

										.large-items-list .item .infos-container .info-item .text {
											float: left;
											width: calc(100% - 35px);
										}

										.large-items-list .item .infos-container .info-item .name {
											font-size: 13px;
											color: #00D976;
										}

										.large-items-list .item .infos-container .info-item .value {
											font-size: 15px;
										}

										.large-items-list .item .infos-container .info-item .unit {
											font-size: 13px;
											font-weight: normal;
										}
								
								/* / Item */

							.large-items-list .item .buttons-container {

							}

								.large-items-list .item .buttons-container .btn {
									float: left;
									display: block;
									width: 100%;
									padding: 0;
									height: 50px;
									line-height: 50px;
									font-size: 19px;
									color: #fff;
									text-align: center;
									text-decoration: none;
								}

						/* / Infos */

				/* / Item */

				@media (min-width: 768px) {
					.large-items-list .item .container {
						box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
					}

					.large-items-list .item .infos-container {
						height: 365px;
					}
				}
				
				@media (min-width: 992px) {
					.large-items-list > .list-container > .list > .item {
						height: 425px;
					}

					.large-items-list .item .infos-container-background {
						background-image: initial !important;
					}

					.large-items-list .item .infos-container {
						height: 375px;
						background-color: #fff;
						color: #333;
					}

						.large-items-list .item .infos-container .sell-price-text {
							color: #BE8A00;
						}

						.large-items-list .item .infos-container .rent-price-text {
							color: #EA4235;
						}

						.large-items-list .item .infos-container .info-item .icon {
							color: #008549;
						}

						.large-items-list .item .infos-container .info-item .name {
							color: #008549;
						}

						.large-items-list .item .infos-container .title > * {
							border-bottom: 2px solid #008549;
						}

							.large-items-list .item .infos-container .title > * > * {
								color: #333;
							}
				}
				
				@media (min-width: 1200px) {
					.large-items-list > .list-container > .list > .item {
						height: 513px;
					}

					.large-items-list .item .infos-container {
						height: 463px;
					}
				}
		
		/* / Large items list */
	
	/* / Items list */

	/* Numeric paging */
	
		.numeric-paging {
			display: block;
			text-align: center;
			padding: 10px;
		}
	
			.numeric-paging a {
				display: inline-block;
				padding: 5px 10px;
				min-width: 30px;
				margin: 4px;
				background-color: #fff;
				color: #333;
				box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
			}
	
				.numeric-paging a:hover,
				.numeric-paging a:focus,
				.numeric-paging a.active {
					background-color: #00A459;
					color: #fff;
					text-decoration: none;
				}
	
				.numeric-paging a:active {
					background-color: #00D976;
					color: #fff;
				}
	
	/* / Numeric paging */

	/* Circle paging */

		.circle-paging {
			text-align: center;
			padding: 10px;
			cursor: default;
		}

			.circle-paging a {
				display: inline-block;
			}

			.circle-paging span {
				padding: 4px;
				display: block;
			}

				.circle-paging span:before {
					content: '';
					display: block;
					width: 12px;
					height: 12px;
					border-radius: 50%;
					background-color: #858B93;
					transition: .3s;
				}

					.circle-paging.white-circle-paging span:before {
						background-color: #fff;
					}

					.circle-paging a.active span:before,
					.circle-paging a:hover span:before {
						background-color: #369836;
					}
	
	/* / Circle paging */

	/* Pagination */
	
		.paginator {
			display: block;
			text-align: center;
			padding: 10px;
			margin-top: 20px;
		}
	
			.paginator a {
				display: inline-block;
				padding: 5px 10px;
				min-width: 30px;
				margin: 4px;
				background-color: #fff;
				color: #333;
				box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
			}
	
				.paginator a:hover,
				.paginator a:focus,
				.paginator a.active {
					background-color: #00A459;
					color: #fff;
					text-decoration: none;
				}
	
				.paginator a:active {
					background-color: #00D976;
					color: #fff;
				}
	
	/* / Pagination */

	/* Sign-in box */
	
		.sign-in-box .icon {
			font-size: 40px;
		}
	
			.sign-in-box .icon.ico-facebook {
				color: #3b5998;
				text-decoration: none;
			}
	
	/* / Sign-in box */

/* / Main */

/* Footer */

	footer {
		color: #fff;
		background: center center;
		background-size: cover;
		margin-top: 100px;
	}

		footer .title {
			/*font: 600 18px 'Open Sans';*/
			font-weight: bold;
			font-size: 18px;
			margin-bottom: 10px;
		}

		footer ul {
			padding-left: 0;
			list-style: none;
		}

		footer li {
			margin: 5px 0;
		}

		footer a {
			color: #fff;
		}

			footer a:hover {
				color: #fff;
			}

		footer .icon {
			font-size: 40px;
			display: inline-block;
			width: 50px;
			text-align: center;
			vertical-align: middle;
		}

			footer .ico-facebook {
				color: #3b5998;
			}

			footer .ico-google-plus {
				color: #d34836;
			}

			footer .ico-youtube {
				color: #e52d27;
			}

		footer .box {
			padding: 50px 20px 20px 20px;
			min-height: 200px;
		}

			@media (min-width: 768px) {
				footer .box {
					padding: 80px 20px 20px 20px;
					height: 350px;
				}
			}

			footer .box.box-1 {
				background-color: rgba(0, 101, 130, .8);
			}

			footer .box.box-2 {
				background-color: rgba(0, 100, 55, .8);
			}

			footer .box.box-3 {
				background-color: rgba(162, 118, 0, .8);
			}

			footer .box.box-4 {
				background-color: rgba(255, 255, 255, .8);
				color: #333;
			}

				footer .box.box-4 a {
					color: inherit;
					text-decoration: none;
				}

					footer .box.box-4 a:hover {
						text-decoration: underline;
					}

		footer .contact-info {
			text-align: center;
			color: #fff;
			margin: 0;
			padding: 30px 0 50px 0;
		}

/* / Footer */

/* Override */

	/* Bootstrap */

		/* Form */
	
			/* Form group, control */
			
				.form-group {
					margin-bottom: 10px;
				}

				.form-control {
					border-radius: 0;
					background-color: #fff;
					border: 1px solid #e0e0e0;
					transition: border-bottom-color .3s;
				}

					.form-control.cke_chrome {
						border-color: #e0e0e0;
					}

					.form-control[readonly],
					.form-control[disabled],
					.form-control[readonly]:focus,
					.form-control[disabled]:focus {
						cursor: not-allowed;
						background-color: #eee;
					}

					.form-control,
					.has-error .form-control,
					.has-success .form-control {
						box-shadow: none;
					}

					.form-control:focus,
					.has-success .form-control:focus,
					.has-error .form-control:focus {
						box-shadow: none;
						background-color: #fff;
						border-color: #ccc;
					}

					.has-success .form-control {
						background-color: #F6FFFB;
						border-color: #A2E9C9;
					}

					.has-error .form-control {
						border-color: #FFB2B2;
						background-color: #FFECEC;
					}

					.has-success .checkbox,
					.has-success .radio {
						color: inherit;
					}

				textarea.form-control {
					min-width: 100%;
					max-width: 100%;
				}

				.input-group-addon {
					border-radius: 0;
				}

					.input-group-addon,
					.has-error .input-group-addon,
					.has-success .input-group-addon {
						background-color: #eee;
						border-color: #e0e0e0;
						color: inherit;
					}

				.checkbox,
				.radio {
					margin-top: 0;
					margin-bottom: 0;
				}

					.checkbox + .checkbox,
					.radio + .radio {
						margin-top: 5px;
					}

					.input-group-addon .checkbox,
					.input-group-addon .radio {
						line-height: 20px;
					}

					.input-group-addon .form-group {
						margin-bottom: 0;
					}

						.input-group-addon .checkbox input,
						.input-group-addon .radio input {
							margin-top: 4px;
						}

			/* / Form group, control */

			/* Button */

				.btn {
					border: none;
					border-radius: 0;
					background: #00A459;
					color: #fff;
					padding-left: 18px;
					padding-right: 18px;
				}

					.btn:hover,
					.btn:focus {
						text-decoration: none;
					}

					.btn.btn-large {
						padding: 10px 20px;
						font-size: 16px;
					}

					.btn:hover,
					.btn:focus,
					.btn:active {
						color: #fff;
						outline: none;
						box-shadow: none;
					}
					.btn:focus:active {
						outline: none;
					}

					.btn {
						background-color: #303740;
						color: #fff;
					}

						.btn:hover,
						.btn:focus {
							background-color: #1C2532;
						}

						.btn:active {
							background-color: #4a525d;
						}

					.btn.btn-green {
						background-color: #008549;
					}

						.btn.btn-green:hover,
						.btn.btn-green:focus {
							background-color: #006437;
						}

						.btn.btn-green:active {
							background-color: #00A459;
						}

					.btn.btn-orange {
						background-color: #BE8A00;
					}

						.btn.btn-orange:hover,
						.btn.btn-orange:focus {
							background-color: #A37700;
						}

						.btn.btn-orange:active {
							background-color: #DCA001;
						}
			
			/* / Button */

		/* / Form */

		/* Alert */
		
			.alert {
				border: 1px solid transparent;
			}

				.alert.alert-warning {
					background-color: #FFF9EC;
					border-color: #FFF1D5;
					color: #A37700;
				}
		
		/* / Alert */
	
	/* / Bootstrap */

/* / Override */

/* Menu */

	.absolute-menu {
		padding-left: 0;
		list-style: none;
		position: absolute;
		z-index: 40;
		background-color: #008549;
		box-sizing: content-box;
		color: #fff;
		border-top: 3px solid #00A459;
		text-align: left;
		display: flex;
		display: -webkit-flex;
		box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	}

		.absolute-menu .col {
			
		}

		.absolute-menu .item {
			position: relative;
			transition: .3s;
			box-sizing: content-box;
		}

		.absolute-menu .item a {
			display: block;
			padding: 8px 12px;
			text-decoration: none;
			min-width: 170px;
			color: #CFF8E5;
			transition: .3s;
			font-size: 13px;
			line-height: initial;
		}

			.absolute-menu .item a:hover {
				color: #fff;
				background-color: #006437;
			}

		.absolute-menu .line {
			clear: both;
			background-color: #00A459;
			height: 3px;
			width: 50%;
		}

/* / Menu */

/* Mobile menu */
	
	.main-menu-ctn {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 30;
		background-color: rgba(0, 0, 0, .5);
		cursor: pointer;
	}

		.main-menu-ctn nav {
			position: relative;
			z-index: 2;
			min-height: 100%;
			width: 70%;
			max-width: 300px;
			background-color: #4A525D;
			color: #fff;
			box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
			cursor: default;
		}

			.main-menu-ctn h2 {
				font-size: 28px;
				font-weight: 300;
				margin: 0;
				text-align: center;
				padding: 10px;
				background-color: #303740;
				cursor: pointer;
				position: relative;
			}

				.main-menu-ctn h2 .close-icon {
					position: absolute;
					opacity: .5;
					top: 0px;
					right: 0px;
					display: block;
					height: 30px;
					width: 30px;
					line-height: 30px;
					text-align: center;
					font-size: 25px;
				}

					.main-menu-ctn h2:hover .close-icon {
						opacity: 1;
					}

			.main-menu-ctn ul {
				list-style: none;
				padding: 10px 0;
				margin: 0;
			}

			.main-menu-ctn li {
			}

			.main-menu-ctn a {
				display: block;
				color: inherit;
				padding: 15px 20px;
			}

				.main-menu-ctn a:hover,
				.main-menu-ctn a:focus {
					text-decoration: none;
				}

				.main-menu-ctn a[href]:hover .text {
					text-decoration: underline;
				}

				.main-menu-ctn a .icon {
					margin-right: 10px;
					font-size: 20px;
					vertical-align: text-bottom;
				}

			.main-menu-ctn .subicon {
				font-size: 10px;
				margin-left: 5px;
				opacity: .5;
				transition: .3s color;
			}

			.main-menu-ctn li:hover > a > .subicon,
			.main-menu-ctn li.expand > a > .subicon {
				opacity: 1;
			}

			.main-menu-ctn li.expand > a > .subicon {
				color: #00D976;
			}

			.main-menu-ctn .submenu {
				background-color: #646B76;
				display: none;
			}

				.main-menu-ctn .submenu a {
					padding: 5px 30px;
				}

					.main-menu-ctn .submenu a:hover,
					.main-menu-ctn .submenu a:focus {
						text-decoration: underline;
					}

/* / Mobile menu */