/* 768 992 1200 */
/* 720 940 1140 */

body {
	background-color: #eff1f5;
	overflow-x: hidden;
	font: normal 14px 'Segoe UI';
}

/* Animation */

	@keyframes in {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

/* Animation */

/* Header */

	header {
		background-color: #fff;
		height: 100px;
	}

		header:after {
			content: '';
			display: block;
			clear: both;
		}

	header .page-name {
		position: absolute;
		left: -9999px;
	}

	/* Top */
	
		header .top-header-container {
			background-color: #4A525D;
			height: 40px;
		}
	
		header .top-header {
		}
	
			header .top-header .text {
				font-size: 13px;
				vertical-align: middle;
			}
	
			header .top-header > * {
				float: right;
				height: 40px;
				line-height: 40px;
				text-decoration: none;
				font-size: 28px;
				color: #fff;
				text-align: center;
				padding: 0 10px;
			}
	
			header .top-header .sign-in {
				transition: .3s;
			}
	
				header .top-header .sign-in:hover {
					background-color: #006582;
				}
	
			header .top-header .facebook-login {
				transition: .3s;
			}
	
				header .top-header .facebook-login:hover {
					background-color: #3a5795;
				}
	
			header .top-header .new-post {
				transition: .3s;
			}
	
				header .top-header .new-post:hover {
					background-color: #A27600;
				}
	
	/* / Top */

	/* Bottom */
	
		header .bottom-header-container {
			height: 60px;
		}
	
		header .bottom-header {
			position: relative;
		}

		/* Logo */
		
			header .bottom-header .logo {
				width: 390px;
				position: absolute;
				bottom: 17px;
			}
		
				header .bottom-header .logo img {
					width: 100%;
				}

				header .bottom-header .logo .slogan {
					text-align: right;
					font-size: 16px;
					letter-spacing: 4px;
					font-weight: bold;
					color: #999;
					line-height: 0;
					padding-right: 10px;
				}
		
		/* / Logo */

		/* Navigator */
		
			header .bottom-header {
				text-align: right;
			}

				header .bottom-header nav {
					display: inline-block;
					text-align: left;
				}

				header .bottom-header ul {
					list-style: none;
					padding: 0;
					margin: 0;
				}

				/* First level */

					header .bottom-header nav > ul {
						white-space: nowrap;
						max-width: 100%;
					}

					header .bottom-header nav > ul > li {
						display: inline-block;
						position: relative;
					}
				
					header .bottom-header nav > ul > li > a {
						font-size: 16px;
						padding: 0 15px;
						line-height: 60px;
						display: block;
						color: #333;
						text-decoration: none;
						position: relative;
						transition: .3s;
					}

						header .bottom-header nav > ul > li > a:after {
							content: '';
							display: block;
							position: absolute;
							left: 0;
							bottom: 0;
							width: 100%;
							height: 3px;
							background-color: transparent;
						}

							header .bottom-header nav > ul > li:hover > a:after {
								background-color: #065C06;
								transition: .3s;
							}
				
				/* First level */

				/* Level 2 */
				
					header .bottom-header nav > ul ul {
						position: absolute;
						z-index: 40;
						top: 100%;
						left: 0;
						display: none;
						background-color: #008549;
						box-sizing: content-box;
						color: #fff;
						border-top: 3px solid #00A459;
						margin-top: -3px;
					}
				
						header .bottom-header nav > ul ul.col-2 {
							width: 340px;
						}
				
						header .bottom-header nav > ul ul:after {
							content: '';
							display: block;
							clear: both;
						}
				
						header .bottom-header nav > ul > li:hover ul {
							display: block;
						}
				
						header .bottom-header nav > ul ul li {
							display: block;
							position: relative;
							transition: .3s;
							float: left;
							box-sizing: content-box;
						}

						header .bottom-header nav > ul ul li a {
							display: block;
							padding: 8px 12px;
							text-decoration: none;
							min-width: 170px;
							color: #8FEDC2;
							transition: .3s;
							font-size: 14px;
						}

							header .bottom-header nav > ul ul li a:hover {
								color: #fff;
								background-color: #006437;
							}
				
						header .bottom-header nav > ul ul li.line {
							clear: both;
							background-color: #00A459;
							height: 3px;
							width: 100%;
						}
				
				/* Level 2 */

		/* Navigator */
	
	/* / Bottom */

/* Header */

/* Navigator */

	.main-navigator {
		padding-top: 30px;
		padding-bottom: 30px;
		background-position-x: 50%;
		background-position-y: 100%;
		background-size: cover;
	}

		.main-navigator .list {
			text-shadow: 2px 2px 10px #000, -2px -2px 10px #000, -2px 2px 10px #000, 2px -2px 10px #000;
		}

		.main-navigator .item {
			display: inline-block;
			font-size: 15px;
		}

		.main-navigator .item:not(:last-child):after {
			content: ' || ';
			color: #aaa;
			font-weight: bold;
			margin-left: 5px;
			margin-right: 5px;
		}

		.main-navigator a {
			color: #fff;
			text-decoration: none;
			vertical-align: middle;
		}

/* / Navigator */

/* Main */

	main {
		padding-top: 50px;
		padding-bottom: 100px;
	}

	/* Info box */
	
		.info-box {
			margin-top: 20px;
			margin-bottom: 50px;
		}
	
			.info-box:last-child {
				margin-bottom: 0;
			}
	
			.info-box .info-box-header {
				background-color: #008549;
			}

			.info-box .info-box-title {
				display: inline-block;
				padding: 10px 15px;
				background-color: #4a525d;
				font-size: 20px;
				text-transform: uppercase;
				color: #fff;
			}
	
			.info-box .info-box-body {
				padding: 20px 15px;
			}
	
	/* / Info box */

	/* Content box */
	
		.content-box {
			margin-top: 10px;
			margin-bottom: 30px;
		}
	
			.content-box:last-child {
				margin-bottom: 0;
			}
	
			.content-box .content-box-header {
				margin-bottom: 10px;
			}

			.content-box .content-box-title {
				font-size: 17px;
				color: #008549;
				display: inline-block;
				padding-right: 15px;
				padding-bottom: 2px;
				border-bottom: 2px solid #008549;
			}
	
			.content-box .content-box-body {
				padding: 5px 0;
			}
	
	/* / Content box */

/* / Main */

/* Footer */

	footer {
		background-color: #4a525d;
		padding-top: 50px;
		padding-bottom: 100px;
		height: 500px;
	}

/* / Footer */

/* Override */

	/* Bootstrap */

		/* Form */
	
			.form-group {
				margin-bottom: 10px;
			}

			@keyframes focus_form_control {
				from {
					background: linear-gradient(left, red, blue);
				}
				to {
					background: linear-gradient(left, blue, red);
				}
			}
	
			.form-control {
				border: none;
				border-radius: 0;
				box-shadow: none;
				border-bottom: 2px solid #CED5E2;
				transition: .3s;
			}

				.form-control:focus {
					border-bottom: 2px solid #008549;
					animation: focus_form_control .3s;
					box-shadow: none;
				}

			textarea.form-control {
				max-width: 100%
			}

			/* Button */

				.btn {
					border: none;
					border-radius: 0;
					background: #00A459;
					font-size: 16px;
					color: #fff;
				}

					.btn:hover,
					.btn:focus,
					.btn:active {
						color: #fff;
						outline: none;
						background-color: #008549;
						box-shadow: none;
					}
					.btn:focus:active {
						outline: none;
					}

					.btn:active {
						background-color: #00D976;
					}

					.btn.btn-dark {
						background-color: #303740;
						color: #fff;
					}

						.btn.btn-dark:hover,
						.btn.btn-dark:focus {
							background-color: #1C2532;
						}

						.btn.btn-dark:active {
							background-color: #4a525d;
						}

					.btn.btn-green {
						background-color: #065C06;
						color: #fff;
					}

						.btn.btn-green:hover,
						.btn.btn-green:focus {
							background-color: #003B00;
						}

						.btn.btn-green:active {
							background-color: #1B7C1B;
						}
			
			/* / Button */

		/* / Form */
	
	/* / Bootstrap */

/* / Override 