/* 768 992 1200 */
/* 720 940 1140 */

body {
	background-color: #eff1f5;
	overflow-x: hidden;
	font: normal 15px 'Segoe UI';
}

/* Animation */

	@keyframes in {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

/* Animation */

/* Header */

	header {
		background-color: #fff;
	}

		header:after {
			content: '';
			display: block;
			clear: both;
		}

	header .page-name {
		position: absolute;
		left: -9999px;
	}

	/* Top */
	
		header .top-header-container {
			background-color: #4A525D;
			height: 40px;
		}
	
		header .top-header {
		}
	
			header .top-header .text {
				font-size: 13px;
				vertical-align: middle;
				display: none;
			}
	
			header .top-header > * {
				float: right;
				height: 40px;
				line-height: 40px;
				text-decoration: none;
				font-size: 28px;
				color: #fff;
				text-align: center;
				padding: 0 10px;
			}
	
			header .top-header .sign-in {
				transition: .3s;
			}
	
				header .top-header .sign-in:hover {
					background-color: #006582;
				}
	
			header .top-header .facebook-login {
				transition: .3s;
			}
	
				header .top-header .facebook-login:hover {
					background-color: #3a5795;
				}
	
			header .top-header .new-post {
				transition: .3s;
			}
	
				header .top-header .new-post:hover {
					background-color: #A27600;
				}
	
	/* / Top */

	/* Bottom */
	
		header .bottom-header-container {
		}
	
		header .bottom-header {
			position: relative;
		}

		/* Logo */
		
			header .bottom-header .logo {
				width: 390px;
				max-width: 100%;
				margin: 20px auto;
			}

				header .bottom-header .logo a {
					text-decoration: none;
				}
		
				header .bottom-header .logo img {
					width: 100%;
				}

				header .bottom-header .logo .slogan {
					text-align: right;
					font-size: 16px;
					letter-spacing: 2px;
					font-weight: bold;
					color: #999;
					line-height: 0;
					padding-right: 10px;
				}
		
		/* / Logo */

		/* Navigator */
		
			header .bottom-header {
				text-align: center;
			}

				header .bottom-header nav {
					display: inline-block;
					text-align: left;
				}

				header .bottom-header ul {
					list-style: none;
					padding: 0;
					margin: 0;
				}

				/* First level */

					header .bottom-header nav > ul {
						max-width: 100%;
						text-align: center;
					}

					header .bottom-header nav > ul > li {
						display: inline-block;
						position: relative;
					}
				
					header .bottom-header nav > ul > li > a {
						font-size: 16px;
						padding: 0 15px;
						line-height: 60px;
						display: block;
						color: #333;
						text-decoration: none;
						position: relative;
						transition: .3s;
					}

						header .bottom-header nav > ul > li > a:after {
							content: '';
							display: block;
							position: absolute;
							left: 0;
							bottom: 0;
							width: 100%;
							height: 3px;
							background-color: transparent;
						}

							header .bottom-header nav > ul > li:hover > a:after {
								background-color: #065C06;
								transition: .3s;
							}
				
				/* First level */

				/* Level 2 */
				
					header .bottom-header nav > ul ul {
						position: absolute;
						z-index: 40;
						top: 100%;
						left: 0;
						display: none;
						background-color: #008549;
						box-sizing: content-box;
						color: #fff;
						border-top: 3px solid #00A459;
						margin-top: -3px;
					}
				
						header .bottom-header nav > ul ul.col-2 {
							width: 340px;
						}
				
						header .bottom-header nav > ul ul:after {
							content: '';
							display: block;
							clear: both;
						}
				
						header .bottom-header nav > ul > li:hover ul {
							display: block;
						}
				
						header .bottom-header nav > ul ul li {
							display: block;
							position: relative;
							transition: .3s;
							float: left;
							box-sizing: content-box;
						}

						header .bottom-header nav > ul ul li a {
							display: block;
							padding: 8px 12px;
							text-decoration: none;
							min-width: 170px;
							color: #CFF8E5;
							transition: .3s;
							font-size: 14px;
						}

							header .bottom-header nav > ul ul li a:hover {
								color: #fff;
								background-color: #006437;
							}
				
						header .bottom-header nav > ul ul li.line {
							clear: both;
							background-color: #00A459;
							height: 3px;
							width: 100%;
						}
				
				/* Level 2 */

		/* Navigator */
	
	/* / Bottom */
	
	@media (min-width: 768px) {
		header .top-header .text {
			display: initial;
		}
	}
	
	@media (min-width: 992px) {
		
		/* Bottom */
	
			header .bottom-header-container {
				height: 60px;
			}
		
			header .bottom-header {
				text-align: right;
			}
	
				header .bottom-header .logo {
					position: absolute;
					bottom: 17px;
					margin: initial;
				}
		
		/* / Bottom */

	}

/* Header */

/* Navigator */

	.main-navigator {
		padding-top: 30px;
		padding-bottom: 30px;
		background-position-x: 50%;
		background-position-y: 100%;
		background-size: cover;
	}

		.main-navigator .list-container {
			background-color: rgba(0, 0, 0, .3);
		}

		.main-navigator .list {
			padding: 5px 0;
		}

		.main-navigator .item {
			display: inline-block;
			font-size: 15px;
		}

		.main-navigator .item:not(:last-child):after {
			content: ' || ';
			color: #aaa;
			font-weight: bold;
			margin-left: 5px;
			margin-right: 5px;
		}

		.main-navigator a {
			color: #fff;
			text-decoration: none;
			vertical-align: middle;
		}

		@media (min-width: 768px) {
			.main-navigator {
				padding-top: 35px;
				padding-bottom: 35px;
			}

				.main-navigator .list {
					padding: 6px 0;
				}
		}
		
		@media (min-width: 992px) {
			.main-navigator {
				padding-top: 40px;
				padding-bottom: 40px;
			}

				.main-navigator .list {
					padding: 7px 0;
				}
		}

/* / Navigator */

/* Main */

	main {
		padding-top: 50px;
		padding-bottom: 100px;
	}

	/* Callout */
	
		main .callout {
			margin-top: 10px;
			margin-bottom: 10px;
			padding: 15px;
			border-left: 5px solid #00C1F8;
		}
	
	/* / Callout */

	/* Box */
	
		main .box {
			margin-top: 50px;
			margin-bottom: 50px;
			background-color: #fff;
		}
	
			main .box.box-transparent {
				background-color: transparent;
			}
	
			main .box:last-child {
				margin-bottom: 0;
			}
	
			main .box .box-header {
				background-color: #008549;
			}

			main .box .box-title {
				display: inline-block;
				padding: 10px 15px;
				background-color: #4a525d;
				font-size: 20px;
				text-transform: uppercase;
				color: #fff;
			}
	
			main .box .box-body {
				padding: 20px 15px;
			}
				
			/* Callout */
			
				main .box .box-body > .callout {
					margin-left: -15px;
					margin-right: -15px;
				}
			
			/* / Callout */
	
	/* / Box */

	/* Content box */
	
		.content-box {
			margin-top: 10px;
			margin-bottom: 30px;
		}
	
			.content-box:last-child {
				margin-bottom: 0;
			}
	
			.content-box .content-box-header {
				margin-bottom: 10px;
			}

			.content-box .content-box-title {
				font-size: 17px;
				color: #008549;
				display: inline-block;
				padding-right: 15px;
				padding-bottom: 2px;
				border-bottom: 2px solid #008549;
			}
	
			.content-box .content-box-body {
				padding: 5px 0;
			}
	
	/* / Content box */

	/* Items list */
		
		/* Medium items list */
		
			.medium-items-list {

			}

				@media (min-width: 768px) {
					.medium-items-list .list > .row > :nth-child(2n+1) {
						clear: both;
					}
				}
				
				@media (min-width: 992px) {
					.medium-items-list .list > .row > :nth-child(2n+1) {
						clear: none;
					}
					
					.medium-items-list .list > .row > :nth-child(3n+1) {
						clear:both;
					}
				}
		
				.medium-items-list .item {
					max-width: 300px;
					margin: 10px auto;
					background-color: #fff;
					padding: 10px;
				}
		
					.medium-items-list .item > * {
						margin-top: 10px;
						margin-bottom: 10px;
					}
		
						.medium-items-list .item > :first-child {
							margin-top: 0;
						}
			
						.medium-items-list .item > :last-child {
							margin-bottom: 0;
						}
		
					.medium-items-list .item .image {
						margin: -10px;
						margin-bottom: inherit;
					}
		
						.medium-items-list .item .image img {
							width: 100%;
						}

					.medium-items-list .item .title {
					}

						.medium-items-list .item .title a {
							font-size: 18px;
							color: #333;
						}

					.medium-items-list .item .address {
						font-size: 13px;
					}

					.medium-items-list .item .info {
						text-align: center;
						padding-top: 10px;
						border-top: 2px solid #008549;
					}
		
						.medium-items-list .item .info > * {
							display: inline-block;
							margin: 0 10px;
						}
		
						.medium-items-list .item .info .icon {
							font-size: 18px;
						}
		
		/* / Medium items list */
	
	/* / Items list */

/* / Main */

/* Footer */

	footer {
		color: #fff;
		background: url('/assets/shared/footer/background.png') center center;
		background-size: cover;
	}

		footer .title {
			font-size: 18px;
			font-weight: bold;
			margin-bottom: 10px;
		}

		footer ul {
			padding-left: 0;
			list-style: none;
		}

		footer li {
			margin: 5px 0;
		}

		footer a {
			color: #fff;
		}

		footer .icon {
			font-size: 40px;
			display: inline-block;
			width: 50px;
			text-align: center;
			vertical-align: middle;
		}

			footer .ico-facebook {
				color: #3b5998;
			}

			footer .ico-google-plus {
				color: #d34836;
			}

			footer .ico-youtube {
				color: #e52d27;
			}

		footer .box {
			padding: 50px 20px 20px 20px;
			min-height: 200px;
		}

			@media (min-width: 768px) {
				footer .box {
					padding: 80px 20px 20px 20px;
					height: 350px;
				}
			}

			footer .box.box-1 {
				background-color: rgba(0, 101, 130, .8);
			}

			footer .box.box-2 {
				background-color: rgba(0, 100, 55, .8);
			}

			footer .box.box-3 {
				background-color: rgba(162, 118, 0, .8);
			}

			footer .box.box-4 {
				background-color: rgba(255, 255, 255, .8);
				color: #333;
			}

		footer .contact-info {
			text-align: center;
			color: #fff;
			margin: 0;
			padding: 30px 0 50px 0;
		}

/* / Footer */

/* Override */

	/* Bootstrap */

		/* Form */
	
			.form-group {
				margin-bottom: 10px;
			}

			@keyframes focus_form_control {
				from {
					background: linear-gradient(left, red, blue);
				}
				to {
					background: linear-gradient(left, blue, red);
				}
			}
	
			.form-control {
				border: none;
				border-radius: 0;
				box-shadow: none;
				border-bottom: 2px solid #CED5E2;
				transition: .3s;
			}

				.form-control:focus {
					border-bottom: 2px solid #008549;
					animation: focus_form_control .3s;
					box-shadow: none;
				}

			textarea.form-control {
				min-width: 100%;
				max-width: 100%;
			}

			/* Button */

				.btn {
					border: none;
					border-radius: 0;
					background: #00A459;
					font-size: 16px;
					color: #fff;
				}

					.btn:hover,
					.btn:focus,
					.btn:active {
						color: #fff;
						outline: none;
						box-shadow: none;
					}
					.btn:focus:active {
						outline: none;
					}

					.btn {
						background-color: #303740;
						color: #fff;
					}

						.btn:hover,
						.btn:focus {
							background-color: #1C2532;
						}

						.btn:active {
							background-color: #4a525d;
						}

					.btn.btn-green {
						background-color: #065C06;
					}

						.btn.btn-green:hover,
						.btn.btn-green:focus {
							background-color: #003B00;
						}

						.btn.btn-green:active {
							background-color: #1B7C1B;
						}

					.btn.btn-orange {
						background-color: #CE9600;
					}

						.btn.btn-orange:hover,
						.btn.btn-orange:focus {
							background-color: #A27600;
						}

						.btn.btn-orange:active {
							background-color: #FFBA00;
						}
			
			/* / Button */

		/* / Form */
	
	/* / Bootstrap */

/* / Override 