/*--------------------------------------------------------*/
/*Icon*/
/*--------------------------------------------------------*/
/*start icon size*/
.icon-16 {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('/assets/icon/icon.png') no-repeat;
	vertical-align: middle;
}
.icon-24 {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url('/assets/icon/icon.png') no-repeat;
	vertical-align: middle;
}
.icon-32 {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url('/assets/icon/icon.png') no-repeat;
	vertical-align: middle;
}
/*end*/

/*start icon-16*/
/*end*/

/*start icon-24*/

/*end*/

/*start icon-32*/
.icon-home-sale {
	background-position: -40px 0; 	
}
.icon-home-rent {
	background-position: -40px -32px; 
}
/*end*/


/*start icon-24*/
.icon-search {
	background-position: -16px 0;
}
/*end*/

/*start icon-16*/
.icon-done {
	background-position: 0 0;	
}
.icon-position {
	background-position: 0 -16px;	
}
.icon-dollar {
	background-position: 0 -32px;
}
/*end*/

/*start icon*/
.icon {
	display: inline-block;
	vertical-align: -3px;
	margin-right: 7px;
}
	.icon-favor {
		background: url('/assets/icon/icon-favor.png') no-repeat;
		width: 16px;
		height: 16px;
	}
		.icon-favor:hover {
			background-position: 0 -16px;
		}
	.icon-buy {
		background: url('/assets/icon/icon-buy.png') no-repeat;
		width: 16px;
		height: 16px;
	}
		.icon-buy:hover {
			background-position: 0 -16px;
		}
	.icon-share {
		background: url('/assets/icon/icon-share.png') no-repeat;
		width: 16px;
		height: 16px;
	}
		.icon-share:hover {
			background-position: 0 -16px;
		}
	.icon-zestimate {
		background: url('/assets/icon/icon-zestimate.png') no-repeat;
		width: 20px;
		height: 16px;
	}
		.icon-zestimate:hover {
			background-position: 0 -16px;
		}
	.icon-mini-menu {
		background: url('/assets/icon/menu.png') no-repeat;
		width: 30px;
		height: 30px;
	}
	.icon-phone {
		background: url('/assets/icon/icon-phone.png') no-repeat;
		width: 15px;
		height: 15px;
	}
	.icon-address {
		background: url('/assets/icon/icon-address.png') no-repeat;
		width: 15px;
		height: 15px;
	}
	.icon-skype {
		background: url('/assets/icon/icon-skype.png') no-repeat;
		width: 15px;
		height: 15px;
	}
	.icon-mail {
		background: url('/assets/icon/icon-mail.png') no-repeat;
		width: 16px;
		height: 15px;
	}
	.icon-check {
		background: url('/assets/icon/icon-check.png') no-repeat;
		width: 15px;
		height: 15px;
	}
	.icon-facebook {
		background: url('/assets/icon/icon-facebook.png') no-repeat;
		width: 32px;
		height: 32px;
	}
	.icon-googleplus {
		background: url('/assets/icon/icon-googleplus.png') no-repeat;
		width: 32px;
		height: 32px;
	}
	.icon-youtube {
		background: url('/assets/icon/icon-youtube.png') no-repeat;
		width: 32px;
		height: 32px;
	}
	.icon-gift {
		background: url('/assets/icon/icon-gift.png') no-repeat;
		width: 16px;
		height: 16px;
	}
	/*end icon*/
