@font-face{
	font-family: 'Segoe UI';
	src: url('/assets/segoeui.ttf');
}

/* Custom layout */

	.bg-light-gray {
		background-color: #fafafa;
	}

	.width-auto {
		width: auto !important;
	}

	.width-250 {
		width: 250px !important;
	}

	.margin-0 {
		margin: 0 !important;
	}

	.margin-5 {
		margin: 5px !important;
	}

	.margin-top-bottom-5 {
		margin-top: 5px !important;
		margin-bottom: 5px !important;
	}

	.margin-top-0 {
		margin-top: 0 !important;
	}

	.margin-top-15 {
		margin-top: 15px !important;
	}

	.margin-right-5 {
		margin-right: 5px !important;
	}

	.margin-bottom-15 {
		margin-bottom: 15px !important;
	}

	.margin-left-5 {
		margin-left: 5px !important;
	}

	.margin-left-right-10 {
		margin-left: 10px !important;
		margin-right: 10px !important;
	}

	.padding-10 {
		padding: 10px !important;
	}

	.padding-bottom-10 {
		padding-bottom: 10px !important;
	}

	.inline-block {
		display: inline-block !important;
	}

	.text-normal-color {
		color: #333;
	}

	.font-size-12 {
		font-size: 12px !important;
	}

	.font-size-15 {
		font-size: 15px;
	}

	.font-normal {
		font-weight: normal !important;
	}

	.font-bold {
		font-weight: bold !important;
	}

	.no-underline {
		text-decoration: none !important;
	}

	.if-before-empty {
		display: none;
	}

		*:empty + .if-before-empty {
			display: initial;
		}

	.progress-inside {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 0;
		margin-bottom: 0;
		background-color: transparent;
	}

	.min-width-cell {
		width: 1%;
		white-space: nowrap;
	}

	.cursor-pointer {
		cursor: pointer;
	}

	.btn-check-toggle {
		width: 31px;
	}

	table + div {
		text-align: center;
		padding: 10px;
		background-color: #fafafa;
	}

		table + div:empty {
			display: none;
		}

	.low-opacity-button {
		opacity: .7;
	}

		.low-opacity-button:hover {
			opacity: 1;
		}

	.ellipsis {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	a {
		cursor: pointer;
	}

	.flex {
		display: flex;
		dispaly: -webkit-flex;
		dispaly: -ms-flexbox;
	}

		.flex.flex-inline {
			display: inline-flex;
			dispaly: -webkit-inline-flex;
			dispaly: -ms-inline-flexbox;
		}

		.flex.flex-column {
			flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
		}

	.fixed {
		position: fixed;
	}

	select.non-arrow {
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		padding-left: 0;
		padding-right: 0;
	}

/* / Custom layout */

/* Tab container */
	
	.tab-container {
		
	}
	
		.tab-container .tab-list {
			margin-bottom: -1px;
			display: flex;
			display: -webkit-flex;
			display: -ms-flex;
		}

			.tab-container .list {
				width: 100%;
			}
	
			.tab-container .tab-list ul {
				list-style: none;
				padding: 0;
				margin: 0;
			}
	
			.tab-container .tab-list li {
				display: inline-block;
				border: 1px solid #ddd;
				background-color: #f0f0f0;
				margin-right: 4px;
			}
	
				.tab-container .tab-list li[data-status="error"] {
					background-color: #dd4b39;
				}
	
				.tab-container .tab-list li.active {
					border-bottom-color: #fff;
					background-color: #fff;
				}
	
			.tab-container .tab-list a {
				display: inline-block;
				padding: 3px 10px 0px 10px;
				line-height: 25px;
				color: #333;
				text-decoration: none;
			}
		
				.tab-container .tab-list li[data-status="error"] a {
					color: #fff;
				}
		
				.tab-container .tab-list li.active a {
					color: #333;
					font-weight: bold;
				}
	
				.tab-container .tab-list a:hover {
					color: #3c8dbc;
				}
	
				.tab-container .tab-list li:not(.active) a.remove,
				.tab-container .tab-list li:only-child a.remove {
					display: none;
				}
	
		.tab-container .tab-content-list {
			border: 1px solid #ddd;
			background-color: #fff;
		}
	
			.tab-container .tab-content-list .tab-content {
				padding: 10px;
				display: none;
			}
	
				.tab-container .tab-content-list .tab-content.active {
					display: block;
				}

/* / Tab container */

/* Tab container (Free style) */
	
	.free-style-tab-container {
		
	}
	
		.free-style-tab-container .tab-list {
			margin-bottom: 10px;
			position: relative;
		}
	
			.free-style-tab-container .tab-list:before {
				content: '';
				display: block;
				width: 100%;
				height: 1px;
				background-color: #ddd;
				position: absolute;
				left: 0;
				bottom: 1px;
			}
	
			.free-style-tab-container .tab-list ul {
				list-style: none;
				padding: 0;
				margin: 0;
				white-space: normal;
			}
	
			.free-style-tab-container .tab-list li {
				display: inline-block;
			}
	
			.free-style-tab-container .tab-list a {
				display: inline-block;
				padding: 0 10px;
				height: 34px;
				line-height: 34px;
				color: #555;
				font-size: 18px;
				text-decoration: none;
				position: relative;
				border-bottom: 3px solid transparent;
				transition: .3s;
				white-space: nowrap;
			}
		
				.free-style-tab-container .tab-list li.active a {
					color: #333;
					border-bottom-color: #3c8dbc;
				}
	
				.free-style-tab-container .tab-list a:hover {
					color: #3c8dbc;
				}
	
				.free-style-tab-container .tab-list li:not(.active) a.remove {
					display: none;
				}
	
		.free-style-tab-container .tab-content-list {
		}
	
			.free-style-tab-container .tab-content-list .tab-content {
				padding: 10px;
				display: none;
			}
	
				.free-style-tab-container .tab-content-list .tab-content.active {
					display: block;
				}

/* / Tab container (Free style) */

/* Gallery */

	.gallery-popup {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1050;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .9);
	}

		.gallery-popup .close-button {
			position: absolute;
			top: 0;
			right: 10px;
		}

			.gallery-popup .close-button .close {
				opacity: .5;
				font-size: 30px;
			}

		.gallery-popup .gallery-container {
			width: 100%;
			height: 100%;
			display: flex;
			display: -ms-flex;
			display: -webkit-flex;
			flex-direction: column;
			-webkit-flex-direction: column;
		}

			.gallery-popup .gallery-container .image-view-panel {
				height: 100%;
				display: flex;
				display: -webkit-flex;
				align-items: center;
				-webkit-align-items: center;
				justify-content: center;
				-webkit-justify-content: center;
				padding: 5px;
			}

			.gallery-popup .gallery-container .image {
				max-width: 100%;
			}

			.gallery-popup .gallery-container .image-list-panel {
				border-top: 5px solid #ddd;
				background-color: #fff;
				min-height: 70px;
				max-height: 70px;
				padding: 5px;
				box-sizing: content-box;
				text-align: center;
				overflow: hidden;
			}

				.gallery-popup .gallery-container .image-list-panel .item-list {
					display: inline-block;
					white-space: nowrap;
				}

				.gallery-popup .gallery-container .image-list-panel .item {
					display: inline-block;
					height: 70px;
					opacity: .4;
					transition: 0.3s;
					margin: 0 1px;
				}

					.gallery-popup .gallery-container .image-list-panel:hover .item {
						opacity: .7;
					}

					.gallery-popup .gallery-container .image-list-panel .item:hover,
					.gallery-popup .gallery-container .image-list-panel .item.selected {
						opacity: 1;
					}

					.gallery-popup .gallery-container .image-list-panel .item img {
						height: 100%;
					}

			.gallery-popup .gallery-container .image-description-panel {
				padding: 10px;
				padding-top: 0;
				color: #fff;
			}

/* / Gallery */

/* Context menu */

	.context-menu-container {
		position: absolute;
		z-index: 30;
	}

		.context-menu-container ul {
			display: flex;
			display: -webkit-flex;
			flex-direction: column;
			-webkitflex-direction: column;
			min-width: 150px;
			border: 3px solid #fff;
			list-style: none;
			padding: 0;
			margin: 0;
			background-color: #fff;
			box-shadow: 5px 5px 10px rgba(0,0,0,.2);
		}

		.context-menu-container li {
			border-bottom: 2px solid #eee;
		}

			.context-menu-container li:last-child {
				border-bottom: none;
			}

		.context-menu-container a {
			display: block;
			padding: 5px 10px;
			cursor: pointer;
			color: #666;
		}

			.context-menu-container a:hover {
				color: #333;
				background-color: #fafafa;
			}

/* / Context menu */

/* Manual horizontal list */

	.manual-horizontal-list {
		position: relative;
	}

		.manual-horizontal-list > .prev,
		.manual-horizontal-list > .next {
			position: absolute;
			top: 0;
			height: 100%;
			width: 30px;
			cursor: pointer;
		}

			.manual-horizontal-list > .prev:hover,
			.manual-horizontal-list > .next:hover {
				background-color: rgba(0, 0, 0, .1);
			}

		.manual-horizontal-list > .prev {
			left: 0;
		}

		.manual-horizontal-list > .next {
			right: 0;
		}

		.manual-horizontal-list > .prev span,
		.manual-horizontal-list > .next span {
			font-size: 20px;
			position: absolute;
			width: 20px;
			height: 20px;
			text-align: center;
			top: calc(50% - 10px);
			left: 5px;
			color: #999;
		}

			.manual-horizontal-list > .prev:hover span,
			.manual-horizontal-list > .next:hover span {
				color: #666;
			}

		.manual-horizontal-list .list-wrapper {
			overflow: hidden;
			padding: 0 30px;
		}

		.manual-horizontal-list .list {
			white-space: nowrap;
			display: inline-block;
		}

		.manual-horizontal-list .col {
			display: inline-block;
		}

/* Manual horizontal list */