/* #start general */
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;    
}
/* #end general */

/* #start header */
header {
    height: 50px;
    background-color: #fff;
    color: white;
}
    /* #start logo */
    header > a.logo {
        float: left;
        margin: 10px;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
    }
.header {
    height: 50px;
}
/* #end header */

/* #start main */
main {    
}
    /* #start aside */
    aside {
        min-width: 200px;
        width: 200px;                 
        position: fixed;
        height: calc(100vh - 50px);
        padding: 5px;
        float: left;
        background-color: #fff;
    }
    /* #end aside */
    /* #start content */
    .content {            
        padding: 5px;
        width: calc(100% - 200px);
        float: right;
        background-color: #eee;
    }
    @media(max-width: 992px) {
        .content {
            width: 100%;
        }
    }
    /* #end content */
/* #end main */