.box{position:relative;background:#ffffff;border-top:3px solid #d2d6de;margin-bottom:20px;width:100%;box-shadow:0 1px 1px rgba(0,0,0,0.1)}.box.box-default{border-top-color:#d2d6de}.box.box-info{border-top-color:#00c0ef}.box.box-warning{border-top-color:#f39c12}.box.box-success{border-top-color:#00a65a}.box.box-danger{border-top-color:#dd4b39}.box.box-primary{border-top-color:#3c8dbc}.box.collapsed-box .box-body,.box.collapsed-box .box-footer{display:none}.box .nav-stacked>li{border-bottom:1px solid #f4f4f4;margin:0}.box .nav-stacked>li:last-of-type{border-bottom:none}.box.height-control .box-body{max-height:300px;overflow:auto}.box .border-right{border-right:1px solid #f4f4f4}.box .border-left{border-left:1px solid #f4f4f4}.box.box-solid{border-top:0}.box.box-solid>.box-header .btn.btn-default{background:transparent}.box.box-solid>.box-header .btn:hover,.box.box-solid>.box-header a:hover{background:rgba(0,0,0,0.1)}.box.box-solid.box-default{border:1px solid #d2d6de}.box.box-solid.box-default>.box-header{color:#444;background:#d2d6de;background-color:#d2d6de}.box.box-solid.box-default>.box-header a,.box.box-solid.box-default>.box-header .btn{color:#444}.box.box-solid.box-primary{border:1px solid #3c8dbc}.box.box-solid.box-primary>.box-header{color:#fff;background:#3c8dbc;background-color:#3c8dbc}.box.box-solid.box-primary>.box-header a,.box.box-solid.box-primary>.box-header .btn{color:#fff}.box.box-solid.box-info{border:1px solid #00c0ef}.box.box-solid.box-info>.box-header{color:#fff;background:#00c0ef;background-color:#00c0ef}.box.box-solid.box-info>.box-header a,.box.box-solid.box-info>.box-header .btn{color:#fff}.box.box-solid.box-danger{border:1px solid #dd4b39}.box.box-solid.box-danger>.box-header{color:#fff;background:#dd4b39;background-color:#dd4b39}.box.box-solid.box-danger>.box-header a,.box.box-solid.box-danger>.box-header .btn{color:#fff}.box.box-solid.box-warning{border:1px solid #f39c12}.box.box-solid.box-warning>.box-header{color:#fff;background:#f39c12;background-color:#f39c12}.box.box-solid.box-warning>.box-header a,.box.box-solid.box-warning>.box-header .btn{color:#fff}.box.box-solid.box-success{border:1px solid #00a65a}.box.box-solid.box-success>.box-header{color:#fff;background:#00a65a;background-color:#00a65a}.box.box-solid.box-success>.box-header a,.box.box-solid.box-success>.box-header .btn{color:#fff}.box.box-solid>.box-header>.box-tools .btn{border:0;box-shadow:none}.box.box-solid[class*='bg']>.box-header{color:#fff}.box .box-group>.box{margin-bottom:5px}.box .knob-label{text-align:center;color:#333;font-weight:100;font-size:12px;margin-bottom:0.3em}.box>.overlay,.overlay-wrapper>.overlay,.box>.loading-img,.overlay-wrapper>.loading-img{position:absolute;top:0;left:0;width:100%;height:100%}.box .overlay,.overlay-wrapper .overlay{z-index:50;background:rgba(255,255,255,0.7)}.box .overlay>.fa,.overlay-wrapper .overlay>.fa{position:absolute;top:50%;left:50%;margin-left:-15px;margin-top:-15px;color:#000;font-size:30px}.box .overlay.dark,.overlay-wrapper .overlay.dark{background:rgba(0,0,0,0.5)}.box-header:before,.box-body:before,.box-footer:before,.box-header:after,.box-body:after,.box-footer:after{content:" ";display:table}.box-header:after,.box-body:after,.box-footer:after{clear:both}.box-header{color:#444;display:block;padding:10px;position:relative}.box-header.with-border{border-bottom:1px solid #f4f4f4}.collapsed-box .box-header.with-border{border-bottom:none}.box-header>.fa,.box-header>.glyphicon,.box-header>.ion,.box-header .box-title{display:inline-block;font-size:18px;margin:0;line-height:1}.box-header>.fa,.box-header>.glyphicon,.box-header>.ion{margin-right:5px}.box-header>.box-tools{position:absolute;right:10px;top:5px}.box-header>.box-tools [data-toggle="tooltip"]{position:relative}.box-header>.box-tools.pull-right .dropdown-menu{right:0;left:auto}.btn-box-tool{padding:5px;font-size:12px;background:transparent;color:#97a0b3}.open .btn-box-tool,.btn-box-tool:hover{color:#606c84}.btn-box-tool.btn:active{box-shadow:none}.box-body{padding:10px}.box-body>.table{margin-bottom:0}.box-body .fc{margin-top:5px}.box-body .full-width-chart{margin:-19px}.box-body.no-padding .full-width-chart{margin:-9px}.box-footer{border-top:1px solid #f4f4f4;padding:10px;background-color:#fff}.chart-legend{margin:10px 0}@media (max-width:991px){.chart-legend>li{float:left;margin-right:10px}}.box-comments{background:#f7f7f7}.box-comments .box-comment{padding:8px 0;border-bottom:1px solid #eee}.box-comments .box-comment:before,.box-comments .box-comment:after{content:" ";display:table}.box-comments .box-comment:after{clear:both}.box-comments .box-comment:last-of-type{border-bottom:0}.box-comments .box-comment:first-of-type{padding-top:0}.box-comments .box-comment img{float:left}.box-comments .comment-text{margin-left:40px;color:#555}.box-comments .username{color:#444;display:block;font-weight:600}.box-comments .text-muted{font-weight:400;font-size:12px}

/*
	Popup
*/

body.no-scroll {
	overflow: hidden;
}

.popup-full-container {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}

	.popup-full-container.on {
		display: block;
	}

	.popup-full-container .popup-close {
		position: fixed;
		width: 100%;
		height: 100%;
	}
	
	@keyframes turn-on-popup-full {
		from {
			background-color: rgba(0, 0, 0, 0);
		}
		to {
			background-color: rgba(0, 0, 0, 0.8);
		}
	}
	
	@keyframes turn-on-popup-full-gray {
		from {
			background-color: rgba(221, 221, 221, 0);
		}
		to {
			background-color: rgba(221, 221, 221, 1);
		}
	}

	.popup-full-container .popup-full {
		background-color: rgba(0, 0, 0, 0.8);
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		-webkit-align-items: center;
		justify-content: center;
		-webkit-justify-content: center;
	}

		.popup-full-container.gray .popup-full {
			background-color: #ddd;
		}

		.popup-full-container.on .popup-full {
			animation: turn-on-popup-full .5s;
		}

			.popup-full-container.gray .popup-full {
				background-color: #ddd;
			}

			.popup-full-container.gray.on .popup-full {
				animation: turn-on-popup-full-gray .5s;
			}

			@keyframes turn-on-popup-content { 
				0% {
					opacity: 0;
					transform: scale(0.7) rotate(-10deg);
				}
				100% {
					opacity: 1;
					transform: scale(1);
				}
			}

			.popup-full-container > .popup-full > .popup-content {
				text-align: left;
				position: relative;
				overflow-y: auto;
				overflow-x: hidden;
				max-width: 90vw;
				max-height: 90vh;
			}

				.popup-full-container[aria-width="small"] > .popup-full > .popup-content {
					width: 300px;
				}

				.popup-full-container[aria-width="medium"] > .popup-full > .popup-content {
					width: 550px;
				}

				.popup-full-container[aria-width="large"] > .popup-full > .popup-content {
					width: 800px;
				}

				.popup-full-container[aria-width="maximum"] > .popup-full > .popup-content {
					width: 100%;
				}

				.popup-full-container.on  > .popup-full > .popup-content {
					animation: turn-on-popup-content 0.5s;
				}

/* 
	/ Popup
*/

/*start general*/
body {
	position: relative;
	background-color: #f5f5f5;
	font-family: "Segoe UI";
	font-size: 15px;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
	margin: 0;
	padding: 0;
}
a:hover, a:visited, a:focus {
	text-decoration: none;
}
.dropdown-menu {
	border-radius: 2px;
}
	.dropdown-menu a {
		transition: 0.2s;
	}
/*end general*/

/*start header*/
header {
	height: 60px;
	z-index: 2
}	
	header .header-fixed {
		border-bottom: 1px solid #ddd;
		box-shadow: 0px 0px 2px #ccc;
		height: 60px;
		z-index: 2;
	}
	.header-fixed.fixed {
		position: fixed;
		top: 0;
		width: 100%;
	}

	/*start mini menu*/
	.mini-menu {
		margin: auto 0 auto auto;
	}
		.mini-menu i {
			font-size: 130.77%
		}
		.mini-menu a {
			display: block;
			padding: 10px;
		}
		.mini-menu .dropdown-menu {
			margin-top: 10px;
			left: -160%;
			border: 0;
			padding: 10px;
		}
	/*end*/
	
	/*start mini menu 1*/
	.mini-menu-1 {
		margin: auto 0 auto auto;
		cursor: pointer;	
	}

		.cover-wall {
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
			.popup-out {
				display: block;
				width: 30%;
				float: left;
				height: 100%;
				background-color: rgba(0,0,0,0.7);
				z-index: 2;
				position: absolute;
			}
			.cover-wall .content{
				display: block;
				float: right;
				width: 70%;
				background-color: #fff;
				z-index: 2;
				padding: 10px;
				height: 100%;
				overflow-y: auto;
				position: absolute;
				right: 0;
			}
			/*start user-box*/
			.mini-user-box {
				width: 100%;
				text-align: center;
				border-bottom: 1px solid #ccc;
				padding-bottom: 12px;
				margin-bottom: 12px;

			}
				.mini-user-box a {
					display: block;				
				}
				.mini-user-box img {
					width: 50px;
					display: block;
					margin: 4px auto;
				}
				.mini-user-box a {
					margin-bottom: 10px;
				}
				.mini-user-box .sign-with-social i {
					vertical-align: middle;
					margin: 0 5px;
				}
				.mini-user-box .sign-with-social a {
					display: inline-block;
				}
			/*end*/

			/*start mini-sitemap*/
			.mini-sitemap {

			}
				.mini-sitemap ul li {				
				}
				.mini-sitemap > ul > li > a {
					display: block;
					padding: 5px 10px;
					background-color:  #337AB7;
					color: #fff;
					border-radius: 2px;
					margin-bottom: 5px;
					cursor: pointer;
				}
				.mini-sitemap > ul > li > ul {
					padding: 0 10px;
				}
				.mini-sitemap > ul > li > ul > li {
					margin: 7px 0;
				}
					.mini-sitemap > ul > li > ul > li.all {
					}
					.mini-sitemap > ul > li > ul > li.all > a{
						background-color: #999;
						color: #fff;
						padding: 5px 10px;
						border-radius: 2px;
					}
				.mini-sitemap > ul > li > ul > li > a {
					display: block;
					background-color: #fff;
					color: #333;
				}
			/*end*/
	/*end*/

	/*start fixed header*/
	.header {            
		padding: 0 10px;
		height: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -o-flex;
		display: flex;
	}
	
		/*start logo*/
		.logo {
			height: 100%;
			width: 180px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -o-flex;
			display: flex;			
			transition: 0.3s;
		}
		@media screen and (max-width: 767px) {
			.logo {
				width: 150px;
			}
		}
			.logo a {
				display: block;
				margin: auto;
			}
			.logo img {
				width: 100%;
				transition: 0.3s;
			}
		/*end logo*/

		/*start sitemap*/
		.sitemap {
			margin: auto 20px;
		}        
			.sitemap > ul {
				display: flex;
				display: -webkit-flex;
				display: -moz-flex;
				display: -o-flex;
			}
				.sitemap > ul > li {
					padding: 0 10px;
				}
		.sitemap button[type="button"] {
			color: #333;
			font-size: 15px;
			transition: 0.2s;
			text-decoration: none;
		}
			.sitemap button[type="button"]:hover {                
				color: #1B7C1B;
			}
		.sitemap .dropdown-menu {
			margin-top: 8px;
		}
		.sitemap .dropdown-menu a:hover {
			background-color: #54b40d;
			color: #f5f5f5;
		}
		.sitemap button {
			padding-left: 0;
			padding-right: 0;
		}
		.sitemap a {
			font-size: 100%;
			color: inherit;
		}
			.sitemap a:hover {
				text-decoration: none;
				color: #54b40d;
			}
		/*end sitemap*/

		/*start switch-button*/
		.switch-button {
			margin: auto 0;
			margin-left: auto;
			margin-right: 10px;
		}
			.switch-button label {
				cursor: pointer;
				margin: 0;
				font-weight: normal;
				margin: 0 5px;
			}
			.switch-button a {
				color: #666;
				display: inline-block;
				font-size: 93.33%;
				padding: 0 5px;
			}
				.switch-button a:hover {
					border-bottom: 1px solid #ccc;
				}
			.switch-button input {
				position: absolute;
				left: -99999px;
			}
			.switch-button input:checked ~ a {
				color: #333;
				font-weight: bold;
				border-bottom: 2px solid #999;
				font-size: 100%;
			}
		/*end*/
		
		/*start function-button*/
		.function-button {            
			margin: auto 0;
			margin-left: auto;
			margin-right: 10px;
		}
			.function-button .btn {
				background-color: #ff6511;
				border-color: #ff6511;
				transition: 0.2s;
			}
				.function-button .btn:hover {
					background-color: #ac440b;
					border-color: #ac440b;
				}
			.function-button .dropdown-menu {
				margin-top: 10px;
			}
				.function-button .dropdown-menu a:hover {
					background-color: #ff6511;
					color: #f5f5f5;
				}
		/*end function-button*/

		/*start user-box*/
		.user-box {
			margin: auto 0;			
		}
			.user-box a {
				padding: 9px 0;
				display: block;
				color: #333;
				transition: 0.2s;
				text-decoration: none !important;
			}
				.user-box a:hover {
					color: #1B7C1B;
				}
				.user-box a:hover .img-user {
					background: url('/assets/icon/login-hover.png') no-repeat;
				}
		.user-box .img-user {
			width: 26px;
			max-width: 26px;
			height: 26px;
			max-height: 26px;
			background: url('/assets/icon/login.png') no-repeat;
			display: inline-block;
			vertical-align: middle;
			transition: 0.2s;
		}
			/*start dropdown-menu of user-box*/
			.user-box .dropdown-menu {
				margin-top: 6px;
				left: -90px !important;
				width: 180px;
			}
			.user-box .dropdown-menu a:hover {
				background-color: #54b40d;
				color: #f5f5f5;
			}
			.user-box .dropdown-menu .title {
				font-size: 13px;
				padding: 0 18px;
			}
				.user-box .dropdown-menu .title i {
					vertical-align: middle;
					margin-left: 5px;
					margin-right: 0;
					cursor: pointer;
				}
			.user-box .dropdown-menu .social-link {
				text-align: center;
			}
				.user-box .dropdown-menu .social-link a {
					padding: 3px 5px;
					display: inline-block !important;
				}
					.user-box .dropdown-menu .social-link a:hover {
						background-color: #fff;
					}
			/*end dropdown-menu of user-box*/
		/*end user-box*/

		/*start user-box-login*/
		.user-box-login {
			margin: auto 0;
			margin-left: 10px;
		}
			.user-box-login a {
				padding-left: 0;
				padding-right: 0;
				display: block;
				color: #333;
				transition: 0.2s;
			}
				.user-box-login a:hover {
					text-decoration: none;
					color: #54b40d;
				}
			.user-box-login .dropdown-menu {
				margin-top: 4px;				
			}
				.user-box-login .dropdown-menu a:hover {
					background-color: #54b40d;
					color: #f5f5f5;
				}
			.user-box-login img {
				width: 30px;
				max-width: 30px;
				height: 30px;
				max-height: 30px;
			}
		/*end user-box-login*/

		/*start mini menu*/
		.btn-mini-menu {
			margin: auto 0;
			margin-left: auto;
			margin-right: 20px;
			display: none;
		}
			.btn-mini-menu a {
				display: block;
			}			
		/*end mini menu*/

	/*end fixed header*/
/*end header*/

/*start main*/
.main {
	
}
/*end main*/

/*start footer*/
footer {
	background-color: #f2f2f2;
	font-size: 13px;
	box-shadow: 0px 11px 25px #111;;
}
	footer .content {
		padding: 20px 0;
		margin: 0;
	}
		footer .content > .item {
			padding-top: 30px;
		}
			footer .content > .item .form-group {
				padding: 10px 0;
				text-align: right;
			}						
				footer .content > .item .form-group button {	
					margin-top: 10px;					
				}
			footer .content .title {
				color: #333;
				font-weight: bold;
			}
			footer .content .details {

			}
				footer .content .details li {
					margin: 10px 0;
				}
					footer .content .details li a {
						color: #999;
					}
					footer .content .details li a:hover {
						color: #54b40d;
					}
	footer .information {
	}
		footer .information hr {
			border-color: #ccc;
			width: 100%;
			margin-top: 0;
			margin-bottom: 20px;
		}
		footer .information p {
			font-size: 13px;
			text-align: center;
			color: #333;
		}
	footer .social {
		margin-top: 14px;
	}
		footer .social li {
			margin-bottom: 10px;
		}
		footer .social li a {
			display: block;			
		}
		footer .social li a i {
			vertical-align: -10px;
		}
/*end footer

/*--------------------------------------------------------*/
/*Công cụ*/
/*--------------------------------------------------------*/

/*start search-box*/
.search-box {
	width: 550px;   
	border: 1px solid #000;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 4px;
	text-align: center;
	padding-bottom: 10px;
}
	@media screen and (max-width: 600px) {
		.search {
			height: auto !important;
			padding: 70px 10px;			
		}
		.search-box {
			width: 90%;
		}
		.search-box .title {			
			padding: 0 10px;
		}
			.search-box .title h3 {
				font-size: 138.46% !important;
			}
		.search-box form {
			padding: 0 20px !important;
		}
		.search-box form .tab label {
			padding: 10px 5px;
		}
		.search-box .btn-plus .btn {			
			margin-bottom: 10px;
		}
	}
	.search-box .title {
		text-align: center;
		color: #ff6511;		
	}
		.search-box .title h3 {
			font-weight: bold;
		}
	.search-box .tab {
		text-align: center;         
		color: #fff;                    
	}               
		.search-box .tab label {
			padding: 10px;
		}               
			.search-box .tab label:hover {
				cursor: pointer;
			}
			.search-box .tab label input {
				position: absolute;
				left: -99999px;
				background-color: #ccc;
			}                       
			.search-box .tab label span {                           
				font-size: 13px;
				transition: 0.2s;
			}
			.search-box .tab label input:checked ~ span,
			.search-box .tab label input:hover ~ span,
			.search-box .tab label input:focus ~ span {
				color: #ff6511;
			}
			.search-box .tab label input ~ i {
				margin-right: 10px;
			}
	.search-box form {
		padding: 0 70px;
	}
		.search-box form .form-group-custom {
			position: relative;
			margin-bottom: 10px;
		}		
		/*search-keyword*/
		.search-box form .search-keyword {
			padding-right: 50px;
		}
		/*button search*/
		.search-box form .btn-search {
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			padding: 0 10px;			
			display: -webkit-flex;
			display: -moz-flex;
			display: -o-flex;
			display: flex;
		}
			.search-box form .btn-search button {
				height: 24px;
				width: 24px;
				border: none;
				align-self: center;
				-webkit-align-self: center;
				text-decoration: none;
				outline: none;
				vertical-align: middle;
				padding: 0;
				background: url('/assets/icon/icon.png') no-repeat -16px 0;
			}
				.search-box form .btn-search button:hover {
					background-position: -16px -24px ;
				}
			.search-box form .btn-search .btn-more {
				font-size: 12px;				
				color: #ccc;
				cursor: pointer;
				height: 100%;
				line-height: 31px;
			}	
		/*separator*/
		.search-box form .separator {
			height: 100%;
			position: absolute;
			top: 0;
			right: 55px;
		}
			.search-box form .separator span {
				height: 100%;
				line-height: 30px;
				color: #ccc;
			}
		/*history search*/
		.search-box form .history-search {
			height: 100%;
			position: absolute;
			top: 0;
			right: 65px;
		}
		@media screen and (max-width: 767px) {
			.search-box form .history-search .dropdown-menu {
				left: -103px;
			}
		}
			.search-box form .history-search button {
				padding-left: 0;
				padding-right: 0;
				color: #ccc;
			}
		/*button btn-plus*/
		.search-box form .btn-search-plus {
			margin-right: 5px;
		}
			.search-box form .btn-search-plus img {
				width: 15px;
				height: 15px;
			}
/*end search-box*/

/*start paging*/
.paging {
	text-align: center;
}
	.paging div {
		cursor: pointer;
		padding: 5px;
		display: inline-block;
	}
		.paging div:hover {
			color: #1B7C1B;
		}
/*end paging*/

/*--------------------------------------------------------*/
/*Hộp*/
/*--------------------------------------------------------*/

/*start item-lg*/
.item-lg {
	display: block;
	position: relative;
	font-size: 14px;
}	

	.item-lg a {
		outline: none;
	}

	/*start content*/
	.item-lg .content {
		color: #333;
	}
		/*start picture*/
		.item-lg .picture {
			display: block;
		}
		.item-lg .picture img {
			max-width: 750px;
			width: 100%;			
		}
		@media screen and (max-width: 767px) {
			.item-lg .picture img {
				margin-bottom: 10px;
			}
		}
		/*end picture*/

		/*start name*/
		.item-lg .name {
			font-size: 21px;
			color: #333;
			margin-bottom: 10px;
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
			.item-lg .name .type-property {
				font-size: 92.86%;
				display: inline-block;
				margin-right: 5px;
			}
		/*end*/

		/*start subname*/
		.item-lg .sub-name {
			font-size: 100%;
			color: #333;
			margin-bottom: 10px;
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			text-transform: uppercase;
		}
		/*end*/

		/*start type-real*/
		.item-lg .type-real {
			margin-bottom: 10px;
		}
			.item-lg .type-real i {
				margin-right: 9px;
				height: 16px;
				width: 16px;
				text-align: center;
				line-height: 16px;
				font-size: 133.33% !important;
				color: #333;
			}
			.item-lg .type-real span {
				color: #333;
			}
		/*end*/

		/*start status*/
		.item-lg .status {            
			margin-bottom: 10px;
		}
			.item-lg .status i {
				margin-right: 9px;
				height: 16px;
				width: 16px;
				text-align: center;
				line-height: 16px;				
			}
				.item-lg .status i.done {
					color: #54b40d;
				}
				.item-lg .status i.working {
					color: #d41212;
				}
			.item-lg .status span {
				color: #333;
			}
		/*end*/

		/*start convenient*/
		.item-lg .convenient {
			display: block;
			margin-bottom: 10px;
			color: #333;
		}
			.item-lg .convenient div {
				margin-right: 15px;
				display: inline-block;
			}
			.item-lg .convenient i {
				width: 16px;
				height: 16px;
				display: inline-block;
				vertical-align: -2px;
				margin-right: 9px;
			}
				.item-lg .convenient i.icon-area {
					background: url('/assets/icon/icon_dientich.png') no-repeat center center;
				}
				.item-lg .convenient i.icon-bathroom {
					background: url('/assets/icon/icon_phongtam.png') no-repeat center center
				}
				.item-lg .convenient i.icon-bedroom {
					background: url('/assets/icon/icon_phongngu.png') no-repeat center center
				}
				.item-lg span {

				}
		/*end convenient*/

		/*start address*/
		.item-lg .address {
			margin-bottom: 10px;
			overflow: hidden;
			color: #333;
			width: 100%;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
			.item-lg .address i {
				margin-right: 9px;
			}
		/*end*/

		/*start price*/
		.item-lg .price {
			font-size: 13px;
		}
			.item-lg .price i {
				margin-right: 9px;
			}
			.item-lg .price > .number {
				display: inline-block;
				border-radius: 30px;
				font-weight: bolder;
				font-size: 100%;
			}
			.item-lg .price > .number.sale {
				color: #ff6511;
			}
			.item-lg .price > .number.rent {
				color: #038ed1;
			}
			.item-lg .price > .number.zestimate {
				color: #54b40d;
			}
		/*end*/

		/*start detail*/
		.item-lg .detail {
			text-align: justify;
			margin-bottom: 10px;
			display: block;
			height: 90px;
			color: #333;
		}
		/*end*/

		/*start btn more*/
		.item-lg .btn-more {
			text-align: right;
		}
			.item-lg .btn-more a {
				color: #1B7C1B;
			}
			.item-lg .btn-more a:hover {
				color: #369836;
			}
		/*end*/

		/*start function*/
		.item-lg .function {
			border-top: 1px solid #eee;
			border-bottom: 1px solid #eee;
			padding: 10px 0;
			margin-bottom: 10px;
		}
			.item-lg .function a {
				display: inline-block;
				margin-right: 20px;
				padding: 0;
				vertical-align: middle;
			}
				.item-lg .function a:hover {
					color: #ff6511;
				}
		/*end*/

	/*end content*/
/*end item-lg*/

/*start item-sm*/
.item-sm {
	border: 1px solid #ddd;
	width: 260px;
	color: #333;
	background-color: #fff;
	margin: 15px auto;
}
		.item-sm a {
			text-decoration: none;
		}

	/*start img*/
	.item-sm > .picture {
		position: relative;
	}
		.item-sm img {
			width: 100%;
		}
		.item-sm .badge-new {
			position: absolute;
			height: 32px;
			width: 75px;
			right: -9px;
			top: 6px;
			background: url('/assets/icon/icon-badge.png') no-repeat center center;
		}
	/*end*/

	.item-sm .info {
		color: #333;
		font-size: 13px;
		padding: 10px 10px 0 10px;
		display: block;
	}

	/*start title*/
	.item-sm .title {
		margin-bottom: 10px;
		font-size: 18px;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		padding: 0 3px;
		color: #333;
	}
	/*end*/

	/*start type-real*/
	.item-sm .type-real {
		margin-bottom: 10px;
	}
		.item-sm .type-real i {
			margin-right: 4px;
			height: 16px;
			width: 16px;
			text-align: center;
			line-height: 16px;
			font-size: 133.33%;
			color: #333;
		}
		.item-sm .type-real span {
			color: #333;
		}
	/*end*/

	/*start status*/
	.item-sm .status {
		margin-bottom: 10px;
	}
	.item-sm .status i {
		margin-right: 5px;
		height: 16px;
		width: 16px;
		text-align: center;
		line-height: 16px;
	}
		.item-sm .status i.done {
			color: #54b40d;
		}
		.item-sm .status i.working {
			color: #d41212;
		}
	.item-sm .status span {		
		color: #333;
	}
	/*end*/

	/*start address*/
	.item-sm .address {
		text-align: justify;
		margin-bottom: 10px;
		max-height: 36px;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: #333;
	}
		.item-sm .address i {
			margin-right: 5px;
		}
	/*end*/

	/*start convenient*/
	.item-sm .convenient {
		display: -webkit-flex;
		display: -moz-flex;
		display: -o-flex;
		display: flex;
		margin-bottom: 10px;
	}
		.item-sm .convenient div {
			margin-right: 15px;
		}
		.item-sm .convenient i {
			width: 16px;
			height: 16px;
			display: inline-block;
			vertical-align: -2px;
			margin-right: 4px;
		}
			.item-sm .convenient i.icon-area {
				background: url('/assets/icon/icon_dientich.png') no-repeat center center;
			}
			.item-sm .convenient i.icon-bathroom {
				background: url('/assets/icon/icon_phongtam.png') no-repeat center center
			}
			.item-sm .convenient i.icon-bedroom {
				background: url('/assets/icon/icon_phongngu.png') no-repeat center center
			}
			.item-sm span {

			}
	/*end convenient*/

	/*start price*/
	.item-sm .price {
		font-size: 13px;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;		
	}
		.item-sm .price i {
			margin-right: 5px;
		}
		.item-sm .price > .number {
			display: inline-block;
			border-radius: 30px;
			font-weight: bolder;
		}			
		.item-sm .price > .number.sale {
			color: #ff6511;
		}
		.item-sm .price > .number.rent {
			color: #038ed1;
		}
		.item-sm .price > .number.zestimate {
			color: #54b40d;
		}
	/*end*/

	/*start promotion*/
	.promotion {
		position: absolute;
		bottom: 10px;
		left: 10px;
		color: #fff;
		background-color: rgba(0,0,0,0.7);
		padding: 5px;
		border-radius: 5px;
	}
		.promotion i {

		}
	/*end*/

	/*start function*/
	.item-sm > .function {
		margin: 0 10px 10px 10px;
		border-top: 1px solid #ddd;
		padding-top: 10px;
		text-align: center;
	}
		.item-sm > .function a {
			display: inline-block;
			margin: 0 10px;
			padding: 0;
			vertical-align: middle;
		}
			.item-sm > .function a:hover {
				color: #ff6511;
			}
	/*end*/
/*end item-sm*/

/*start distributor-item*/
.distributor-item {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	max-width: 150px;
	font-size: 12px;
}
	.distributor-item:hover {
		border: 1px solid #54b40d;
		box-shadow: 0px 0px 2px #54b40d;
	}
	.distributor-item .picture {
		width: 100%;
		margin-bottom: 7px;
	}
		.distributor-item img {
			width: 100%;
		}
	.distributor-item .name {
		text-align: center;
		margin-bottom: 7px;
	}	
	.distributor-item .price {
		text-align: center;
		border: 1px dashed #ccc;
		margin-bottom: 7px;
		color: #ff6511;
		padding: 2px 0;
	}
	.distributor-item .function {
		text-align: center;
	}
		.distributor-item .function a:hover {
			text-decoration: underline;
		}
/*end*/

/*start block*/
.block {
	margin-top: 100px;
	margin-bottom: 100px;
}
	/*start Title*/
	.block > .block-title {
		text-align: center;
		font-size: 27px;
		margin-bottom: 7px;
		position: relative;
		transition: 0.2s;
		color: #333;
	}
	.block > .block-title > a {
		color: #333;
		transition: 0.2s;
		position: relative;
	}
		/*.block > .title > a:before {
			content: '';
			position: absolute;
			width: 300px;
			height: 5px;
			background: url('/assets/icon/line.png') no-repeat center center;
			right: 100%;
			display: block;
			top: calc(50% - 2.5px);
			margin-right: 20px;
		}
		.block > .title > a:after {
			content: '';
			position: absolute;
			width: 300px;
			height: 5px;
			background: url('/assets/icon/line.png') no-repeat center center;
			left: 100%;
			display: block;
			top: calc(50% - 2.5px);
			transform: rotate(180deg);
			-o-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
			margin-left: 20px;
		}
		@media screen and (max-width: 767px) {
			.block > .title > a:before,
			.block > .title > a:after {
				width: 0;
			}
		}
		.block a.link:hover {
			text-decoration: none;
			color: #54b40d;
		}*//*
	.block i {
		font-size: 86%;
	}*/
	/*end Title*/

	/*start content*/
	.block .block-content:not(.block-content-empty) {
		background-color: #fff;
		border: 1px solid #ddd;
		padding: 10px;
	}
	/*end content*/
/*end block*/

/*start block-info*/
.block-info {

}
	.block-info > .title {
		text-align: left;
		text-transform: uppercase;
		margin-bottom: 20px;
		position: relative;
		transition: 0.2s;
		color: #333;		
	}
	.block-info > .title .text {
		color: #333;
		font-size: 20px;
	}
	.block-info .date {
		font-size: 12px;
		color: #999;
	}
/*end block-info*/

/*start lineblock*/
.line-block {
	margin-bottom: 20px;
}
	/*start title*/
	.line-block > .title {
		font-size: 20px;
		border-bottom: 1px solid #eee;
		margin-bottom: 20px;
		color: #333;		
	}
	/*end*/
	
	/*start content*/
	.line-block > .content {
		padding: 0 20px;
	}
	/*end*/
/*end*/

/*start normal-block*/
.normal-block {

}
	/*start title*/
	.normal-block > .title {
		font-size: 15px;
		margin-bottom: 7px;
		color: #999;
	}
	/*end*/
/*end normal-block*/

/*--------------------------------------------------------*/
/*Button*/
/*--------------------------------------------------------*/

/*start btn-icon-top*/
.btn-icon-top {
	display: block;
	padding: 5px;
	background-color: transparent;
	border: transparent;
	color: #333;
}
	.btn-icon-top > i {
		display: block;
		margin: 0 auto;
	}
		.btn-icon-top:hover > i {
			background-position: 0 -16px;
		}
	.btn-icon-top:hover > span {
		color: #ff6511;
	}
/*end*/

/*--------------------------------------------------------*/
/*Tab*/
/*--------------------------------------------------------*/
.nav-tabs {
	font-size: 14px;
}
	.nav-tabs > li {		
	}
	.nav-tabs > li > a {
		color: #333;
		padding: 4px 7px;
	}
		.nav-tabs > li.active > a:link,
		.nav-tabs > li.active > a:active {
			color: #fff;
			background-color: #369836;
		}

/*--------------------------------------------------------*/
/*Custom Dropdown-menu*/
/*--------------------------------------------------------*/
.dropdown-menu .row-fluid div {
	padding: 0;
}
	.dropdown-menu .row-fluid a {
		display: block;
		padding: 3px 20px;
		color: #333;
	}

/*--------------------------------------------------------*/
/*Custom slick*/
/*--------------------------------------------------------*/
.slick {
	position: relative;
}
	.slider-control {
		position: absolute;
		top: calc(50% - 20px);
		height: 32px;
		width: 32px;
		border: 0px;
		outline: none;
		background: url('/assets/icon/icon-arrow.png') no-repeat;
	}
	@media screen and (max-width: 845px) {
		.slider-control {
			display: none !important;
		}
	}
		.slider-control.prev {
			left: -50px;
		}
			.slider-control.prev:hover {
				background-position: 0 -32px;
			}
		.slider-control.next {
			background-position: -32px 0;
			right: -50px;
		}
			.slider-control.next:hover {
				background-position: -32px -32px;
			}
	.slick-slide {
		outline: none;
	}
		.slick-dots > li > i {
			width: 6px;
			height: 6px;
			display: block;
			margin: 5px auto;
			background: url('/assets/icon/circle.png') no-repeat;
			border: 0px solid;
			outline: none;
		}
		.slick-dots > li.slick-active > i {
			background-position: -6px 0;
		}

/*--------------------------------------------------------*/
/*Custom button*/
/*--------------------------------------------------------*/
.btn-custom-default {
	background-color: #eee;
	color: #333;
}

/*--------------------------------------------------------*/
/*Custom Modal*/
/*--------------------------------------------------------*/

/*start Modal*/
.modal {
	color: #333;
}
	.modal .btn-default {
		color: #333;
	}
/*end*/

/*start Modal Signin*/
#signin label {
	font-weight: normal;
	font-size: 93.33%;
}
	#signin .signup-now {
		color: #999;
		border-bottom: 1px dashed #ccc;
	}
/*end*/

/*start Modal Picture*/
.modal-show-picture {	
}
	.modal-show-picture .modal-dialog {
		width: 90%;		
		position: relative;
		margin: 5px auto;
	}
	.modal-show-picture button {
		position: absolute;
		top: 15px;
		right: 20px;		
	}
	.modal-show-picture img {
		width: 100%;
		max-height: calc(100vh - 45px);
		max-width: calc(100vw - 50px);
	}
/*end*/

/*--------------------------------------------------------*/
/*Notice*/
/*--------------------------------------------------------*/
.notice {
	padding: 10px;
	z-index: 2;
	text-align: center;
	background-color: #038ed1;
	color: #fff;
	font-weight: bold;
	display: block;
}
/*
*/

/*
	Contact box
*/

	.contact-box-container {
		position: fixed;
		right: 5vw;
		bottom: 0;
		z-index: 5;
	}

		.contact-box-container .contact-box {
			background-color: #fff;
			box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);
			width: 250px;
		}

			.contact-box-container .contact-box .box-header {
				padding: 10px;
				border-bottom: 2px solid #1B7C1B;
				background-color: #369836;
				cursor: pointer;
				text-align: center;
			}

				.contact-box-container .contact-box .box-header .box-title {
					font-size: 18px;
					margin: 0;
					color: #fff;
				}

				.contact-box-container .contact-box .box-header .box-title .fa-phone {
					animation: phone-ring 10s linear infinite;
				}
	
				@keyframes phone-ring {
					0% {
						transform: rotate(-15deg);
					}
					1% {
						transform: rotate(15deg);
					}
					2% {
						transform: rotate(-15deg);
					}
					3% {
						transform: rotate(15deg);
					}
					4% {
						transform: none;
					}
				}

			.contact-box-container .contact-box .box-body {
				padding: 20px;
			}

				.contact-box-container .contact-box .box-body .or {
					text-align: center;
					color: #888;
					margin-top: -10px;
					font-weight: bold;
				}

				.contact-box-container .contact-box .box-body .form-control {
					border-radius: 0;
					border: none;
					box-shadow: none;
					border-bottom: 2px solid #ddd;
					transition: .5s;
					font-size: 18px;
				}

					.contact-box-container .contact-box .box-body select.form-control {
						height: 42px;
					}

					.contact-box-container .contact-box .box-body .form-control:focus {
						border-bottom-color: #369836;
					}

				.contact-box-container .contact-box .box-body .btn-link {
					font-size: 18px;
					font-weight: bold;
					border: 0;
					border-bottom: 2px solid #aaa;
					padding-bottom: 0px;
					text-decoration: none;
					transition: .5s;
					outline: 0;
					color: #369836;
				}

					.contact-box-container .contact-box .box-body .btn-link:hover,
					.contact-box-container .contact-box .box-body .btn-link:focus {
						border-bottom-color: #369836;
						color: #1B7C1B;
					}

	.same-contact-container {
		background-color: #f5f5f5;
	}

		.same-contact-container .value {
			background-color: #fff;
			padding: 5px 10px;
			border: 2px solid #eee;
			border-bottom-color: #ddd;
			margin-bottom: 10px;
		}
/*
	/ Contact box
*/

/* Short real-estates */

	.short-re-container {
	}

		.short-re-container .item {
			background-color: #fff;
			border: 1px solid #ddd;
			margin-bottom: 15px;
			max-width: 600px;
			margin: 0 auto 15px auto;
		}

		.short-re-container .title {
			font-size: 17px;
			padding: 15px;
			margin: 0;
			line-height: 25px;
			border-bottom: 1px solid #eee;
			background-color: #f8f8f8;
			position: relative;
			color: #C67700;
		}

			.short-re-container .title:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 3px;
				height: 100%;
				background-color: #C67700;
			}

		.short-re-container .content {
			height: 50px;
			line-height: 23px;
			padding: 15px;
			box-sizing: content-box;
		}

		.short-re-container .hidden-content {
			line-height: 23px;
			padding: 15px;
			box-sizing: content-box;
			display: none;
		}

		.short-re-container .infos {
			margin-left: -1px;
			margin-bottom: -1px;
		}

			.short-re-container .infos:after {
				clear: both;
				content: '';
				display: block;
			}

			.short-re-container .infos .node {
				float: left;
				margin-right: 10px;
				margin-top: 2px;
			}

				.short-re-container .infos .node .image {
					padding: 5px;
					float: left;
					background-color: #f8f8f8;
					border: 1px solid #ddd;
					height: 32px;
				}

				.short-re-container .infos .node .fa {
					color: #666;
				}

				.short-re-container .infos .node .text {
					padding: 0 5px;
					font-size: 13px;
					float: left;
					height: 32px;
					line-height: 32px;
				}

/* / Short real-estates */