/*start general*/
body {
	position: relative;
	background-color: #f6f6f6;
	font-family: "Segoe UI";
	font-size: 15px;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
	margin: 0;
	padding: 0;
}
a:hover, a:visited, a:focus {
	text-decoration: none;
}
.dropdown-menu {
	border-radius: 2px;
}
	.dropdown-menu a {
		transition: 0.2s;
	}
/*end general*/

/*start header*/
header {
	height: 60px;
	z-index: 2
}	
	header .header-fixed {
		border-bottom: 1px solid #ddd;
		box-shadow: 0px 0px 2px #ccc;
		height: 60px;
		z-index: 2;
	}
	.header-fixed.fixed {
		position: fixed;
		top: 0;
		width: 100%;
	}

	/*start mini menu*/
	.mini-menu {
		margin: auto 0 auto auto;
	}
		.mini-menu i {
			font-size: 130.77%
		}
		.mini-menu a {
			display: block;
			padding: 10px;
		}
		.mini-menu .dropdown-menu {
			margin-top: 10px;
			left: -160%;
			border: 0;
			padding: 10px;
		}
	/*end*/
	
	/*start mini menu 1*/
	.mini-menu-1 {
		margin: auto 0 auto auto;
		cursor: pointer;	
	}

		.cover-wall {
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
			.popup-out {
				display: block;
				width: 30%;
				float: left;
				height: 100%;
				background-color: rgba(0,0,0,0.7);
				z-index: 2;
				position: absolute;
			}
			.cover-wall .content{
				display: block;
				float: right;
				width: 70%;
				background-color: #fff;
				z-index: 2;
				padding: 10px;
				height: 100%;
				overflow-y: auto;
				position: absolute;
				right: 0;
			}
			/*start user-box*/
			.mini-user-box {
				width: 100%;
				text-align: center;
				border-bottom: 1px solid #ccc;
				padding-bottom: 12px;
				margin-bottom: 12px;

			}
				.mini-user-box a {
					display: block;				
				}
				.mini-user-box img {
					width: 50px;
					display: block;
					margin: 4px auto;
				}
				.mini-user-box a {
					margin-bottom: 10px;
				}
				.mini-user-box .sign-with-social i {
					vertical-align: middle;
					margin: 0 5px;
				}
				.mini-user-box .sign-with-social a {
					display: inline-block;
				}
			/*end*/

			/*start mini-sitemap*/
			.mini-sitemap {

			}
				.mini-sitemap ul li {				
				}
				.mini-sitemap > ul > li > a {
					display: block;
					padding: 5px 10px;
					background-color:  #337AB7;
					color: #fff;
					border-radius: 2px;
					margin-bottom: 5px;
					cursor: pointer;
				}
				.mini-sitemap > ul > li > ul {
					padding: 0 10px;
				}
				.mini-sitemap > ul > li > ul > li {
					margin: 7px 0;
				}
					.mini-sitemap > ul > li > ul > li.all {
					}
					.mini-sitemap > ul > li > ul > li.all > a{
						background-color: #999;
						color: #fff;
						padding: 5px 10px;
						border-radius: 2px;
					}
				.mini-sitemap > ul > li > ul > li > a {
					display: block;
					background-color: #fff;
					color: #666;
				}
			/*end*/
	/*end*/

	/*start fixed header*/
	.header {            
		padding: 0 10px;
		height: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -o-flex;
		display: flex;
	}
	
		/*start logo*/
		.logo {
			height: 100%;
			width: 180px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -o-flex;
			display: flex;			
			transition: 0.3s;
		}
		@media screen and (max-width: 767px) {
			.logo {
				width: 150px;
			}
		}
			.logo a {
				display: block;
				margin: auto;
			}
			.logo img {
				width: 100%;
				transition: 0.3s;
			}
		/*end logo*/

		/*start sitemap*/
		.sitemap {
			margin: auto 20px;
		}        
			.sitemap > ul {
				display: flex;
				display: -webkit-flex;
				display: -moz-flex;
				display: -o-flex;
			}
				.sitemap > ul > li {
					padding: 0 10px;
				}
		.sitemap button[type="button"] {
			color: #666;
			font-size: 15px;
			transition: 0.2s;
		}
			.sitemap button[type="button"]:hover {
				text-decoration: none;                
				color: #54b40d;
			}
		.sitemap .dropdown-menu {
			margin-top: 8px;
		}
		.sitemap .dropdown-menu a:hover {
			background-color: #54b40d;
			color: #f5f5f5;
		}
		.sitemap button {
			padding-left: 0;
			padding-right: 0;
		}        
		/*end sitemap*/

		/*start switch-button*/
		.switch-button {
			margin: auto 0;
			margin-left: auto;
			margin-right: 10px;
		}
			.switch-button label {
				cursor: pointer;
				margin: 0;
				font-weight: normal;
				margin: 0 5px;
			}
			.switch-button a {
				color: #666;
				display: inline-block;
				height: 35px;
				line-height: 35px;
				font-size: 93.33%;
			}
				.switch-button a:hover {
					border-bottom: 1px solid #ccc;
				}
			.switch-button input {
				position: absolute;
				left: -99999px;
			}
			.switch-button input:checked ~ a {
				font-weight: bold;
				border-bottom: 1px solid #ccc;
				font-size: 100%;
			}
		/*end*/
		
		/*start function-button*/
		.function-button {            
			margin: auto 0;
			margin-left: auto;
			margin-right: 10px;
		}
			.function-button .btn {
				background-color: #ff6511;
				border-color: #ff6511;
				transition: 0.2s;
			}
				.function-button .btn:hover {
					background-color: #ac440b;
					border-color: #ac440b;
				}
			.function-button .dropdown-menu {
				margin-top: 10px;
			}
				.function-button .dropdown-menu a:hover {
					background-color: #ff6511;
					color: #f5f5f5;
				}
		/*end function-button*/

		/*start user-box*/
		.user-box {
			margin: auto 0;			
		}
			.user-box a {
				padding: 9px 0;
				display: block;
				color: #666;
				transition: 0.2s;
			}
				.user-box a:hover {
					text-decoration: none;
					color: #54b40d;
				}
				.user-box a:hover .img-user {
					background: url('/assets/icon/login-hover.png') no-repeat;
				}
		.user-box .img-user {
			width: 26px;
			max-width: 26px;
			height: 26px;
			max-height: 26px;
			background: url('/assets/icon/login.png') no-repeat;
			display: inline-block;
			vertical-align: middle;
			transition: 0.2s;
		}
			/*start dropdown-menu of user-box*/
			.user-box .dropdown-menu {
				margin-top: 6px;
				left: -90px !important;
				width: 180px;
			}
			.user-box .dropdown-menu a:hover {
				background-color: #54b40d;
				color: #f5f5f5;
			}
			.user-box .dropdown-menu .title {
				font-size: 13px;
				padding: 0 18px;
			}
				.user-box .dropdown-menu .title i {
					vertical-align: middle;
					margin-left: 5px;
					margin-right: 0;
					cursor: pointer;
				}
			.user-box .dropdown-menu .social-link {
				text-align: center;
			}
				.user-box .dropdown-menu .social-link a {
					padding: 3px 5px;
					display: inline-block !important;
				}
					.user-box .dropdown-menu .social-link a:hover {
						background-color: #fff;
					}
			/*end dropdown-menu of user-box*/
		/*end user-box*/

		/*start user-box-login*/
		.user-box-login {
			margin: auto 0;
			margin-left: 10px;
		}
			.user-box-login a {
				padding-left: 0;
				padding-right: 0;
				display: block;
				color: #666;
				transition: 0.2s;
			}
				.user-box-login a:hover {
					text-decoration: none;
					color: #54b40d;
				}
			.user-box-login .dropdown-menu {
				margin-top: 4px;				
			}
				.user-box-login .dropdown-menu a:hover {
					background-color: #54b40d;
					color: #f5f5f5;
				}
			.user-box-login img {
				width: 30px;
				max-width: 30px;
				height: 30px;
				max-height: 30px;
			}
		/*end user-box-login*/

		/*start mini menu*/
		.btn-mini-menu {
			margin: auto 0;
			margin-left: auto;
			margin-right: 20px;
			display: none;
		}
			.btn-mini-menu a {
				display: block;
			}			
		/*end mini menu*/

	/*end fixed header*/
/*end header*/

/*start main*/
.main {
	
}
/*end main*/

/*start footer*/
footer {
	background-color: #f2f2f2;
	font-size: 13px;
	box-shadow: 0px 11px 25px #111;;
}
	footer .content {
		padding: 20px 0;
		margin: 0;
	}
		footer .content > .item {
			padding-top: 30px;
		}
			footer .content > .item .form-group {
				padding: 10px 0;
				text-align: right;
			}						
				footer .content > .item .form-group button {	
					margin-top: 10px;					
				}
			footer .content .title {
				color: #666;
				font-weight: bold;
			}
			footer .content .details {

			}
				footer .content .details li {
					margin: 10px 0;
				}
					footer .content .details li a {
						color: #999;
					}
					footer .content .details li a:hover {
						color: #54b40d;
					}
	footer .information {
	}
		footer .information hr {
			border-color: #ccc;
			width: 100%;
			margin-top: 0;
			margin-bottom: 20px;
		}
		footer .information p {
			font-size: 13px;
			text-align: center;
			color: #666;
		}
	footer .social {
		margin-top: 14px;
	}
		footer .social li {
			margin-bottom: 10px;
		}
		footer .social li a {
			display: block;			
		}
		footer .social li a i {
			vertical-align: -10px;
		}
/*end footer

/*--------------------------------------------------------*/
/*Công cụ*/
/*--------------------------------------------------------*/

/*start search-box*/
.search-box {
	width: 550px;   
	border: 1px solid #000;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 4px;
	text-align: center;
	padding-bottom: 10px;
}
	@media screen and (max-width: 600px) {
		.search {
			height: auto !important;
			padding: 70px 10px;			
		}
		.search-box {
			width: 90%;
		}
		.search-box .title {			
			padding: 0 10px;
		}
			.search-box .title h3 {
				font-size: 138.46% !important;
			}
		.search-box form {
			padding: 0 20px !important;
		}
		.search-box form .tab label {
			padding: 10px 5px;
		}
		.search-box .btn-plus .btn {			
			margin-bottom: 10px;
		}
	}
	.search-box .title {
		text-align: center;
		color: #ff6511;		
	}
		.search-box .title h3 {
			font-weight: bold;
		}
	.search-box .tab {
		text-align: center;         
		color: #fff;                    
	}               
		.search-box .tab label {
			padding: 10px;
		}               
			.search-box .tab label:hover {
				cursor: pointer;
			}
			.search-box .tab label input {
				position: absolute;
				left: -99999px;
				background-color: #ccc;
			}                       
			.search-box .tab label span {                           
				font-size: 13px;
				transition: 0.2s;
			}
			.search-box .tab label input:checked ~ span,
			.search-box .tab label input:hover ~ span,
			.search-box .tab label input:focus ~ span {
				color: #ff6511;
			}
			.search-box .tab label input ~ i {
				margin-right: 10px;
			}
	.search-box form {
		padding: 0 70px;
	}
		.search-box form .form-group-custom {
			position: relative;
			margin-bottom: 10px;
		}		
		/*search-keyword*/
		.search-box form .search-keyword {
			padding-right: 120px;
		}
		/*button search*/
		.search-box form .btn-search {
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			padding: 0 10px;			
			display: -webkit-flex;
			display: -moz-flex;
			display: -o-flex;
			display: flex;
		}
			.search-box form .btn-search button {
				height: 24px;
				width: 24px;
				border: none;
				align-self: center;
				-webkit-align-self: center;
				text-decoration: none;
				outline: none;
				vertical-align: middle;
				padding: 0;
				background: url('/assets/icon/icon.png') no-repeat -16px 0;
			}
				.search-box form .btn-search button:hover {
					background-position: -16px -24px ;
				}
			.search-box form .btn-search .btn-more {
				font-size: 12px;				
				color: #ccc;
				cursor: pointer;
				height: 100%;
				line-height: 31px;
			}	
		/*separator*/
		.search-box form .separator {
			height: 100%;
			position: absolute;
			top: 0;
			right: 55px;
		}
			.search-box form .separator span {
				height: 100%;
				line-height: 30px;
				color: #ccc;
			}
		/*history search*/
		.search-box form .history-search {
			height: 100%;
			position: absolute;
			top: 0;
			right: 65px;
		}
		@media screen and (max-width: 767px) {
			.search-box form .history-search .dropdown-menu {
				left: -103px;
			}
		}
			.search-box form .history-search button {
				padding-left: 0;
				padding-right: 0;
				color: #ccc;
			}
		/*button btn-plus*/
		.search-box form .btn-search-plus {
			display: none;
			margin-right: 5px;
		}
			.search-box form .btn-search-plus img {
				width: 15px;
				height: 15px;
			}
/*end search-box*/

/*start paging*/
.paging {
	margin-top: 5px;
	justify-content: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -o-flex;
	display: flex;
	color: #666;
	font-size: 93.33%;
}
	.paging div {
		height: 30px;
		width: 30px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -o-flex;
		display: flex;
		cursor: pointer;
	}
		.paging div:hover {
			color: #54b40d;
		}
	.paging .left {
		font-size: 30px;
	}
	.paging .number {
		width: 40px;
		justify-content: center;
		height: 30px;			
		line-height: 30px;
	}
	.paging .right {
		font-size: 30px;
	}
/*end paging*/

/*--------------------------------------------------------*/
/*Hộp*/
/*--------------------------------------------------------*/

/*start item-lg*/
.item-lg {
	margin-bottom: 20px;
	display: block;
	position: relative;
	font-size: 14px;
}
	/*start content*/
	.item-lg .content {
		color: #666;
	}
		/*start picture*/
		.item-lg	.picture {
			display: block;
		}
		.item-lg .picture img {
			max-width: 750px;
			width: 100%;			
		}
		@media screen and (max-width: 767px) {
			.item-lg .picture img {
				margin-bottom: 10px;
			}
		}
		/*end picture*/

		/*start name*/
		.item-lg .name {
			font-size: 123.08%;
			color: #666;
			margin-bottom: 10px;
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
			.item-lg .name .type-property {
				font-size: 92.86%;
				display: inline-block;
				margin-right: 5px;
			}
		/*end*/

		/*start subname*/
		.item-lg .sub-name {
			font-size: 100%;
			color: #666;
			margin-bottom: 10px;
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			text-transform: uppercase;
		}
		/*end*/

		/*start type-real*/
		.item-lg .type-real {
			margin-bottom: 10px;
		}
			.item-lg .type-real i {
				margin-right: 9px;
				height: 16px;
				width: 16px;
				text-align: center;
				line-height: 16px;
				font-size: 133.33% !important;
				color: #666;
			}
			.item-lg .type-real span {
				color: #666;
			}
		/*end*/

		/*start status*/
		.item-lg .status {            
			margin-bottom: 10px;
		}
			.item-lg .status i {
				margin-right: 9px;
				height: 16px;
				width: 16px;
				text-align: center;
				line-height: 16px;				
			}
				.item-lg .status i.done {
					color: #54b40d;
				}
				.item-lg .status i.working {
					color: #d41212;
				}
			.item-lg .status span {
				color: #666;
			}
		/*end*/

		/*start convenient*/
		.item-lg .convenient {
			display: block;
			margin-bottom: 10px;
			color: #666;
		}
			.item-lg .convenient div {
				margin-right: 15px;
				display: inline-block;
			}
			.item-lg .convenient i {
				width: 16px;
				height: 16px;
				display: inline-block;
				vertical-align: -2px;
				margin-right: 9px;
			}
				.item-lg .convenient i.icon-area {
					background: url('/assets/icon/icon_dientich.png') no-repeat center center;
				}
				.item-lg .convenient i.icon-bathroom {
					background: url('/assets/icon/icon_phongtam.png') no-repeat center center
				}
				.item-lg .convenient i.icon-bedroom {
					background: url('/assets/icon/icon_phongngu.png') no-repeat center center
				}
				.item-lg span {

				}
		/*end convenient*/

		/*start address*/
		.item-lg .address {
			margin-bottom: 10px;
			overflow: hidden;
			color: #666;
			width: 100%;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
			.item-lg .address i {
				margin-right: 9px;
			}
		/*end*/

		/*start price*/
		.item-lg .price {
			font-size: 13px;
		}
			.item-lg .price i {
				margin-right: 9px;
			}
			.item-lg .price > .number {
				display: inline-block;
				border-radius: 30px;
				font-weight: bolder;
				font-size: 100%;
			}
			.item-lg .price > .number.sale {
				color: #ff6511;
			}
			.item-lg .price > .number.rent {
				color: #038ed1;
			}
			.item-lg .price > .number.zestimate {
				color: #54b40d;
			}
		/*end*/

		/*start detail*/
		.item-lg .detail {
			text-align: justify;
			margin-bottom: 10px;
			display: block;
			height: 90px;
			color: #666;
		}
		/*end*/

		/*start btn more*/
		.item-lg .btn-more {
			text-align: right;
		}
			.item-lg .btn-more a {
				color: #54b40d;
			}
			.item-lg .btn-more a:hover {
				color: #ff6511;
			}
		/*end*/

		/*start function*/
		.item-lg .function {
			border-top: 1px solid #eee;
			border-bottom: 1px solid #eee;
			padding: 10px 0;
			margin-bottom: 10px;
		}
			.item-lg .function a {
				display: inline-block;
				margin-right: 20px;
				padding: 0;
				vertical-align: middle;
			}
				.item-lg .function a:hover {
					color: #ff6511;
				}
		/*end*/

	/*end content*/
/*end item-lg*/

/*start item-sm*/
.item-sm {
	border: 1px solid #ddd;
	width: 260px;
	color: #666;
	border-radius: 2px;
	/*margin-bottom: 20px;*/
	background-color: #fff;
	margin: 15px auto;
}
	.item-sm:hover {
		border: 1px solid #54b40d;
		box-shadow: 0px 0px 3px #54b40d;
	}
		.item-sm a:hover {
			text-decoration: none;
		}

	/*start img*/
	.item-sm > .picture {
		position: relative;
	}
		.item-sm img {
			width: 100%;
		}
		.item-sm .badge-new {
			position: absolute;
			height: 32px;
			width: 75px;
			right: -9px;
			top: 6px;
			background: url('/assets/icon/icon-badge.png') no-repeat center center;
		}
	/*end*/

	.item-sm .info {
		color: #666;
		font-size: 13px;
		padding: 17px 10px 0 10px;
		display: block;
	}

	/*start title*/
	.item-sm .title {
		margin-bottom: 10px;
		font-size: 123.08%;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		padding: 0 3px;
		color: #666;
		text-transform: uppercase;
	}
	/*end*/

	/*start type-real*/
	.item-sm .type-real {
		margin-bottom: 10px;
	}
		.item-sm .type-real i {
			margin-right: 4px;
			height: 16px;
			width: 16px;
			text-align: center;
			line-height: 16px;
			font-size: 133.33%;
			color: #666;
		}
		.item-sm .type-real span {
			color: #666;
		}
	/*end*/

	/*start status*/
	.item-sm .status {
		margin-bottom: 10px;
	}
	.item-sm .status i {
		margin-right: 5px;
		height: 16px;
		width: 16px;
		text-align: center;
		line-height: 16px;
	}
		.item-sm .status i.done {
			color: #54b40d;
		}
		.item-sm .status i.working {
			color: #d41212;
		}
	.item-sm .status span {		
		color: #666;
	}
	/*end*/

	/*start address*/
	.item-sm .address {
		text-align: justify;
		margin-bottom: 10px;
		max-height: 36px;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: #666;
	}
		.item-sm .address i {
			margin-right: 5px;
		}
	/*end*/

	/*start convenient*/
	.item-sm .convenient {
		display: -webkit-flex;
		display: -moz-flex;
		display: -o-flex;
		display: flex;
		margin-bottom: 10px;
	}
		.item-sm .convenient div {
			margin-right: 15px;
		}
		.item-sm .convenient i {
			width: 16px;
			height: 16px;
			display: inline-block;
			vertical-align: -2px;
			margin-right: 4px;
		}
			.item-sm .convenient i.icon-area {
				background: url('/assets/icon/icon_dientich.png') no-repeat center center;
			}
			.item-sm .convenient i.icon-bathroom {
				background: url('/assets/icon/icon_phongtam.png') no-repeat center center
			}
			.item-sm .convenient i.icon-bedroom {
				background: url('/assets/icon/icon_phongngu.png') no-repeat center center
			}
			.item-sm span {

			}
	/*end convenient*/

	/*start price*/
	.item-sm .price {
		font-size: 13px;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;		
	}
		.item-sm .price i {
			margin-right: 5px;
		}
		.item-sm .price > .number {
			display: inline-block;
			border-radius: 30px;
			font-weight: bolder;
		}			
		.item-sm .price > .number.sale {
			color: #ff6511;
		}
		.item-sm .price > .number.rent {
			color: #038ed1;
		}
		.item-sm .price > .number.zestimate {
			color: #54b40d;
		}
	/*end*/

	/*start promotion*/
	.promotion {
		position: absolute;
		bottom: 10px;
		left: 10px;
		color: #fff;
		background-color: rgba(0,0,0,0.7);
		padding: 5px;
		border-radius: 5px;
	}
		.promotion i {

		}
	/*end*/

	/*start function*/
	.item-sm > .function {
		margin: 0 10px 10px 10px;
		border-top: 1px solid #ddd;
		padding-top: 10px;
		text-align: center;
	}
		.item-sm > .function a {
			display: inline-block;
			margin: 0 10px;
			padding: 0;
			vertical-align: middle;
		}
			.item-sm > .function a:hover {
				color: #ff6511;
			}
	/*end*/
/*end item-sm*/

/*start distributor-item*/
.distributor-item {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	max-width: 150px;
	font-size: 12px;
}
	.distributor-item:hover {
		border: 1px solid #54b40d;
		box-shadow: 0px 0px 2px #54b40d;
	}
	.distributor-item .picture {
		width: 100%;
		margin-bottom: 7px;
	}
		.distributor-item img {
			width: 100%;
		}
	.distributor-item .name {
		text-align: center;
		margin-bottom: 7px;
	}	
	.distributor-item .price {
		text-align: center;
		border: 1px dashed #ccc;
		margin-bottom: 7px;
		color: #ff6511;
		padding: 2px 0;
	}
	.distributor-item .function {
		text-align: center;
	}
		.distributor-item .function a:hover {
			text-decoration: underline;
		}
/*end*/

/*start block*/
.block {

}
	/*start Title*/
	.block > .title {
		text-align: center;
		text-transform: uppercase;
		font-size: 20px;
		margin-bottom: 25px;
		position: relative;
		transition: 0.2s;
		color: #666;
	}
	.block > .title > a {
		color: #666;
		transition: 0.2s;
		position: relative;
	}
		.block > .title > a:before {
			content: '';
			position: absolute;
			width: 300px;
			height: 5px;
			background: url('/assets/icon/line.png') no-repeat center center;
			right: 100%;
			display: block;
			top: calc(50% - 2.5px);
			margin-right: 20px;
		}
		.block > .title > a:after {
			content: '';
			position: absolute;
			width: 300px;
			height: 5px;
			background: url('/assets/icon/line.png') no-repeat center center;
			left: 100%;
			display: block;
			top: calc(50% - 2.5px);
			transform: rotate(180deg);
			-o-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
			margin-left: 20px;
		}
		@media screen and (max-width: 767px) {
			.block > .title > a:before,
			.block > .title > a:after {
				width: 0;
			}
		}
		.block a.link:hover {
			text-decoration: none;
			color: #54b40d;
		}/*
	.block i {
		font-size: 86%;
	}*/
	/*end Title*/

	/*start content*/
	.block .content {
		display: block;
	}
	/*end content*/
/*end block*/

/*start block-info*/
.block-info {

}
	.block-info > .title {
		text-align: left;
		text-transform: uppercase;
		margin-bottom: 20px;
		position: relative;
		transition: 0.2s;
		color: #666;		
	}
	.block-info > .title .text {
		color: #666;
		font-size: 20px;
	}
	.block-info .date {
		font-size: 12px;
		color: #999;
	}
/*end block-info*/

/*start lineblock*/
.line-block {
	margin-bottom: 20px;
}
	/*start title*/
	.line-block > .title {
		font-size: 20px;
		border-bottom: 1px solid #eee;
		margin-bottom: 20px;
		color: #666;		
	}
	/*end*/
	
	/*start content*/
	.line-block > .content {
		padding: 0 20px;
	}
	/*end*/
/*end*/

/*start normal-block*/
.normal-block {

}
	/*start title*/
	.normal-block > .title {
		font-size: 15px;
		margin-bottom: 7px;
		color: #999;
	}
	/*end*/
/*end normal-block*/

/*--------------------------------------------------------*/
/*Button*/
/*--------------------------------------------------------*/

/*start btn-icon-top*/
.btn-icon-top {
	display: block;
	padding: 5px;
	background-color: transparent;
	border: transparent;
	color: #666;
}
	.btn-icon-top > i {
		display: block;
		margin: 0 auto;
	}
		.btn-icon-top:hover > i {
			background-position: 0 -16px;
		}
	.btn-icon-top:hover > span {
		color: #ff6511;
	}
/*end*/

/*--------------------------------------------------------*/
/*Tab*/
/*--------------------------------------------------------*/
.nav-tabs {

}
	.nav-tabs > li {		
	}
	.nav-tabs > li > a {
		color: #666;
		padding: 4px 7px;
	}
		.nav-tabs > li.active > a:link,
		.nav-tabs > li.active > a:active {
			color: #fff;
			background-color: #54b40d;
		}

/*--------------------------------------------------------*/
/*Custom Dropdown-menu*/
/*--------------------------------------------------------*/
.dropdown-menu .row-fluid div {
	padding: 0;
}
	.dropdown-menu .row-fluid a {
		display: block;
		padding: 3px 20px;
		color: #333;
	}

/*--------------------------------------------------------*/
/*Custom slick*/
/*--------------------------------------------------------*/
.slick {
	position: relative;
}
	.slider-control {
		position: absolute;
		top: calc(50% - 20px);
		height: 32px;
		width: 32px;
		border: 0px;
		outline: none;
		background: url('/assets/icon/icon-arrow.png') no-repeat;
	}
	@media screen and (max-width: 845px) {
		.slider-control {
			display: none !important;
		}
	}
		.slider-control.prev {
			left: -50px;
		}
			.slider-control.prev:hover {
				background-position: 0 -32px;
			}
		.slider-control.next {
			background-position: -32px 0;
			right: -50px;
		}
			.slider-control.next:hover {
				background-position: -32px -32px;
			}
	.slick-slide {
		outline: none;
	}
	.slick-dots {
		bottom: -10px !important;
	}
		.slick-dots > li > i {
			width: 6px;
			height: 6px;
			display: block;
			margin: 5px auto;
			background: url('/assets/icon/circle.png') no-repeat;
			border: 0px solid;
			outline: none;
		}
		.slick-dots > li.slick-active > i {
			background-position: -6px 0;
		}

/*--------------------------------------------------------*/
/*Custom button*/
/*--------------------------------------------------------*/
.btn-custom-default {
	background-color: #eee;
	color: #666;
}

/*--------------------------------------------------------*/
/*Custom Modal*/
/*--------------------------------------------------------*/

/*start Modal*/
.modal {
	color: #666;
}
	.modal .btn-default {
		color: #666;
	}
/*end*/

/*start Modal Signin*/
#signin label {
	font-weight: normal;
	font-size: 93.33%;
}
	#signin .signup-now {
		color: #999;
		border-bottom: 1px dashed #ccc;
	}
/*end*/

/*start Modal Picture*/
.modal-show-picture {	
}
	.modal-show-picture .modal-dialog {
		width: 90%;		
		position: relative;
		margin: 5px auto;
	}
	.modal-show-picture button {
		position: absolute;
		top: 15px;
		right: 20px;		
	}
	.modal-show-picture img {
		width: 100%;
    max-height: calc(100vh - 45px);
    max-width: calc(100vw - 50px);
	}
/*end*/

/*--------------------------------------------------------*/
/*Notice*/
/*--------------------------------------------------------*/
.notice {
	padding: 10px;
	z-index: 2;
	text-align: center;
	background-color: #038ed1;
	color: #fff;
	font-weight: bold;
	display: block;
}
/*
*/

/*--------------------------------------------------------*/
/*Image gallery*/
/*--------------------------------------------------------*/

.gallery-popup {
	position: fixed;
	top: 0;
	left: 0;
  z-index: 1050;
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

	.gallery-popup .gallery-container {
		width: calc(90vw - 20px);
		height: calc(90vh - 20px);
    background-color: #f5f5f5;
    border: 1px solid #ddd;
		display: flex;
		display: -ms-flex;
		display: -webkit-flex;
		flex-direction: column;
    -webkit-flex-direction: column;
    position: relative;
	}

		.gallery-popup .gallery-container .close-button {
			position: absolute;
			top: 0;
			right: 5px;
		}

		.gallery-popup .gallery-container .image-view-panel {
			height: 100%;
			display: flex;
			display: -webkit-flex;
		  align-items: center;
		  -webkit-align-items: center;
		  justify-content: center;
		  -webkit-justify-content: center;
		  padding: 5px;
		}

			.gallery-popup .gallery-container .image-view-panel .image {
				max-width: 100%;
			}

		.gallery-popup .gallery-container .image-list-panel {
			border-top: 1px solid #ddd;
			background-color: #e5e5e5;
			min-height: 70px;
			max-height: 70px;
			padding: 5px;
			box-sizing: content-box;
			text-align: center;
			overflow: hidden;
		}

			.gallery-popup .gallery-container .image-list-panel .item-list {
				display: inline-block;
				white-space: nowrap;
			}

				.gallery-popup .gallery-container .image-list-panel .item-list .item {
					display: inline-block;
					height: 70px;
					opacity: .7;
					transition: 0.5s;
				}

					.gallery-popup .gallery-container .image-list-panel .item-list .item:hover,
					.gallery-popup .gallery-container .image-list-panel .item-list .item.selected {
						opacity: 1;
					}

					.gallery-popup .gallery-container .image-list-panel .item-list .item img {
						height: 100%;
					}

/*--------------------------------------------------------*/
/*end*/
/*--------------------------------------------------------*/
