/*start general*/
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
	margin: 0;
	padding: 0;
}
a:hover {
	text-decoration: none;
}
.dropdown-menu {
	border-radius: 2px;
}
	.dropdown-menu a {
		transition: 0.2s;
	}
/*end general*/

/*start header*/
header {
	height: 60px;
}
	header .header-fixed {
		border-bottom: 1px solid #ddd;
		box-shadow: 0px 0px 2px #ccc;
		height: 60px;
		transition: 0.3s;
	}

	/*start fixed header*/
	.header {            
		padding: 0 10px;
		height: 100%;
		display: flex;
	}
	
		/*start logo*/
		.logo {
			height: 100%;
			width: 220px;
			display: flex;
			transition: 0.3s;
		}
			.logo a {
				display: block;
				align-self: center;
			}
			.logo img {
				width: 100%;
				transition: 0.3s;
			}
		/*end logo*/

		/*start sitemap*/
		.sitemap {
			margin: auto 20px;
		}        
			.sitemap > ul {
				display: flex;
				display: -webkit-flex;
				display: -moz-flex;
				display: -o-flex;
			}
				.sitemap > ul > li {
					padding: 0 10px;
				}
		.sitemap button[type="button"] {
			color: #666;
			font-size: 15px;
			transition: 0.2s;
		}
			.sitemap button[type="button"]:hover {
				text-decoration: none;                
				color: #54b40d;
			}
		.sitemap .dropdown-menu {
			margin-top: 8px;
		}
		.sitemap .dropdown-menu a:hover {
			background-color: #54b40d;
			color: #f5f5f5;
		}
		.sitemap button {
			padding-left: 0;
			padding-right: 0;
		}        
		/*end sitemap*/

		/*start switch-button*/
		.switch-button {
			margin: auto 0;
			margin-left: auto;
			margin-right: 10px;
		}
			.switch-button label {
				cursor: pointer;
				margin: 0;
				font-weight: normal;
			}
			.switch-button span {
				color: #666;
				padding: 4px 7px;
				background-color: none;
				border-radius: 4px;
			}
				.switch-button span a {
					color: #666;
				}
			.switch-button input {
				position: absolute;
				left: -99999px;
			}
			.switch-button input:checked ~ span {
				background-color: #ff6511;
				color: #fff;				
			}
			.switch-button label:last-child input:checked ~ span {
				background-color: #038ed1;
				color: #fff;
			}
		/*end*/
		
		/*start function-button*/
		.function-button {            
			margin: auto 0;
			margin-left: auto;
			margin-right: 10px;
		}
			.function-button button {
				background-color: #ff6511;
				border-color: #ff6511;
				transition: 0.2s;
			}
				.function-button button:hover {
					background-color: #ac440b;
					border-color: #ac440b;
				}
			.function-button .dropdown-menu {
				margin-top: 10px;
			}
				.function-button .dropdown-menu a:hover {
					background-color: #ff6511;
					color: #f5f5f5;
				}
		/*end function-button*/

		/*start user-box*/
		.user-box {
			margin: auto 0;
		}
			.user-box a {
				padding: 9px 0;
				display: block;
				color: #666;
				transition: 0.2s;
			}
				.user-box a:hover {
					text-decoration: none;
					color: #54b40d;
				}
				.user-box a:hover .img-user {
					background: url('/assets/icon/login-hover.png') no-repeat;
				}
		.user-box .img-user {
			width: 26px;
			max-width: 26px;
			height: 26px;
			max-height: 26px;
			background: url('/assets/icon/login.png') no-repeat;
			display: inline-block;
			vertical-align: middle;
			transition: 0.2s;
		}
			/*start dropdown-menu of user-box*/
			.user-box .dropdown-menu {
				margin-top: 6px;
				left: -90px !important;
			}
			.user-box .dropdown-menu a:hover {
				background-color: #54b40d;
				color: #f5f5f5;
			}
			.user-box .dropdown-menu .title {
				font-size: 13px;
				padding: 0 18px;
			}
			.user-box .dropdown-menu .social-link {
				text-align: center;
				margin: 5px 0;
			}
				.user-box .dropdown-menu .social-link a {
					padding: 3px 5px;
					display: inline-block !important;
				}
					.user-box .dropdown-menu .social-link a:hover {
						background-color: #fff;
					}
			/*end dropdown-menu of user-box*/
		/*end user-box*/

		/*start user-box-login*/
		.user-box-login {

		}
			.user-box-login a {
				padding-left: 0;
				padding-right: 0;
				display: block;
				color: #666;
				transition: 0.2s;
			}
				.user-box-login a:hover {
					text-decoration: none;
					color: #54b40d;
				}
			.user-box-login .dropdown-menu {
				margin-top: 4px;
			}
				.user-box-login .dropdown-menu a:hover {
					background-color: #54b40d;
					color: #f5f5f5;
				}
			.user-box-login img {
				width: 30px;
				max-width: 30px;
				height: 30px;
				max-height: 30px;
			}
		/*end user-box-login*/

		/*start mini menu*/
		.btn-mini-menu {
			margin: auto 0;
			margin-left: auto;
			margin-right: 20px;
			display: none;
		}
			.btn-mini-menu a {
				display: block;
			}
		/*end mini menu*/

	/*end fixed header*/
/*end header*/

/*start main*/
.main {
	
}
/*end main*/

/*start footer*/
footer {
	background-color: #f2f2f2;
	font-size: 13px;
	box-shadow: 0px 11px 25px #111;;
}
	footer .content {
		padding: 20px 0;
		margin: 0;
	}
		footer .content > .item {
			padding-top: 30px;
		}
			footer .content > .item .form-group {
				padding: 10px 0;
				text-align: right;
			}						
				footer .content > .item .form-group button {	
					margin-top: 10px;					
				}
			footer .content .title {
				color: #666;
				font-weight: bold;
			}
			footer .content .details {

			}
				footer .content .details li {
					margin: 10px 0;
				}
					footer .content .details li a {
						color: #999;
					}
					footer .content .details li a:hover {
						color: #54b40d;
					}
	footer .information {
	}
		footer .information hr {
			border-color: #ccc;
			width: 100%;
			margin-top: 0;
			margin-bottom: 20px;
		}
		footer .information p {
			font-size: 12px;
			text-align: center;
			color: #333;
		}
	footer .social {
		margin-top: 14px;
	}		
		footer .social li {
			margin-bottom: 10px;
		}
/*end footer

/*--------------------------------------------------------*/
/*Công cụ*/
/*--------------------------------------------------------*/

/*start search-box*/
.search-box {
	width: 550px;   
	border: 1px solid #000;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 4px;
	text-align: center;
	padding-bottom: 10px;
}
	.search-box .title {
		text-align: center;
		color: #ff6511;		
	}
		.search-box .title h3 {
			font-weight: bold;
		}
	.search-box .tab {
		text-align: center;         
		color: #fff;                    
	}               
		.search-box .tab label {
			padding: 10px;
		}               
			.search-box .tab label:hover {
				cursor: pointer;
			}
			.search-box .tab label input {
				position: absolute;
				left: -99999px;
				background-color: #ccc;
			}                       
			.search-box .tab label span {                           
				font-size: 13px;
				transition: 0.2s;
			}
			.search-box .tab label input:checked ~ span,
			.search-box .tab label input:hover ~ span,
			.search-box .tab label input:focus ~ span {
				color: #ff6511;
			}
			.search-box .tab label input ~ .sale {
				display: inline-block;
				width: 32px;
				height: 32px;
				vertical-align: -10px;                          
				background: url('/assets/icon/Real_Estate_Investment-32-hover.png') no-repeat center center;                          
				margin-right: 10px;
				transition: 0.2s;
			}
			.search-box .tab label input ~ .rent {
				display: inline-block;
				width: 32px;
				height: 32px;
				vertical-align: -10px;                          
				background: url('/assets/icon/Rent_Home-32-hover.png') no-repeat center center;                           
				margin-right: 10px;
				transition: 0.2s;
			}				
	.search-box form {
		padding: 0 70px;
	}
		.search-box form .form-group-custom {
			position: relative;
			margin-bottom: 10px;
		}
		/*search-keyword*/
		.search-box form .search-keyword {
			padding-right: 120px;
		}
		/*button search*/
		.search-box form .btn-search {
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			padding: 0 10px;
			display: flex;
		}
			.search-box form .btn-search button {
				height: 100%;
				width: 24px;
				transition: 0.5s;
				border: none;
				text-decoration: none;
				outline: none;
				vertical-align: middle;
				padding: 0;
				background: url('/assets/icon/search-home.png') no-repeat center center;
			}
				.search-box form .btn-search button:hover {
					background: url('/assets/icon/search-home-hover.png') no-repeat center center;
				}
			.search-box form .btn-search .btn-more {
				font-size: 12px;				
				color: #ccc;
				cursor: pointer;
				height: 100%;
				line-height: 31px;
			}	
		/*separator*/
		.search-box form .separator {
			height: 100%;
			position: absolute;
			top: 0;
			right: 55px;
		}
			.search-box form .separator span {
				height: 100%;
				line-height: 33px;
				color: #ccc;
			}
		/*history search*/
		.search-box form .history-search {
			height: 100%;
			position: absolute;
			top: 0;
			right: 65px;
		}
			.search-box form .history-search button {
				padding-left: 0;
				padding-right: 0;
				color: #ccc;
			}
		/*button btn-plus*/
		.search-box form .btn-search-plus {
			display: none;
			margin-right: 5px;
		}
			.search-box form .btn-search-plus img {
				width: 15px;
				height: 15px;
			}
/*end search-box*/

/*start paging*/
.paging {
	justify-content: center;
	display: flex;
	color: #666;
	margin-bottom: 25px;
}
	.paging div {
		height: 30px;
		width: 30px;
		display: flex;
		cursor: pointer;
	}
		.paging div:hover {
			color: #54b40d;
		}
	.paging .left {
		font-size: 30px;
	}
	.paging .number {
		width: 40px;
		justify-content: center;
		height: 30px;			
		line-height: 30px;
	}
	.paging .right {
		font-size: 30px;
	}
/*end paging*/

/*--------------------------------------------------------*/
/*Hộp*/
/*--------------------------------------------------------*/

/*start item-lg*/
.item-lg {
	font-size: 13px;
	margin-bottom: 20px;
}
	/*start content*/
	.item-lg .content {
		color: #666;
	}
		/*start picture*/
		.item-lg .picture img {
			max-height: 350px;
			margin-bottom: 5px;
			width: 100%;
		}
		/*end picture*/

		/*start name*/
		.item-lg .name {
			font-size: 21px;
			color: #666;
		}
		/*end*/

		/*start status*/
		.item-lg .status {            
			margin-bottom: 5px;
		}
		.item-lg .status i.done {
			vertical-align: middle;
			display: inline-block;
			width: 8px;
			height: 8px;
			background: url('/assets/icon/done.png') no-repeat center center;
		}
		.item-lg .status span {
			color: #666;
			margin-left: 5px;
			font-size: 12px;
		}
		/*end*/

		/*start convenient*/
		.item-lg .convenient {
			display: flex;
			margin: 5px 0;
		}
			.item-lg .convenient div {
				margin-right: 15px;
			}
			.item-lg .convenient i {
				width: 16px;
				height: 16px;
				display: inline-block;
				vertical-align: -2px;
			}
				.item-lg .convenient i.icon-area {
					background: url('/assets/icon/icon_dientich.png') no-repeat center center;
				}
				.item-lg .convenient i.icon-bathroom {
					background: url('/assets/icon/icon_phongtam.png') no-repeat center center
				}
				.item-lg .convenient i.icon-bedroom {
					background: url('/assets/icon/icon_phongngu.png') no-repeat center center
				}
				.item-lg span {

				}
		/*end convenient*/

		/*start address*/
		.item-lg .address {
			margin-bottom: 5px;
		}
		/*end*/

		/*start ticker*/
		.item-lg .price {
			margin-bottom: 10px;
			border: 1px dashed #ccc;
			text-align: center;
			color: #ff6511;	
			height: 25px;
			line-height: 25px;
		}
		/*end*/

		/*start detail*/
		.item-lg .detail {
			text-align: justify;
			margin-bottom: 10px;
		}
		/*end*/

		/*start btn more*/
		.item-lg .btn-more {
			text-align: right;
		}
			.item-lg .btn-more a {
				color: #54b40d;
			}
			.item-lg .btn-more a:hover {
				color: #ff6511;
			}
		/*end*/
	/*end content*/
/*end item-lg*/

/*start item-sm*/
.item-sm {
	border: 1px solid #ddd;
	width: 260px;
	font-size: 13px;
	color: #888;
	border-radius: 2px;
	margin-bottom: 20px;
}
	.item-sm:hover {
		border: 1px solid #54b40d;
		box-shadow: 0px 0px 3px #54b40d;
	}
	.item-sm a {
		color: #666;
		padding: 10px 10px 0 10px;
		display: flex;
		flex-direction: column;
	}
		.item-sm a:hover {
			text-decoration: none;
		}
		.item-sm img {
			width: 100%;
			height: 170px;
		}
	.item-sm a > .title {
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 17px;	
	}
	.item-sm .status {
		margin-bottom: 10px;
	}
		.item-sm .status img {
			width: 8px;
			height: 8px;
			vertical-align: middle;
		}
		.item-sm .status span {		
			font-size: 12px;
			color: #aaa;
		}
	.item-sm .address {
		text-align: justify;
		margin-bottom: 10px;
	}

	/*start convenient*/
	.item-sm .convenient {
		display: flex;
		margin: 5px 0;
	}
		.item-sm .convenient div {
			margin-right: 15px;
		}
		.item-sm .convenient i {
			width: 16px;
			height: 16px;
			display: inline-block;
			vertical-align: -2px;
		}
			.item-sm .convenient i.icon-area {
				background: url('/assets/icon/icon_dientich.png') no-repeat center center;
			}
			.item-sm .convenient i.icon-bathroom {
				background: url('/assets/icon/icon_phongtam.png') no-repeat center center
			}
			.item-sm .convenient i.icon-bedroom {
				background: url('/assets/icon/icon_phongngu.png') no-repeat center center
			}
			.item-sm span {

			}
	/*end convenient*/

	.item-sm .price {
		margin-bottom: 10px;
		border: 1px dashed #ccc;
		text-align: center;
		color: #ff6511;	
		height: 25px;
		line-height: 25px;
	}	
	.item-sm .function {
		display: flex;
		margin: 0 10px 10px 10px;
		border-top: 1px solid #ccc;
		padding-top: 10px;
		justify-content: center;
	}
		.item-sm .function a {
			display: block;
			margin: 0 10px;
			padding: 0;
			vertical-align: middle;
		}
			.item-sm .function a:hover {
				color: #ff6511;
			}
/*end item-sm*/

/*start distributor-item*/
.distributor-item {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	max-width: 150px;
	font-size: 12px;
}
	.distributor-item:hover {
		border: 1px solid #54b40d;
		box-shadow: 0px 0px 2px #54b40d;
	}
	.distributor-item .picture {
		width: 100%;
		margin-bottom: 7px;
	}
		.distributor-item img {
			width: 100%;
		}
	.distributor-item .name {
		text-align: center;
		margin-bottom: 7px;
	}	
	.distributor-item .price {
		text-align: center;
		border: 1px dashed #ccc;
		margin-bottom: 7px;
		color: #ff6511;
		padding: 2px 0;
	}
	.distributor-item .function {
		text-align: center;
	}
		.distributor-item .function a:hover {
			text-decoration: underline;
		}
/*end*/

/*start block*/
.block {

}
	/*start Title*/
	.block > .title {
		text-align: center;
		text-transform: uppercase;
		font-size: 20px;
		margin-bottom: 20px;
		position: relative;
		transition: 0.2s;
		color: #666;
	}
	.block > .title > a {
		color: #666;
		transition: 0.2s;
		position: relative;
	}
		.block > .title > a:before {
			content: '';
			position: absolute;
			width: 300px;
			height: 5px;
			background: url('/assets/icon/line.png') no-repeat center center;
			right: 100%;
			display: block;
			top: calc(50% - 2.5px);
			margin-right: 20px;
		}
		.block > .title > a:after {
			content: '';
			position: absolute;
			width: 300px;
			height: 5px;
			background: url('/assets/icon/line.png') no-repeat center center;
			left: 100%;
			display: block;
			top: calc(50% - 2.5px);
			transform: rotate(180deg);
			-o-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
			margin-left: 20px;
		}
		.block a.link:hover {
			text-decoration: none;
			color: #54b40d;
		}
		.block a.link:hover i.icon-link {
			background: url('/assets/icon/link-12-hover.png') no-repeat center center;
		}
	.block i.icon-link {
		position: relative;
		vertical-align: middle;
		width: 12px;
		height: 12px;
		background: url('/assets/icon/link-12.png') no-repeat center center;
		display: inline-block;
		transition: 0.2s;
	}
	/*end Title*/

	/*start content*/
	.block .content {
		display: block;
	}
	/*end content*/
/*end block*/

/*start block-info*/
.block-info {

}
	.block-info > .title {
		text-align: left;
		text-transform: uppercase;
		margin-bottom: 20px;
		position: relative;
		transition: 0.2s;
		color: #666;		
	}
	.block-info > .title .text {
		color: #666;
		font-size: 20px;
	}
	.block-info .date {
		font-size: 12px;
		color: #999;
	}
/*end block-info*/

/*start lineblock*/
.line-block {
	margin-bottom: 20px;
}
	/*start title*/
	.line-block > .title {
		font-size: 20px;
		border-bottom: 1px solid #eee;
		margin-bottom: 7px;
		color: #666;
	}
	/*end*/
	
	/*start content*/
	.line-block > .content {
		
	}
	/*end*/
/*end*/

/*start normal-block*/
.normal-block {

}
	/*start title*/
	.normal-block > .title {
		font-size: 15px;
		margin-bottom: 7px;
		color: #999;
	}
	/*end*/
/*end normal-block*/

/*--------------------------------------------------------*/
/*Button*/
/*--------------------------------------------------------*/

/*start btn-icon-top*/
.btn-icon-top {
	display: block;
	padding: 5px;
	background-color: transparent;
	border: transparent;
	color: #666;
}
	.btn-icon-top > i {
		display: block;
		margin: 0 auto;
	}
		.btn-icon-top:hover > i {
			background-position: 0 -16px;
		}
	.btn-icon-top:hover > span {
		color: #ff6511;
	}
/*end*/

/*--------------------------------------------------------*/
/*Icon*/
/*--------------------------------------------------------*/

/*start icon*/
.icon {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
}
.icon-favor {
	background: url('/assets/icon/icon-favor.png') no-repeat;
	width: 16px;
	height: 16px;
}
	.icon-favor:hover {
		background-position: 0 -16px;
	}
.icon-buy {
	background: url('/assets/icon/icon-buy.png') no-repeat;
	width: 16px;
	height: 16px;
}
	.icon-buy:hover {
		background-position: 0 -16px;
	}
.icon-share {
	background: url('/assets/icon/icon-share.png') no-repeat;
	width: 16px;
	height: 16px;
}
	.icon-share:hover {
		background-position: 0 -16px;
	}
.icon-zestimate {
	background: url('/assets/icon/icon-zestimate.png') no-repeat;
	width: 20px;
	height: 16px;
}
	.icon-zestimate:hover {
		background-position: 0 -16px;
	}
.icon-mini-menu {
	background: url('/assets/icon/menu.png') no-repeat;
	width: 30px;
	height: 30px;
}
.icon-phone {
	background: url('/assets/icon/icon-phone.png') no-repeat;
	width: 15px;
	height: 15px;
}
.icon-address {
	background: url('/assets/icon/icon-address.png') no-repeat;
	width: 15px;
	height: 15px;
}
.icon-skype {
	background: url('/assets/icon/icon-skype.png') no-repeat;
	width: 15px;
	height: 15px;
}
.icon-mail {
	background: url('/assets/icon/icon-mail.png') no-repeat;
	width: 16px;
	height: 15px;
}
.icon-check {
	background: url('/assets/icon/icon-check.png') no-repeat;
	width: 15px;
	height: 15px;
}
.icon-facebook {
	background: url('/assets/icon/icon-facebook.png') no-repeat;
	width: 32px;
	height: 32px;
}
.icon-googleplus {
	background: url('/assets/icon/icon-googleplus.png') no-repeat;
	width: 32px;
	height: 32px;
}
.icon-youtube {
	background: url('/assets/icon/icon-youtube.png') no-repeat;
	width: 32px;
	height: 32px;
}
/*end icon*/
