/* #start general */
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;    
}
/* #end general */

/*#start header*/
header {
    margin-bottom: 0px !important;
    padding: 0 !important;
    background-color: #fff;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    position: relative;
    box-shadow: 0px 2px 10px #eee;
    -webkit-box-shadow: 0px 2px 10px #eee;
    -moz-box-shadow: 0px 2px 10px #eee;
}
header.scroll {
    box-shadow: 0px 2px 10px #ccc;
    -webkit-box-shadow: 0px 2px 10px #ccc;
    -moz-box-shadow: 0px 2px 10px #ccc;
}
/* #start logo */
header > a.logo {
    float: left;    
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    height: 50px; 
    margin: 10px;   
}
    header > a.logo > img {
        height: 100%;
    }
@media (scroll-top: 10px) {
    header > .logo {
        margin: 5px 10px;
    }
}

/* Mini logo */
header > .mini-logo {
    display: inline-block;
    padding: 9px 10px;
}
header > .mini-logo > span {
    font-weight: bolder;
    font-size: 1.5em;
    font-family: 'Segoe UI';
    color: #6d7c81;
}
/* #end logo */
/* #start sitemap */
header > ul.sitemap {
    float: left;
    margin: 28px 10px 10px 10px !important;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}
@media(max-width: 1000px) {
    header > ul.sitemap {
        display: none;
    }
}
header > ul.sitemap > li {
    display: inline-block;
    margin: 0 10px;
}
header > ul.sitemap > li > a {
    display: block;
    color: #993300;
    padding: 0;
}
header > ul.sitemap > li > a:hover {
    color: #ffcc00;
    text-decoration: none;
}
/* #start mini-sitemap */
header > .button-mini-sitemap {
    float: left;
    margin: 15px 10px 10px 10px;
    width: 40px;
    height: 40px;
    background: url('/assets/icon/mini-sitemap.png') no-repeat center left;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    display: none;
}
@media (max-width: 1000px) {
    header > .button-mini-sitemap {
        display: block;
    }
}
@media (max-width: 768px) {
    header > .button-mini-sitemap {
        margin: 5px;
    }
}
ul.mini-sitemap {
    top: 65px;
    display: none;      
    padding: 0 15px;
    width: 100%;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    -moz-transition: 0.5s;
    position: absolute;
    background-color: white;
    box-shadow: 0px 3px 10px #ccc;
    -webkit-box-shadow: 0px 3px 10px #ccc;
    -moz-box-shadow: 0px 3px 10px #ccc;
}
ul.mini-sitemap.scroll-mini-sitemap {       
}
@media(min-width: 1000px) {
    .mini-sitemap {
        display: none !important;
    }
}
@media(max-width: 768px) {
    .mini-sitemap {
        margin-top: 0;
        top: 50px !important;          
    }
    .mini-sitemap.scroll-mini-sitemap {
        margin-top: 0;
    }
}   
ul.mini-sitemap > li {
    margin: 10px 0;
}   
ul.mini-sitemap > li:last-of-type {
    color: ##d9534f;    
}   
    ul.mini-sitemap > li:last-of-type > a {
        display: inline-block !important;
    }
    ul.mini-sitemap > li:last-of-type > img {
        display: inline-block;
        margin-bottom: 5px;
    }
/* #end mini-sitemap */
/* #end sitemap */
/* #start posting */
header > .posting {
    float: left;
    margin: 20px 5px 5px 5px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}    
header > .posting.scroll-posting {
    margin: 30px 5px 5px 5px;
}
/* #end posting */
/* #start user */
header > .user {
    display: none;
    float: right;
    margin: 10px 10px 15px 10px;
    width: 222px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}
header > .user > .login {
    padding-left: 30px;
    line-height: 30px;
    height: 26px;
    background: url('/assets/icon/login.png') no-repeat center left;
    float: left;
    margin: 10px;
}
header > .user > .register {
    padding-left: 30px;
    line-height: 30px;
    height: 26px;
    background: url('/assets/icon/register.png') no-repeat center left;
    float: left;
    margin: 10px;
}
header a {
    color: #6d7c81;
}
header a:hover {
    text-decoration: none;
    color: #337ab7;
}
/* #start user-mini */
header > .user-mini {
    float: right;
    height: 40px;
    width: 40px;
    margin: 15px 5px 5px 5px;
    position: relative;
    background: url('/assets/icon/mini-user.png') no-repeat center center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}
header > .user-mini.scroll-user-mini {
    margin: 25px 5px 5px 5px;
}
@media (max-width: 768px) {
    header > .user-mini {
        margin: 5px;
    }
    header > .user-mini.scroll-user-mini {
        margin: 5px;
    }
}
header > .user-mini > .user-mini-content {
    position: absolute;
    top: 45px;
    left: -80px;
    width: 125px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px #ccc;
    -webkit-box-shadow: 0px 0px 10px #ccc;
    -moz-box-shadow: 0px 0px 10px #ccc;
    display: none;
}
header > .user-mini > .user-mini-content > .login {
    padding-left: 30px;
    line-height: 30px;
    height: 26px;
    background: url('/assets/icon/login.png') no-repeat center left;
    margin: 10px;
}
header > .user-mini > .user-mini-content > .register {
    padding-left: 30px;
    line-height: 30px;
    height: 26px;
    background: url('/assets/icon/register.png') no-repeat center left;
    margin: 10px;
}
/* #end user-mini */
/* #end user */
.header {
    height: 50px;
    display: block;
}
@media(max-width: 768px) {
    .header {
        height: 60px;
        display: block;
    }
}
/*#end header*/

/* #start main */
main {    
}
    /* #start aside */
    aside {
        min-width: 200px;
        width: 200px;                 
        position: fixed;
        height: calc(100vh - 50px);
        padding: 5px;
        float: left;
        background-color: #fff;
        border-right: 1px solid #eee;
        box-shadow: 0px 2px 10px #eee;
        -webkit-box-shadow: 0px 2px 10px #eee;
        -moz-box-shadow: 0px 2px 10px #eee;
    }
    /* #end aside */
    /* #start content */
    .content {            
        padding: 30px 5px;
        width: calc(100% - 200px);
        float: right;
        
    }
    @media(max-width: 992px) {
        .content {
            width: 100%;
        }
    }
    @media(max-width: 768px) {
        .content {
            padding: 5px;
        }
    }
    /* #end content */
/* #end main */