/*
  Custom media
*/

.clearleft {
  clear: left;
}
.clearright {
  clear: right;
}
.pull-right-xs {
  float: right;
}
.pull-left-xs {
  float: left;
}

@media (min-width: 768px) {
  .pull-right-sm {
    float: right;
  }
  .pull-left-sm {
    float: left;
  }
}

@media (min-width: 992px) {
  .pull-right-md {
    float: right;
  }
  .pull-left-md {
    float: left;
  }
}
@media (min-width: 1200px) {
  .pull-right-lg {
    float: right;
  }
  .pull-left-lg {
    float: left;
  }
}

/*
  / Custom media
*/

/*
  Custom layout
*/

.margin-0 {
  margin: 0;
}

.margin-5 {
  margin: 5px;
}

.margin-top-bottom-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.margin-left-5 {
  margin-left: 5px;
}

.padding-bottom-0 {
  padding-bottom: 0;
}

.inline-block {
  display: inline-block;
}

.no-underline {
  text-decoration: none !important;
}

.if-before-empty {
  display: none;
}

  *:empty + .if-before-empty {
    display: initial;
  }

.progress-inside {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  background-color: transparent;
}

.min-width-cell {
  width: 1%;
  white-space: nowrap;
}

.pointer-cursor {
  cursor: pointer;
}

.btn-check-toggle {
  width: 31px;
}

table + div {
  text-align: center;
  padding: 10px;
  background-color: #fafafa;
}

  table + div:empty {
    display: none;
  }

/*
  / Custom layout
*/

/*
  Loading
*/

body > .loading-page {
  display: none;
  font-size: 20px;
  color: #ffffff;
  position: fixed;
  top: 10px;
  left: 15px;
  text-shadow: 0px 0px 10px #fff;
  z-index: 50;
}

body.loading {
  cursor: progress;
  opacity: .9;
}

  body.loading > .loading-page {
    display: block;
  }

/*
  Loading
*/

/*
  Popup
*/

body.no-scroll {
  overflow: hidden;
}

.popup-full-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

    .popup-full-container.on {
        display: block;
    }

    .popup-full-container .popup-close {
        position: fixed;
        width: 100%;
        height: 100%;
    }
    
    @keyframes turn-on-popup-full {
        0% {
            background-color: transparent;
        }
        50% {
            background-color: rgba(0, 0, 0, 0);
        }
        100% {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    .popup-full-container .popup-full {
      background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      width: 100%;
      height: 100%;
      text-align: center;
      vertical-align: middle;
      align-items: center;
      justify-content: center;
    }

      .popup-full-container.on .popup-full {
        animation: turn-on-popup-full 0.5s;
      }

        @keyframes turn-on-popup-content { 
            0% {
                opacity: 0;
                transform: scale(0.7) rotate(-10deg);
            }
            100% {
                opacity: 1;
                transform: scale(1);
            }
        }

        .popup-full-container > .popup-full > .popup-content {
            text-align: left;
            position: relative;
            overflow: auto;
        }

            .popup-full-container.on  > .popup-full > .popup-content {
                animation: turn-on-popup-content 0.5s;
            }

/* 
  / Popup
*/

/*
  Item control
*/

.item-control {
  position: absolute;
}

  .item-control [data-toggle="dropdown"] {
    color: #888;
    opacity: 0.3;
  }

    .item-control [data-toggle="dropdown"]:hover,
    .item-control [data-toggle="dropdown"]:focus {
      opacity: 1;
    }

/*
  Item control
*/

/*
  Language
*/

.language {
  color: #555;
}

.language img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

/*
  Language
