@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?8qwfaj');
    src:    url('fonts/icomoon.eot?8qwfaj#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?8qwfaj') format('truetype'),
        url('fonts/icomoon.woff?8qwfaj') format('woff'),
        url('fonts/icomoon.svg?8qwfaj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-text_align_right:before {
    content: "\e901";
}
.icon-text_align_center:before {
    content: "\e900";
}
.icon-text_align_left:before {
    content: "\e903";
}
.icon-text_align_justify:before {
    content: "\e902";
}
.icon-chevron-left:before {
    content: "\e906";
}
.icon-chevron-right:before {
    content: "\e907";
}
.icon-restroom:before {
    content: "\e911";
}
.icon-area:before {
    content: "\e913";
}
.icon-hash:before {
    content: "\e914";
}
.icon-sign-in:before {
    content: "\e90e";
}
.icon-facebook:before {
    content: "\e910";
}
.icon-phone:before {
    content: "\e90c";
}
.icon-envelop:before {
    content: "\e90d";
}
.icon-clock:before {
    content: "\e904";
}
.icon-info:before {
    content: "\e90a";
}
.icon-newspaper:before {
    content: "\e908";
}
.icon-compass:before {
    content: "\e909";
}
.icon-bedroom:before {
    content: "\e90b";
}
.icon-home:before {
    content: "\e912";
}
.icon-upload:before {
    content: "\e90f";
}
.icon-location:before {
    content: "\e905";
}

