<%
=begin
	params: log
=end
	
	return log.delete if log.user.blank?
	
	user = case log.user_type
		when 'user'
			return log.delete if log.interact_user.blank?
			"<a href='/thanh-vien/#{log.interact_user.id}'>#{log.interact_user.full_name}</a>".html_safe
		when 'contact_user'
			return log.delete if log.interact_contact_user.blank?
			log.interact_contact_user.name
		when 'guess'
			'Khách'
		end
%>

<li>
	<i class="fa fa-user bg-yellow"></i>
	<div class="timeline-item">
		<span class="time"><i class="fa fa-clock-o"></i> <%= log.created_at.strftime '%H:%M' %></span>
		<% case log.action %>
		<% when 'create' %>
			<h3 class="timeline-header">
				<a href="/thanh-vien/<%= log.user.id %>"><%= log.user.full_name %></a> đã đăng ký vào hệ thống
			</h3>
		<% end %>
	</div>
</li>