<%
=begin
	params: log
=end
	
	if log.user.blank?
		log.delete
		return
	end
	
	user_name = case log.user_type
		when 'user'
			if log.interact_user.blank?
				log.delete
				return
			end
			"<a href='/thanh-vien/#{log.interact_user.id}'>#{log.interact_user.full_name}</a>".html_safe
		when 'contact_user'
			if log.interact_contact_user.blank?
				log.delete
				return
			end
			log.interact_contact_user.name
		when 'guess'
			'Khách'
		end
%>

<li>
	<i class="fa fa-user bg-yellow"></i>
	<div class="timeline-item">
		<span class="time"><i class="fa fa-clock-o"></i> <%= log.created_at.strftime '%H:%M' %></span>
		<% case log.action %>
		<% when 'create' %>
			<h3 class="timeline-header">
				<%
					new_user_name = "<a href='#{view_user_path(log.user)}'>#{log.user.full_name}</a>"
				%>
				<%= t('users._log_item.create', name: new_user_name).html_safe %>
			</h3>
		<% end %>
	</div>
</li>