<% 
=begin
	params: @status(*), @user
=end

%>

<% if @status == 0 %>
	<article class="row">
		<article class="col-md-6 col-md-offset-3">
			<article class="box box-success">
				<section class="box-header">
					<h4 class="box-title">Tài khoản của bạn đã được kích hoạt</h4>
				</section>
				<section class="box-body">
					<p class="text-center">
						<span class="btn-group">
							<a href="/active_account_signin" class="btn btn-primary" title="Đăng nhập">Đăng nhập</a>
							<a href="/active_account_signin?remember" class="btn btn-default" title="Đăng nhập và ghi nhớ">và ghi nhớ</a>
						</span>
						<a href="/" class="btn btn-default" title="Về trang chủ">Về trang chủ</a>
					</p>
				</section>
			</article>
		</article>
	</article>
<% elsif @status == 1 %>
	<article class="row">
		<article class="col-md-6 col-md-offset-3">
			<article class="box box-success">
				<section class="box-header">
					<h4 class="box-title">Chúc mừng. Bạn vừa kích hoạt tài khoản thành công</h4>
				</section>
				<section class="box-body">
					<p class="text-center">
						<span class="btn-group">
							<a href="/active_account_signin" class="btn btn-primary" title="Đăng nhập">Đăng nhập</a>
							<a href="/active_account_signin?remember" class="btn btn-default" title="Đăng nhập và ghi nhớ">và ghi nhớ</a>
						</span>
						<a href="/" class="btn btn-default" title="Về trang chủ">Về trang chủ</a>
					</p>
				</section>
			</article>
		</article>
	</article>
<% elsif @status == 2 %>
	<%
		if !@user.email.index('@gmail.com').nil?
			mail = 'http://mail.google.com'
		elsif !@user.email.index('@yahoo.com').nil?
			mail = 'http://mail.yahoo.com'
		end 
	%>
	<article class="row">
		<article class="col-md-6 col-md-offset-3">
			<article class="box box-warning">
				<section class="box-header">
					<h4 class="box-title">Hãy tiếp tục vào địa chỉ <%= mail.nil? ? 'mail' : ('<a href="' + mail + '">mail</a>').html_safe %> mới để xác nhận</h4>
				</section>
				<section class="box-body">
					<p>Hãy vào địa chỉ <%= mail.nil? ? 'mail' : ('<a href="' + mail + '">mail</a>').html_safe %> mới để xác nhận.</p>						
				</section>
			</article>
		</article>
	</article>
<% elsif @status == 3 %>
	<article class="row">
		<article class="col-md-6 col-md-offset-3">
			<article class="box box-success">
				<section class="box-header">
					<h4 class="box-title">Chúc mừng. Bạn đã hoàn tất việc thay đổi email</h4>
				</section>
				<section class="box-body">
					<p class="text-center">
						<a href="/" class="btn btn-default">Về trang chủ</a>
					</p>
				</section>
			</article>
		</article>
	</article>
<% end %>