<article class="row">
	<article class="col-md-6 col-md-offset-3">
		<article class="box box-success">
			<section class="box-header">
				<h4 class="box-title">Chúc mừng. Bạn vừa kích hoạt tài khoản thành công.</h4>
			</section>
			<section class="box-body">
				<p class="text-center">
					<span class="btn-group">
						<a href="/active_account_signin" class="btn btn-primary">Đăng nhập</a>
						<a href="/active_account_signin?remember" class="btn btn-default">và ghi nhớ</a>
					</span>
					<a href="/" class="btn btn-default">Về trang chủ</a>
				</p>
			</section>
		</article>
	</article>
</article>