<% content_for :scripts do %>
  <script type="text/javascript" src="/assets/users/forgot_password.js"></script>
<% end %>
<% 
	@title = 'Quên mật khẩu'
%>

<div class="row">
	<form class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 form" id="forgot_form">
		<div>
			<article class="box box-default box-primary">
				<section class="box-header with-border">
					<h2 class="box-title">
						Quên mật khẩu
					</h2>
				</section>
				<section class="box-body">

			    <!-- Email -->

			    <article class="form-group">
			      <label for="email">Email</label>
	          <sup class="required-label"></sup>
			      <div class="input-group">
	            <div class="input-group-addon">
	              <i class="fa fa-envelope"></i>
	            </div>
	            <input name="email" data-constraint="required" type="text" class="form-control" id="email" />
	          </div>
			    </article>

			    <!-- / Email -->

				</section>
			</article>	
		</div>

		<div>

			<!-- Button -->

	    <article class="box box-solid">
	      <section class="box-body row">
	        <div class="margin-top-bottom-5 col-md-12">
	          <button type="submit" class="btn btn-primary btn-block btn-flat animate-icon"><span class="icon pull-left fa fa-check"></span><b><%= t 'user.view.create.finish' %></b></button>
	        </div>
	      </section>
	    </article>

	    <!-- /Button -->

		</div>
	</form>
</div>