<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/shared/form_back.css">
<% end %>

<% content_for :scripts do %>
	<script type="text/javascript" src="/assets/shared/form_back.js"></script>
	<script type="text/javascript" src="/assets/users/signin.js"></script>
<% end %>

<% 
	@title = t 'user.view.signin.page_title'
%>

<div class="row">
	<form class="form col-md-4 col-md-offset-3" id="signin_form">
		<article class="box box-default">
			<section class="box-header with-border">
				<h2 class="box-title">
					<%= t 'user.view.signin.form_title' %>
				</h2>
			</section>
			<section class="box-body">

				<!-- Account name -->

				<article class="form-group">
					<label for="account"><%= t 'user.attribute.account' %></label>
					<div class="input-group">
						<div class="input-group-addon">
							<i class="fa fa-user"></i>
						</div>
						<input name="user[account]" data-constraint="required" type="text" class="form-control" id="account" />
					</div>
				</article>

				<!-- / Account name -->

				<!-- Password -->

				<article class="form-group">
					<label for="password"><%= t 'user.attribute.password' %></label>
					<div class="input-group">
						<div class="input-group-addon">
							<i class="fa fa-lock"></i>
						</div>
						<input name="user[password]" data-constraint="required" class="form-control" type="password" id="password" />
					</div>
				</article>

				<!-- / Password -->

				<!-- Remember -->

				<article class="form-group pull-left">
					<div class="checkbox no-margin">
						<label><input type="checkbox" name="remember" />Ghi nhớ</label>
					</div>
				</article>

				<article class="form-group pull-right">
					<a href="">Quên mật khẩu</a>
				</article>

				<!-- / Remember -->

				<div class="social-auth-links text-center">
	        <a aria-click="facebook-login" href="javascript:void(0)" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Đăng nhập bằng <b>Facebook</b></a>
	        <a href="javascript:void(0)" class="btn btn-block btn-social btn-google-plus btn-flat"><i class="fa fa-google-plus"></i> Đăng nhập bằng <b>Google+</b></a>
	      </div>

			</section>

		</article>	

		<!-- Button -->

		<article class="box box-solid">
			<section class="box-body row">
				<div class="margin-top-bottom-5 col-md-12">
					<button type="submit" class="btn btn-primary btn-block btn-flat animate-icon"><b><%= t 'user.view.signin.finish' %></b><span class="icon pull-right fa fa-sign-in"></span>></button>
				</div>
			</section>
		</article>

		<!-- /Button -->

	</form>
</div>