<% content_for :stylesheets do %>
    <link rel="stylesheet" href="/assets/properties/create.css" />
<% end %>

<% content_for :scripts do %>
    <script src="/assets/properties/create.js"></script>
<% end %>

<div class="row">
  <!-- #start navigator -->
  <nav>
    <ul>
      <li>
        <a href="../../index.html">
          Trang chủ
        </a>
      </li>
      <li>
        <a href="#">
          Đăng tin
        </a>
      </li>
    </ul>
  </nav>
  <!-- #end navigator -->
</div>
<div class="row">
  <!-- #start content -->
  <form class="form-horizontal" name="DangTin" id="DangTin" role="form" method="POST" action="" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded">
    <article class="content col-md-8">
      <section class="main-title">THÔNG TIN TÓM TẮT</section>
      <!-- #Start item "Loại hình giao dịch" -->
      <ul class="item">
        <li class="item-title">
          <span>Loại hình giao dịch</span>
        </li>
        <li class="form-group normal">
          <label class="control-label col-sm-3" for="LoaiHinhGiaoDich">Lựa chọn:</label>
          <div class="col-sm-4">
            <select name="LoaiHinhGiaoDich" class="form-control" id="LoaiHinhGiaoDich">
              <option data-type="0">Bán</option>
              <option data-type="1">Cho thuê</option>
            </select>
          </div>
        </li>
      </ul>
      <!-- #End item "Loại hình giao dịch" -->
      <!-- #Start item "Giá bán mong muốn" -->
      <ul class="item">
        <li class="item-title">
          <span>Giá bán mong muốn</span>
          <a href="#" class="support-button" data-value="#supportGiaBanMongMuon"></a>
          <section class="support-text" id="supportGiaBanMongMuon">
            <b>Giá bán mong muốn:</b> Quý khách có thể sử dụng chức năng <a href="#">"định giá nhà"</a> hoặc <a href="#">"định giá khu vực"</a> để tham khảo giá thị trường nhà đất giao dịch gần nhất.<br>
            <b>Thỏa thuận:</b> Giá bán sẽ được thỏa thuận khi Người mua gặp trực tiếp Người bán.
          </section>
        </li>
        <li class="form-group normal">
          <label class="control-label col-sm-3" for="Gia">Giá mong muốn:</label>
          <div class="col-sm-4">
            <input name="GiaBanMongMuon" class="form-control required only-number" id="Gia" data-separate='.'>
          </div>
          <div class="checkbox col-sm-4">
            <label><input type="checkbox" name="ThoaThuan" id="ThoaThuan"> Giá Thoả thuận</label>
          </div>
        </li>
        <li class="form-group ele-1">
          <label class="control-label col-sm-3" for="DonViTienTe">Đơn vị tính:</label>
          <div class="col-sm-3">
            <select name="DonViTienTe" class="form-control" id="DonViTienTe">
              <option data-value="VND">VNĐ</option>
              <option data-value="USD">USD</option>
              <option data-value="SJC">SJC</option>
            </select>
          </div>
          <div class="col-sm-1">
            <span>trên</span>
          </div>
          <div class="col-sm-4">
            <select name="DonViDienTich" class="form-control" id="DonViDienTich">
              <option value="Tổng diện tích">Tổng diện tích</option>
              <option value="Mét vuông">Mét vuông</option>
            </select>
          </div>
        </li>
        <li class="form-group normal">
          <label class="control-label col-sm-3 hidden-xs">&nbsp;
          </label>
          <div class="col-sm-4 checkbox">
            <label><input type="checkbox" id="CoTheThuongLuong"> Có thể thương lượng</label>
          </div>
        </li>
      </ul>
      <!-- #End item "Giá bán mong muốn" -->
      <!-- #Start item "Vị trí" -->
      <ul class="item">
        <li class="item-title"><span>Vị trí</span></li>
        <li class="form-group normal">
          <label class="control-label col-sm-3" for="TinhTP">Tỉnh/Thành phố:</label>
          <div class="col-sm-4">
            <select name="TinhTP" class="form-control" id="TinhTP">
              <option>TPHCM</option>
              <option>Hà Nội</option>
            </select>
          </div>
        </li>
        <li class="form-group normal">
          <label class="control-label col-sm-3" for="QuanHuyenThiXa">Quận/Huyện/Thị xã:</label>
          <div class="col-sm-4">
            <select name="QuanHuyenThiXa" class="form-control" id="QuanHuyenThiXa">
              <option>Quận 1</option>
              <option>Quận 2</option>
              <option>Quận 3</option>
              <option>Quận 4</option>
              <option>Quận 5</option>
            </select>
          </div>
        </li>
        <li class="form-group normal">
          <label class="control-label col-sm-3" for="Phuong">Phường:</label>
          <div class="col-sm-4">
            <select name="Phuong" class="form-control" id="Phuong">
              <option>Cầu Ông Lãnh</option>
              <option>Đakao</option>
              <option>Cầu Kho</option>
            </select>
          </div>
        </li>
        <li class="form-group normal">
          <label class="control-label col-sm-3" for="Duong">Đường:</label>
          <div class="col-sm-4">
            <select name="Duong" class="form-control" id="Duong">
              <option>Trần Hưng Đạo</option>
              <option>Điện Biên Phủ</option>
              <option>Cô Giang</option>
            </select>
          </div>
        </li>
        <li class="form-group normal">
          <label class="control-label col-sm-3" for="SoNha">Số nhà:</label>
          <div class="col-sm-4">
            <input name="SoNha" class="form-control" id="SoNha">
          </div>
        </li>
        <li class="form-group normal">
          <label class="control-label col-sm-3" for="LoaiDuong">Loại Đường:</label>
          <div class="col-sm-4">
            <select name="LoaiDuong" class="form-control" id="LoaiDuong">
              <option>Đường chính</option>
              <option>Đường nội bộ</option>
            </select>
          </div>
        </li>
        <li class="form-group normal">
          <label class="control-label col-sm-3 hidden-xs"></label>
          <div class="col-sm-2 radio">
            <label><input type="radio" name="MatTien-Hem" id="MatTien" value="Mặt tiền" checked> Mặt tiền</label>
          </div>
          <div class="col-sm-2 radio">
            <label><input type="radio" name="MatTien-Hem" id="Hem" value="Hẻm"> Hẻm</label>
          </div>
          <div class="col-sm-2 col-xs-4">
            <input name="VaoHem" type="hidden" class="form-control only-number required" size="2" id="VaoHem">
          </div>
          <div class="col-sm-1 col-xs-2">
            <span style="margin-left: -15px; display: none;">m<sup></sup></span>
          </div>
        </li>
        <li class="form-group ele-1">
          <label class="control-label col-sm-3 hidden-xs"></label>
          <div class="col-sm-4">
            <a href="#" id="XemBanDo">Xem vị trí trên bản đồ</a>
          </div>
          <div class="col-sm-4">
            <a href="#" id="DinhGiaTheoViTri">Định giá khu vực</a>
          </div>
        </li>
        <li class="form-group">
          <div class="col-sm-12 col-xs-12">
            <img src="/assets/product/icon_Bando.png" class="img-responsive" id="BanDo" style="display:none;">
          </div>
        </li>
      </ul>
      <!-- #End item "Vị trí" -->
      <!-- #Start item "Loại hình bất động sản" -->
      <ul class="item" id="groupLoaiHinhBDS">
        <li class="item-title">
          <span>Loại hình bất động sản</span>
          <a href="#" class="support-button" data-value="#supportLoaiHinhBDS"></a>
          <section class="support-text" id="supportLoaiHinhBDS">
            <b>Diện tích xây dựng:</b> Là phần đất có công trình xây dựng.<br>
            <b>Diện tích sử dụng:</b> Là tổng diện tích các sàn xây dựng kể cả ban công, tầng hầm, sân thượng.<br>
            <b>Diện tích khuôn viên:</b> Là tổng diện tích đất bao gồm cả phần diện tích vi phạm lộ giới, quy hoạch không được công nhận.
          </section>
        </li>
        <li class="form-group ele-2">
          <label class="control-label col-sm-3" for="LoaiHinh">Loại hình:</label>
          <div class="col-sm-4" id="groupLoaiHinh">
            <select name="LoaiHinh" class="form-control" id="LoaiHinh">
              <option data-type="0">Đất</option>
              <option data-type="1">Nhà</option>
              <option data-type="2">Căn hộ</option>
              <option data-type="3">Mặt bằng</option>
            </select>
          </div>
          <div class="col-sm-1">
            <span class="connecter">&gt;</span>
          </div>
          <div class="col-sm-4">
            <select name="PhanLoai_LoaiHinhBDS" class="form-control" id="PhanLoai_LoaiHinhBDS">
              <option data-show="0">Đất thổ cư</option>
              <option data-show="0">Trồng cây</option>
              <option data-show="1">Khác</option>
            </select>
          </div>
        </li>
        <li class="sub-item">
          <div class="line">
            <hr>
          </div>
          <div class="form-group" id="groupDienTichXayDung">
            <label class="control-label col-sm-4" for="DienTichXayDung">Diện tích xây dựng:</label>
            <div class="col-sm-3 col-xs-11"><input class="form-control only-number required" name="DienTichXayDung" id="DienTichXayDung"></div>
            <div class="col-sm-1 col-xs-1 unit">m<sup>2</sup></div>
          </div>
          <div class="form-group" id="groupDienTichSuDung">
            <label class="control-label col-sm-4" for="DienTichSuDung">Diện tích sử dụng:</label>
            <div class="col-sm-3 col-xs-11"><input class="form-control only-number required" name="DienTichSuDung" id="DienTichSuDung"></div>
            <div class="col-sm-1 col-xs-1 unit">m<sup>2</sup></div>
          </div>
          <div class="form-group" id="groupDienTichKhuonVien">
            <label class="control-label col-sm-4" for="DienTichKhuonVien">Diện tích khuôn viên:</label>
            <div class="col-sm-3 col-xs-11"><input class="form-control only-number required" name="DienTichKhuonVien" id="DienTichKhuonVien"></div>
            <div class="col-sm-1 col-xs-1 unit">m<sup>2</sup></div>
          </div>
          <div class="form-group" id="groupNgang">
            <label class="control-label col-sm-4" for="Ngang">Ngang:</label>
            <div class="col-sm-3 col-xs-11"><input class="form-control only-number required" name="Ngang" id="Ngang"></div>
            <div class="col-sm-1 col-xs-1 unit">m<sup>&nbsp;</sup></div>
          </div>
          <div class="form-group" id="groupDai">
            <label class="control-label col-sm-4" for="Dai">Dài:</label>
            <div class="col-sm-3 col-xs-11"><input class="form-control only-number required" name="Dai" id="Dai"></div>
            <div class="col-sm-1 col-xs-1 unit">m<sup>&nbsp;</sup></div>
          </div>
          <div class="form-group ele-3" id="groupHinhDang">
            <label class="control-label col-sm-4" for="NoTopHau">Hình dáng:</label>
            <div class="col-sm-4">
              <select class="form-control" id="NoHau">
                <option data-value="0">Nở hậu</option>
                <option data-value="1">Tóp hậu</option>
                <option data-value="2">Bình thường</option>
              </select>
            </div>
            <div class="col-sm-2 col-xs-5">
              <input name="Do_NoTopHau" class="form-control only-number required" size="2" id="Do_NoTopHau">
            </div>
            <div class="col-sm-1 col-xs-1 unit"><span>m</span></div>
          </div>
          <div class="form-group row" id="groupBangQuyHoachChiTiet">
            <label class="control-label col-sm-4 hidden-xs"></label>
            <div class="col-sm-6 col-xs-12" id="BangQuyHoachChiTiet"><a href="#">Bảng quy hoạch chi tiết</a></div>
          </div>
          <div class="form-group row" id="groupSoTang">
            <label class="control-label col-sm-4" for="SoTang">Số tầng:</label>
            <div class="col-sm-3 col-xs-11">
              <select class="form-control" name="SoTang" id="SoTang">
                <option>Trệt</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>&gt;4</option>
              </select>
            </div>
            <div class="col-sm-1 col-xs-1 unit"></div>
          </div>
          <div class="form-group row" id="groupWC">
            <label class="control-label col-sm-4" for="WC">WC:</label>
            <div class="col-sm-3 col-xs-11">
              <select class="form-control" name="WC" id="WC">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>&gt;4</option>
              </select>
            </div>
            <div class="col-sm-1 col-xs-1 unit"></div>
          </div>
          <div class="form-group row" id="groupPhongNgu">
            <label class="control-label col-sm-4" for="PhongNgu">Phòng ngủ:</label>
            <div class="col-sm-3 col-xs-11">
              <select class="form-control" name="PhongNgu" id="PhongNgu">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>&gt;4</option>
              </select>
            </div>
            <div class="col-sm-1 col-xs-1 unit"></div>
          </div>
          <div class="form-group row" id="groupHuongNha">
            <label class="control-label col-sm-4" for="HuongNha">Hướng nhà:</label>
            <div class="col-sm-3 col-xs-11">
              <select class="form-control" name="HuongNha" id="HuongNha">
                <option>Đông</option>
                <option>Tây</option>
                <option>Nam</option>
                <option>Bắc</option>
                <option>Đông-Bắc</option>
                <option>Đông-Nam</option>
                <option>Tây-Bắc</option>
                <option>Tây-Nam</option>
              </select>
            </div>
            <div class="col-sm-1 col-xs-1 unit"></div>
          </div>
          <div class="form-group row" id="groupNamXayDung">
            <label class="control-label col-sm-4" for="NamXayDung">Năm xây dựng:</label>
            <div class="col-sm-3 col-xs-11">
              <select class="form-control" name="NamXayDung" id="NamXayDung">
                <!-- js Xử lý-->
              </select>
            </div>
            <div class="col-sm-1 col-xs-1 unit"></div>
          </div>
          <div class="form-group row" id="groupChatLuongConLai">
            <label class="control-label col-sm-4" for="ChatLuongNhaConLai">Chất lượng nhà còn lại:</label>
            <div class="col-sm-3 col-xs-11"><input class="form-control only-number required" name="ChatLuongNhaConLai" id="ChatLuongNhaConLai"></div>
            <div class="col-sm-1 col-xs-1 unit">%</div>
          </div>
          <div class="form-group row" id="groupLoaiCongTrinhXayDung">
            <label class="control-label col-sm-4" for="LoaiCongTrinhXayDung">Phân loại nhà:</label>
            <div class="col-sm-4 col-xs-12">
              <select class="form-control" name="LoaiCongTrinhXayDung" id="LoaiCongTrinhXayDung">
                <option>Nhà cấp 1</option>
                <option>Nhà cấp 2</option>
                <option>Nhà cấp 3</option>
                <option>Nhà cấp 4</option>
                <option>Nhà tạm</option>
              </select>
            </div>
          </div>
        </li>
      </ul>
      <!-- #End item "Loại hình bất động sản" -->
      <!-- #Start item "Nội dung tin đăng" -->
      <ul class="item">
        <li class="item-title"><span>Nội dung tin đăng</span></li>
        <li class="form-group normal">
          <label class="control-label col-sm-3" for="TieuDe">Tiêu đề:</label>
          <div class="col-sm-9">
            <input name="TieuDe" class="form-control required" id="TieuDe">
          </div>
        </li>
        <li class="form-group normal">
          <label class="control-label col-sm-3" for="NoiDung">Nội dung:</label>
          <div class="col-sm-9">
            <textarea name="NoiDung" class="form-control required" id="NoiDung" style="height: 150px"></textarea>
          </div>
        </li>
      </ul>
      <!-- #End item "Nội dung tin đăng" -->
      <!-- #Start item "Hồ sơ pháp lý" -->
      <ul class="item" id="groupHoSoPhapLy">
        <li class="item-title"><span>Hồ sơ pháp lý</span></li>
        <li class="form-group normal">
          <label class="control-label col-sm-3" for="LoaiHoSoPhapLy">Loại:</label>
          <div class="col-sm-4">
            <select name="LoaiHoSoPhapLy" class="form-control" id="LoaiHoSoPhapLy">\
              <option data-type="0">Sổ đỏ</option>
              <option data-type="1">Sổ hồng</option>
              <option data-type="2">Khác</option>
            </select>
          </div>
        </li>
        <li class="form-group normal" id="groupLoaiHoSoPhapLy_Khac" style="display: none">
          <label class="control-label col-sm-3 hidden-xs"></label>
          <div class="col-sm-4">
            <input name="LoaiHoSoPhapLy_Khac" class="form-control required" id="LoaiHoSoPhapLy_Khac">
          </div>
        </li>
      </ul>
      <!-- #End item "Hồ sơ pháp lý" -->
      <!-- #Start item "Tình trạng quy hoạch" -->
      <ul class="item" id="groupTinhTrangQuyHoach">
        <li class="item-title"><span>Tình trạng quy hoạch</span></li>
        <li class="form-group normal">
          <label class="control-label col-sm-3" for="LoaiTinhTrangQuyHoach">Loại:</label>
          <div class="col-sm-4">
            <select name="LoaiTinhTrangQuyHoach" class="form-control" id="LoaiTinhTrangQuyHoach">
              <option data-type="0">Ổn định</option>
              <option data-type="1">Một phần</option>
              <option data-type="2">Toàn bộ</option>
              <option data-type="3">Khác</option>
            </select>
          </div>
        </li>
        <li class="form-group normal" id="groupLoaiTinhTrangQuyHoach_Khac" style="display: none">
          <label class="control-label col-sm-3 hidden-xs"></label>
          <div class="col-sm-4">
            <input name="LoaiTinhTrangQuyHoach_Khac" class="form-control required" id="LoaiTinhTrangQuyHoach_Khac">
          </div>
        </li>
      </ul>
      <!-- #End item "Tình trang quy hoạch" -->
      <!-- #Start item "Tiện nghi khác" -->
      <ul class="item" id="groupTienNghiKhac">
        <li class="item-title"><span>Tiện nghi</span></li>
        <li class="form-group ele-1">
          <div class="checkbox">
            <label class="col-xs-6 col-sm-3 col-md-4 col-lg-3"><input type="checkbox"> Tầng hầm</label>
            <label class="col-xs-6 col-sm-3 col-md-4 col-lg-3"><input type="checkbox"> Tầng lửng</label>
            <label class="col-xs-6 col-sm-3 col-md-4 col-lg-3"><input type="checkbox"> Sân thượng</label>
            <label class="col-xs-6 col-sm-3 col-md-4 col-lg-3"><input type="checkbox"> Gara ôtô</label>
            <label class="col-xs-6 col-sm-3 col-md-4 col-lg-3"><input type="checkbox"> Thang máy</label>
            <label class="col-xs-6 col-sm-3 col-md-4 col-lg-3"><input type="checkbox"> Hồ bơi</label>
          </div>
        </li>
      </ul>
      <!-- #End item "Tiện nghi khác" -->
      <!-- #Start item "Tiện ích khu vực" -->
      <ul class="item" id="groupTienIchKhuVuc">
        <li class="item-title"><span>Tiện ích khu vực</span></li>
        <li class="form-group ele-1">
          <div class="checkbox">
            <label class="col-xs-6 col-sm-3 col-md-4 col-lg-3"><input type="checkbox"> Siêu thị</label>
            <label class="col-xs-6 col-sm-3 col-md-4 col-lg-3"><input type="checkbox"> Chợ</label>
            <label class="col-xs-6 col-sm-3 col-md-4 col-lg-3"><input type="checkbox"> Bệnh viện</label>
            <label class="col-xs-6 col-sm-3 col-md-4 col-lg-3"><input type="checkbox"> Công viên</label>
            <label class="col-xs-6 col-sm-3 col-md-4 col-lg-3"><input type="checkbox"> Khu vui chơi</label>
            <label class="col-xs-6 col-sm-3 col-md-4 col-lg-3"><input type="checkbox"> Bến xe</label>
            <label class="col-xs-6 col-sm-3 col-md-4 col-lg-3"><input type="checkbox"> Khu dân cư</label>
            <label class="col-xs-6 col-sm-3 col-md-4 col-lg-3"><input type="checkbox"> Khu kinh doanh</label>
          </div>
        </li>
      </ul>
      <!-- #End item "Tiện nghi khác" -->
      <!-- #Start item "Đánh giá các đặc điểm khác" -->
      <ul class="item" id="groupDanhGiaCacDacDiemKhac">
        <li class="item-title">
          <span>Đánh giá các đặc điểm khác</span>
          <a href="#" class="support-button" data-value="#supportDanhGiaDacDiemKhac"></a>
          <section class="support-text" id="supportDanhGiaDacDiemKhac">
            Nhập đặc điểm tốt, xấu (nếu có) để phần mềm định giá được chính xác hơn.
          </section>
        </li>
        <li class="sub-item">
          <div class="sub-item-title">
            Điểm tốt
          </div>
          <div class="line">
            <hr>
          </div>
          <div class="form-group ele-1">
            <div class="checkbox">
              <label class="col-sm-12"><input type="checkbox"> Hẻm thông</label>
              <label class="col-sm-12"><input type="checkbox"> Có 2 mặt đường chính</label>
              <label class="col-sm-12"><input type="checkbox"> Có 2 mặt hẻm</label>
              <label class="col-sm-12"><input type="checkbox"> Có 1 mặt đường chính và 1 mặt hẻm</label>
              <label class="col-sm-12"><input type="checkbox"> Tiện làm quán cafe, nhà hàng, khách sạn</label>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="DiemTotKhac">Điểm tốt khác:</label>
            <div class="col-sm-9">
              <input name="DiemTotKhac" class="form-control" id="DiemTotKhac">
            </div>
          </div>
        </li>
        <li class="sub-item">
          <div class="sub-item-title">
            Điểm xấu
          </div>
          <div class="line">
            <hr>
          </div>
          <div class="form-group ele-1">
            <div class="checkbox">
              <label class="col-sm-12"><input type="checkbox"> Khu quy hoạch treo</label>
              <label class="col-sm-12"><input type="checkbox"> Gần chùa, nhà thờ, tang lễ</label>
              <label class="col-sm-12"><input type="checkbox"> Đường hẻm đâm thẳng vào nhà</label>
              <label class="col-sm-12"><input type="checkbox"> Gần chân cầu, trụ điện, ống cống</label>
              <label class="col-sm-12"><input type="checkbox"> Tường chung không thể xây mới</label>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="DiemXauKhac">Điểm xấu khác:</label>
            <div class="col-sm-9">
              <input name="DiemXauKhac" class="form-control" id="DiemXauKhac">
            </div>
          </div>
        </li>
      </ul>
      <!-- #End item "Đánh giá các đặc điểm khác" -->
      <!-- #Start item "Hình ảnh" -->
      <ul class="item" id="groupHinhAnh">
        <li class="item-title"><span>Hình ảnh</span></li>
        <li class="form-group pic-ele">
          <label class="control-label col-sm-3" for="HinhAnh">Hình ảnh mô tả BĐS của bạn:</label>
          <div class="col-sm-9">
            <input type="file" name="HinhAnh" class="form-control required" id="HinhAnh">
          </div>
        </li>
        <li class="sub-item">
          <div class="form-group pic-ele" id="groupThemHinhAnh">
            <div class="col-sm-7 col-xs-12">
              <input type="file" name="HinhAnh" class="form-control" id="HinhAnh">
            </div>
            <div class="col-sm-3">
              <button class="btn btn-link" id="btnThemAnh">thêm ảnh +</button>
            </div>
          </div>
        </li>
      </ul>
      <!-- #End item "Hình ảnh" -->
      <!-- #Start Submit Button -->
      <ul class="item">
        <div class="free-supporter">Hoàn tất <a href="#" id="btnDienTiepThongTin">thông tin bổ sung</a> bên dưới để đăng tin đầy đủ và được phần mềm hỗ trợ định giá nhà</div>
        <li class="submit">
          <button type="submit" class="btn btn-primary">Đăng tin</button>
          <button type="reset" class="btn btn-danger">Xoá hết</button>
          <button type="submit" class="btn btn-default">Xem trước</button>
        </li>
      </ul>
      <!-- #End Submit Button -->
    </article>
  </form>
  <!-- #end content -->
  <!-- #start guide -->
  <article class="guide col-md-4 custom-hidden-992">
    <b>Nhà cấp 1:</b><br>
    Kết cấu chịu lực bằng bê tông cốt thép hoặc xây gạch có niên hạn sử dụng quy định trên 80 năm.<br>
    Bao che nhà và tường ngăn cách bằng bê tông cốt thép hoặc xây gạch.<br>
    Mái bằng bê tông cốt thép hoặc lợp ngói, có hệ thống cách nhiệt tốt.<br>
    Vật liệu hoàn thiện trong ngoài nhà tốt.<br>
    Tiện nghi sinh hoạt đầy đủ, tiện lợi, không hạn chế số tầng.<br>
    <b>Nhà cấp 2:</b><br>
    Kết cấu chịu lực bằng bê tông cốt thép hoặc xây gạch có niên hạn sử dụng quy định 70 năm.<br>
    Bao che nhà và tường ngăn cách bằng bê tông cốt thép hoặc xây gạch.<br>
    Vật liệu hoàn thiện trong ngoài nhà tương đối tốt.<br>
    Tiện nghi sinh hoạt bình thường, số tầng không hạn chế.<br>
    <b>Nhà cấp 3:</b><br>
    Kết cấu chịu lực kết hợp giữa bê tông cốt thép và xây gạch hoặc xây gạch niên đại sử dụng trên 40 năm.<br>
    Bao che nhà và tường ngăn bằng gạch.<br>
    Vật liệu hoàn thiện bằng vật liệu phổ thông.<br>
    <b>Nhà cấp 4:</b><br>
    Kết cấu chịu lực bằng gạch, gỗ. Niên hạn sử dụng trên 30 năm.<br>
    Tường bao che và tường ngăn bằng gạch.<br>
    Vật liệu hoàn thiện chất lượng thấp.<br>
    <b>Nhà tạm:</b><br>
    Kết cấu chịu lực bằng tre, gỗ.<br>
    Tiện nghi, điều kiện sinh hoạt thấp.<br>
  </article>
  <!-- #end guide -->
</div>