<% content_for :stylesheets do %>
    <link rel="stylesheet" href="/assets/properties/view.css" />
<% end %>

<% content_for :scripts do %>
    <script src="/assets/properties/view.js"></script>
<% end %>

<!-- #start general infos -->
<section class="block-box highlight">
  <section class="block-title" data-after="Thời gian đăng: 6/10/2014">
    <span>Nhà phố Quận 7</span>
  </section>
  <section class="block-content general-infos row">
    <section class="image">
      <a href="#" class="favorite-button"></a>
      <img src="../../Contents/image/product/BDS05.jpg">
    </section>
    <section class="infos">
      <ul class="image-infos">
        <li class="item">
          <img src="../../Contents/image/product/BDS01.jpg">
        </li>
        <li class="item">
          <img src="../../Contents/image/product/BDS02.jpg">
        </li>
        <li class="item">
          <img src="../../Contents/image/product/BDS03.jpg">
        </li>
        <li class="item">
          <img src="../../Contents/image/product/BDS04.jpg">
        </li>
      </ul>
      <ul class="text-infos">
        <li>
          <span class="title">Mã tin:</span>
									<span class="value" style="
                                    border: 1px solid #286090;
                                            border-radius: 4px;
                                            padding: 3px 6px;
                                            background-color: #286090;
                                            color: white;
                                    ">#RE01778</span>
        </li>
        <li>
          <span class="title">Loại:</span>
          <span class="value">Nhà phố</span>
        </li>
        <li>
          <span class="title">Diện tích:</span>
          <span class="value">200m<sup>2</sup></span>
        </li>
        <li>
          <span class="title">Địa chỉ:</span>
          <span class="value">Số 30, đường Trần Quốc Việt, quận 9, TP.HCM</span>
        </li>
      </ul>
    </section>
    <section class="cost">
      <div>
        <section class="money">
          $ 2.1 tỷ
        </section>
        <section class="currency">
          VNĐ
        </section>
      </div>
    </section>
  </section>
</section>
<!-- #end general infos -->
<!-- #start share box -->
<section class="share-box">
  <span class="description">Chia sẻ trên:</span>
  <a href="#" class="button"><img src="../../Contents/image/logo/facebook.png" /></a>
  <a href="#" class="button"><img src="../../Contents/image/logo/google.png" /></a>
  <a href="#" class="button"><img src="../../Contents/image/logo/youtube.png" /></a>
  <a href="#" class="button"><img src="../../Contents/image/logo/twitter.png" /></a>
</section>
<!-- #end share box -->
<!-- #start detail infos -->
<section class="block-box">
  <section class="block-title">
    Nội dung
  </section>
  <section class="block-content content-detail-infos">
    <h2 class="title">
      Cần tiền bán gấp...
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </section>
</section>
<section class="block-box">
  <section class="block-title">
    Thông tin chi tiết
  </section>
  <section class="block-content content-detail-infos">
    <ul class="row infos-list">
      <li class="item col-xs-6 col-sm-4 circle">
        <span>Diện tích xây dựng: <b>200m<sup>2</sup></b></span>
      </li>
      <li class="item col-xs-6 col-sm-4 circle">
        <span>Diện tích xây dựng: <b>200m<sup>2</sup></b></span>
      </li>
      <li class="item col-xs-6 col-sm-4 circle">
        <span>Diện tích xây dựng: <b>200m<sup>2</sup></b></span>
      </li>
      <li class="item col-xs-6 col-sm-4 circle">
        <span>Diện tích xây dựng: <b>200m<sup>2</sup></b></span>
      </li>
      <li class="item col-xs-6 col-sm-4 circle">
        <span>Diện tích xây dựng: <b>200m<sup>2</sup></b></span>
      </li>
    </ul>
  </section>
</section>
<section class="block-box">
  <section class="block-title">
    Tiện ích khu vực
  </section>
  <section class="block-content content-detail-infos">
    <ul class="row infos-list">
      <li class="item col-xs-6 col-sm-4">
        <span>Gần trung tâm mua sắm</span>
      </li>
      <li class="item col-xs-6 col-sm-4">
        <span>Gần bệnh viện</span>
      </li>
      <li class="item col-xs-6 col-sm-4">
        <span>Gần chợ</span>
      </li>
      <li class="item col-xs-6 col-sm-4">
        <span>Gần siêu thị</span>
      </li>
    </ul>
  </section>
</section>
<section class="block-box">
  <section class="block-title">
    Tiện nghi
  </section>
  <section class="block-content content-detail-infos">
    <ul class="row infos-list">
      <li class="item col-xs-6 col-sm-4">
        <span>Máy nước nóng</span>
      </li>
      <li class="item col-xs-6 col-sm-4">
        <span>Quầy rượu</span>
      </li>
      <li class="item col-xs-6 col-sm-4">
        <span>Hồ bơi</span>
      </li>
      <li class="item col-xs-6 col-sm-4">
        <span>Sân vườn</span>
      </li>
      <li class="item col-xs-6 col-sm-4">
        <span>Cây xanh</span>
      </li>
    </ul>
  </section>
</section>
<section class="block-box">
  <section class="block-title">
    Vị trí trên bản đồ
  </section>
  <section class="block-content map-infos">
    <img class="img-responsive" src="../../Contents/image/product/icon_Bando.png">
  </section>
</section>
<section class="block-box">
  <section class="block-title">
    Bất động sản liên quan
  </section>
  <section class="block-content">
    <article class="relative-filter">
      <span>Xem theo</span>
      <ul class="dropdown-search">
        <li>Nhà phố</li>
        <li>Dưới 500 triệu</li>
      </ul>
    </article>
    <!-- #start relative-product-list -->
    <ul class="relative-products-list row">
      <!-- #start product item -->
      <li class="col-md-4 col-sm-6 col-xs-12">
        <section class="product-item">
          <a class="favorite-button"></a>
          <a class="top-section" href="ChiTietSanPham.html">
            <h1 class="title">
              Nhà phố quận 9
            </h1>
            <section class="picture">
              <img src="../../Contents/image/product/BDS01.jpg">
            </section>
            <section class="property">
              <section class="bedroom">4</section>
              <section class="bathroom">5</section>
              <section class="area">100 m<sup>2</sup></section>
            </section>
          </a>
          <section class="bottom-section">
            <span>$ 2 tỷ</span>
            <div class="button">
              <a href="#" class="muathuebds-button"></a>
              <a href="#" class="share-button"></a>
              <a href="#">Định giá</a>
            </div>
          </section>
        </section>
      </li>
      <!-- #end product item -->
      <!-- #start product item -->
      <li class="col-md-4 col-sm-6 col-xs-12">
        <section class="product-item">
          <a class="favorite-button"></a>
          <a class="top-section" href="ChiTietSanPham.html">
            <h1 class="title">
              Nhà phố quận 9
            </h1>
            <section class="picture">
              <img src="../../Contents/image/product/BDS01.jpg">
            </section>
            <section class="property">
              <section class="bedroom">4</section>
              <section class="bathroom">5</section>
              <section class="area">100 m<sup>2</sup></section>
            </section>
          </a>
          <section class="bottom-section">
            <span>$ 2 tỷ</span>
            <div class="button">
              <a href="#" class="muathuebds-button"></a>
              <a href="#" class="share-button"></a>
              <a href="#">Định giá</a>
            </div>
          </section>
        </section>
      </li>
      <!-- #end product item -->
      <!-- #start product item -->
      <li class="col-md-4 col-sm-6 col-xs-12">
        <section class="product-item">
          <a class="favorite-button"></a>
          <a class="top-section" href="ChiTietSanPham.html">
            <h1 class="title">
              Nhà phố quận 9
            </h1>
            <section class="picture">
              <img src="../../Contents/image/product/BDS01.jpg">
            </section>
            <section class="property">
              <section class="bedroom">4</section>
              <section class="bathroom">5</section>
              <section class="area">100 m<sup>2</sup></section>
            </section>
          </a>
          <section class="bottom-section">
            <span>$ 2 tỷ</span>
            <div class="button">
              <a href="#" class="muathuebds-button"></a>
              <a href="#" class="share-button"></a>
              <a href="#">Định giá</a>
            </div>
          </section>
        </section>
      </li>
      <!-- #end product item -->
    </ul>
    <!-- #end relative-product-list -->
    <!-- #start pagination -->
    <section class="pagination-block">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- #end pagination -->
  </section>
</section>
<!-- #end detail infos -->