<!-- per, total, page = 1 -->
<%
	pageCount = (total + per - 1) / per

	return if pageCount <= 1
%>

<div class="paging">
	<div class="left" aria-click="prev-page">
		<i class="pe-7s-angle-left"></i>
	</div>
	<div class="number">
		<span><%= defined?(page) ? page : 1 %>/<%= pageCount %></span>
	</div>
	<div class="right" aria-click="next-page">
		<i class="pe-7s-angle-right"></i>
	</div>						
</div>
<!-- aria-click="paging" data-page="3" -->