<!-- per, total, page = 1 -->
<%
	page ||= 1
	page_count = (total + per - 1) / per

	return if page_count <= 1
%>

<% if page != 1 %>
	<div class="left" aria-click="prev-page">
		<i class="pe-7s-angle-left"></i>
	</div>
<% else %>
	<div></div>
<% end %>
<div class="number">
	<span><%= page %>/<%= page_count %></span>
</div>
<% if page != page_count %>
	<div class="right" aria-click="next-page">
		<i class="pe-7s-angle-right"></i>
	</div>	
<% else %>
	<div></div>
<% end %>					
<!-- aria-click="paging" data-page="3" -->