<!-- page, per, total -->
<%
	page ||= 1
	page_count = (total + per - 1) / per

	return if page_count <= 1
%>

<ul class="pagination inline-block <%= class_style if defined? class_style %>">
	<% (1..page_count).each do |i| %>
		<li>
	    <a href="javascript:void(0)" aria-click="paging" data-page="<%= i %>"><%= i %></a>
	  </li>
	<% end %>
</ul>