<div class="project-pic">
<a class="zoom" href="javascript:void(0);" data-src="http://www.ldggroup.vn/pictures/projects/SakuraValley/daidien/nha-mau1600.jpg"></a><img src="http://www.ldggroup.vn/pictures/projects/SakuraValley/daidien/nha-mau1000.jpg" alt="Khu đô thị dành cho chuyên gia Sakura Valley">
</div>
<div class="text-into">
<p>Những dòng suối uốn lượn quanh những hồ nước trong xanh tự nhiên.</p>

<p>Những rặng hoa anh đào rực rỡ cùng những bông bằng lăng tím thơ mộng</p>

<p>Một không gian phong cách Nhật Bản cùng thiên nhiên trong lành</p>

<p>Một cuộc thanh bình cùng gia đình hạnh phúc</p>

<p>Tất cả hội tụ trong Khu đô thị dành cho chuyên gia Sakura Valley. Nơi đây, mọi tiện ích cuộc sống đều nằm trong tầm tay.</p>

<p>Bạn sẽ cảm thấy cuộc sống trở nên thi vị và nhẹ nhàng bên gia đình và người thân khi trở về nhà sau những căng thẳng của một ngày làm việc và sau những bộn bề lo toan.</p>

<p>Sakura Valley, nơi sẽ đem đến cho bạn không gian tuyệt hảo và và mang lại giá trị cuộc sống vượt trội.</p>

<p>Sakura Valley sẽ là không gian lý tưởng để phát sinh những ý tưởng sáng tạo của các chuyên gia.</p>

<p>Sakura Valley, nâng tầm giá trị cuộc sống.</p>
</div>
<div class="text-description">
<p><strong style="line-height: 1.6em;">THÔNG TIN DỰ ÁN&nbsp;</strong></p>

<div>
<p><span style="line-height: 22.3999996185303px;">&#8203;Tên dự án:&nbsp;</span><strong>Khu đô thị dành cho chuyên gia Sakura Valley</strong></p>

<p><span style="line-height: 1.6em;">Vị trí:&nbsp;</span><span style="line-height: 22.3999996185303px;">Giang Điền, Trảng Bom, Đồng Nai</span></p>

<p>Diện tích đất dự án:&nbsp;<span style="line-height: 22.3999996185303px;">376.355,00 m2</span></p>

<p><span style="line-height: 1.6em;">Diện tích đất xây dựng:&nbsp;</span><span style="line-height: 22.3999996185303px;">169.155,90 &nbsp;m2</span></p>

<p><span style="line-height: 1.6em;">Diện tích đất công cộng:&nbsp;</span><span style="line-height: 22.3999996185303px;">207.199,10 m2</span></p>

<p>Quy mô:&nbsp;<span style="line-height: 22.3999996185303px;">752 nền đất liên kế và biệt thự</span></p>

<p><span style="line-height: 1.6em;">Tổng mức đầu tư:&nbsp;</span><span style="line-height: 22.3999996185303px;">350 tỷ đồng</span></p>

<p><strong>Chủ đầu tư:&nbsp;</strong>Công ty CP Du Lịch Giang Điền</p>

<p><strong>Hợp tác đầu tư:</strong>&nbsp;Công ty CP Đầu tư LDG (LDG Group)</p>

<p style="line-height: 22.3999996185303px;">&nbsp;</p>
</div>
</div>
