
<% content_for :scripts do %>
	<script type="text/javascript">
	$(function () {
		$('[name="a"]').on('change', function () {
			console.log(1);
		});
	});
	</script>
<% end %>

<form>
	<input type="radio" name="a" />
	<input type="radio" name="a" />
</form>