<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" Contents="MuaNhaOnline - Giá trị thực trong tầm tay">

  <title>MuaNhaOnline.vn</title>

  <link rel="stylesheet" type="text/css" href="/assets/shared/layout.css">
  <link rel="stylesheet" type="text/css" href="/assets/home/index.css">
  <link rel="stylesheet" type="text/css" href="/assets/shared/bootstrap.min.css">
</head>
<body>
<!-- #start header -->
<header class="container-fluid navbar-fixed-top">
  <!-- #start logo -->
  <a href="/home/index" class="logo hidden-xs">
    <img src="/assets/logo/logoMain.png">
  </a>
  <!-- Mini logo -->
  <div class="mini-logo">
    <span class="visible-xs"><a href="/home/index">MuaNhaOnline</a></span>
  </div>
  <!-- #end logo -->
  <!-- #start sitemap -->
  <ul class="sitemap">
    <li><a href="/real_estates/index">BĐS cần bán</a></li>
    <li><a href="/real_estates/index">BĐS thuê</a></li>
    <li><a href="/projects/index">Dự án bán</a></li>
    <li><a href="/projects/index">Dự án thuê</a></li>
    <li><a href="/news/index">Tin tức</a></li>
    <li><a href="/businesses/index">Doanh nghiệp</a></li>
  </ul>
  <!-- Mini sitemap -->
  <div class="button-mini-sitemap" data-toggle-target=".mini-sitemap"></div>
  <ul class="mini-sitemap">
    <li><a href="/real_estates/index">BĐS cần bán</a></li>
    <li><a href="/real_estates/index">BĐS thuê</a></li>
    <li><a href="/projects/index">Dự án bán</a></li>
    <li><a href="/projects/index">Dự án thuê</a></li>
    <li><a href="/news/index">Tin tức</a></li>
    <li><a href="/businesses/index">Doanh nghiệp</a></li>
    <li class="visible-xs" hidden>
      <a href="/real_estates/create" id="posting">Đăng tin miễn phí</a>
      <img src="/assets/icon/star-icon.png">
    </li>
  </ul>
  <!-- #end nav -->
  <!-- posting -->
  <article class="posting hidden-xs">
    <a href="/real_estates/create" class="btn btn-danger">Đăng tin miễn phí</a>
  </article>
  <!-- #start login -->
  <article class="user visible-lg">
    <div class="login">
      <a href="#">Đăng nhập</a>
    </div>
    <div class="register">
      <a href="#">Đăng ký</a>
    </div>
  </article>
  <!-- Mini login -->
  <article class="user-mini user-mini-toggle-button hidden-lg" data-toggle-target=".user-mini-content">
    <section class="user-mini-content">
      <div class="login">
        <a href="#">Đăng nhập</a>
      </div>
      <div class="register">
        <a href="#">Đăng ký</a>
      </div>
    </section>
  </article>
  <!-- #end login -->
</header>
<div class="header"></div>
<!-- #end header -->
<!-- #start main -->
<main>
  <!-- #start banner -->
  <section class="banner">
    <article class="box custom-width-250-0 custom-width-500-590">
      <h2>Hãy để MuaNhaOnline tìm nhà giúp bạn.</h2>
      <section class="tab-container">
        <a style="background-image: url('/assets/icon/nha-dat-ban.png')" href="#">
          <span class="custom-hidden-0 custom-visible-590">BĐS bán</span>
        </a>
        <a style="background-image: url('/assets/icon/nha-dat-thue.png')" href="#">
          <span class="custom-hidden-0 custom-visible-590">BĐS cho thuê</span>
        </a>
        <a style="background-image: url('/assets/icon/dinh-gia.png')" href="#">
          <span class="custom-hidden-0 custom-visible-590">Định giá</span>
        </a>
      </section>
      <form class="input-box">
        <input type="text" placeholder="Nhà phố quận 2..." />
        <input type="submit" value="" />
      </form>
    </article>
  </section>
  <!-- #end banner -->
  <!-- #start search -->
  <section class="search-container">
    <section class="btn-search-box" id="search-toggle-button"></section>    
    <section class="search-box">
      <div class="title">
        <h3>TÌM NHÀ NHANH</h3>
      </div>      
      <div class="content container-fluid">
        <div class="form-input col-md-4">
          
        </div>
        <div class="map col-md-8">
          
        </div>        
      </div>
    </section>
  </section>
  <!-- #end search -->
  <!-- #start project -->
  <section class="project-container">
    <div class="title">
      DỰ ÁN NỔI BẬT
    </div>   
    <div class="search-function">      
      <div class="search-form">
        <form action="#" method="get">
          <input type="text">
          <input type="submit" value>
        </form>
      </div>
      <div class="btn-list-project">
        <a href="#"><img src="/assets/icon/list-26.png"></a>
      </div>
    </div>   
    <ul class="details">
      <div class="next-previous">
        <div class="btn-left"></div>
        <div class="btn-right"></div>
      </div>        
      <li>      
        <div class="picture">                    
          <img src="/assets/product/DuAn01.jpg">
        </div>
        <div class="info">
          <div class="title">Dự án Riverside</div>
          <div class="state">Đang hoàn thành</div>
          <div class="address">Đường Lê Văn Lương, Phường Tân Quy, Quận 7</div>
        </div>
      </li>
    </ul>    
  </section>
  <!-- #end project -->
  <!-- #start product -->  
  <section class="product-container container-fluid">
    <article class="title">Bất động sản theo tiêu chí</article>
    <article class="content">
      <article class="text-xs-center text-sm-left">
        <!-- #start product-column -->
        <article class="item col-sm-6 col-md-4 col-lg-4 max-width-sm-none">
          <div class="picture">
            <img src="/assets/category/pic-Topic.png">
          </div>
          <div class="details">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
          </div>
          <div class="search">
            <form action="#" method="get">
              <input type="text">
              <input type="submit" value>            
            </form>
          </div>
        </article>
        <!-- #end product-column -->
        <!-- #start product-column -->
        <article class="item col-sm-6 col-md-4 col-lg-4 max-width-sm-none">
          <div class="picture">
            <img src="/assets/category/pic-Topic.png">
          </div>
          <div class="details">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
          </div>
          <div class="search">
            <form action="#" method="get">
              <input type="text">
              <input type="submit" value>            
            </form>
          </div>
        </article>
        <!-- #end product-column -->
        <!-- #start product-column -->
        <article class="item col-sm-6 col-md-4 col-lg-4 max-width-sm-none">
          <div class="picture">
            <img src="/assets/category/pic-Topic.png">
          </div>
          <div class="details">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
          </div>
          <div class="search">
            <form action="#" method="get">
              <input type="text">
              <input type="submit" value>            
            </form>
          </div>
        </article>
        <!-- #end product-column -->
        <!-- #start product-column -->
        <article class="item col-sm-6 col-md-4 col-lg-4 max-width-sm-none">
          <div class="picture">
            <img src="/assets/category/pic-Topic.png">
          </div>
          <div class="details">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
          </div>
          <div class="search">
            <form action="#" method="get">
              <input type="text">
              <input type="submit" value>            
            </form>
          </div>
        </article>
        <!-- #end product-column -->
        <!-- #start product-column -->
        <article class="item col-sm-6 col-md-4 col-lg-4 max-width-sm-none">
          <div class="picture">
            <img src="/assets/category/pic-Topic.png">
          </div>
          <div class="details">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
          </div>
          <div class="search">
            <form action="#" method="get">
              <input type="text">
              <input type="submit" value>            
            </form>
          </div>
        </article>
        <!-- #end product-column -->
        <!-- #start product-column -->
        <article class="item col-sm-6 col-md-4 col-lg-4 max-width-sm-none">
        <a href="#">
          <div class="picture">
            <img src="/assets/category/pic-Topic.png">
          </div>
          <div class="details">        
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
          </div>
        </a>
          <div class="search">
            <form action="#" method="get">
              <input type="text">
              <input type="submit" value>            
            </form>
          </div>        
        </article>
        <!-- #end product-column -->
      </article>
    </article>
  </section>
  <!-- #end product -->
</main>
<!-- #end main -->
<!-- #start footer -->
<footer>  
  <!-- #start top-footer -->
  <ul class="top-footer container-fluid">
    <li class="col-sm-3">
      <div class="title">
        Từ khoá
      </div>
      <ul class="content">
        <li><a href="#">Nhà phố Quận 1</a></li>
        <li><a href="#">Nhà phố Quận 1</a></li>
        <li><a href="#">Nhà phố Quận 1</a></li>
        <li><a href="#">Nhà phố Quận 1</a></li>
        <li><a href="#">Nhà phố Quận 1</a></li>
        <li><a href="#">Nhà phố Quận 1</a></li>
      </ul>
    </li>
    <li class="col-sm-3">
      <div class="title">
        Từ khoá
      </div>
      <ul class="content">
        <li><a href="#">Nhà phố Quận 1</a></li>
        <li><a href="#">Nhà phố Quận 1</a></li>
        <li><a href="#">Nhà phố Quận 1</a></li>
        <li><a href="#">Nhà phố Quận 1</a></li>
        <li><a href="#">Nhà phố Quận 1</a></li>
        <li><a href="#">Nhà phố Quận 1</a></li>
      </ul>
    </li>
    <li class="col-sm-3">
      <div class="title">
        Từ khoá
      </div>
      <ul class="content">
        <li><a href="#">Nhà phố Quận 1</a></li>
        <li><a href="#">Nhà phố Quận 1</a></li>
        <li><a href="#">Nhà phố Quận 1</a></li>
        <li><a href="#">Nhà phố Quận 1</a></li>
        <li><a href="#">Nhà phố Quận 1</a></li>
        <li><a href="#">Nhà phố Quận 1</a></li>
      </ul>
    </li>
    <li class="col-sm-3">
      <div class="title">
        Liên hệ với chúng tôi trên
      </div>
      <ul class="content">
        <li class="link-social">
          <a href="#">
            <img src="/assets/logo/facebook-26.png">
            <span>Facebook</span>
          </a>
        </li>      
        <li class="link-social">
          <a href="#">
            <img src="/assets/logo/twitter-26.png">
            <span>Twitter</span>
          </a>
        </li>  
        <li class="link-social">
          <a href="#">
            <img src="/assets/logo/youtube-26.png">
            <span>Youtube</span>
          </a>
        </li>  
        <li class="link-social">
          <a href="#">
            <img src="/assets/logo/google_plus-26.png">
            <span>Google+</span>
          </a>
        </li>  
      </ul>
    </li>
  </ul>
  <!-- #end top-footer -->
  <!-- #start bottom-footer -->
  <section class="bottom-footer">
    <ul class="policy container-fluid">
      <li class="col-sm-3">
        <a href="#">Giới thiệu</a>
      </li>
      <li class="col-sm-3">
        <a href="#">Chính sách bảo mật</a>
      </li>
      <li class="col-sm-3">
        <a href="#">Quyền lợi thành viên</a>
      </li>
      <li class="col-sm-3">
        <a href="#">Điều khoản sử dụng</a>
      </li>
    </ul>   
    <article class="information">
      <p>
        Công ty TNHH Tư Vấn BĐS Thịnh An
        <br>
        Tầng 1, Tòa nhà Rosana, số 60 Nguyễn Đình Chiểu, Phường Đa Kao, Quận 1, Tp. HCM
        <br>
        ĐT: (84-8) 2221 1906 - Fax: (84-8) 222 02201
        <br>
        <a href="mailto:info@muanhaonline.vn">Email: info@muanhaonline.vn</a>
      </p>
    </article>
  </section>
  <!-- #end bottom-footer -->
</footer>
<!-- #end footer -->
</body>
<script type="text/javascript" src="/assets/shared/jquery.min.js"></script>
<script type="text/javascript" src="/assets/home/index.js"></script>
</html>