<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" Contents="MuaNhaOnline - Giá trị thực trong tầm tay">

  <title>MuaNhaOnline.vn</title>

  <link rel="stylesheet" type="text/css" href="/assets/shared/layout.css">
  <link rel="stylesheet" type="text/css" href="/assets/home/index.css">
  <link rel="stylesheet" type="text/css" href="/assets/shared/bootstrap.min.css">
</head>
<body>
<!-- #start header -->
<header class="container-fluid navbar-fixed-top">
  <!-- #start logo -->
  <a href="/home/index" class="logo hidden-xs">
    <img src="/assets/logo/logoMain.png">
  </a>
  <!-- Mini logo -->
  <div class="mini-logo">
    <span class="visible-xs"><a href="/home/index">MuaNhaOnline</a></span>
  </div>
  <!-- #end logo -->
  <!-- #start sitemap -->
  <ul class="sitemap">
    <li><a href="/real_estates/index">BĐS cần bán</a></li>
    <li><a href="/real_estates/index">BĐS cần mua</a></li>
    <li><a href="/projects/index">Dự án</a></li>
    <li><a href="/news/index">Tin tức</a></li>
    <li><a href="/businesses/index">Doanh nghiệp</a></li>
  </ul>
  <!-- Mini sitemap -->
  <div class="button-mini-sitemap" data-toggle-target=".mini-sitemap"></div>
  <ul class="mini-sitemap">
    <li><a href="/real_estates/index">BĐS cần bán</a></li>
    <li><a href="/real_estates/index">BĐS cần mua</a></li>
    <li><a href="/projects/index">Dự án</a></li>
    <li><a href="/news/index">Tin tức</a></li>
    <li><a href="/businesses/index">Doanh nghiệp</a></li>
    <li class="visible-xs" hidden>
      <a href="/real_estates/create" id="posting">Đăng tin miễn phí</a>
      <img src="/assets/icon/star-icon.png">
    </li>
  </ul>
  <!-- #end nav -->
  <!-- posting -->
  <article class="posting hidden-xs">
    <a href="/real_estates/create" class="btn btn-danger">Đăng tin miễn phí</a>
  </article>
  <!-- #start login -->
  <article class="user visible-lg">
    <div class="login">
      <a href="#">Đăng nhập</a>
    </div>
    <div class="register">
      <a href="#">Đăng ký</a>
    </div>
  </article>
  <!-- Mini login -->
  <article class="user-mini user-mini-toggle-button hidden-lg" data-toggle-target=".user-mini-content">
    <section class="user-mini-content">
      <div class="login">
        <a href="#">Đăng nhập</a>
      </div>
      <div class="register">
        <a href="#">Đăng ký</a>
      </div>
    </section>
  </article>
  <!-- #end login -->
</header>
<div class="header"></div>
<!-- #end header -->
<!-- #start main -->
<main>
  <!-- #start banner -->
  <section class="banner">
    <article class="box custom-width-250-0 custom-width-500-590">
      <h2>
        Hãy để MuaNhaOnline tìm nhà giúp bạn.
      </h2>
      <section class="tab-container">
        <a style="background-image: url('/assets/icon/nha-dat-ban.png')" href="#">
          <span class="custom-hidden-0 custom-visible-590">Nhà đất bán</span>
        </a>
        <a style="background-image: url('/assets/icon/nha-dat-thue.png')" href="#">
          <span class="custom-hidden-0 custom-visible-590">Nhà đất cho thuê</span>
        </a>
        <a style="background-image: url('/assets/icon/dinh-gia.png')" href="#">
          <span class="custom-hidden-0 custom-visible-590">Định giá</span>
        </a>
      </section>
      <form class="input-box">
        <input type="text" placeholder="Nhà phố quận 2..." />
        <input type="submit" value="" />
      </form>
    </article>
  </section>
  <!-- #end banner -->
  <!-- #start search -->
  <section class="search-container">
    <section class="title-box" id="search-toggle-button">
      <img src="/assets/link/link-search.png">
      <h2>
        Tìm nhà nhanh
      </h2>
    </section>
    <section id="search-box" class="search-box flex-xs-column flex-sm-row">
      <section class="map">
        <article class="map-temp">
        </article>
      </section>
      <section class="search custom-min-width-0-0 custom-min-width-300-400">
        <form>
          <ul>
            <li>
              <section class="full">
                <label>
                  Tên bất động sản
                </label>
                <input />
              </section>
            </li>
            <li>
              <section>
                <label>
                  Dự án
                </label>
                <select>
                  <option>
                    1
                  </option>
                  <option>
                    2
                  </option>
                </select>
              </section>
              <section>
                <label>
                  Nhu cầu
                </label>
                <select>
                  <option>
                    1
                  </option>
                  <option>
                    2
                  </option>
                </select>
              </section>
            </li>
            <li>
              <section>
                <label>
                  Tỉnh/Thành
                </label>
                <select>
                  <option>
                    1
                  </option>
                  <option>
                    2
                  </option>
                </select>
              </section>
              <section>
                <label>
                  Quận/Huyện
                </label>
                <select>
                  <option>
                    1
                  </option>
                  <option>
                    2
                  </option>
                </select>
              </section>
            </li>
            <li>
              <section>
                <label>
                  Giá từ
                </label>
                <input placeholder="Triệu đồng" />
              </section>
              <section>
                <label>
                  đến
                </label>
                <input placeholder="Triệu đồng" />
              </section>
            </li>
            <li>
              <section>
                <label>
                  Loại
                </label>
                <select>
                  <option>
                    1
                  </option>
                  <option>
                    2
                  </option>
                </select>
              </section>
              <section>
                <label>
                  Diện tích
                </label>
                <select>
                  <option>
                    1
                  </option>
                  <option>
                    2
                  </option>
                </select>
              </section>
            </li>
            <li>
              <section>
                <label>
                  Phòng ngủ
                </label>
                <select>
                  <option>
                    1
                  </option>
                  <option>
                    2
                  </option>
                </select>
              </section>
              <section>
                <label>
                  Phòng tắm
                </label>
                <select>
                  <option>
                    1
                  </option>
                  <option>
                    2
                  </option>
                </select>
              </section>
            </li>
            <li>
              <section class="full">
                <button type="submit">Tìm</button>
              </section>
            </li>
          </ul>
        </form>
      </section>
    </section>
  </section>
  <!-- #end search -->
  <!-- #start main-function -->
  <section class="function-container">

  </section>
  <!-- #end main-function -->
  <!-- #start product -->
  <section id="product-container" class="product-container">
    <article class="container">
      <article class="row text-xs-center text-sm-left">
        <!-- #start product-column -->
        <article class="column col-sm-6 col-md-4 col-lg-4 max-width-sm-none">
          <section class="image">
            <img src="/assets/category/pic-Topic.png">
          </section>
          <section class="info">
            <h2>
              Đất bán dưới 500 triệu
            </h2>
            <p>
              Nhiều căn hộ chung cư đang được rao bắn với các mức giá khác nhau, bạn chẳng phân biệt được chung cư cao cấp giá vài nghìn đô khác với chung cư bình dân nhiều như thế nào. Nhiều chung cư gán mác bình dân mà giá không bình dân.
            </p>
          </section>
          <section class="product-panel">
            <article class="product">
              <!-- #start product-item -->
              <article class="item row flex-xs-column flex-sm-row">
                <section class="image margin-xs-auto">
                  <img src="/assets/product/BDS02.jpg" />
                </section>
                <section class="info">
                  <h3>
                    Bán đất ở quận 2
                  </h3>
                  <p class="gia">
                    400 triệu
                  </p>
                  <p class="vi-tri">
                    Quận 2
                  </p>
                  <p class="gioi-thieu">
                    Nội dung
                  </p>
                </section>
              </article>
              <!-- #end product-item -->
              <!-- #start product-item -->
              <article class="item row flex-xs-column flex-sm-row">
                <section class="image margin-xs-auto">
                  <img src="/assets/product/BDS05.jpg" />
                </section>
                <section class="info">
                  <h3>
                    Bán đất ở quận 2
                  </h3>
                  <p class="gia">
                    400 triệu
                  </p>
                  <p class="vi-tri">
                    Quận 2
                  </p>
                  <p class="gioi-thieu">
                    Nội dung
                  </p>
                </section>
              </article>
              <!-- #end product-item -->
              <!-- #start product-item -->
              <article class="item row flex-xs-column flex-sm-row">
                <section class="image margin-xs-auto">
                  <img src="/assets/product/BDS01.jpg" />
                </section>
                <section class="info">
                  <h3>
                    Bán đất ở quận 2
                  </h3>
                  <p class="gia">
                    400 triệu
                  </p>
                  <p class="vi-tri">
                    Quận 2
                  </p>
                  <p class="gioi-thieu">
                    Nội dung
                  </p>
                </section>
              </article>
              <!-- #end product-item -->
              <!-- #start product-item -->
              <article class="item row flex-xs-column flex-sm-row">
                <section class="image margin-xs-auto">
                  <img src="/assets/product/BDS04.jpg" />
                </section>
                <section class="info">
                  <h3>
                    Bán đất ở quận 2
                  </h3>
                  <p class="gia">
                    400 triệu
                  </p>
                  <p class="vi-tri">
                    Quận 2
                  </p>
                  <p class="gioi-thieu">
                    Nội dung
                  </p>
                </section>
              </article>
              <!-- #end product-item -->
              <!-- #start product-item -->
              <article class="item row flex-xs-column flex-sm-row">
                <section class="image margin-xs-auto">
                  <img src="/assets/product/BDS07.jpg" />
                </section>
                <section class="info">
                  <h3>
                    Bán đất ở quận 2
                  </h3>
                  <p class="gia">
                    400 triệu
                  </p>
                  <p class="vi-tri">
                    Quận 2
                  </p>
                  <p class="gioi-thieu">
                    Nội dung
                  </p>
                </section>
              </article>
              <!-- #end product-item -->
              <!-- #start product-item -->
              <article class="item row flex-xs-column flex-sm-row">
                <section class="image margin-xs-auto">
                  <img src="/assets/product/BDS08.jpg" />
                </section>
                <section class="info">
                  <h3>
                    Bán đất ở quận 2
                  </h3>
                  <p class="gia">
                    400 triệu
                  </p>
                  <p class="vi-tri">
                    Quận 2
                  </p>
                  <p class="gioi-thieu">
                    Nội dung
                  </p>
                </section>
              </article>
              <!-- #end product-item -->
              <!-- #start product-item -->
              <article class="item row flex-xs-column flex-sm-row">
                <section class="image margin-xs-auto">
                  <img src="/assets/product/BDS09.jpg" />
                </section>
                <section class="info">
                  <h3>
                    Bán đất ở quận 2
                  </h3>
                  <p class="gia">
                    400 triệu
                  </p>
                  <p class="vi-tri">
                    Quận 2
                  </p>
                  <p class="gioi-thieu">
                    Nội dung
                  </p>
                </section>
              </article>
              <!-- #end product-item -->
            </article>
          </section>
        </article>
        <!-- #end product-column -->
        <!-- #start product-column -->
        <article class="column col-sm-6 col-md-4 col-lg-4 max-width-sm-none">
          <section class="image">
            <img src="/assets/category/pic-Topic.png">
          </section>
          <section class="info">
            <h2>
              Đất bán dưới 500 triệu
            </h2>
            <p>
              Nhiều căn hộ chung cư đang được rao bắn với các mức giá khác nhau, bạn chẳng phân biệt được chung cư cao cấp giá vài nghìn đô khác với chung cư bình dân nhiều như thế nào. Nhiều chung cư gán mác bình dân mà giá không bình dân.
            </p>
          </section>
          <section class="product-panel">
            <article class="product">
              <!-- #start product-item -->
              <article class="item row flex-xs-column flex-sm-row">
                <section class="image margin-xs-auto">
                  <img src="/assets/product/BDS01.jpg" />
                </section>
                <section class="info">
                  <h3>
                    Bán đất ở quận 2
                  </h3>
                  <p class="gia">
                    400 triệu
                  </p>
                  <p class="vi-tri">
                    Quận 2
                  </p>
                  <p class="gioi-thieu">
                    Nội dung
                  </p>
                </section>
              </article>
              <!-- #end product-item -->
              <!-- #start product-item -->
              <article class="item row flex-xs-column flex-sm-row">
                <section class="image margin-xs-auto">
                  <img src="/assets/product/BDS02.jpg" />
                </section>
                <section class="info">
                  <h3>
                    Bán đất ở quận 2
                  </h3>
                  <p class="gia">
                    400 triệu
                  </p>
                  <p class="vi-tri">
                    Quận 2
                  </p>
                  <p class="gioi-thieu">
                    Nội dung
                  </p>
                </section>
              </article>
              <!-- #end product-item -->
              <!-- #start product-item -->
              <article class="item row flex-xs-column flex-sm-row">
                <section class="image margin-xs-auto">
                  <img src="/assets/product/BDS04.jpg" />
                </section>
                <section class="info">
                  <h3>
                    Bán đất ở quận 2
                  </h3>
                  <p class="gia">
                    400 triệu
                  </p>
                  <p class="vi-tri">
                    Quận 2
                  </p>
                  <p class="gioi-thieu">
                    Nội dung
                  </p>
                </section>
              </article>
              <!-- #end product-item -->
              <!-- #start product-item -->
              <article class="item row flex-xs-column flex-sm-row">
                <section class="image margin-xs-auto">
                  <img src="/assets/product/BDS05.jpg" />
                </section>
                <section class="info">
                  <h3>
                    Bán đất ở quận 2
                  </h3>
                  <p class="gia">
                    400 triệu
                  </p>
                  <p class="vi-tri">
                    Quận 2
                  </p>
                  <p class="gioi-thieu">
                    Nội dung
                  </p>
                </section>
              </article>
              <!-- #end product-item -->
              <!-- #start product-item -->
              <article class="item row flex-xs-column flex-sm-row">
                <section class="image margin-xs-auto">
                  <img src="/assets/product/BDS06.jpg" />
                </section>
                <section class="info">
                  <h3>
                    Bán đất ở quận 2
                  </h3>
                  <p class="gia">
                    400 triệu
                  </p>
                  <p class="vi-tri">
                    Quận 2
                  </p>
                  <p class="gioi-thieu">
                    Nội dung
                  </p>
                </section>
              </article>
              <!-- #end product-item -->
              <!-- #start product-item -->
              <article class="item row flex-xs-column flex-sm-row">
                <section class="image margin-xs-auto">
                  <img src="/assets/product/BDS07.jpg" />
                </section>
                <section class="info">
                  <h3>
                    Bán đất ở quận 2
                  </h3>
                  <p class="gia">
                    400 triệu
                  </p>
                  <p class="vi-tri">
                    Quận 2
                  </p>
                  <p class="gioi-thieu">
                    Nội dung
                  </p>
                </section>
              </article>
              <!-- #end product-item -->
              <!-- #start product-item -->
              <article class="item row flex-xs-column flex-sm-row">
                <section class="image margin-xs-auto">
                  <img src="/assets/product/BDS10.jpg" />
                </section>
                <section class="info">
                  <h3>
                    Bán đất ở quận 2
                  </h3>
                  <p class="gia">
                    400 triệu
                  </p>
                  <p class="vi-tri">
                    Quận 2
                  </p>
                  <p class="gioi-thieu">
                    Nội dung
                  </p>
                </section>
              </article>
              <!-- #end product-item -->
              <!-- #start product-item -->
              <article class="item row flex-xs-column flex-sm-row">
                <section class="image margin-xs-auto">
                  <img src="/assets/product/BDS03.jpg" />
                </section>
                <section class="info">
                  <h3>
                    Bán đất ở quận 2
                  </h3>
                  <p class="gia">
                    400 triệu
                  </p>
                  <p class="vi-tri">
                    Quận 2
                  </p>
                  <p class="gioi-thieu">
                    Nội dung
                  </p>
                </section>
              </article>
              <!-- #end product-item -->
              <!-- #start product-item -->
              <article class="item row flex-xs-column flex-sm-row">
                <section class="image margin-xs-auto">
                  <img src="/assets/product/BDS09.jpg" />
                </section>
                <section class="info">
                  <h3>
                    Bán đất ở quận 2
                  </h3>
                  <p class="gia">
                    400 triệu
                  </p>
                  <p class="vi-tri">
                    Quận 2
                  </p>
                  <p class="gioi-thieu">
                    Nội dung
                  </p>
                </section>
              </article>
              <!-- #end product-item -->
            </article>
          </section>
        </article>
        <!-- #end product-column -->
        <!-- #start product-column -->
        <article class="column col-sm-6 col-md-4 col-lg-4 max-width-sm-none">
          <section class="image">
            <img src="/assets/category/pic-Topic.png">
          </section>
          <section class="info">
            <h2>
              Đất bán dưới 500 triệu
            </h2>
            <p>
              Nhiều căn hộ chung cư đang được rao bắn với các mức giá khác nhau, bạn chẳng phân biệt được chung cư cao cấp giá vài nghìn đô khác với chung cư bình dân nhiều như thế nào. Nhiều chung cư gán mác bình dân mà giá không bình dân.
            </p>
          </section>
          <section class="product-panel">
            <article class="product">
              <!-- #start product-item -->
              <article class="item row flex-xs-column flex-sm-row">
                <section class="image margin-xs-auto">
                  <img src="/assets/product/BDS03.jpg" />
                </section>
                <section class="info">
                  <h3>
                    Bán đất ở quận 2
                  </h3>
                  <p class="gia">
                    400 triệu
                  </p>
                  <p class="vi-tri">
                    Quận 2
                  </p>
                  <p class="gioi-thieu">
                    Nội dung
                  </p>
                </section>
              </article>
              <!-- #end product-item -->
              <!-- #start product-item -->
              <article class="item row flex-xs-column flex-sm-row">
                <section class="image margin-xs-auto">
                  <img src="/assets/product/BDS03.jpg" />
                </section>
                <section class="info">
                  <h3>
                    Bán đất ở quận 2
                  </h3>
                  <p class="gia">
                    400 triệu
                  </p>
                  <p class="vi-tri">
                    Quận 2
                  </p>
                  <p class="gioi-thieu">
                    Nội dung
                  </p>
                </section>
              </article>
              <!-- #end product-item -->
              <!-- #start product-item -->
              <article class="item row flex-xs-column flex-sm-row">
                <section class="image margin-xs-auto">
                  <img src="/assets/product/BDS03.jpg" />
                </section>
                <section class="info">
                  <h3>
                    Bán đất ở quận 2
                  </h3>
                  <p class="gia">
                    400 triệu
                  </p>
                  <p class="vi-tri">
                    Quận 2
                  </p>
                  <p class="gioi-thieu">
                    Nội dung
                  </p>
                </section>
              </article>
              <!-- #end product-item -->
              <!-- #start product-item -->
              <article class="item row flex-xs-column flex-sm-row">
                <section class="image margin-xs-auto">
                  <img src="/assets/product/BDS03.jpg" />
                </section>
                <section class="info">
                  <h3>
                    Bán đất ở quận 2
                  </h3>
                  <p class="gia">
                    400 triệu
                  </p>
                  <p class="vi-tri">
                    Quận 2
                  </p>
                  <p class="gioi-thieu">
                    Nội dung
                  </p>
                </section>
              </article>
              <!-- #end product-item -->
              <!-- #start product-item -->
              <article class="item row flex-xs-column flex-sm-row">
                <section class="image margin-xs-auto">
                  <img src="/assets/product/BDS03.jpg" />
                </section>
                <section class="info">
                  <h3>
                    Bán đất ở quận 2
                  </h3>
                  <p class="gia">
                    400 triệu
                  </p>
                  <p class="vi-tri">
                    Quận 2
                  </p>
                  <p class="gioi-thieu">
                    Nội dung
                  </p>
                </section>
              </article>
              <!-- #end product-item -->
              <!-- #start product-item -->
              <article class="item row flex-xs-column flex-sm-row">
                <section class="image margin-xs-auto">
                  <img src="/assets/product/BDS03.jpg" />
                </section>
                <section class="info">
                  <h3>
                    Bán đất ở quận 2
                  </h3>
                  <p class="gia">
                    400 triệu
                  </p>
                  <p class="vi-tri">
                    Quận 2
                  </p>
                  <p class="gioi-thieu">
                    Nội dung
                  </p>
                </section>
              </article>
              <!-- #end product-item -->
              <!-- #start product-item -->
              <article class="item row flex-xs-column flex-sm-row">
                <section class="image margin-xs-auto">
                  <img src="/assets/product/BDS03.jpg" />
                </section>
                <section class="info">
                  <h3>
                    Bán đất ở quận 2
                  </h3>
                  <p class="gia">
                    400 triệu
                  </p>
                  <p class="vi-tri">
                    Quận 2
                  </p>
                  <p class="gioi-thieu">
                    Nội dung
                  </p>
                </section>
              </article>
              <!-- #end product-item -->
            </article>
          </section>
        </article>
        <!-- #end product-column -->
      </article>
    </article>
  </section>
  <!-- #end product -->
</main>
<!-- #end main -->
<!-- #start footer -->
<footer>
  <!-- #start top-footer -->
  <section class="top-footer container flex-xs-column flex-sm-column flex-md-row">
    <section class="about-container flex-xs-column col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <!-- #start row-1 -->
      <section class="about-row">
        <!-- #start col-1 -->
        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h3>
            Giới thiệu
          </h3>
          <p>
            Công ty cổ phần truyền thông và tiếp thị BMN (BMN) xin giới thiệu trang thương mại điện tử MảketOnline.vn là thị trường trực tuyến tương tác giữa cung và cầu cho mọi hoạt động sống...
          </p>
          <a href="#">
            Xem thêm
          </a>
        </section>
        <!-- #end col-1 -->
        <!-- #start col-2 -->
        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h3>
            Điều khoản sử dụng
          </h3>
          <p>
            Công ty cổ phần truyền thông và tiếp thị BMN (gọi tắt là BMN) duy trì trang www.marketonline.vn (sau đây gọi là trang điện tự) như một dịch vụ cung cấp cho khách hàng, bao gồm...
          </p>
          <a href="#">
            Xem thêm
          </a>
        </section>
        <!-- #end col-2 -->
      </section>
      <!-- #end row-1 -->
      <!-- #start row-2 -->
      <section class="about-row">
        <!-- #start col-1 -->
        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h3>
            Quyền lợi thành viên
          </h3>
          <p>
            Truy cập trang điện tử www.muanhaonline.vn (MuaNhaOnline.vn) bằng tài khoản quản trị do quý khách tự tạo. Sử dụng các sản phẩm, dịch vụ đã đăng ký với MuaNhaOnline.vn để phục vụ cho...
          </p>
          <a href="#">
            Xem thêm
          </a>
        </section>
        <!-- #end col-1 -->
        <!-- #start col-2 -->
        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h3>
            Bảo mật
          </h3>
          <p>
            Công ty cổ phần truyền thông và tiếp thị BMN (BMN) là đơn vị hoạt động trong lĩnh vực truyền thông tin tức và tiếp thị sản phẩm. Marketonline.vn là sản phẩm được BMN xây dựng...
          </p>
          <a href="#">
            Xem thêm
          </a>
        </section>
        <!-- #end col-2 -->
      </section>
      <!-- #end row-2 -->
    </section>
    <section class="link-container col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <ul>
        <li>
          <a href="#" style="background-image: url('/assets/logo/facebook.png')">
            <!-- <i class="hidden-xs">
                Facebook
            </i> -->
          </a>
        </li>
        <li>
          <a href="#" style="background-image: url('/assets/logo/google.png')">
            <!-- <i class="hidden-xs">
                Google+
            </i> -->
          </a>
        </li>
        <li>
          <a href="#" style="background-image: url('/assets/logo/youtube.png')">
            <!-- <i class="hidden-xs">
                YouTube
            </i> -->
          </a>
        </li>
        <li>
          <a href="#" style="background-image: url('/assets/logo/twitter.png')">
            <!-- <i class="hidden-xs">
                Twitter
            </i> -->
          </a>
        </li>
      </ul>
    </section>
  </section>
  <!-- #end top-footer -->
  <!-- #start bottom-footer -->
  <section class="bottom-footer container">
    <p>
      Công ty TNHH Tư Vấn BĐS Thịnh An
      <br />
      Tầng 1, Tòa nhà Rosana, số 60 Nguyễn Đình Chiểu, Phường Đa Kao, Quận 1, Tp. HCM
      <br />
      ĐT: (84-8) 2221 1906 - Fax: (84-8) 222 02201
    </p>
    <p class="email">
      <a href="mailto:info@muanhaonline.vn">
        Email: info@muanhaonline.vn
      </a>
    </p>
  </section>
  <!-- #end bottom-fotter -->
</footer>
<!-- #end footer -->
</body>
<script type="text/javascript" src="/assets/shared/jquery.min.js"></script>
<script type="text/javascript" src="/assets/home/index.js"></script>
</html>