<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/home/index.css">
<% end %>

<% content_for :scripts do %>
<script type="text/javascript" src="/assets/home/index.js"></script>
<% end %>

<!--start Main Content -->

<section class="search">
	<div class="search-box">
		<div class="title">
			<h3>Hãy để MuanhaOnline tìm nhà giúp bạn.</h3>
		</div>
		<form>
			<div class="tab">
				<label><input type="radio" name="typeTab"><i class="sale"></i><span>Nhà Bán</span></label>
				<label><input type="radio" name="typeTab"><i class="rent"></i><span>Nhà Thuê</span></label>				
			</div>
			<div class="form-group-custom">
				<input type="text" class="form-control search-keyword" placeholder="... nhà phố quận 2">
				<div class="btn-zestimate" data-toggle="tooltip" data-placement="left" title="Định giá">
					<button type="submit"></button>
				</div>
				<div class="separator">
					<span>|</span>
				</div>
				<div class="btn-search" data-toggle="tooltip" data-placement="left" title="Tìm kiếm">
					<button type="submit"></button>
				</div>
				<div class="btn-group history-search">
					<button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					từ khóa<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
					</ul>
				</div>
			</div>
			<div class="btn-more">
				<button type="button" class="btn btn-link">Thêm lựa chọn</button>
			</div>
			<section class="more-search" style="display:none">
				<div class="form-group-custom container-fluid">
					<div class="row">
						<div class="col-md-6 input-inline">
							<select class="form-control input-sm">
								<option>Thành phố Hồ Chí Minh</option>
								<option>Hà Nội</option>
								<option>Bà Rịa - Vũng Tàu</option>
							</select>
						</div>
						<div class="col-md-6">
							<select class="form-control input-sm">
								<option>Quận 1</option>
								<option>Quận 2</option>
								<option>Quận 3</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group-custom">
					<select class="form-control input-sm">
						<option>1 tỷ - 3 tỷ</option>
						<option>3 tỷ - 5 tỷ</option>
						<option>trên 5 tỷ</option>
					</select>
				</div>
				<div class="form-group-custom">
					<select class="form-control input-sm">
						<option>50m2 - 100m2</option>
						<option>100m2 - 200m2</option>
						<option>trên 200m2</option>
					</select>
				</div>
				<div class="form-group-custom container-fluid">
					<div class="row">
						<div class="col-md-6 input-inline">
							<select class="form-control input-sm">
								<option>Dự án căn hộ liên kế</option>
								<option>Dự án 1</option>
								<option>Dự án 2</option>
							</select>
						</div>
						<div class="col-md-6">
							<select class="form-control">
								<option>Dự án đã hoàn thành</option>
								<option>Dự án đang hoàn thành</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-success">
						<img src="/assets/icon/search-plus.png">
						Tìm
					</button>
				</div>
			</section>
		</form>
	</div>
</section>

<!-- end Main Content -->