<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" Contents="MuaNhaOnline - Giá trị thực trong tầm tay">

  <title>MuaNhaOnline.vn</title>

  <link rel="stylesheet" type="text/css" href="/assets/shared/layout.css">
  <link rel="stylesheet" type="text/css" href="/assets/home/index.css">
  <link rel="stylesheet" type="text/css" href="/assets/shared/bootstrap.min.css">
</head>
<body>
<!-- #start header -->
<header class="container-fluid navbar-fixed-top">
  <!-- #start logo -->
  <a href="/home/index" class="logo hidden-xs">
    <img src="/assets/logo/logoMain.png">
  </a>
  <!-- Mini logo -->
  <div class="mini-logo">
    <span class="visible-xs"><a href="/home/index">MuaNhaOnline</a></span>
  </div>
  <!-- #end logo -->
  <!-- #start sitemap -->
  <ul class="sitemap">
    <li><a href="/real_estates/index">BĐS cần bán</a></li>
    <li><a href="/real_estates/index">BĐS cần mua</a></li>
    <li><a href="/projects/index">Dự án</a></li>
    <li><a href="/news/index">Tin tức</a></li>
    <li><a href="/businesses/index">Doanh nghiệp</a></li>
  </ul>
  <!-- Mini sitemap -->
  <div class="button-mini-sitemap" data-toggle-target=".mini-sitemap"></div>
  <ul class="mini-sitemap">
    <li><a href="/real_estates/index">BĐS cần bán</a></li>
    <li><a href="/real_estates/index">BĐS cần mua</a></li>
    <li><a href="/projects/index">Dự án</a></li>
    <li><a href="/news/index">Tin tức</a></li>
    <li><a href="/businesses/index">Doanh nghiệp</a></li>
    <li class="visible-xs" hidden>
      <a href="/real_estates/create" id="posting">Đăng tin miễn phí</a>
      <img src="/assets/icon/star-icon.png">
    </li>
  </ul>
  <!-- #end nav -->
  <!-- posting -->
  <article class="posting hidden-xs">
    <a href="/real_estates/create" class="btn btn-danger">Đăng tin miễn phí</a>
  </article>
  <!-- #start login -->
  <article class="user visible-lg">
    <div class="login">
      <a href="#">Đăng nhập</a>
    </div>
    <div class="register">
      <a href="#">Đăng ký</a>
    </div>
  </article>
  <!-- Mini login -->
  <article class="user-mini user-mini-toggle-button hidden-lg" data-toggle-target=".user-mini-content">
    <section class="user-mini-content">
      <div class="login">
        <a href="#">Đăng nhập</a>
      </div>
      <div class="register">
        <a href="#">Đăng ký</a>
      </div>
    </section>
  </article>
  <!-- #end login -->
</header>
<div class="header"></div>
<!-- #end header -->
<!-- #start main -->
<main>
  <!-- #start banner -->
  <section class="banner">
    <article class="box custom-width-250-0 custom-width-500-590">
      <h2>Hãy để MuaNhaOnline tìm nhà giúp bạn.</h2>
      <section class="tab-container">
        <a style="background-image: url('/assets/icon/nha-dat-ban.png')" href="#">
          <span class="custom-hidden-0 custom-visible-590">Nhà đất bán</span>
        </a>
        <a style="background-image: url('/assets/icon/nha-dat-thue.png')" href="#">
          <span class="custom-hidden-0 custom-visible-590">Nhà đất cho thuê</span>
        </a>
        <a style="background-image: url('/assets/icon/dinh-gia.png')" href="#">
          <span class="custom-hidden-0 custom-visible-590">Định giá</span>
        </a>
      </section>
      <form class="input-box">
        <input type="text" placeholder="Nhà phố quận 2..." />
        <input type="submit" value="" />
      </form>
    </article>
  </section>
  <!-- #end banner -->
  <!-- #start search -->
  <section class="search-container">
    <section class="btn-search-box" id="search-toggle-button"></section>
    <section class="search-box">
      <div class="title">
        <h3>TÌM NHÀ NHANH</h3>
      </div>
      <div class="content">
        <div class="form-input col-md-4">
          <form action="#" method="post">
            <ul>
              <li>
                <label class="control-label">
                  Tên bất động sản
                </label>
                <section class="input">
                  <input type="text" class="form-control input-sm">
                </section>
              </li>
              <li>
                <label class="control-label">
                  Dự án
                </label>
                <section class="input">
                  <select class="form-control input-sm">
                    <option>a</option>
                    <option>b</option>
                    <option>c</option>
                    <option>d</option>
                  </select>
                </section>
              </li>
              <li class="col-sm-6">
                <label class="control-label">
                  Giá từ
                </label>
                <section class="input">
                  <input type="text" class="form-control">
                </section>
              </li>
              <li class="col-sm-6">
                <label class="control-label">
                  đến
                </label>
                <section class="input">
                  <input type="text" class="form-control">
                </section>
              </li>
              <li>
                <label class="control-label">
                  Nhu cầu
                </label>
                <section class="input">
                  <select class="form-control input-sm">
                    <option>a</option>
                    <option>b</option>
                  </select>
                </section>
              </li>
              <li>
                <label class="control-label">
                  Tỉnh/Thành phố
                </label>
                <section class="input">
                  <select class="form-control input-sm">
                    <option>a</option>
                    <option>b</option>
                  </select>
                </section>
              </li>
              <li>
                <label class="control-label">
                  Quận huyện
                </label>
                <section class="input">
                  <select class="form-control input-sm">
                    <option>a</option>
                    <option>b</option>
                  </select>
                </section>
              </li>
              <li class="col-sm-6">
                <label class="control-label">
                  Loại bất động sản
                </label>
                <section class="input">
                  <select class="form-control input-sm">
                    <option>a</option>
                    <option>b</option>
                  </select>
                </section>
              </li>
              <li class="col-sm-6">
                <label class="control-label">
                  Diện tích
                </label>
                <section class="input">
                  <select class="form-control input-sm">
                    <option>a</option>
                    <option>b</option>
                  </select>
                </section>
              </li>
            </ul>
          </form>
        </div>
        <div class="map col-sm-8">
          <img src="/assets/product/icon_Bando.png">
        </div>        
      </div>
    </section>
  </section>
  <!-- #end search -->
  <!-- #start product -->
  <br><br><br><br><br><br><br><br><br><br>
  <section id="product-container" class="product-container">
    <article class="container">
      <article class="row text-xs-center text-sm-left">
        <!-- #start product-column -->
        <article class="column col-sm-6 col-md-4 col-lg-4 max-width-sm-none">

        </article>
        <!-- #end product-column -->
        <!-- #start product-column -->
        <article class="column col-sm-6 col-md-4 col-lg-4 max-width-sm-none">
          
        </article>
        <!-- #end product-column -->
        <!-- #start product-column -->
        <article class="column col-sm-6 col-md-4 col-lg-4 max-width-sm-none">

        </article>
        <!-- #end product-column -->
      </article>
    </article>
  </section>
  <!-- #end product -->
</main>
<!-- #end main -->
</body>
<script type="text/javascript" src="/assets/shared/jquery.min.js"></script>
<script type="text/javascript" src="/assets/home/index.js"></script>
</html>