<% 
=begin
	params: blocks
=end
 
%>

<% blocks.each do |block| %>
  <article class="col-lg-3 col-md-4 col-sm-4 col-ss-6 col-xs-12">
		<a href="javascript:void(0)" class="item" data-value="<%= block.id %>">
			<section class="top">
				<%= block_avatar block %>
				<section class="left">
					<article class="node font-bold">
						<%= block.name %>
					</article>
				</section>
			</section>
		</a>
	</article>
<% end %>