<% 
=begin
	params: blocks
=end
 
%>

<% blocks.each do |block| %>
	<a href="javascript:void(0)" class="item horizontal-item margin-left-right-10" data-value="<%= block.id %>">
		<section class="top">
			<%= block_avatar block %>
			<section class="left">
				<article class="node font-bold">
					<%= block.name %>
				</article>
			</section>
		</section>
	</a>
<% end %>