<% 
=begin
	params: blocks
=end
 
%>

<% blocks.each do |block| %>
	<% 
		groups = []
		block.real_estate_groups.each do |g|
			groups << {
				id: g.id,
				name: g.name
			}
		end
	%>
	<article class="item horizontal-item width-250" data-value="<%= block.id %>" data-groups="<%= groups.to_json %>">
		<section class="top">
			<a href="javascript:void(0)" aria-click="select_block">
				<%= block_avatar block %>
			</a>
			<section class="left">
				<article class="node font-bold" aria-object="name">
					<%= block.name %>
				</article>
			</section>
		</section>
    <section class="control">
      <span class="node">
        <a aria-click="edit_block" href="javascript:void(0)" class="fa fa-pencil fa-lg"></a>
      </span>
      <span class="node">
        <a aria-click="delete_block" href="javascript:void(0)" class="fa fa-trash-o fa-lg"></a>
      </span>
    </section>
	</article>
<% end %>