<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/system_groups/manage.css">
<% end %>

<% content_for :scripts do %>
	<script type="text/javascript" src="/assets/system_groups/manage.js"></script>
<% end %>

<% content_for :content_header do %>
	Quản lý quyền
<% end %>

<%
=begin
	params: 
=end

	@title = 'Quản lý quyền';
%>

<div class="row no-horizontal-padding">
	
	<!-- Groups -->

		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
			<section class="groups-container">
				<section class="list">
					<article class="item">
						<a class="text">Quản lý hệ thống</a>
					</article>
					<article class="item">
						<a class="text">Quản lý hệ thống</a>
					</article>
					<article class="item">
						<a class="text">Quản lý hệ thống</a>
					</article>
					<article class="item">
						<a class="text">Quản lý hệ thống</a>
					</article>
					<article class="item">
						<a class="text">Quản lý hệ thống</a>
					</article>
					<article class="item">
						<a class="text">Quản lý hệ thống</a>
					</article>
					<article class="item">
						<a class="text">Quản lý hệ thống</a>
					</article>
				</section>
			</section>
		</div>

	<!-- / Groups -->

	<!-- Users -->
	
		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
			<section class="users-container">
				
			</section>
		</div>
	
	<!-- / Users -->

	<!-- Permission -->
	
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<section class="permissions-container">
				
			</section>
		</div>
	
	<!-- / Permission -->
</div>