<%
=begin
	params: @groups
=end

	@_title 			=
	@_content_header 	= 'Quản lý quyền';
%>

<div class="row">
	
	<!-- Groups -->

		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
			<section class="box groups-container">
				<section class="box-header with-border">
					<h2 class="box-title">
						Danh sách nhóm
					</h2>
					<article class="box-tools pull-right">
						<a id="create_group" class="btn btn-box-tool"><span class="fa fa-plus"></span> Thêm</a>
					</article>
				</section>
				<section class="box-body padding-0 list" id="groups_list">
					<%= render partial: 'group_items', locals: { groups: @groups } %>
				</section>
			</section>
		</div>

	<!-- / Groups -->

	<!-- Permission -->
	
		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
			<section class="box permissions-container hidden">
				<section class="box-header with-border">
					<h2 class="box-title">
						Danh sách quyền
					</h2>
					<article class="box-tools pull-right">
						<a data-action="edit_group" class="btn btn-box-tool"><span class="fa fa-pencil"></span> Sửa nhóm</a>
						<a data-action="delete_group" class="btn btn-box-tool"><span class="fa fa-close"></span> Xóa nhóm</a>
					</article>
				</section>
				<section class="box-body content">
					<form class="row list" id="permissions_list">
						<%= render partial: 'permission_items', locals: { permissions: Permission.where(scope: ['sys_general', 'sys_re', 'sys_pj'], parent_permission_id: nil), first: true } %>
					</form>
				</section>
				<section class="box-footer">
					<button class="btn btn-flat btn-primary btn-block" id="save_permissions">
						Cập nhật
					</button>
				</section>
			</section>
		</div>
	
	<!-- / Permission -->

	<!-- Users -->
	
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<section class="box users-container hidden">
				<section class="box-header with-border">
					<h2 class="box-title">
						Danh sách người dùng thuộc nhóm
					</h2>
					<article class="box-tools pull-right">
						<a data-action="edit_group" class="btn btn-box-tool"><span class="fa fa-pencil"></span> Sửa nhóm</a>
						<a data-action="delete_group" class="btn btn-box-tool"><span class="fa fa-close"></span> Xóa nhóm</a>
					</article>
				</section>
				<section class="box-body">
					<form class="form" id="find_user_form">
						<input data-nonvalid class="form-control" aria-input-type="autocomplete" data-url="/users/autocomplete" id="find_user" placeholder="Nhập thông tin tài khoản cần tìm" />
					</form>
				</section>
				<section class="box-body padding-0 list">
					<div class="row no-horizontal-padding list" id="users_list">
						
					</div>
				</section>
			</section>
		</div>
	
	<!-- / Users -->
</div>

<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/system_groups/manage.css">
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript" src="/assets/system_groups/manage.js"></script>
<% end %>