<% content_for :stylesheets do %>
  <link rel="stylesheet" type="text/css" href="/assets/projects/create_details.css">
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript" src="/assets/projects/create_details.js"></script>
<% end %>

<article class="create-details-container open">

</article>

<button id="a">Mở</button>