<% 
=begin
	params: @project
=end

%>

<% content_for :stylesheets do %>
  <link rel="stylesheet" type="text/css" href="/assets/projects/create_details.css">
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript" src="/assets/projects/create_details.js"></script>
  <script type="text/javascript">
  	project_id = <%= @project.id %>;
  </script>
<% end %>

<article class="create-details-container">
	<article class="select-description-container">
		<article class="close-popup"></article>
		<aricle class="select-description">

			<!-- Block -->

				<article class="blocks-container box box-transparent">
					<section class="box-header">
						<h2 class="box-title">Danh sách block</h2>
					</section>
					<section class="box-body">
					<div class="horizontal-list-container">
						<div id="block_description_list" class="horizontal-list item-list">
						</div>
					</div>
					</section>
				</article>

			<!-- Block -->

			<!-- Real-estate -->

				<article class="blocks-container box box-transparent">
					<section class="box-header">
						<h2 class="box-title">Danh sách loại bất động sản</h2>
					</section>
					<section class="box-body">
					<div class="horizontal-list-container text-left">
						<div id="real_estate_description_list" class="horizontal-list item-list">
						</div>
					</div>
					</section>
				</article>

			<!-- Real-estate -->

			<!-- Text -->

				<article class="blocks-container box box-transparent">
					<section class="box-header">
						<h2 class="box-title">Chú thích</h2>
					</section>
					<section class="box-body">
					<div class="horizontal-list-container">
					</div>
					</section>
				</article>

			<!-- Text -->

			<!-- Button -->

				<article class="buttons-container">
					<a aria-click="save" class="fa fa-check fa-3x text-light-blue low-opacity-button"></a>
					<a aria-click="close" class="fa fa-times fa-3x text-red low-opacity-button"></a>
				</article>

			<!-- / Button -->

		</aricle>
	</article>

	<section id="view" class="view-container">
		<svg id="svg">
			<g>
				<g id="g">
				</g>
			</g>
		</svg>
	</section>
	<section class="toolbox-container">
		<div class="top">
			<a aria-type="tool" aria-click="mouse" class="node active"><span class="fa fa-mouse-pointer fa-lg"></span></a>
			<a aria-type="tool" aria-click="polyline" class="node"><span class="fa fa-pencil fa-lg"></span></a>
		</div>
		<div class="bottom">
			<a aria-click="save" class="node"><span class="fa fa-check-circle-o fa-2x text-light-blue" title="Lưu và thoát"></span></a>
			<a aria-click="exit" class="node"><span class="fa fa-times-circle-o fa-2x text-red" title="Thoát"></span></a>
		</div>
	</section>
	<section class="images-container">
		<article class="image-container horizontal-list-container show">
			<div class="image-list horizontal-list">
				<article class="item horizontal-item"></article>
			</div>
		</article>
	</section>
</article>

<div id="view_part">

	<article class="blocks-container box box-transparent">

		<!-- Project image interact -->

			<section class="margin-bottom-15 text-right">
				<a aria-click="project_image_interact" class="btn btn-flat btn-default">Thiết lập hình ảnh dự án</a>
			</section>

		<!-- / Project image interact -->

		<!-- Block -->

			<section class="box-header">
				<h2 class="box-title">Danh sách block</h2>
				<div class="box-tools pull-right">
		      <button class="btn btn-box-tool" aria-click="create_block"><i class="fa fa-plus"></i> Thêm mới</button>
		    </div>
			</section>
			<section class="box-body">
				<div class="horizontal-list-container">
					<div id="block_list" class="horizontal-list item-list block-list">
						<%= render partial: 'blocks/item_list', locals: { blocks: @project.blocks } %>
					</div>
				</div>

				<!-- Real-estate -->

					<article class="real-estate-container box">
						<section class="box-header">
							<h2 class="box-title">Danh sách loại bất động sản</h2>
							<div class="box-tools pull-right">
					      <button class="btn btn-box-tool" aria-click="create_real_estate"><i class="fa fa-plus"></i> Thêm mới</button>
					    </div>
						</section>
						<section class="box-body">
							<section id="real_estate_list" class="item-list row">
							</section>
							<section id="real_estate_pagination" class="text-center">
							</section>
						</section>
					</article>

				<!-- / Real-estate -->

			</section>
		</article>

	<!-- / Block -->

</div>