<% 
=begin
	params: @project
=end

%>

<% content_for :stylesheets do %>
  <link rel="stylesheet" type="text/css" href="/assets/projects/create_details.css">
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript" src="/assets/projects/create_details.js"></script>
  <script type="text/javascript">
  	project_id = <%= @project.id %>;
  </script>
<% end %>

<article class="create-details-container">
	<section id="view" class="view-container">
		<svg id="svg">
			<g>
				<g id="g">
					<image id="image" />
				</g>
			</g>
		</svg>
	</section>
	<section class="toolbox-container">
		<article aria-type="tool" aria-click="mouse" class="node active"><span class="fa fa-mouse-pointer"></span></article>
		<article aria-type="tool" aria-click="polyline" class="node"><span class="fa fa-pencil"></span></article>
		<!-- <article aria-type="tool" aria-click="move" class="node"><span class="fa fa-arrows-alt"></span></article> -->
	</section>
	<section class="items-container">
		<article class="item-container show">
			<div class="item-list">
				<article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article>
			</div>
		</article>
		<article class="item-container horizontal-list-container">
			<div class="item-list horizontal-list">
				<article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article>
			</div>
		</article>
		<article class="item-container">
			<div class="item-list">
				<article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article><article class="item horizontal-item"></article>
			</div>
		</article>
	</section>
</article>

<!-- 
	<button id="a">Mở</button>
	<br />
	<br />
	<br />
	<br />
	<br />

 -->

<div id="view_part">

	<article class="blocks-container box transparent with-border">

		<!-- Block -->

			<section class="box-header">
				<h2 class="box-title">Danh sách block</h2>
				<div class="box-tools pull-right">
		      <button class="btn btn-box-tool" aria-click="create_block"><i class="fa fa-plus"></i> Thêm mới</button>
		    </div>
			</section>
			<section class="box-body">
				<div class="horizontal-list-container">
					<div id="block_list" class="horizontal-list item-list block-list">
						<%= render partial: 'blocks/item_list', locals: { blocks: @project.blocks } %>
					</div>
				</div>

				<!-- Real-estate -->

					<article class="real-estate-container box">
						<section class="box-header">
							<h2 class="box-title">Danh sách loại bất động sản</h2>
							<div class="box-tools pull-right">
					      <button class="btn btn-box-tool" aria-click="create_real_estate"><i class="fa fa-plus"></i> Thêm mới</button>
					    </div>
						</section>
						<section class="box-body">
							<div id="real_estate_list" class="item-list">
								asdfasdfasdf
							</div>
						</section>
					</article>

				<!-- / Real-estate -->

			</section>
		</article>

	<!-- / Block -->

</div>