<% content_for :stylesheets do %>
  <link rel="stylesheet" href="/assets/projects/create.css" />  
<% end %>

<% content_for :scripts do %>  
  <script src="/assets/projects/create.js"></script>
<% end %>

<div class="container-fluid">  
  <!-- #start main-content -->
  <article class="row wrapper">
    <article class="main-content col-sm-8">    
      <form class="form-horizontal" id="create_real_estate" method="post" action="/businesses/manager">
      <section class="main-title">Admin Add Project</section>      
      <ul class="item-wrapper">
        <!-- #Start item "Vị trí" -->
        <li class="item">
          <div class="item-title">Vị trí</div>
          <ul class="item-content">
            <li class="form-group">            
              <label class="control-label col-sm-3 input-sm">Name:</label>            
              <div class="col-sm-4">
                <input class="form-control input-sm">
              </div>
            </li>      
            <li class="form-group">            
              <label class="control-label col-sm-3 input-sm">City:</label>            
              <div class="col-sm-4">
                <input class="form-control input-sm">
              </div>
            </li>
            <li class="form-group">            
              <label class="control-label col-sm-3 input-sm">District:</label>            
              <div class="col-sm-4">
                <input class="form-control input-sm">
              </div>
            </li>
            <li class="form-group">            
              <label class="control-label col-sm-3 input-sm">Stress:</label>            
              <div class="col-sm-4">
                <input class="form-control input-sm">
              </div>
            </li>
            <li class="form-group">            
              <label class="control-label col-sm-3 input-sm">Home Number:</label>            
              <div class="col-sm-4">
                <input class="form-control input-sm">
              </div>
            </li>
            <li class="form-group">            
              <label class="control-label col-sm-3 input-sm">Longitude:</label>            
              <div class="col-sm-4">
                <input class="form-control input-sm">
              </div>
            </li>
            <li class="form-group">            
              <label class="control-label col-sm-3 input-sm">Latitude:</label>            
              <div class="col-sm-4">
                <input class="form-control input-sm">
              </div>
            </li>
            <li class="form-group"> 
              <label class="control-label col-sm-3 input-sm"></label>
              <div class="col-sm-4">
                <a href="#" class="btn btn-link expand" data-target="#map">View Map</a>
              </div>
            </li>
            <li class="form-group">            
              <div class="col-xs-12">
                <img src="/assets/product/icon_Bando.png" class="img-responsive" id="map" style="display:none;">
              </div>
            </li>
          </ul>
        </li>
        <!-- #End item "Vị trí" -->
        <!-- #Start item "Chi tiết" -->
        <li class="item">
          <div class="item-title">Thông tin chi tiết</div>
          <ul class="item-content">                        
            <li class="form-group">                          
              <label class="control-label col-sm-3 input-sm">Diện tích đất:</label>
              <div class="input-group col-sm-4">
                <input class="form-control input-sm">
                <div class="input-group-addon">m<sup>2</sup></div>
              </div>
            </li>
            <li class="form-group">                          
              <label class="control-label col-sm-3 input-sm">Diện tích sử dụng:</label>
              <div class="input-group col-sm-4">
                <input class="form-control input-sm">
                <div class="input-group-addon">m<sup>2</sup></div>
              </div>
            </li>
            <li class="form-group">                          
              <label class="control-label col-sm-3 input-sm">Ngang:</label>
              <div class="input-group col-sm-4">
                <input class="form-control input-sm">
                <div class="input-group-addon">m</div>
              </div>
            </li>
            <li class="form-group">                          
              <label class="control-label col-sm-3 input-sm">Dọc:</label>
              <div class="input-group col-sm-4">
                <input class="form-control input-sm">
                <div class="input-group-addon">m</div>
              </div>
            </li>
            <li class="form-group">                          
              <label class="control-label col-sm-3 input-sm">Tỉ lệ sử dụng:</label>
              <div class="input-group col-sm-4">
                <input class="form-control input-sm">
                <div class="input-group-addon">%</div>
              </div>
            </li>
            <li class="form-group">                          
              <label class="control-label col-sm-3 input-sm">Số tầng:</label>
              <div class="col-sm-4">
                <input class="form-control input-sm">                
              </div>
            </li>
            <li class="form-group">                          
              <label class="control-label col-sm-3 input-sm">Số căn hộ trên 1 tầng:</label>
              <div class="col-sm-4">
                <input class="form-control input-sm">                
              </div>
            </li>
            <li class="form-group">                          
              <label class="control-label col-sm-3 input-sm">Ngày khởi công (dự kiến):</label>
              <div class="input-group col-sm-4">
                <input class="form-control input-sm date">
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                </div>
              </div>
            </li>
            <li class="form-group">                          
              <label class="control-label col-sm-3 input-sm">Ngày hoàn thành (dự kiến):</label>
              <div class="input-group col-sm-4">
                <input class="form-control input-sm date">
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                </div>
              </div>
            </li>
            <li class="form-group">                          
              <label class="control-label col-sm-3 input-sm">Ngày khởi công:</label>
              <div class="input-group col-sm-4">
                <input class="form-control input-sm date">
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                </div>
              </div>
            </li>
            <li class="form-group">                          
              <label class="control-label col-sm-3 input-sm">Hoàn thành mống:</label>
              <div class="input-group col-sm-4">
                <input class="form-control input-sm date">
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                </div>
              </div>
            </li>
            <li class="form-group">                          
              <label class="control-label col-sm-3 input-sm">Ngày bàn giao nhà:</label>
              <div class="input-group col-sm-4">
                <input class="form-control input-sm date">
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                </div>
              </div>
            </li>
            <li class="form-group">                          
              <label class="control-label col-sm-3 input-sm">Ngày cấp sổ:</label>
              <div class="input-group col-sm-4">
                <input class="form-control input-sm date">
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                </div>
              </div>
            </li>
            <li class="form-group">                          
              <label class="control-label col-sm-3 input-sm">Chủ đầu tư:</label>
              <div class="col-sm-4">
                <input class="form-control input-sm">
              </div>
            </li>
            <li class="form-group">                          
              <label class="control-label col-sm-3 input-sm">Đơn vị thi công:</label>
              <div class="col-sm-4">
                <input class="form-control input-sm">
              </div>
            </li>
            <li class="form-group">                          
              <label class="control-label col-sm-3 input-sm">Đơn vị thiết kế:</label>
              <div class="col-sm-4">
                <input class="form-control input-sm">
              </div>
            </li>
            <li class="form-group">                          
              <label class="control-label col-sm-3 input-sm">Đơn vị quản lý:</label>
              <div class="col-sm-4">
                <input class="form-control input-sm">
              </div>
            </li>
          </ul>
        </li>
        <!-- #End item "Vị trí" -->
        <!-- #Start item "Mô tả" -->
        <li class="item">
          <div class="item-title">Mô tả</div>
          <ul class="item-content">                        
            <li class="form-group">                          
              <div class="col-sm-9">
                <textarea name="real_estate[description]" class="form-control required" id="description"></textarea>
              </div>
            </li>            
          </ul>
        </li>
        <!-- #End item "Mô tả" -->
        <!-- #Start item "Hình ảnh dự án" -->
        <li class="item continue-composing">
          <div class="item-title">Hình ảnh dự án</div>
          <ul class="item-content">
            <li class="form-group">
              <label class="control-label col-sm-3" for="images"></label>
              <div class="col-sm-9">
                <div class="image-upload">
                  <input type="hidden" name="real_estate[image_ids][]" />
                  <label>
                    <input type="file" />
                  </label>
                  <img />
                  <u></u>
                  <i></i>
                </div>
                <div class="image-upload">
                  <input type="hidden" name="real_estate[image_ids][]" />
                  <label>
                    <input type="file" />
                  </label>
                  <img />
                  <u></u>
                  <i></i>
                </div>
                <div class="image-upload">
                  <input type="hidden" name="real_estate[image_ids][]" />
                  <label>
                    <input type="file" />
                  </label>
                  <img />
                  <u></u>
                  <i></i>
                </div>
                <div class="image-upload">
                  <input type="hidden" name="real_estate[image_ids][]" />
                  <label>
                    <input type="file" />
                  </label>
                  <img />
                  <u></u>
                  <i></i>
                </div>
                <div class="image-upload">
                  <input type="hidden" name="real_estate[image_ids][]" />
                  <label>
                    <input type="file" />
                  </label>
                  <img />
                  <u></u>
                  <i></i>
                </div>
              </div>                  
            </li>
          </ul>
        </li>
        <!-- #End item "Hình ảnh dự án" -->
        <!-- #Start item "Submit Button" -->
        <li class="item">          
          <ul class="item-content">
            <li class="submit-button">                                              
              <p class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-danger">Reset</button>                
              </p>              
            </li>
          </ul>
        </li>
        <!-- #End item "Submit Button" -->
      </ul>
      </form>
    </article>              
  </article>
  <!-- #start main-content -->
</div>