<% content_for :stylesheets do %>
    <link rel="stylesheet" href="/assets/projects/index.css" />
<% end %>

<% content_for :scripts do %>

<% end %>

<!-- #start slide-picture -->
<section class="slide-picture">
  <ul class="details">
    <li>
      <div class="picture">
        <img src="/assets/product/DuAn01.jpg">
      </div>
      <div class="title">Dự án Riverside</div>
      <div class="state">Đang hoàn thành</div>
      <div class="address">Đường Lê Văn Lương, Phường Tân Quy, Quận 7</div>
    </li>
  </ul>
  <ul class="scroll">
    <li class="inactive"></li>
    <li class="active"></li>
    <li class="inactive"></li>
    <li class="inactive"></li>
    <li class="inactive"></li>
  </ul>
</section>
<!-- #end slide-picture -->
<!-- #start separator -->
<section class="separator">
</section>
<!-- #end separator -->
<!-- #start projects block -->
<section class="block-box">
  <article class="block-content">
    <ul class="project-list row">
      <!-- #start item -->
      <li class="col-sm-6">
        <section class="project-item">
          <a href="/projects/view">
            <article class="details">
              <div class="image">
                <img src="/assets/product/BDS09.jpg">
              </div>
              <div class="content">
                <h4>Chung cư Himlam</h4>
                <div class="investor"><span>Chủ đầu tư: Cty CP Himlam</span></div>
                <div class="state">Đang hoàn thành</div>
                <div class="properties">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.
                </div>
              </div>
              <div class="favorite-button"></div>
            </article>
          </a>
          <article class="link">
            <a href="#">Xem tất cả bất động sản</a>
            <a href="#" class="share-button"></a>
          </article>
        </section>
      </li>
      <!-- #end item -->
      <!-- #start item -->
      <li class="col-sm-6">
        <section class="project-item">
          <a href="/projects/view">
            <article class="details">
              <div class="image">
                <img src="/assets/product/BDS07.jpg">
              </div>
              <div class="content">
                <h4>Chung cư Himlam</h4>
                <div class="investor"><span>Chủ đầu tư: Cty CP Himlam</span></div>
                <div class="state">Đang hoàn thành</div>
                <div class="properties">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.
                </div>
              </div>
              <div class="favorite-button"></div>
            </article>
          </a>
          <article class="link">
            <a href="#">Xem tất cả bất động sản</a>
            <a href="#" class="share-button"></a>
          </article>
        </section>
      </li>
      <!-- #end item -->
      <!-- #start item -->
      <li class="col-sm-6">
        <section class="project-item">
          <a href="/projects/view">
            <article class="details">
              <div class="image">
                <img src="/assets/product/BDS01.jpg">
              </div>
              <div class="content">
                <h4>Chung cư Himlam</h4>
                <div class="investor"><span>Chủ đầu tư: Cty CP Himlam</span></div>
                <div class="state">Đang hoàn thành</div>
                <div class="properties">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.
                </div>
              </div>
              <div class="favorite-button"></div>
            </article>
          </a>
          <article class="link">
            <a href="#">Xem tất cả bất động sản</a>
            <a href="#" class="share-button"></a>
          </article>
        </section>
      </li>
      <!-- #end item -->
      <!-- #start item -->
      <li class="col-sm-6">
        <section class="project-item">
          <a href="/projects/view">
            <article class="details">
              <div class="image">
                <img src="/assets/product/BDS06.jpg">
              </div>
              <div class="content">
                <h4>Chung cư Himlam</h4>
                <div class="investor"><span>Chủ đầu tư: Cty CP Himlam</span></div>
                <div class="state">Đang hoàn thành</div>
                <div class="properties">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.
                </div>
              </div>
              <div class="favorite-button"></div>
            </article>
          </a>
          <article class="link">
            <a href="#">Xem tất cả bất động sản</a>
            <a href="#" class="share-button"></a>
          </article>
        </section>
      </li>
      <!-- #end item -->
      <!-- #start item -->
      <li class="col-sm-6">
        <section class="project-item">
          <a href="/projects/view">
            <article class="details">
              <div class="image">
                <img src="/assets/product/BDS03.jpg">
              </div>
              <div class="content">
                <h4>Chung cư Himlam</h4>
                <div class="investor"><span>Chủ đầu tư: Cty CP Himlam</span></div>
                <div class="state">Đang hoàn thành</div>
                <div class="properties">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.
                </div>
              </div>
              <div class="favorite-button"></div>
            </article>
          </a>
          <article class="link">
            <a href="#">Xem tất cả bất động sản</a>
            <a href="#" class="share-button"></a>
          </article>
        </section>
      </li>
      <!-- #end item -->
      <!-- #start item -->
      <li class="col-sm-6">
        <section class="project-item">
          <a href="/projects/view">
            <article class="details">
              <div class="image">
                <img src="/assets/product/BDS04.jpg">
              </div>
              <div class="content">
                <h4>Chung cư Himlam</h4>
                <div class="investor"><span>Chủ đầu tư: Cty CP Himlam</span></div>
                <div class="state">Đang hoàn thành</div>
                <div class="properties">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.
                </div>
              </div>
              <div class="favorite-button"></div>
            </article>
          </a>
          <article class="link">
            <a href="#">Xem tất cả bất động sản</a>
            <a href="#" class="share-button"></a>
          </article>
        </section>
      </li>
      <!-- #end item -->
    </ul>
  </article>
</section>
<!-- #end projects block -->