<%
=begin
	variables: notification
=end

	scope = 'real_estates._notification_mini_item.'

	if notification.real_estate.blank?
		notification.delete
		return
	end

	user_name = case notification.user_type
		when 'user'
			if notification.interact_user.blank?
				notification.delete
				return
			end
			notification.interact_user.full_name
		when 'contact_user'
			if notification.interact_contact_user.blank?
				notification.delete
				return
			end
			notification.interact_contact_user.name
		when 'guess'
			t 'global.text.guess'
		end

%>

<% case notification.action %>
<% when 'create' %>
	<%
		url = "/bat-dong-san/#{notification.real_estate.full_slug}"
		text = t(scope + 'create', name: user_name)
	%>
<% when 'edit' %>
	<%
		url = "/bat-dong-san/#{notification.real_estate.full_slug}"
		text = t(scope + 'edit', name: user_name)
	%>
<% when 'approve' %>
	<%
		url = "/bat-dong-san/#{notification.real_estate.full_slug}"
		text = t(scope + 'approve')
	%>
<% end %>

<li data-value="<%= notification.id %>" class="<%= 'unread new' unless notification.read? %>">
	<a href="<%= url %>">
		<i class="icon ico-home text-green"></i> <%= text %>
	</a>
</li>