<% content_for :stylesheets do %>
	<link rel="stylesheet" href="/assets/real_estates/estimate.css" />
<% end %>

<% content_for :scripts do %>
	<script src="/assets/real_estates/estimate.js"></script>
<% end %>

<!--start Search Box -->
<section class="search">
	<div class="search-box">
		<div class="title">
			<h3>Hãy để MuanhaOnline tìm nhà giúp bạn.</h3>
		</div>
		<form>
			<div class="tab">
				<label><input type="radio" name="typeTab"><i class="icon-32 icon-home-sale"></i><span>Nhà Bán</span></label>
				<label><input type="radio" name="typeTab"><i class="icon-32 icon-home-rent"></i><span>Nhà Thuê</span></label>       
			</div>
			<div class="form-group-custom">
				<input type="text" class="form-control search-keyword" placeholder="... nhà phố quận 2">
				<div class="btn-group history-search">
					<button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						từ khóa
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Từ khóa 01</a></li>
						<li><a href="#">Từ khóa 02</a></li>
						<li><a href="#">Từ khóa 03</a></li>
					</ul>
				</div>
				<div class="separator">
					<span>|</span>
				</div>
				<div class="btn-search">
					<button type="submit"></button>
					<div class="btn-more" data-function="show-search-plus">
						<span class="caret"></span>
					</div>
				</div>
			</div>			
			<section class="more-search" id="more_search" style="display:none">
				<div class="form-group-custom container-fluid">
					<div class="row">
						<div class="col-md-6 input-inline">
						<select class="form-control input-sm">
						<option>--Chọn thành phố/Tỉnh--</option>
						<option>Thành phố Hồ Chí Minh</option>
						<option>Hà Nội</option>
						<option>Bà Rịa - Vũng Tàu</option>
						</select>
						</div>
						<div class="col-md-6">
						<select class="form-control input-sm">
						<option>--Chọn quận/huyện--</option>
						<option>Quận 1</option>
						<option>Quận 5</option>
						</select>
						</div>
					</div>
				</div>
				<div class="form-group-custom">
					<select class="form-control input-sm">
						<option>--Chọn giá tiền--</option>
						<option>1 tỷ - 3 tỷ</option>
						<option>3 tỷ - 5 tỷ</option>
						<option>trên 5 tỷ</option>
					</select>
				</div>
				<div class="form-group-custom">
					<select class="form-control input-sm">
						<option>--Chọn diện tích--</option>
						<option>50m2 - 100m2</option>
						<option>100m2 - 200m2</option>
						<option>trên 200m2</option>
					</select>
				</div>
				<div class="form-group-custom container-fluid">
					<div class="row">
						<div class="col-md-6 input-inline">
							<select class="form-control input-sm">
								<option>--Chọn loại dự án--</option>
								<option>Dự án căn hộ liên kế</option>
								<option>Dự án biệt thự cao cấp</option>
								<option>Dự án nhà ở xã hội</option>
							</select>
						</div>
						<div class="col-md-6 input-inline">
							<select class="form-control input-sm">
								<option>--Chọn tình trạng dự án--</option>
								<option>Dự án đã hoàn thành</option>
								<option>Dự án đang hoàn thành</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					
				</div>
			</section>
			<div class="btn-plus">
				<button type="submit" class="btn btn-success btn-sm btn-search-plus">
					<img src="/assets/icon/search-plus.png">
					Tìm nâng cao
				</button>
				<button type="button" class="btn btn-success btn-sm" data-function="zestimate" data-popup="coming-soon">Định giá khu vực này</button>
			</div>
		</form>
	</div>
</section>
<!-- end Search Box-->

<!-- start navigator -->
<section class="navigator container">
	<ol class="breadcrumb">
		<li><a href="/">Trang chủ</a></li>
		<li class="active">Bất động sản đã định giá</li>
	</ol>
</section>
<!-- end navigator -->

<article class="real-estimate block container">
	<article class="title">
		<a href="#" class="link">
			<i class="fa fa-link"></i>
			<span>Bất động sản đã định giá</span>
		</a>
	</article>
	<article class="content">
		<div class="panel-switch">
			<ul class="nav nav-pills nav-stacked">
				<li role="estimate" class="active"><a href="#estimate_new" aria-controls="home" role="tab" data-toggle="tab">Định giá mới nhất</a></li>
				<li role="estimate"><a href="#estimate_price" aria-controls="profile" role="tab" data-toggle="tab">Khoảng giá</a></li>
				<li role="estimate"><a href="#estimate_position" aria-controls="messages" role="tab" data-toggle="tab">Tỉnh/TP - Quận/Huyện</a></li>
				<li role="estimate"><a href="#estimate_company" aria-controls="settings" role="tab" data-toggle="tab">Công ty định giá</a></li>
			</ul>
		</div>
		<div class="content-switch">
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="estimate_new">
					<ul class="nav nav-pills structure">
						<li class="active"><a href="#hometown" role="tab" data-toggle="tab">Nhà phố</a></li>
						<li><a href="#villa" role="tab" data-toggle="tab">Villa - Biệt thự</a></li>
						<li><a href="#apartment" role="tab" data-toggle="tab">Căn hộ</a></li>
						<li><a href="#ground" role="tab" data-toggle="tab">Mặt bằng</a></li>
						<li><a href="#land" role="tab" data-toggle="tab">Đất</a></li>
					</ul>
					<div class="tab-content sub-content">
						<div role="tabpanel" class="tab-pane active" id="hometown">
							<div class="row">
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
							</div>
							<div class="paging">
								<div class="left">
									<i class="pe-7s-angle-left"></i>
								</div>
								<div class="number">
									<span>2/3</span>
								</div>
								<div class="right">
									<i class="pe-7s-angle-right"></i>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="villa">
							<div class="row">
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
							</div>
							<div class="paging">
								<div class="left">
									<i class="pe-7s-angle-left"></i>
								</div>
								<div class="number">
									<span>2/3</span>
								</div>
								<div class="right">
									<i class="pe-7s-angle-right"></i>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="apartment">
							<div class="row">
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
							</div>
							<div class="paging">
								<div class="left">
									<i class="pe-7s-angle-left"></i>
								</div>
								<div class="number">
									<span>2/3</span>
								</div>
								<div class="right">
									<i class="pe-7s-angle-right"></i>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="ground">
							<div class="row">
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
							</div>
							<div class="paging">
								<div class="left">
									<i class="pe-7s-angle-left"></i>
								</div>
								<div class="number">
									<span>2/3</span>
								</div>
								<div class="right">
									<i class="pe-7s-angle-right"></i>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="land">
							<div class="row">
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
								<div class="col-lg-4 col-sm-6">
									<li class="item-sm" data-value="29">
										<a href="/projects/29">
											<div class="picture">
												<img class="" src="/assets/projects/thumb/default.png" alt="Dự án căn hộ Đạt Gia Residence Thủ Đức">
											</div>
											<div class="info">
												<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Đạt Gia Residence">
													<span>Đạt Gia Residence</span>
												</div>				
												<div class="type-real">
													<i class="fa fa-home"></i>
													<span>Căn hộ</span>
												</div>		
												<div class="status">							
														<i class="fa fa-circle working"></i>
														<span>Đang thực hiện</span>
												</div>
												<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh">
													<i class="icon-16 icon-position"></i>
													<span> Cây Keo, Tam Phú, Thủ Đức, Tp. Hồ Chí Minh</span>
												</div>
												<div class="price">
													<i class="icon-16 icon-dollar"></i>
														<p class="number sale">709 triệu/m<sup>2</sup></p>
												</div>
											</div>
										</a>
										<div class="function">
											<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
											<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định gía căn nhà này"></a>
										</div>
									</li>
								</div>
							</div>
							<div class="paging">
								<div class="left">
									<i class="pe-7s-angle-left"></i>
								</div>
								<div class="number">
									<span>2/3</span>
								</div>
								<div class="right">
									<i class="pe-7s-angle-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="estimate_price">
					<ul class="nav nav-pills">
						<li class="active"><a href="#hometown" role="tab" data-toggle="tab">Nhà phố</a></li>
						<li><a href="#villa" role="tab" data-toggle="tab">Villa - Biệt thự</a></li>
						<li><a href="#apartment" role="tab" data-toggle="tab">Căn hộ</a></li>
						<li><a href="#ground" role="tab" data-toggle="tab">Mặt bằng</a></li>
						<li><a href="#land" role="tab" data-toggle="tab">Dat</a></li>
					</ul>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="hometown">
							danh sách nhà phố
						</div>
						<div role="tabpanel" class="tab-pane" id="villa">
							danh sach villa
						</div>
						<div role="tabpanel" class="tab-pane" id="apartment">
							danh sach Căn hộ
						</div>
						<div role="tabpanel" class="tab-pane" id="ground">
							danh sach Mặt bằng
						</div>
						<div role="tabpanel" class="tab-pane" id="land">
							danh sach dat
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="estimate_position">
					<ul class="nav nav-pills">
						<li class="active"><a href="#hometown" role="tab" data-toggle="tab">Nhà phố</a></li>
						<li><a href="#villa" role="tab" data-toggle="tab">Villa - Biệt thự</a></li>
						<li><a href="#apartment" role="tab" data-toggle="tab">Căn hộ</a></li>
						<li><a href="#ground" role="tab" data-toggle="tab">Mặt bằng</a></li>
						<li><a href="#land" role="tab" data-toggle="tab">Dat</a></li>
					</ul>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="hometown">
							danh sách nhà phố
						</div>
						<div role="tabpanel" class="tab-pane" id="villa">
							danh sach villa
						</div>
						<div role="tabpanel" class="tab-pane" id="apartment">
							danh sach Căn hộ
						</div>
						<div role="tabpanel" class="tab-pane" id="ground">
							danh sach Mặt bằng
						</div>
						<div role="tabpanel" class="tab-pane" id="land">
							danh sach dat
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="estimate_compane">
					<ul class="nav nav-pills">
						<li class="active"><a href="#hometown" role="tab" data-toggle="tab">Nhà phố</a></li>
						<li><a href="#villa" role="tab" data-toggle="tab">Villa - Biệt thự</a></li>
						<li><a href="#apartment" role="tab" data-toggle="tab">Căn hộ</a></li>
						<li><a href="#ground" role="tab" data-toggle="tab">Mặt bằng</a></li>
						<li><a href="#land" role="tab" data-toggle="tab">Dat</a></li>
					</ul>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="hometown">
							danh sách nhà phố
						</div>
						<div role="tabpanel" class="tab-pane" id="villa">
							danh sach villa
						</div>
						<div role="tabpanel" class="tab-pane" id="apartment">
							danh sach Căn hộ
						</div>
						<div role="tabpanel" class="tab-pane" id="ground">
							danh sach Mặt bằng
						</div>
						<div role="tabpanel" class="tab-pane" id="land">
							danh sach dat
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>
</article>