<% content_for :stylesheets do %>
	<link rel="stylesheet" href="/assets/real_estates/list.css" />
<% end %>

<% content_for :scripts do %>
	<script src="/assets/real_estates/list.js"></script>
<% end %>

<!--start Search Box -->
<%= render partial: 'shared/front_end_search_box' %>
<!-- end Search Box-->

<!-- start navigator -->
<section class="navigator container">
	<ol class="breadcrumb">
		<li><a href="/">Trang chủ</a></li>
		<li><a href="/real_estates">Danh sách BĐS</a></li>
		<li class="active">Căn hộ Quận 2</li>
	</ol>
</section>
<!-- end navigator -->

<!-- start list -->
<section class="block container list-block">
	<div class="function">
		<div class="form-group">
			<div class="form-group">
				<label>Chọn diện tích</label>
				<select class="form-control input-sm" name="search[area]" style="width: 135px;">
					<option value="0-50">Dưới 50m2</option>
					<option value="50-100">50m2 - 100m2</option>
					<option value="100-150">100m2 - 150m2</option>
					<option value="150-200">150m2 - 200m2</option>
					<option value="200-0">Trên 200m2</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label>Số item hiển thị trên trang: </label>
			<select class="form-control input-sm">
				<option>8</option>
				<option>16</option>
				<option>32</option>
				<option>Tất cả</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-4 col-sm-6">
			<li data-value="5" class="item-sm">
				<a href="/real_estates/5">
					<div class="picture">
						<img class="" src="/assets/real_estates/thumb/default.png" alt="Bán nhà phố ở quận 11 ">
					</div>
					<div class="info">
						<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Bán nhà phố ở quận 11 ">
							<span>Bán nhà phố ở quận 11 </span>
						</div>
						<div class="type-real">
							<i class="fa fa-home"></i>
							<span>Nhà phố</span>
						</div>
						<div class="convenient">
								<div class="bathroom">
									<i class="icon-bathroom"></i>
									<span>0</span>						
								</div>
								<div class="bedroom">
									<i class="icon-bedroom"></i>
									<span>0</span>
								</div>
							<div class="area">
								<i class="icon-area"></i>
								<span>44.0m<sup>2</sup></span>
							</div>
						</div>
						<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Lạc Long Quân, Phường 1, Quận 5, Tp. Hồ Chí Minh">
							<i class="icon-16 icon-position"></i>
							<span> Lạc Long Quân, Phường 1, Quận 5, Tp. Hồ Chí Minh</span>
						</div>
								<div class="price">
									<i class="icon-16 icon-dollar"></i>
									<p class="number sale">2 tỷ 300 triệu</p>
								</div>
					</div>
				</a>
				<div class="function">
					<a href="javascript:void(0)" aria-click="user_favorite" data-type="real_estate" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
					<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
					<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
					<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định giá căn nhà này"></a>
				</div>
			</li>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6">
			<li data-value="7" class="item-sm">
				<a href="/real_estates/7">
					<div class="picture">
						<img class="" src="/assets/real_estates/thumb/default.png" alt="Bán nhà phố trên đường Miếu Gò Xoài, Bình Hưng Hoà, quận Bình Tân">
					</div>
					<div class="info">
						<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Bán nhà phố trên đường Miếu Gò Xoài, Bình Hưng Hoà, quận Bình Tân">
							<span>Bán nhà phố trên đường Miếu Gò Xoài, Bình Hưng Hoà, quận Bình Tân</span>
						</div>
						<div class="type-real">
							<i class="fa fa-home"></i>
							<span>Nhà phố</span>
						</div>
						<div class="convenient">
								<div class="bathroom">
									<i class="icon-bathroom"></i>
									<span>0</span>						
								</div>
								<div class="bedroom">
									<i class="icon-bedroom"></i>
									<span>0</span>
								</div>
							<div class="area">
								<i class="icon-area"></i>
								<span>48.0m<sup>2</sup></span>
							</div>
						</div>
						<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Miếu Gò Xoài, Bình Hưng Hòa A, Bình Tân, Tp. Hồ Chí Minh">
							<i class="icon-16 icon-position"></i>
							<span> Miếu Gò Xoài, Bình Hưng Hòa A, Bình Tân, Tp. Hồ Chí Minh</span>
						</div>
								<div class="price">
									<i class="icon-16 icon-dollar"></i>
									<p class="number sale">1 tỷ 40 triệu</p>
								</div>
					</div>
				</a>
				<div class="function">
					<a href="javascript:void(0)" aria-click="user_favorite" data-type="real_estate" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
					<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
					<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
					<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định giá căn nhà này"></a>
				</div>
			</li>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6">
			<li data-value="151" class="item-sm">
				<a href="/real_estates/151">
					<div class="picture">
						<img class="" src="/assets/real_estates/thumb/default.png" alt="Bán nhà vườn nghỉ dưỡng (17x30m) Nguyễn Phúc Chu, P.15, Tân Bình, giá: 15.5 tỷ">
					</div>
					<div class="info">
						<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Bán nhà vườn nghỉ dưỡng (17x30m) Nguyễn Phúc Chu, P.15, Tân Bình, giá: 15.5 tỷ">
							<span>Bán nhà vườn nghỉ dưỡng (17x30m) Nguyễn Phúc Chu, P.15, Tân Bình, giá: 15.5 tỷ</span>
						</div>
						<div class="type-real">
							<i class="fa fa-home"></i>
							<span>Nhà phố</span>
						</div>
						<div class="convenient">
								<div class="bathroom">
									<i class="icon-bathroom"></i>
									<span>Hơn 4</span>						
								</div>
								<div class="bedroom">
									<i class="icon-bedroom"></i>
									<span>Hơn 4</span>
								</div>
							<div class="area">
								<i class="icon-area"></i>
								<span>510.0m<sup>2</sup></span>
							</div>
						</div>
						<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Nguyễn Phúc Chu, Phường 15, Tân Bình, Tp. Hồ Chí Minh">
							<i class="icon-16 icon-position"></i>
							<span> Nguyễn Phúc Chu, Phường 15, Tân Bình, Tp. Hồ Chí Minh</span>
						</div>
								<div class="price">
									<i class="icon-16 icon-dollar"></i>
									<p class="number sale">15 tỷ 500 triệu</p>
								</div>
					</div>
				</a>
				<div class="function">
					<a href="javascript:void(0)" aria-click="user_favorite" data-type="real_estate" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
					<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
					<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
					<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định giá căn nhà này"></a>
				</div>
			</li>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6">
			<li data-value="62" class="item-sm">
				<a href="/real_estates/62">
					<div class="picture">
						<img class="" src="/assets/real_estates/thumb/default.png" alt="CHÍNH CHỦ BÁN NHÀ MỚI 100% ĐÚC 3 TẤM, P. BÌNH HƯNG HÒA B, BAO SANG TÊN, TẶNG NT CAO CẤP, GIÁ 1.5 TỶ">
					</div>
					<div class="info">
						<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="CHÍNH CHỦ BÁN NHÀ MỚI 100% ĐÚC 3 TẤM, P. BÌNH HƯNG HÒA B, BAO SANG TÊN, TẶNG NT CAO CẤP, GIÁ 1.5 TỶ">
							<span>CHÍNH CHỦ BÁN NHÀ MỚI 100% ĐÚC 3 TẤM, P. BÌNH HƯNG HÒA B, BAO SANG TÊN, TẶNG NT CAO CẤP, GIÁ 1.5 TỶ</span>
						</div>
						<div class="type-real">
							<i class="fa fa-home"></i>
							<span>Nhà phố</span>
						</div>
						<div class="convenient">
								<div class="bathroom">
									<i class="icon-bathroom"></i>
									<span>Hơn 4</span>						
								</div>
								<div class="bedroom">
									<i class="icon-bedroom"></i>
									<span>Hơn 4</span>
								</div>
							<div class="area">
								<i class="icon-area"></i>
								<span>68.0m<sup>2</sup></span>
							</div>
						</div>
						<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Đường Số 6, Bình Hưng Hòa B, Bình Tân, Tp. Hồ Chí Minh">
							<i class="icon-16 icon-position"></i>
							<span> Đường Số 6, Bình Hưng Hòa B, Bình Tân, Tp. Hồ Chí Minh</span>
						</div>
								<div class="price">
									<i class="icon-16 icon-dollar"></i>
									<p class="number sale">1 tỷ 500 triệu</p>
								</div>
					</div>
				</a>
				<div class="function">
					<a href="javascript:void(0)" aria-click="user_favorite" data-type="real_estate" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
					<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
					<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
					<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định giá căn nhà này"></a>
				</div>
			</li>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6">
			<li data-value="36" class="item-sm">
				<a href="/real_estates/36">
					<div class="picture">
						<img class="" src="/assets/real_estates/thumb/default.png" alt="Bán gấp nhà phố gần ngã 3 Tân Kim, huyện Bình Chánh">
					</div>
					<div class="info">
						<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Bán gấp nhà phố gần ngã 3 Tân Kim, huyện Bình Chánh">
							<span>Bán gấp nhà phố gần ngã 3 Tân Kim, huyện Bình Chánh</span>
						</div>
						<div class="type-real">
							<i class="fa fa-home"></i>
							<span>Nhà phố</span>
						</div>
						<div class="convenient">
								<div class="bathroom">
									<i class="icon-bathroom"></i>
									<span>2</span>						
								</div>
								<div class="bedroom">
									<i class="icon-bedroom"></i>
									<span>2</span>
								</div>
							<div class="area">
								<i class="icon-area"></i>
								<span>80.0m<sup>2</sup></span>
							</div>
						</div>
						<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Quốc Lộ 50, Qui Đức, Bình Chánh, Tp. Hồ Chí Minh">
							<i class="icon-16 icon-position"></i>
							<span> Quốc Lộ 50, Qui Đức, Bình Chánh, Tp. Hồ Chí Minh</span>
						</div>
								<div class="price">
									<i class="icon-16 icon-dollar"></i>
									<p class="number sale">450 triệu</p>
								</div>
					</div>
				</a>
				<div class="function">
					<a href="javascript:void(0)" aria-click="user_favorite" data-type="real_estate" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
					<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
					<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
					<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định giá căn nhà này"></a>
				</div>
			</li>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6">
			<li data-value="10" class="item-sm">
				<a href="/real_estates/10">
					<div class="picture">
						<img class="" src="/assets/real_estates/thumb/default.png" alt="Bán nhà mặt phố ở quận Gò Vấp">
					</div>
					<div class="info">
						<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Bán nhà mặt phố ở quận Gò Vấp">
							<span>Bán nhà mặt phố ở quận Gò Vấp</span>
						</div>
						<div class="type-real">
							<i class="fa fa-home"></i>
							<span>Nhà phố</span>
						</div>
						<div class="convenient">
								<div class="bathroom">
									<i class="icon-bathroom"></i>
									<span>3</span>						
								</div>
								<div class="bedroom">
									<i class="icon-bedroom"></i>
									<span>3</span>
								</div>
							<div class="area">
								<i class="icon-area"></i>
								<span>63.0m<sup>2</sup></span>
							</div>
						</div>
						<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title="252/56A Phạm Văn Chiêu, Phường 12, Quận 4, Tp. Hồ Chí Minh">
							<i class="icon-16 icon-position"></i>
							<span>252/56A Phạm Văn Chiêu, Phường 12, Quận 4, Tp. Hồ Chí Minh</span>
						</div>
								<div class="price">
									<i class="icon-16 icon-dollar"></i>
									<p class="number sale">2 tỷ 750 triệu</p>
								</div>
					</div>
				</a>
				<div class="function">
					<a href="javascript:void(0)" aria-click="user_favorite" data-type="real_estate" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
					<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
					<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
					<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định giá căn nhà này"></a>
				</div>
			</li>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6">
			<li data-value="121" class="item-sm">
				<a href="/real_estates/121">
					<div class="picture">
						<img class="" src="/assets/real_estates/thumb/default.png" alt="Bán nhà mặt phố Đông Hưng Thuận, q.12, DT:4,5 x22, 1 trệt 3 lầu + sân thượng">
					</div>
					<div class="info">
						<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Bán nhà mặt phố Đông Hưng Thuận, q.12, DT:4,5 x22, 1 trệt 3 lầu + sân thượng">
							<span>Bán nhà mặt phố Đông Hưng Thuận, q.12, DT:4,5 x22, 1 trệt 3 lầu + sân thượng</span>
						</div>
						<div class="type-real">
							<i class="fa fa-home"></i>
							<span>Nhà phố</span>
						</div>
						<div class="convenient">
								<div class="bathroom">
									<i class="icon-bathroom"></i>
									<span>Hơn 4</span>						
								</div>
								<div class="bedroom">
									<i class="icon-bedroom"></i>
									<span>Hơn 4</span>
								</div>
							<div class="area">
								<i class="icon-area"></i>
								<span>99.0m<sup>2</sup></span>
							</div>
						</div>
						<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title=" Đông Hưng Thuận 10, Đông Hưng Thuận, Quận 12, Tp. Hồ Chí Minh">
							<i class="icon-16 icon-position"></i>
							<span> Đông Hưng Thuận 10, Đông Hưng Thuận, Quận 12, Tp. Hồ Chí Minh</span>
						</div>
								<div class="price">
									<i class="icon-16 icon-dollar"></i>
									<p class="number sale">1 tỷ 700 triệu</p>
								</div>
					</div>
				</a>
				<div class="function">
					<a href="javascript:void(0)" aria-click="user_favorite" data-type="real_estate" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
					<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
					<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
					<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định giá căn nhà này"></a>
				</div>
			</li>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6">
			<li data-value="8" class="item-sm">
				<a href="/real_estates/8">
					<div class="picture">
						<img class="" src="/assets/real_estates/thumb/default.png" alt="Bán nhà ở quận Tân Bình">
					</div>
					<div class="info">
						<div class="title" data-toggle="tooltip" data-placement="auto" title="" data-original-title="Bán nhà ở quận Tân Bình">
							<span>Bán nhà ở quận Tân Bình</span>
						</div>
						<div class="type-real">
							<i class="fa fa-home"></i>
							<span>Nhà phố</span>
						</div>
						<div class="convenient">
								<div class="bathroom">
									<i class="icon-bathroom"></i>
									<span>2</span>						
								</div>
								<div class="bedroom">
									<i class="icon-bedroom"></i>
									<span>3</span>
								</div>
							<div class="area">
								<i class="icon-area"></i>
								<span>44.0m<sup>2</sup></span>
							</div>
						</div>
						<div class="address" data-toggle="tooltip" data-placement="top" title="" data-original-title="15/30 Bùi Thế Mỹ, Phường 10, Tân Bình, Tp. Hồ Chí Minh">
							<i class="icon-16 icon-position"></i>
							<span>15/30 Bùi Thế Mỹ, Phường 10, Tân Bình, Tp. Hồ Chí Minh</span>
						</div>
							<div class="price">
								<i class="icon-16 icon-dollar"></i>
								<p class="number sale">2 tỷ 100 triệu</p>
							</div>
					</div>
				</a>
				<div class="function">
					<a href="javascript:void(0)" aria-click="user_favorite" data-type="real_estate" class="icon-favor " title="" data-original-title="Lưu vào danh sách yêu thích"></a>
					<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Đăng ký mua"></a>
					<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chia sẽ tin này lên mạng xã hội"></a>
					<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="" data-original-title="Định giá căn nhà này"></a>
				</div>
			</li>
		</div>
	</div>
	<div class="paging">
		<div class="left" aria-click="prev-page">
		</div>
		<div class="number">
			<span>1/14</span>
		</div>
		<div class="right" aria-click="next-page">
			<i class="pe-7s-angle-right"></i>
		</div>	
	</div>
</section>
<!-- end -->