<!--start Search Box -->
<%= render partial: 'shared/front_end_search_box' %>
<!-- end Search Box-->

<!-- start navigator -->
<section class="navigator container">
	<ol class="breadcrumb">
		<li><a href="/">Trang chủ</a></li>
		<li><a href="/real_estates">Danh sách BĐS</a></li>
		<li class="active">Căn hộ Quận 2</li>
	</ol>
</section>
<!-- end navigator -->

<!-- start list -->
<section class="block container list-block">

</section>
<!-- end -->