<% content_for :stylesheets do %>
    <link rel="stylesheet" href="/assets/real_estates/manager.css" />
<% end %>

<% content_for :scripts do %>    
<% end %>
	
<!-- #start content -->
<div class="table-responsive" >
	<table class="table">
		<thead>
			<tr>
				<td>Mã tin</td>
				<td>Tên BĐS</td>
				<td>Dành cho</td>
				<td>Loại</td>
				<td>Giá</td>
				<td>Ngày còn lại</td>
				<td>Tình trạng</td>
				<td>Lượt truy cập</td>
				<td>Điều khiển</td>															
			</tr>								
		</thead>	
		<tbody>
			<tr>
				<td>
					<span>#RE01778</span>
					<img src="/assets/product/BDS05.jpg" width="100px" height="100px">
				</td>
				<td>Nhà phố Quận 7</td>
				<td>Bán</td>
				<td>Nhà phố</td>
				<td>3 tỷ</td>
				<td>3 ngày</td>
				<td>đang soạn</td>
				<td>800</td>				
				<td>
					<button class="btn btn-default" id="btnDangTin">Đăng tin</button>
					<button class="btn btn-default" id="btnSuaTin">Sửa tin</button>
					<button class="btn btn-danger" id="btnXoaTin">Xoá tin</button>
				</td>								
			</tr>
			<tr>
				<td>
					<span>#RE01778</span>
					<img src="/assets/product/BDS05.jpg" width="100px" height="100px">
				</td>
				<td>Nhà phố Quận 7</td>
				<td>Bán</td>
				<td>Nhà phố</td>
				<td>3 tỷ</td>
				<td>3 ngày</td>
				<td>đang soạn</td>
				<td>800</td>				
				<td>
					<button class="btn btn-default" id="btnDangTin">Đăng tin</button>
					<button class="btn btn-default" id="btnSuaTin">Sửa tin</button>
					<button class="btn btn-danger" id="btnXoaTin">Xoá tin</button>
				</td>								
			</tr>			
		</tbody>
	</table>
</div>
<!-- #end content -->									