<%
=begin
    params: res(*), page(1), per(12)
=end

    @_main_navigator = {
        background: '/assets/shared/main_navigator/main_2.jpeg',
        list: [
            {
                url: res_path,
                text: t('real_estates.index.page_title')
            },
            {
                url: my_favorite_res_path,
                text: t('.page_title')
            }
        ]
    }
    @_hide_search_box = true

    page                ||= 1
    per                 ||= 12
    res_in_page         = res.page page, per
%>

<div class="container">
    <div class="container-box container-box-transparent">
        <div class="container-box-header">
            <h2 class="container-box-title">
                <%= t '.box_title' %>
            </h2>
        </div>
        <div class="container-box-body">
            <div class="medium-items-list" id="res_list">
                <% if res_in_page.count != 0 %>
                    <%=
                        render(
                            partial: 'real_estates/my_items',
                            locals: {
                                res: res.page(page, per)
                            }
                        )
                    %>
                <% else %>
                    <%= render partial: '/shared/empty_alert' %>
                <% end %>
            </div>
            <div id="res_paginator">
                <%= render partial: 'shared/paginator', locals: { page: page, per: per, total: res.count } %>
            </div>
        </div>
    </div>
</div>

<% content_for :javascripts do %>
    <script type="text/javascript" src="/assets/real_estates/my.js"></script>
<% end %>