<% content_for :stylesheets do %>
    <link rel="stylesheet" href="/assets/real_estates/real_estates_pending.css" />
<% end %>

<!-- #start FilterBox -->
<article class="filter-box">
	<div class="title">Bộ lọc sản phẩm</div>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<td>Tên BĐS</td>
					<td>Tỉnh/Thành</td>
					<td>Quận/Huyện</td>
					<td>Dự án</td>
					<td>Module</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<input>
					</td>
					<td>
						<select>
							<option>---Tỉnh/Thành---</option>
							<option>TPHCM</option>
							<option>Hà Nội</option>
						</select>
					</td>
					<td>
						<select>
							<option>---Quận/Huyện---</option>
							<option>Quận 1</option>
							<option>Quận 2</option>
						</select>
					</td>
					<td>
						<select>
							<option>---Dự án---</option>							
						</select>
					</td>
					<td>
						<select>
							<option>---Module---</option>							
						</select>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</article>
<!-- #end FilterBox -->