<% content_for :stylesheets do %>
    <link rel="stylesheet" href="/assets/real_estates/view.css" />
<% end %>

<% content_for :scripts do %>
	<script type="text/javascript" src="/assets/real_estates/view.js"></script>
<% end %>

<!--start Search Box -->
<section class="search">
	<div class="search-box">
		<div class="title">
			<h3>Hãy để MuanhaOnline tìm nhà giúp bạn.</h3>
		</div>
		<form>
			<div class="tab">
				<label><input type="radio" name="typeTab"><i class="sale"></i><span>Nhà Bán</span></label>
				<label><input type="radio" name="typeTab"><i class="rent"></i><span>Nhà Thuê</span></label>       
			</div>
			<div class="form-group-custom">
				<input type="text" class="form-control search-keyword" placeholder="... nhà phố quận 2">
				<div class="btn-group history-search">
					<button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						từ khóa
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Từ khóa 01</a></li>
						<li><a href="#">Từ khóa 02</a></li>
						<li><a href="#">Từ khóa 03</a></li>
					</ul>
				</div>
				<div class="separator">
					<span>|</span>
				</div>
				<div class="btn-search">
					<button type="submit"></button>
					<div class="btn-more" data-function="show-search-plus">
						<span class="caret"></span>
					</div>
				</div>
			</div>			
			<section class="more-search" id="more_search" style="display:none">
				<div class="form-group-custom container-fluid">
					<div class="row">
						<div class="col-md-6 input-inline">
						<select class="form-control input-sm">
						<option>--Chọn thành phố/Tỉnh--</option>
						<option>Thành phố Hồ Chí Minh</option>
						<option>Hà Nội</option>
						<option>Bà Rịa - Vũng Tàu</option>
						</select>
						</div>
						<div class="col-md-6">
						<select class="form-control input-sm">
						<option>--Chọn quận/huyện--</option>
						<option>Quận 1</option>
						<option>Quận 5</option>
						</select>
						</div>
					</div>
				</div>
				<div class="form-group-custom">
					<select class="form-control input-sm">
						<option>--Chọn giá tiền--</option>
						<option>1 tỷ - 3 tỷ</option>
						<option>3 tỷ - 5 tỷ</option>
						<option>trên 5 tỷ</option>
					</select>
				</div>
				<div class="form-group-custom">
					<select class="form-control input-sm">
						<option>--Chọn diện tích--</option>
						<option>50m2 - 100m2</option>
						<option>100m2 - 200m2</option>
						<option>trên 200m2</option>
					</select>
				</div>
				<div class="form-group-custom container-fluid">
					<div class="row">
						<div class="col-md-6 input-inline">
							<select class="form-control input-sm">
								<option>--Chọn loại dự án--</option>
								<option>Dự án căn hộ liên kế</option>
								<option>Dự án biệt thự cao cấp</option>
								<option>Dự án nhà ở xã hội</option>
							</select>
						</div>
						<div class="col-md-6 input-inline">
							<select class="form-control input-sm">
								<option>--Chọn tình trạng dự án--</option>
								<option>Dự án đã hoàn thành</option>
								<option>Dự án đang hoàn thành</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					
				</div>
			</section>
			<div class="btn-plus">
				<button type="submit" class="btn btn-success btn-sm btn-search-plus">
					<img src="/assets/icon/search-plus.png">
					Tìm nâng cao
				</button>
				<button type="button" class="btn btn-success btn-sm" data-function="zestimate">Định giá khu vực này</button>
			</div>
		</form>
	</div>
</section>
<!-- end Search Box-->

<!-- start navigator -->
<section class="navigator container">
	<ol class="breadcrumb">
		<li><a href="/">Trang chủ</a></li>
		<li><a href="/real_estates">Bất động sản đang rao bán</a></li>
		<li class="active">#RE01778</li>
	</ol>
</section>
<!-- end navigator -->

<!-- start details of Property -->
<section class="container details-property block-info">
	<article class="title">
		<div class="text">Kẹt tiền cần bán gấp nhà phố ở đường Hùng Vương</div>
	</article>
	<article class="content">
		<section class="standard-info row">
			<div class="col-md-4">
				<div class="picture-info">
					<img src="/assets/product/BDS09.jpg" class="img-thumbnail">
				</div>
			</div>
			<div class="col-md-5">
				<ul class="basic-info">
					<li>Loại: <b>Nhà phố</b></li>
					<li>Diện tích: <b>200m<sup>2</sup></b></li>
					<li>Địa chỉ: <b>Số 30, đường Trần Hưng Đạo, Quận 1</b></li>
					<li><i>Thời gian đăng: Hôm nay, 17 giờ 25 phút</i></li>
					<li class="slide-picture">
						<ul>
							<li><img src="/assets/product/BDS01.jpg"></li>
							<li><img src="/assets/product/BDS02.jpg"></li>
							<li><img src="/assets/product/BDS03.jpg"></li>
							<li><img src="/assets/product/BDS04.jpg"></li>
						</ul>
					</li>
					<li class="share">
						<p>
							<span>Chia sẻ: </span>
							<a href="#"><i class="icon icon-facebook"></i></a>
							<a href="#"><i class="icon icon-youtube"></i></a>
							<a href="#"><i class="icon icon-googleplus"></i></a>
						</p>
					</li>
					<!-- <li class="function">
						<button class="btn-icon-top btn-favor">
							<i class="icon-favor"></i>
							<span>Quan tâm</span>
						</button>
						<button class="btn-icon-top">
							<i class="icon-buy"></i>
							<span>Đăng ký mua</span>
						</button>
					</li> -->
				</ul>
			</div>
			<div class="col-md-3">
				<div class="price" id="price_box">
					<div>
						<!-- Nav tabs -->
						<ul class="nav nav-tabs price-tab" role="tablist">
							<li role="SalePrice" class="active"><a href="#price-sale" aria-controls="price-sale" role="tab" data-toggle="tab">Giá bán</a></li>
							<li role="RentPrice" class=""><a href="#price-rent" aria-controls="price-rent" role="tab" data-toggle="tab">Giá cho thuê</a></li>
						</ul>

						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active" id="price-sale">
								<p style="margin: 5px 0;">Giá rao: <span style="color: #ff6511; font-size: 18px;">3 tỷ</span> <select><option>VNĐ</option><option>USD</option><option>SJC</option></select></p>
								<p style="margin: 5px 0;">Định giá: <span style="color: #ff6511;">2,2 tỷ</span> <select><option>VNĐ</option><option>USD</option><option>SJC</option></select></p>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="price-rent">
								<p style="margin: 5px 0;">Giá thuê: <span style="color: #038ed1; font-size: 18px;">30 triệu</span> <select><option>VNĐ</option><option>USD</option><option>SJC</option></select>/tháng</p>
								<p style="margin: 5px 0;">Định giá: <span style="color: #038ed1;">12 triệu</span> <select><option>VNĐ</option><option>USD</option><option>SJC</option></select>/tháng</p>
							</div>
						</div>
					</div>
				</div>
				<div class="function">
					<button class="btn-icon-top btn-favor">
						<i class="icon-favor"></i>
						<span>Quan tâm</span>
					</button>
					<button class="btn-icon-top">
						<i class="icon-buy"></i>
						<span>Đăng ký mua</span>
					</button>
				</div>				
			</div>
		</section>
		<section class="line-block">
			<article class="title">
				<span>Mô tả</span>
			</article>
			<article class="content description">
				<h5>Tiêu đề đầy đủ</h5>
				<span>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</span>
			</article>
		</section>
		<section class="line-block">
			<article class="title">
				<span>Thông tin chi tiết</span>
			</article>
			<article class="content detail-info">
				<div class="row">
					<div class="col-md-3">
						<i class="icon-check"></i>
						<span>Diện tích xây dựng: <b>200m<sup>2</sup></b></span>
					</div>
					<div class="col-md-3">
						<i class="icon-check"></i>
						<span>Diện tích xây dựng: <b>200m<sup>2</sup></b></span>
					</div>
					<div class="col-md-3">
						<i class="icon-check"></i>
						<span>Diện tích xây dựng: <b>200m<sup>2</sup></b></span>
					</div>
					<div class="col-md-3">
						<i class="icon-check"></i>
						<span>Diện tích xây dựng: <b>200m<sup>2</sup></b></span>
					</div>
					<div class="col-md-3">
						<i class="icon-check"></i>
						<span>Diện tích xây dựng: <b>200m<sup>2</sup></b></span>
					</div>
				</div>
			</article>
		</section>
		<section class="line-block">
			<article class="title">
				<span>Tiện ích khu vực</span>
			</article>
			<article class="content utility">
				<div class="row">
					<div class="col-md-3">
						<i class="icon-check"></i>
						<span>Diện tích xây dựng: <b>200m<sup>2</sup></b></span>
					</div>
					<div class="col-md-3">
						<i class="icon-check"></i>
						<span>Diện tích xây dựng: <b>200m<sup>2</sup></b></span>
					</div>
					<div class="col-md-3">
						<i class="icon-check"></i>
						<span>Diện tích xây dựng: <b>200m<sup>2</sup></b></span>
					</div>
					<div class="col-md-3">
						<i class="icon-check"></i>
						<span>Diện tích xây dựng: <b>200m<sup>2</sup></b></span>
					</div>
					<div class="col-md-3">
						<i class="icon-check"></i>
						<span>Diện tích xây dựng: <b>200m<sup>2</sup></b></span>
					</div>
				</div>
			</article>
		</section>
		<section class="line-block">
			<article class="title">
				<span>Tiện nghi</span>
			</article>
			<article class="content convenient-lg">
				<div class="row">
					<div class="col-md-3">
						<i class="icon-check"></i>
						<span>Diện tích xây dựng: <b>200m<sup>2</sup></b></span>
					</div>
					<div class="col-md-3">
						<i class="icon-check"></i>
						<span>Diện tích xây dựng: <b>200m<sup>2</sup></b></span>
					</div>
					<div class="col-md-3">
						<i class="icon-check"></i>
						<span>Diện tích xây dựng: <b>200m<sup>2</sup></b></span>
					</div>
					<div class="col-md-3">
						<i class="icon-check"></i>
						<span>Diện tích xây dựng: <b>200m<sup>2</sup></b></span>
					</div>
					<div class="col-md-3">
						<i class="icon-check"></i>
						<span>Diện tích xây dựng: <b>200m<sup>2</sup></b></span>
					</div>
				</div>
			</article>
		</section>
		<section class="line-block">
			<article class="title">
				<span>Vị trí trên bản đồ</span>
			</article>
			<article class="content map">
				<div class="img-responsive"></div>
			</article>
		</section>
		<section class="line-block">
			<article class="title">
				<span>Thông tin liên lạc</span>
			</article>
			<article class="content information">
				<div class="user-info row">
					<div class="col-md-2">
						<img src="/assets/product/avatar.JPG">
						<span>Nguyễn Kim Chi</span>
					</div>
					<div class="col-md-3">
						<ul class="info">
							<li>
								<i class="icon-phone"></i>
								<span>01682197651</span>
							</li>
							<li>
								<i class="icon-mail"></i>
								<span>penguinbluechip@gmail.com</span>
							</li>
							<li>
								<i class="icon-skype"></i>
								<span>penguinblue.chip</span>
							</li>
							<li>
								<i class="icon-address"></i>
								<span>53 Cô Giang, phường Cầu Ông Lãnh, Quận 1</span>
							</li>
						</ul>
						<div class="btn-contact">
							
						</div>
					</div>
					<div class="col-md-3">
						<div class="request-box">
							<form>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Email của bạn">
									<textarea class="form-control">Tôi cảm thấy thích căn hộ này và muốn có thêm thông tin.</textarea>
									<button type="submit" class="btn btn-sm btn-primary">Gửi yêu cầu</button>
									<button class="btn btn-default btn-sm">Xem thêm BĐS khác</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="normal-block">
					<article class="title">
						<span>Các đơn vị cùng phân phối BĐS này</span>
					</article>
					<article class="content distributor-other">
						<div class="distributor-item">
							<div class="picture"><img src="/assets/icon/avatarDefault.png"></div>
							<div class="name"><span>Lê Bình Chiêu</span></div>
							<div class="price">2 tỷ 8</div>
							<div class="function"><a href="#">Xem tin</a></div>
						</div>
						<div class="distributor-item">
							<div class="picture"><img src="/assets/icon/avatarDefault.png"></div>
							<div class="name"><span>Lê Bình Chiêu</span></div>
							<div class="price">2 tỷ 8</div>
							<div class="function"><a href="#">Xem tin</a></div>
						</div>
						<div class="distributor-item">
							<div class="picture"><img src="/assets/icon/avatarDefault.png"></div>
							<div class="name"><span>Lê Bình Chiêu</span></div>
							<div class="price">2 tỷ 8</div>
							<div class="function"><a href="#">Xem tin</a></div>
						</div>
						<div class="distributor-item">
							<div class="picture"><img src="/assets/icon/avatarDefault.png"></div>
							<div class="name"><span>Lê Bình Chiêu</span></div>
							<div class="price">2 tỷ 8</div>
							<div class="function"><a href="#">Xem tin</a></div>
						</div>
					</article>
				</div>
			</article>
		</section>
	</article>
</section>
<!-- end details of Property -->

<!-- start other property -->
<section class="container other-property block">
	<article class="title">
		<a class="link" href="#">
			<i class="icon-link"></i>
			<span>Các bất động sản tương tự khác</span>
		</a>
	</article>
	<article class="content">
		<ul class="row">
			<div class="col-lg-3 col-md-4 col-sm-6 hidden-xs">
				<li class="item-sm">
					<div class="picture">
						<img src="/assets/product/BDS06.jpg">
					</div>
					<a href="#">
						<div class="title">
							<span>Tên bất động sản</span>
						</div>						
						<div class="convenient">
							<div class="area">
								<i class="icon-area"></i>
								<span>2</span>
							</div>
							<div class="bathroom">
								<i class="icon-bathroom"></i>
								<span>4</span>						
							</div>
							<div class="bedroom">
								<i class="icon-bedroom"></i>
								<span>3</span>
							</div>
						</div>
						<div class="address">
							<span>Số 40 Nguyễn Hữu Thọ, Phường Tân Quy, Quận 7</span>
						</div>
						<div class="price">
							850 triệu
						</div>
					</a>
					<div class="function">
						<a href="#" class="icon-favor" data-toggle="tooltip" data-placement="top" title="Lưu vào danh sách yêu thích"></a>
						<a href="#" class="icon-buy" data-toggle="tooltip" data-placement="top" title="Đăng ký mua"></a>
						<a href="#" class="icon-share" data-toggle="tooltip" data-placement="top" title="Chia sẽ tin này lên mạng xã hội"></a>
						<a href="#" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="Định giá căn nhà này"></a>
					</div>
				</li>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<li class="item-sm">
					<div class="picture">
						<img src="/assets/product/BDS06.jpg">
					</div>
					<a href="#">
						<div class="title">
							<span>Tên bất động sản</span>
						</div>						
						<div class="convenient">
							<div class="area">
								<i class="icon-area"></i>
								<span>2</span>
							</div>
							<div class="bathroom">
								<i class="icon-bathroom"></i>
								<span>4</span>						
							</div>
							<div class="bedroom">
								<i class="icon-bedroom"></i>
								<span>3</span>
							</div>
						</div>
						<div class="address">
							<span>Số 40 Nguyễn Hữu Thọ, Phường Tân Quy, Quận 7</span>
						</div>
						<div class="price">
							850 triệu
						</div>
					</a>
					<div class="function">
						<a href="#" class="icon-favor" data-toggle="tooltip" data-placement="top" title="Lưu vào danh sách yêu thích"></a>
						<a href="#" class="icon-buy" data-toggle="tooltip" data-placement="top" title="Đăng ký mua"></a>
						<a href="#" class="icon-share" data-toggle="tooltip" data-placement="top" title="Chia sẽ tin này lên mạng xã hội"></a>
						<a href="#" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="Định giá căn nhà này"></a>
					</div>
				</li>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 hidden-xs">
				<li class="item-sm">
					<div class="picture">
						<img src="/assets/product/BDS06.jpg">
					</div>
					<a href="#">
						<div class="title">
							<span>Tên bất động sản</span>
						</div>						
						<div class="convenient">
							<div class="area">
								<i class="icon-area"></i>
								<span>2</span>
							</div>
							<div class="bathroom">
								<i class="icon-bathroom"></i>
								<span>4</span>						
							</div>
							<div class="bedroom">
								<i class="icon-bedroom"></i>
								<span>3</span>
							</div>
						</div>
						<div class="address">
							<span>Số 40 Nguyễn Hữu Thọ, Phường Tân Quy, Quận 7</span>
						</div>
						<div class="price">
							850 triệu
						</div>
					</a>
					<div class="function">
						<a href="#" class="icon-favor" data-toggle="tooltip" data-placement="top" title="Lưu vào danh sách yêu thích"></a>
						<a href="#" class="icon-buy" data-toggle="tooltip" data-placement="top" title="Đăng ký mua"></a>
						<a href="#" class="icon-share" data-toggle="tooltip" data-placement="top" title="Chia sẽ tin này lên mạng xã hội"></a>
						<a href="#" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="Định giá căn nhà này"></a>
					</div>
				</li>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 hidden-xs">
				<li class="item-sm">
					<div class="picture">
						<img src="/assets/product/BDS06.jpg">
					</div>
					<a href="#">
						<div class="title">
							<span>Tên bất động sản</span>
						</div>						
						<div class="convenient">
							<div class="area">
								<i class="icon-area"></i>
								<span>2</span>
							</div>
							<div class="bathroom">
								<i class="icon-bathroom"></i>
								<span>4</span>						
							</div>
							<div class="bedroom">
								<i class="icon-bedroom"></i>
								<span>3</span>
							</div>
						</div>
						<div class="address">
							<span>Số 40 Nguyễn Hữu Thọ, Phường Tân Quy, Quận 7</span>
						</div>
						<div class="price">
							850 triệu
						</div>
					</a>
					<div class="function">
						<a href="#" class="icon-favor" data-toggle="tooltip" data-placement="top" title="Lưu vào danh sách yêu thích"></a>
						<a href="#" class="icon-buy" data-toggle="tooltip" data-placement="top" title="Đăng ký mua"></a>
						<a href="#" class="icon-share" data-toggle="tooltip" data-placement="top" title="Chia sẽ tin này lên mạng xã hội"></a>
						<a href="#" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="Định giá căn nhà này"></a>
					</div>
				</li>
			</div>
		</ul>
		<div class="paging">
			<div class="left">
				<i class="pe-7s-angle-left"></i>
			</div>
			<div class="number">
				<span>5/10</span>
			</div>
			<div class="right">
				<i class="pe-7s-angle-right"></i>
			</div>
		</div>
	</article>
</section>
<!-- end other property -->