<% 
=begin
  params: same_contacts
=end

%>

<article class="box box-primary">
  <section class="box-header with-border">
    <h2 class="box-title">
      Bạn có phải là ...
    </h2>
  </section>
  <section class="box-body text-center no-padding">
    <table class="table table-striped width-auto inline-block">
      <thead>
        <tr>
          <th>
            Tên
          </th>
          <th>
            Email
          </th>
          <th>
            Điện thoại
          </th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% same_contacts.each do |contact| %>
          <tr data-value="<%= contact.id %>">
            <td>
              <%= contact.name %>
            </td>
            <td>
              <%= contact.email.gsub(',', '<br />').html_safe %>
            </td>
            <td>
              <%= contact.phone_number.gsub(',', '<br />').html_safe %>
            </td>
            <td>
              <a class="font-bold" aria-click="select">
                Đúng, là tôi
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p class="text-center"><a class="font-bold" aria-click="new">Không, tôi khác</a></p>
  </section>
</article>