<%
=begin
	params: province_id, districts
=end

	@_title 			=
	@_content_header	= 	'Quản lý quận/huyện'

	province_id			||= 1
%>

<div>
	<%= form_for(
		'search',
		url: 			'',
		method: 		'GET',
		html: 			{
							id: 		'form'
						}
	) do |f| %>
		<div class="form-group">
			<%= f.field(
				'select',
				:province_id,
				{},
				{
					label: 					'Tỉnh/Thành phố',
					select_options_list: 	options_from_collection_for_select(Province.all, :id, :name, province_id)
				}
			) %>
		</div>
	<% end %>
</div>

<div class="box box-primary">
	<div class="box-body table-responsive padding-0">
		<table class="table">
			<thead>
				<tr>
					<th>
					</th>
					<th>
						Tên
					</th>
				</tr>
			</thead>
			<tbody class="dt-list" id="list">
				<%= render partial: 'manage', locals: { districts: districts } %>
			</tbody>
		</table>
	</div>
</div>

<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/districts/manage.css">
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript" src="/assets/districts/manage.js"></script>
<% end %>