/* First item */

	.blogs .primary-item {
		position: relative;
		display: -webkit-flex;
		display: flex;
	}

		.blogs .primary-item .image-ctn {
			flex: 0 0 200px;
			max-width: 50%;
			margin-right: 15px;
		}

			.blogs .primary-item .image-ctn img {
				width: 100%;
			}

		.blogs .primary-item .content-ctn {
			min-width: 0;
		}

			.blogs .primary-item .title {
				margin-bottom: 5px;
			}

				.blogs .primary-item .title a {
					color: inherit;
				}

			.blogs .primary-item .content {
				color: #666;
			}

	@media (max-width: 991px) {
		.blogs .primary-item {
			-webkit-flex-direction: column;
			flex-direction: column;
		}

			.blogs .primary-item .image-ctn {
				flex: none;
				max-width: none;
				text-align: center;
				margin-bottom: 15px;
				margin-right: 0;
			}

				.blogs .primary-item .image-ctn img {
					max-width: 200px;
				}
	}

/* / First item */

/* Item */

	.blogs .subitem-ctn {
		margin: 15px -15px -15px;
		background-color: #f8f8f8;
		padding: 0 15px 15px;
	    border-top: 1px solid #eee;
	}

	.blogs .item {
		margin-top: 15px;
	}

		.blogs .item .image-ctn {
			text-align: center;
		}

			.blogs .item .image-ctn img {
				max-width: 130px;
				margin-bottom: 5px;
			}

		.blogs .item .title {
			font-size: 14px;
		}

			.blogs .item .title a {
				color: inherit;
			}

/* / Item */