/* Blog */

	.blog .container-box-header {
		padding: 0 5%;
	}

	.blog .time {
		font-style: italic;
		font-size: 85%;
		margin-bottom: 10px;
	}

	.blog .container-box-body {
		padding: 20px;
	}

	/* Tag */
	
		.blog .tags {
			margin-top: 20px;
		}
	
			.blog .tags div {
				font-size: 85%;
				font-weight: bold;
				margin-bottom: 3px;
			}
	
			.blog .tags a {
				display: inline-block;
				padding: 5px 10px;
				background-color: #303740;
				color: #fff;
				outline: 0;
			}
	
				.blog .tags a:hover,
				.blog .tags a:focus {
					text-decoration: none;
					background-color: #008549;
				}
	
				.blog .tags a:active {
					text-decoration: none;
					background-color: #00A459;
				}
	
	/* / Tag */

/* / Blog */

/* Relative blog */

	.relative-blogs .item {
	}

		.relative-blogs .image-ctn {
			text-align: center;
		}

			.relative-blogs .image-ctn img {
				width: 200px;
				max-width: 100%;
				margin-bottom: 5px;
			}

		.relative-blogs .title {
			font-size: 14px;
		}

			.relative-blogs .title a {
				color: inherit;
			}

	@media (max-width: 767px) {
		.relative-blogs .item {
			display: -webkit-flex;
			display: flex;
		}

			.relative-blogs .image-ctn {
				-webkit-flex: 0 0 150px;
				flex: 0 0 150px;
				max-width: 35%;
				margin-right: 10px;
			}
	}

/* / Relative blog */

/* Relative re */

	.medium-items-list .item-ctn:last-child {
		margin-bottom: 0;
	}

/* / Relative re */