.create-form-re {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
}

/*
  Navigator
*/

  .create-form-re .form-navigator {
    min-width: 40px;
    max-width: 40px;
  }

    .create-form-re .items-container {
      position: absolute;
      z-index: 3;
      transition: 0.2s;
    }

    .create-form-re .form-navigator .item {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      white-space: nowrap;
      width: 40px;
      height: 40px;
    }

      .create-form-re .form-navigator .item .icon {
        display: block;
        height: 40px;
        line-height: 40px;
        min-width: 40px;
        text-align: center;
        color: #aaa;
      }

        .create-form-re .form-navigator .item.active .icon {
          color: #3c8cbc;
        }

        .create-form-re .form-navigator .item[data-status="success"] .icon {
          color: #00a65a;
        }

        .create-form-re .form-navigator .item[data-status="error"]  .icon {
          color: #f56954;
        }

        .create-form-re .form-navigator .item:hover .icon {
          background-color: #3c8cbc;
          color: #ffffff;
        }

      @keyframes animate-show-text {
        0% { 
          color: transparent;
          opacity: 0;
          transform: translateX(-20px);
        }
        50% { 
          transform: translateX(5px);
        }
        80% {
          color: transparent;
        }
        90% {
          color: #fff;
        }
        100% { 
          transform: none;
        }
      }

      .create-form-re .form-navigator .item .text {
        font-size: 18px;
        border-left: 2px solid #085b8c;
        padding: 0 12px 0px 8px;
        line-height: 40px;
        background-color: #1e77ab;
        color: #ffffff;
        display: none;
        font-weight: 500;
        width: auto;
      }

        .create-form-re .form-navigator .item:hover .text {
          display: block;
          animation: animate-show-text .3s;
        }

/*
  / Navigator
*/

.create-form-re .unit-label:before {
	content: attr(data-currency) ' / ';
}

.create-form-re .show-hide-until-full {
  font-size: 40px;
  color: #ddd;
  height: 20px;
  line-height: 0px;
  display: block;
  text-align: center;	
  transition: 0.5s;
}

	.create-form-re .show-hide-until-full:hover {
		color: #72afd2;
		letter-spacing: 3px;
	}