/*start search-box*/
.search {
	background: url('/assets/background/background-search.jpg') no-repeat center center;
	height: 550px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 25px;
}	
	.search .search-box {
		margin: auto;
	}
/*end search-box*/

/*start navigator*/
.navigator {
	font-size: 86.67%;
}
	.navigator .breadcrumb {
		padding-left: 0;
		background-color: #f6f6f6;
	}
/*end navigator*/

/*start real estimate*/
.real-estimate {
	margin-bottom: 40px;
}
	.real-estimate > .title {
		margin-bottom: 40px;
	}
	.real-estimate .content {
		border: 1px solid #f2f2f2;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: vertical;
		-ms-flex-direction: vertical;
		flex-direction: vertical;
		border-radius: 5px;
	}

	/*Left Panel*/
	.real-estimate .panel-switch {
		width: 300px;
		/*height: 440px;*/
		border-right: 1px solid #4B944B;		
		padding-top: 75px;
		z-index: 0;
		border-radius: 3px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		background-color: #efefef;
		box-shadow: 0 0 4px #ddd;
	}
	/*end*/

	/*Right Panel*/
	.real-estimate .content-switch {
		width: 100%;
	}
	/*end*/

	/*start custom tab*/
		/*start panel switch*/
		.vertical-tabs li + li,
		.vertical-tabs li:first-child {
			margin-bottom: 20px;
		}
		.vertical-tabs li a {		
			text-align: center;
			text-transform: uppercase;
			color: #999;
			height: 60px;
			line-height: 40px;
			font-size: 86.67%;			
		}		
		.vertical-tabs li:hover a,
		.vertical-tabs li.active a:focus,
		.vertical-tabs li.active a:hover,
		.vertical-tabs li.active a {
			color: #2E9854;
			font-weight: bold;
			border-radius: 1px;
			z-index: 1;
			position: relative;
			font-size: 86.67%;
			background-color: #efefef;
		}
			.vertical-tabs li.active a:after {
				content: '';
				bottom: calc(50% - 15px);
				right: 0;
				position: absolute;
				width: 0;
				height: 0;
				border-right: 15px solid #2E9854;
				border-top: 15px solid transparent;
				border-bottom: 15px solid transparent;
			}			
		/*end*/

		/*start content switch*/
		.content-switch .sub-content {
			background-color: #fff;
		}
			.content-switch .dropdown-menu {
				border-radius: 3px;
			}
			.content-switch .dropdown-menu a {
				border-radius: 0;
			}
				.content-switch .dropdown-menu a:hover {
					background-color: #eee;
				}				
			.content-switch .dropdown-menu li:first-child,
			.content-switch .dropdown-menu li + li {
				margin-right: 0;
			}
			/*start tab*/
			.content-switch .tab-pane ul.structure-tabs {
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				width: 100%;
				-webkit-justify-content: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				padding: 10px;
				border-top-right-radius: 3px;
				background-color: #fff;
			}
				ul.structure-tabs li + li,
				ul.structure-tabs li:first-child {
					margin-right: 15px;
				}
				ul.structure-tabs li a {
					position: relative;
					color: #999;
					background-color: ;
					padding: 7px 20px;
					border-radius: 3px;
				}
				ul.structure-tabs li.active a,
				ul.structure-tabs li.active a:hover,
				ul.structure-tabs li.active a:focus,
				ul.structure-tabs li a:hover,
				ul.structure-tabs li a:focus {
					position: relative;
					color: #ffffff;
					background-color: #2E9854 !important;
				}
				ul.structure-tabs li.active a:after,
				ul.structure-tabs li a:hover:after {
					content: '';
					bottom: -10px;
					left: calc(50% - 15px);
					position: absolute;
					width: 0;
					height: 0;
					border-left: 15px solid transparent;
					border-right: 15px solid transparent;
					border-bottom: 15px solid #fff;
				}
					/*structure dropdownmenu*/
					ul.structure-tabs .dropdown-menu li a:hover:after {
						display: none;
					}
					ul.structure-tabs .dropdown-menu li {
						margin-right: 0;
					}
					ul.structure-tabs .dropdown-menu li a:hover {
						border-radius: 0;
						width: 100%;
					}
					/*end*/
			/*end*/

			/*start content*/
			.content-switch .sub-content {
				padding: 30px;
			}
			/*end*/
		/*end*/
	/*end*/

	.tool-box {
		margin-bottom: 20px;
	}
	/*start price on tab*/
	
	/*end*/

	/*start position real tab*/
	.position-selector {

	}
		.position-selector li {
			font-size: 86.67%;
			color: #666;
			display: inline-block;
			padding: 5px 10px;
		}
			.position-selector li.divider-vertical:hover {
				border: none;
				cursor: inherit;
			}

			/*btn-more country*/
			.position-selector li.more {
				padding: 0;
			}
				.position-selector li.more:hover {
					border: none;
				}
				.position-selector li.more .dropdown-menu {
					margin-top: 10px;
					right: -10px;
				}
					.position-selector li.more .dropdown-menu li {
						width: 100%;
						font-weight: normal;
					}
					.position-selector li.more .dropdown-menu li a {
						display: block;
						font-size: 12px;
					}
						.position-selector li.more .dropdown-menu li:hover {
							border-bottom: none;
							font-weight: normal;
						}
						.position-selector li.more .dropdown-menu li a:hover {
							background-color: #2E9854;
							color: #fff;
						}
			/*end*/
			
			.position-selector li:hover {
				/*border-bottom: 1px solid #2E9854;*/
				font-weight: bold;
				color: #333;
				cursor: pointer;
			}
			.position-selector li + li {
				margin-right: 5px;			
			}
		.position-selector li.active {
			/*border-bottom: 1px solid #2E9854;*/
			font-weight: bold;
			color: #333;
		}

		.country {
			margin-bottom: 10px;
		}

	/*end*/
	
	/*find estimate company*/
		.estimate-company {
			padding: 30px;
		}
			/*start function*/
			.function {
				margin-bottom: 32px;
			}
				/*start form search company*/
				form .form-group-custom {
					position: relative;
					margin-bottom: 10px;			
				}
					.estimate-company form .form-group-custom input {
						margin-left: auto;
						width: 400px;
					}
					form .btn-search {
						height: 100%;
						position: absolute;
						top: 0;
						right: 0;
						padding: 0 10px;			
						display: -webkit-flex;
						display: -moz-flex;
						display: -o-flex;
						display: -ms-flexbox;
						display: flex;
					}
						form .btn-search button {
							height: 24px;
							width: 24px;
							border: none;
							-ms-flex-item-align: center;
							    align-self: center;
							-webkit-align-self: center;
							text-decoration: none;
							outline: none;
							vertical-align: middle;
							padding: 0;
							background: url('/assets/icon/icon.png') no-repeat -16px 0;
						}
							form .btn-search button:hover {
								background-position: -16px -24px ;
							}
				/*end*/
				/*start list company*/
				.list-company {
					border: 1px solid #ccc;
					border-radius: 3px;
					position: absolute;
					top: 37px;
					right: 0;
					max-width: 437px;
				}
					.list-company li {
						display: inline-block;
						margin: 5px;
					}
						.list-company li a {
							display: block;
							width: 100px;
							height: 50px;
						}
							.list-company li a:hover {
								background-color: #e1e1e1;
							}
							.list-company li a img {
								width: 100%;
								height: 100%;
							}
				/*end*/
			/*end*/

			/*start result-search-company*/
			.result-search-company {
			}
				/*start info-company*/
				.info-company {
					width: 60%;
					margin: 0 auto;
					color: #666;
					text-align: center;
					margin-bottom: 30px;
				}
					.company-logo {
						margin: 0 auto;
					}
						.company-logo img {
							max-width: 70%;
						}
					.company-name {

					}
					.company-description {
						color: #999;
						font-size: 93.33%;
					}
				/*end*/
			/*end*/
	/*end*/
/*end*/

/*start stimate company*/
	/*start search-tool*/
	.company-tool {
		width: 500px;
		margin-left: auto;
		margin-right: 40px;
		margin-bottom: 30px;
		margin-top: 40px;
	}
	/*end*/
	/*start agent*/
	.agent {
		margin-bottom: 40px;
	}
		.agent ul {
		}
		.agent .item-agent {
			height: 150px;
			width: 150px;
			border: 1px solid #ccc;	
		}
		.agent .slick-slide {
			margin: 0 20px;
		}
	/*end agent*/
/*end*/

/*start real-estimated*/
.real-estimated {

}
	.real-estimated > .title {
		margin-bottom: 60px;
	}
	.real-estimated .content {
		border: 0;
	}
	.real-estimated .tab-pane {
		width: 100%;
	}
	.real-estimated .structure-tabs {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		      	justify-content: center;
	      	margin-bottom: 30px;
	}
		.real-estimated .structure-tabs li.active a:after,
		.real-estimated .structure-tabs li a:after {
			border-bottom: 15px solid #f6f6f6 !important;
		}
	.real-estimated .tool-box {
		border: 1px solid #eee;
		background-color: #fff;
		padding: 10px 0;
	}
	/*start position-selector*/
	.position-selector {
		margin-bottom: 20px;
		text-align: center;
	}
	/*end*/
	/*start price-selector*/
	.price-selector {
		max-width: 500px;
		margin: 5px auto;
	}	
	/*end*/
	/*start item-sm*/
	.real-estimated .item-sm .function {
		font-size: 86.67%;
	}
	/*end*/
/*end*/