/*start search-box*/
.search {
	background: url('/assets/background/background-search.jpg') no-repeat center center;
	height: 550px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 25px;
}	
	.search .search-box {
		margin: auto;
	}
/*end search-box*/

/*start navigator*/
.navigator {
	font-size: 86.67%;
}
	.navigator .breadcrumb {
		padding-left: 0;
		background-color: #f6f6f6;
	}
/*end navigator*/

/*start real estimate*/
.real-estimate {
	margin-bottom: 40px;
}
	.real-estimate .content {
		border: 1px solid #f2f2f2;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: vertical;
		-ms-flex-direction: vertical;
		flex-direction: vertical;
		border-radius: 5px;
	}

	/*Left Panel*/
	.real-estimate .panel-switch {
		width: 300px;
		height: 440px;
		background-color: #4B944B;
		border-right: 0px;
		padding-top: 75px;
		z-index: 0;
		box-shadow: 1px 2px 6px #4B944B;
		border-radius: 3px;
		border-top-right-radius: 0;
	}
	/*end*/

	/*Right Panel*/
	.real-estimate .content-switch {
		background-color: #fff;
		width: 100%;
	}
	/*end*/

	/*start custom tab*/
		/*start panel switch*/
		.panel-switch li + li,
		.panel-switch li:first-child {
			margin-bottom: 20px;
		}
		.panel-switch li a {
			text-align: center;
			text-transform: uppercase;
			color: #f3f3f3;
			height: 60px;
			line-height: 40px;
		}
		.panel-switch li:hover a,
		.panel-switch li.active a:focus,
		.panel-switch li.active a:hover,
		.panel-switch li.active a {
			background-color: #FFFFFF;
			color: #666;
			border-radius: 1px;
			box-shadow: 0px 0 5px #FFFFFF;
			width: calc(100% + 5px);
			margin-left: -2px;
			z-index: 1;
		}
		/*end*/

		/*start content switch*/
		.content-switch .sub-content {
			background-color: #fff;
		}
			/*start tab*/
			.content-switch .tab-pane ul.structure {
				display: flex;
				width: 100%;
				justify-content: center;
				padding: 10px;
				background-color: #5CB85C;
				border-top-right-radius: 3px;
			}
				ul.structure li + li,
				ul.structure li:first-child {
					margin-right: 15px;
				}
				ul.structure li a {
					position: relative;
					color: #fff;
					background-color: ;
					padding: 7px 20px;
					border-radius: 3px;
				}
				ul.structure li.active a,
				ul.structure li.active a:hover,
				ul.structure li.active a:focus,
				ul.structure li a:hover,
				ul.structure li a:focus {
					position: relative;
					color: #ffffff;
					background-color: #2E9854;
				}
				ul.structure li.active a:after {
					content: '';
					bottom: -20px;
					left: calc(50% - 15px);
					position: absolute;
					width: 0;
					height: 0;
					border-left: 15px solid transparent;
					border-right: 15px solid transparent;
					border-bottom: 15px solid #fff;
				}
			/*end*/

			/*start content*/
			.content-switch .sub-content {
				padding: 30px;
			}
			/*end*/
		/*end*/
	/*end*/

	.tool-box {
		margin-bottom: 20px;
	}
	/*start price on tab*/
	
	/*end*/

	/*start position real tab*/
	.position-real-tool {
		margin: 10px auto;
		text-align: center;
	}
		.position-real-tool > li + li,
		.position-real-tool > li:first-child {
			margin-right: 20px;
		}
		.position-real-tool > li {
			border: 1px solid #d2d2d2;
			display: inline-block;
			width: 120px;
			text-align: center;
		}
			.position-real-tool > li > a,
			.position-real-tool > li > .btn-group a {
				display: block;
				padding: 5px 10px;
			}
				.position-real-tool > li > a:hover,
				.position-real-tool > li > .btn-group a:hover {
					cursor: pointer;
					background-color: #5CB85C;
					color: #fff;
				}
				.position-real-tool > li > a:focus,
				.position-real-tool > li > .btn-group a:focus {
					cursor: pointer;
					background-color: #4B944B;
					color: #fff;
				}				

				.position-real-tool .btn-group {
					width: 100%;
					display: block;
				}
				.dropdown-menu > li > a:hover {
					background-color: #54b40d;
					color: #f5f5f5;
				}				
	/*end*/
	/*find estimate company*/
	form .form-group-custom {
		position: relative;
		margin-bottom: 10px;
	}
		form .btn-search {
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			padding: 0 10px;			
			display: -webkit-flex;
			display: -moz-flex;
			display: -o-flex;
			display: flex;
		}
			form .btn-search button {
				height: 24px;
				width: 24px;
				border: none;
				align-self: center;
				-webkit-align-self: center;
				text-decoration: none;
				outline: none;
				vertical-align: middle;
				padding: 0;
				background: url('/assets/icon/icon.png') no-repeat -16px 0;
			}
				form .btn-search button:hover {
					background-position: -16px -24px ;
				}
	/*end*/
/*end*/

/*start estimate company*/
	/*start search-tool*/
	.company-tool {
		width: 500px;
		margin-left: auto;
		margin-right: 40px;
		margin-bottom: 30px;
		margin-top: 40px;
	}
	/*end*/
	/*start agent*/
	.agent {
		margin-bottom: 40px;
	}
		.agent ul {
		}
		.agent .item-agent {
			height: 150px;
			width: 150px;
			border: 1px solid #ccc;	
		}
		.agent .slick-slide {
			margin: 0 20px;
		}
	/*end agent*/
/*end*/

/*start real-estimated*/
.real-estimated {

}
	.real-estimated .content-switch .tab-pane ul.structure {
		display: flex;
		width: 100%;
		justify-content: center;
		padding: 10px;
		background-color: #038ED1;
		border-top-right-radius: 3px;
	}
	.real-estimated ul.structure li.active a, 
	.real-estimated ul.structure li.active a:hover,
	.real-estimated ul.structure li.active a:focus, 
	.real-estimated ul.structure li a:hover, 
	.real-estimated ul.structure li a:focus {
		position: relative;
		color: #ffffff;
		background-color: #046492;
	}
	.real-estimated .panel-switch {
		width: 300px;
		height: 440px;
		background-color: #046492;
		border-right: 0px;
		padding-top: 75px;
		z-index: 0;
		box-shadow: 1px 2px 6px #038ED1;
		border-radius: 3px;
		border-top-right-radius: 0;
	}
	.real-estimated .position-real-tool li > a:hover {
		background-color: #046492;
	}
/*end*/