/*#start pagination*/
.pagination-block {
	width: 100%;
	text-align: center;
}
	.pagination-block > ul.pagination {
		margin: 0px !important;			
	}
/*#end pagination*/
/*#start products list*/
ul.products-list {
	padding: 15px 0px;
}
	ul.products-list > li {
		margin: 15px 0px;
	}
	@media (max-width: 600px) {
		ul.products-list > li {
			width: 100%;
		}	
	}
		/*#start product item*/
		ul.products-list > li .product-item {
			width: 260px;
			max-width: 100%;
			height: 340px;
			margin: 0px auto;
			border: 1px solid #ebebeb;
			border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			padding: 12px;
			position: relative;
		}
		ul.products-list > li .product-item:hover {
			border: 1px solid #1c77e0;
			box-shadow: 0 0 5px #4C90DF;			
		}
			ul.products-list > li .favorite-button {
				display: block;					
				background: url('../../image/icon/icon_highlight.png') no-repeat center bottom;
				width: 20px;
				height: 20px;
				position: absolute;
				top: 10px;
				right: 15px;
			}
				ul.products-list > li .favorite-button:hover {					
					background: url('../../image/icon/icon_highlight.png') no-repeat center top;
				}
			ul.products-list > li .product-item .top-section {
				text-decoration: none;
				display: block;
			}
				ul.products-list > li .product-item .top-section:after {
					content: '';
					display: block;
					clear: both;
				}
				ul.products-list > li .product-item .top-section .title {
					display: block;
					margin: 0px;
					width: calc(100% - 20px);
					padding-right: 20px;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					color: #666;
					font-size: 16px;
					font-weight: bold;
					position: relative;
				}
				ul.products-list > li .product-item .top-section .picture {
					border-top: 1px solid #f5f5f5;
					margin: 5px 0px;
					padding-top: 5px;
					display: block;
				}
					ul.products-list > li .product-item .top-section .picture img {
						width: 100%;				
					}
				ul.products-list > li .product-item .top-section .property {
					text-align: center;
				}				
					ul.products-list > li .product-item .top-section .property > section {
						display: inline-block;
						font-size: 11px;
						color: #777;
						margin-right: 10px;
					}
					ul.products-list > li .product-item .top-section .property > section:before {
						background: no-repeat;
						content: '';
						display: inline-block;
						width: 20px;
						height: 20px;
						vertical-align: middle;
					}
					ul.products-list > li .product-item .top-section .property .bedroom:before {
						background-image: url('../../image/icon/icon_phongngu.png');
					}
					ul.products-list > li .product-item .top-section .property .bathroom:before {
						background-image: url('../../image/icon/icon_phongtam.png');
					}
					ul.products-list > li .product-item .top-section .property .area:before {
						background-image: url('../../image/icon/icon_dientich.png');
					}
				ul.products-list > li .product-item .top-section .content {
					font-size: 12px;
					font-family: Segoe UI;
					color: #99a3b1;
					margin-top: 5px;
				}
			ul.products-list > li .product-item .bottom-section {
				position: absolute;
				width: 100%;
				bottom: 0px;
				left: 0px;
				padding: 6px 12px;
				border-top: 1px solid #ebebeb;
			}
				ul.products-list > li .product-item .bottom-section span {
					color: #1c77e0;
					font-size: 15px;
					font-weight: bold;
				}
				ul.products-list > li .product-item .bottom-section .button {
					float: right;
					font-size: 13px;
					font-weight: normal;
					font-family: Segoe UI;
					position: relative;			
				}
					ul.products-list > li .product-item .bottom-section .button a {
						color: #99a3b1;										
					}
					ul.products-list > li .product-item .bottom-section .button a:hover {
						color: #1c77e0;						
					}
					ul.products-list > li .product-item .bottom-section .button .share-button {
						display: block;					
						background: url('../../image/icon/share.png') no-repeat left center;
						width: 14px;
						height: 16px;
						position: absolute;
						top: 2px;
						right: 60px; 
					}
					ul.products-list > li .product-item .bottom-section .button .share-button:hover {
						background: url('../../image/icon/share.png') no-repeat right center;
					}
					ul.products-list > li .product-item .bottom-section .button .muathuebds-button {
						display: block;					
						background: url('../../image/icon/small_muathuebds.png') no-repeat left center;
						width: 17px;
						height: 17px;
						position: absolute;
						top: 2px;
						right: 86px; 
					}
					ul.products-list > li .product-item .bottom-section .button .muathuebds-button:hover {
						background: url('../../image/icon/small_muathuebds.png') no-repeat right center;
					}
		/*#end product item*/
/*#end products list*/
/*#start infos list*/
ul.infos-list {
	
}
	ul.infos-list > li.info-item {
		display: flex;
		flex-direction: column;
		margin: 10px 0px;
	}
		ul.infos-list > li.info-item > .time {
			border: 1px solid #ebebeb;
			padding: 0px 10px;
			min-width: 120px;
			text-align: center;
			line-height: 30px;
			margin-right: 10px;
			border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;			
		}
		ul.infos-list > li.info-item > .content {
			line-height: 30px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}			
@media (min-width: 768px) {
	ul.infos-list > li.info-item {
		flex-direction: row;
	}
}
/*#end infos list*/
/*#start categories list*/
ul.categories-list {
	padding: 15px 0px;
}
	ul.categories-list > li {
		margin: 15px 0px;
	}
		ul.categories-list > li > .category-item {
			display: block;
			width: 250px;
			max-width: 100%;
			height: 150px;
			margin: 0px auto;
			/*border: 1px solid #ebebeb;*/
			text-decoration: none !important;
			color: #414141;
			font-weight: bold;
			font-size: 12px;
			font-family: Segoe UI;
		}
			ul.categories-list > li > .category-item > img {
				margin: 0px auto;
				display: block;
			}
			ul.categories-list > li > .category-item > span {
				text-align: center;
				display: block;
				margin: 10px;
				padding: 10px 0px;
			}
/*#end categories list*/