/*start search-box*/
.search {
	background: url('/assets/background/background-search.jpg') no-repeat center center;
	height: 550px;
	display: flex;
	margin-bottom: 20px;
}	
	.search .search-box {
		margin: auto;
	}
/*end search-box*/

/*start navigator*/
.navigator {
}
	.navigator .breadcrumb {
		padding-left: 0;
		background-color: #fff;
	}
/*end navigator*/

/*start list sale property*/
.sale-property {
	margin-bottom: 20px;
}
.sale-property .list {
	text-align: center;
}
.sale-property .list a {
	margin: 0 5px;
}
/*end list sale property*/

/*start suggest property*/
.suggest-property {
}
	/*start title*/
	.suggest-property .title {
		margin: 10px 0;
	}
	.suggest-property .title span {
		font-size: 15px;
		font-weight: bold;
	}
	.suggest-property .title a {
		margin-left: 10px;
		font-size: 11px;
	}
	/*end title*/
/*end suggest property*/

/*start new property*/
.new-property {
	margin-bottom: 20px;
}
	/*start title*/
	.new-property .title {
		margin: 10px 0;
	}
	.new-property .title span {
		font-size: 15px;
		font-weight: bold;
	}
	.new-property .title a {
		margin-left: 10px;
		font-size: 11px;
	}
	/*end title*/
/*end new property*/

/*start position property*/
.position-property {
	margin-bottom: 20px;
}	
	/*start tab-position*/
	.tab-position {
		margin-bottom: 10px;
	}
	.tab-position ul {
		display: flex;
	}
	.tab-position li.active {
		border: 1px solid #54b40d;
		border-radius: 2px;
		background-color: #54b40d;		
		font-size: 12px;
		padding: 0 12px;
	}
		.tab-position li.active a {
			display: block;
			color: #fff;
		}
		.tab-position li.active:after {
			content: '';
		}
	.tab-position li {
		position: relative;
		padding: 0 10px;
		font-size: 12px;
		align-self: center;
	}
		.tab-position li:after {
			position: absolute;
			content: '|';
			top: -2px;
			right: 0;
			display: block;
			color: #ccc;
		}
	.tab-position li:last-child:after {
		content: '';
	}
	.tab-position li .input-position {
		vertical-align: middle;
		font-size: 12px;
		color: #999;
		outline: none;
	}
	/*end tab-position*/
/*end position property*/

/*start short-property*/
.short-property {
	margin-bottom: 20px;
}
	/*start link*/
	.short-property .link {
		text-align: right;
		margin: 5px 0;
	}
	/*end link*/
	
	/*start item-xs*/
	.item-xs {
		margin-bottom: 10px;
		width: 500px;
	}
	.item-xs .title {
		margin-bottom: 10px;
		display: flex;
		cursor: pointer;
	}
		.item-xs .date {
			border: 1px solid #ccc;
			border-radius: 2px;
			padding: 5px;
			text-align: center;
			width: 80px;
			font-size: 12px;
		}
		.item-xs .title .text {
			margin-left: 10px;
			align-self: center;
			width: 418px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	.item-xs .details {
		display: flex;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		padding: 5px 0;
	}
		.item-xs .button {
			width: 80px;
			align-self: center;
			text-align: center;
		}
		.item-xs .details .text {			
			width: 418px;
			text-align: justify;
			margin-left: 10px;
		}
	/*end item-xs*/	
/*end short-property*/

/*start propensity-property*/
.propensity-property {

}
.propensity-property .content {
	margin-bottom: 30px;
}
	/*start title*/
	.propensity-property .row .title {
		margin-bottom: 12px;
		font-size: 18px;
	}
	.propensity-property .title a {
		color: #666;
	}
		.propensity-property .title a:hover {
			color: #54b40d;
			text-decoration: none;
		}
	/*end title*/

	/*start content*/
	.propensity-property ul {
		margin-bottom: 25px;
	}
	.propensity-property li {
		border: 1px solid #ccc;
		position: relative;
		height: 180px;
		width: calc(50% - 3px);
		border-radius: 2px;
	}
		.propensity-property li:hover {
			border: 1px solid #54b40d;
			box-shadow: 0px 0px 3px #54b40d;
		}
	.propensity-property li.col1 {
		width: 100%;
		display: block;
		margin-bottom: 10px;
	}
	.propensity-property .col2 {
		display: flex;
	}
		.col2 li:nth-child(1) {
			margin-right: 12px;
		}
	.propensity-property img {
		width: 100%;		
		height: 100%;
	}	
	.propensity-property .wrapper {
		position: absolute;
		width: 100%;
		height: 50px;
		bottom: 0;
		background-color: rgba(0,0,0,0.2);
	}
	.propensity-property .price {
		position: absolute;
		margin: 0 15px;
		width: calc(100% - 30px);
		bottom: 24px;
		color: #f1f1f1;
		font-size: 16px;
		font-weight: bolder;
	}
	.propensity-property .address {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		position: absolute;
		bottom: 5px;
		margin: 0 15px;
		color: #f1f1f1;
		font-size: 13px;
		height: 17px;
		width: calc(100% - 30px);
	}
	/*end content*/
/*end propensity-property*/

/*start contact*/
.contact {
	margin-bottom: 20px;
}
.contact img {
	width: 100%;
}
.contact li {
	font-size: 13px;
	color: #999;
	margin: 5px 0;
}
/*end contact*/