/*start search-box*/
.search {
	background: url('/assets/background/background-search.jpg') no-repeat center center;
	height: 550px;
	display: flex;
	margin-bottom: 25px;
}	
	.search .search-box {
		margin: auto;
	}
/*end search-box*/

/*start navigator*/
.navigator {
	font-size: 13px;
}
	.navigator .breadcrumb {
		padding-left: 0;
		background-color: #f6f6f6;
	}
/*end navigator*/

/*start favorite-property*/
.favorite-property {
	margin-bottom: 20px;
}
/*end*/

/*start user-property*/
.user-property {
	margin-bottom: 30px;
}
	/*Tab panes*/
	.user-property .tab-content > div {
		padding: 10px;
	}

		/*start link*/
		.user-property .tab-content .link {
			text-align: right;
		}
		/*end*/

		/*start paging*/
		.user-property .tab-content .paging {
		}
		/*end*/

	/*end*/
/*end*/

/*start structure-property*/
.structure-property {
	margin-bottom: 40px;
}
	/*Tab panes*/
	.structure-property .tab-content > div {
		padding: 10px;
	}

		/*start link*/
		.structure-property .tab-content .link {
			text-align: right;
		}
		/*end*/

		/*start paging*/
		.structure-property .tab-content .paging {
		}
		/*end*/
/*end*/

/*start position property*/
.position-property {
	margin-bottom: 20px;
}	
	.position-property .title-position {
		margin-bottom: 10px;
		color: #666;
		font-weight: bold;		
	}
	.title-position button {
		padding: 0;
		font-size: 17px;
		vertical-align: middle;
	}		
		.title-position button:focus,
		.title-position button:hover {
			text-decoration: none;
		}
	
	/*start link*/
	.link {
		text-align: right;		
	}
	/*end*/

	/*start sub-title*/
	.sub-title {

	}
		.sub-title span {
			font-size: 130.77%;
		}
		.sub-title .btn-group {
			vertical-align: -13px;
		}
		.sub-title .btn-group a {
			font-size: 123.07%;
		}
	/*end*/
/*end position property*/

/*start price property*/
.price-property {
	margin-bottom: 20px;
}
	.price-property .irs {
		overflow: hidden;
	}
/*end*/

/*start short-property*/
.short-property {
	margin-bottom: 20px;
}
	/*start link*/
	.short-property .link {
		text-align: right;
		margin: 5px 0;
	}
	/*end link*/
	
	/*start item-xs*/
	.item-xs {
		margin-bottom: 10px;
		width: 100%;
	}
	.item-xs .title {
		margin-bottom: 10px;
		display: flex;
		cursor: pointer;
	}
		.item-xs .date {
			border: 1px solid #ccc;
			border-radius: 2px;
			padding: 5px;
			text-align: center;
			width: 80px;
			font-size: 12px;
		}
		.item-xs .title .text {
			margin-left: 10px;
			align-self: center;
			width: 418px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	.item-xs .details {
		display: flex;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		padding: 5px 0;		
	}
		.item-xs .button {
			float: left;
			width: 80px;
			align-self: center;
			text-align: center;
		}
		.item-xs .details .text {
			float: right;
			width: 418px;
			text-align: justify;
			margin-left: 10px;
		}
	/*end item-xs*/	
/*end short-property*/

/*start propensity-property*/
.propensity-property {

}
	.propensity-property .content {
		margin-bottom: 40px;
	}
	/*start title*/
	.propensity-property .title {
		margin-bottom: 12px;
		
	}
	.propensity-property .title a {
		color: #666;
	}
		.propensity-property .title a:hover {
			color: #54b40d;
			text-decoration: none;
		}
	/*end title*/

	/*start content*/
	.propensity-property ul {
		margin-bottom: 25px;
	}
	.propensity-property li {
		border: 1px solid #ccc;
		position: relative;
		height: 160px;
		width: calc(50% - 3px);
		border-radius: 2px;
	}
		.propensity-property li:hover {
			border: 1px solid #54b40d;
			box-shadow: 0px 0px 3px #54b40d;
		}
	.propensity-property li.col1 {
		width: 100%;
		display: block;
		margin-bottom: 10px;
		height: 250px;
	}
	.propensity-property .col2 {
		display: flex;
	}
		.col2 li:nth-child(1) {
			margin-right: 12px;
		}
	.propensity-property img {
		width: 100%;		
		height: 100%;
	}	
	.propensity-property .wrapper {
		position: absolute;
		width: 100%;
		height: 50px;
		bottom: 0;
		background-color: rgba(0,0,0,0.5);
	}
	.propensity-property .price {
		position: absolute;
		margin: 0 15px;
		width: calc(100% - 30px);
		bottom: 24px;
		color: #f1f1f1;
		font-size: 16px;
		font-weight: bolder;
	}
	.propensity-property .address {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		position: absolute;
		bottom: 5px;
		margin: 0 15px;
		color: #f1f1f1;
		font-size: 13px;
		height: 17px;
		width: calc(100% - 30px);
	}
	/*end content*/
/*end propensity-property*/

/*start contact*/
.contact {
	margin-bottom: 20px;
}
	.contact img {
		width: 100%;
		max-width: 165px;
		max-height: 249px;
	}
	.contact li {
		font-size: 13px;
		color: #999;
		margin: 5px 0;
	}
	.contact textarea {
		max-width: 263px;
	}
/*end contact*/