/* #start Bộ lọc*/
.filter-box {

}
	.filter-box > .title {
		padding: 10px;
		font-size: 1.3em;
		color: #a5a5a5;
	}
		.filter-box .item {

		}		
			.filter-box .item > .item-title {
				color: #aaa;
				padding: 5px 0;
			}	
			.filter-box .item > .form-group {

			}
			@media(max-width: 768px) {
				.filter-box .item > .form-group {
					margin: 0 !important;
				}
			}
	.filter-box .btn-submit {
		padding: 0 30px;
	}
	@media(max-width: 768px) {
		.filter-box .btn-submit {
			padding: 10px 30px;
		}
	}
/*#end Bộ lọc*/

/*#start Kết quả lọc*/
.table {
	border: 1px solid #ccc;
	margin: 10px 0;
}
	.table > thead > tr {
		font-weight: bold;
	}
	.table > tbody:nth-of-type(2n+1) {
		background-color: #eee;
	}
	.table > tbody td:first-of-type {
		width: 121px;		
	}
	.table > tbody > tr > td:first-of-type > span {
		font-weight: bold;
		border: 1px solid #286090;
		border-radius: 4px;
		padding: 3px 6px;
		background-color: #286090;
		color: white;
		display: block;
		margin-bottom: 5px;
	}

	/*item-info*/
	.table > tbody .item-info {	
		display: none;	
	}				
	.table > tbody .item-info > .btn-function {
		float: left;
		margin: 2px 0;
	}
	.table > tbody .item-info > ul.info {
		float: right;
		background-color: #ddd;
		margin: 2px 0;
	}
	@media(max-width: 768px) {
		.table > tbody .item-info {				
			display: block;
		}	
		.table > tbody .item-info > .btn-function {		
			float: left;	
		}
		.table > tbody .item-info > ul.info {		
			background-color: #ddd;	
			margin: 0 !important;
			float: left;		
		}
	}
		.table > tbody .item-info > ul.info > li {
			display: inline-block;
			padding: 0 10px;
			position: relative;			
		}		
		.table > tbody .item-info > ul.info > li:not(:last-of-type):after {
			content: '|';			
			position: absolute;
			right: -4px;
		}
/*#end Kết quả lọc*/