/*start search-box*/
.search {
	background: url('/assets/background/background-search.jpg') no-repeat center center;
	height: 550px;
	display: flex;
	margin-bottom: 20px;
}	
	.search .search-box {
		margin: auto;
	}
/*end search-box*/

/*start navigator*/
.navigator {
}
	.navigator .breadcrumb {
		padding-left: 0;
		background-color: #fff;
	}
/*end navigator*/

/*start standard info*/
.standard-info {

}
	/*start picture-info*/
	.picture-info {
		max-width: 400px;
		max-height: 400px;
		width: 100%;
	}
		.picture-info img {
			width: 100%;
		}
	/*end*/

	/*start basic-info*/
	.basic-info {
		display: flex;
		flex-direction: column;
	}
		.basic-info li {
			margin-bottom: 7px;
		}
		.basic-info .slide-picture ul {
			display: flex;
			border: 1px solid #ccc;
			border-radius:  2px;
			padding: 10px;
			height: 89px;
			min-width: 470px;
		}		
			.basic-info .slide-picture li {		
				margin-right: 10px;
				border: 1px solid #ccc;
			}
	/*end*/
/*end*/