main {
	padding-top: 50px;
}

/* Images */

	.images-container {
		background-color: #fff;
		position: relative;
	}
		
		@media (min-width: 992px) {
			.images-container {
				height: 425px;
			}
		}
		
		@media (min-width: 1200px) {
			.images-container {
				height: 513px;
			}
		}

		.images-container .image {
			
		}

			.images-container .image img {
				width: 100%;
			}

		.images-container .circle-paging {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		}

			.images-container .circle-paging span:before {
				background-color: #fff;
			}

/* / Images */

/* Infos */

	.infos-container {
		background-color: #4a525d;
		padding: 20px;
		color: #fff;
		overflow-y: auto;
	}
		
		@media (min-width: 992px) {
			.infos-container {
				min-height: 375px;
			}
		}
		
		@media (min-width: 1200px) {
			.infos-container {
				min-height: 463px;
			}
		}

		.infos-container > .content > * {
			margin-bottom: 17px;
		}

			.infos-container > .content > *:last-child {
				margin-bottom: 0;
			}

		.infos-container .title {
		}

			.infos-container .title > * {
				display: inline-block;
				margin: 0;
				font-size: 21px;
				line-height: 27px;
				padding-right: 20px;
				padding-bottom: 5px;
				border-bottom: 2px solid #00D976;
			}

		.infos-container .view-count {
			float: right;
			text-align: center;
			line-height: 1;
		}

			.infos-container .view-count .name {
				color: #00D976;
				font-size: 13px;
			}

			.infos-container .view-count .value {
				font-weight: bold;
				font-size: 21px;
			}

		.infos-container .price {
			font-size: 17px;
			font-weight: bold;
		}

			.infos-container .sell-price-text {
				color: #FFC732;
				margin-bottom: 10px;
			}

			.infos-container .rent-price-text {
				color: #2DCEFC;
				margin-bottom: 10px;
			}

		.infos-container .infos > .row > *:nth-child(2n+1) {
			clear: left;
		}

			@media (min-width: 768px) {
				.infos-container .infos > .row > *:nth-child(2n+1) {
					clear: none;
				}

				.infos-container .infos > .row > *:nth-child(4n+1) {
					clear: left;
				}
			}
			
			@media (min-width: 992px) {
				.infos-container .infos > .row > *:nth-child(4n+1) {
					clear: none;
				}

				.infos-container .infos > .row > *:nth-child(2n+1) {
					clear: left;
				}
			}

		.infos-container .infos {
			position: relative;
		}

		/* More */
		
			.infos-container .infos .more {
				background-color: #303740;
				margin-left: -20px;
				margin-right: -20px;
				padding: 10px 20px;
				float: left;
				margin-bottom: 15px;
				position: relative;
				width: 100%;
				box-sizing: content-box;
				overflow: hidden;
			}

				.infos-container .infos .more .text {
					margin-bottom: 10px;
				}

					.infos-container .infos .more .text:last-child {
						margin-bottom: 0;
					}

					.infos-container .infos .more .name {
						color: #00D976;
						font-size: 13px;
					}

						.infos-container .infos .more .name:after {
							content: ':';
							margin-left: -4px;
						}

					.infos-container .infos .more .value {
						font-size: 15px;
					}

					.infos-container .infos .more .unit {
						font-size: 13px;
					}

			.infos-container .infos .buffer-more {
				display: none;
			}
		
		/* / More */

		/* Item */

			.infos-container .info-item {
				margin-bottom: 15px;
			}

				.infos-container .info-item:after {
					content: '';
					display: table;
					clear: both;
				}

				.infos-container .info-item.has-more {
					cursor: pointer;
				}

				.infos-container .info-item .more {
					display: none;
				}

				.infos-container .info-item .icon {
					font-size: 25px;
					float: left;
					width: 25px;
					margin-right: 10px;
					margin-top: 2px;
					color: #00D976;
				}

				.infos-container .info-item .text {
					float: left;
					width: calc(100% - 35px);
				}

				.infos-container .info-item .name {
					font-size: 13px;
					color: #00D976;
				}

					.infos-container .info-item .name .ico-info {
						color: #fff;
					}

					.infos-container .info-item:hover .name .ico-info {
						color: #00D976;
					}

				.infos-container .info-item .value {
					font-size: 15px;
				}

				.infos-container .info-item .unit {
					font-size: 13px;
					font-weight: normal;
				}
		
		/* / Item */

/* / Infos */

/* Buttons */

	.buttons-container {
		
	}

		.buttons-container .btn {
			float: left;
			display: block;
			width: 50%;
			padding: 0;
			height: 50px;
			line-height: 50px;
			font-size: 19px;
			color: #fff;
			text-align: center;
			text-decoration: none;
		}

/* / Buttons */

/* Description */

	.description-container {
		background-color: #fff;
	}

		.description-container > *:first-child {
			margin-top: 0 !important;
		}

		/* Address */
		
			.description-container .address {
				margin-bottom: 10px;
			}
		
				.description-container .address .name {
					background-color: #A37700;
					padding: 5px 10px 5px 5px;
					color: #fff;
					display: inline-block;
					margin-right: -4px;
				}
		
				.description-container .address .ico-location {
					font-size: 18px;
					vertical-align: -2px;
				}
		
				.description-container .address .value {
					background-color: #BE8A00;
					display: inline-block;
					padding: 5px 10px;
					color: #fff;
				}
		
		/* / Address */

		/* Item list */
		
			.description-container .items-list {
				
			}
		
				.description-container .items-list .item {
					display: inline-block;
					background-color: #EFF1F5;
					color: #333;
					padding: 3px 8px;
					margin: 2px 0px;
				}
			
		/* / Item list */

/* / Description */

/* Contact */

	.contact-container {
		position: relative;
	}

	@media (max-width: 992px) {
		.contact-container {
			position: static !important;
		}
	}

		.contact-container .box {
			margin: 0 !important;
			background-color: #4a525d;
			color: #fff;
		}
		
		.contact-container .box-header {
		}
		
		.contact-container .box-body {
			padding: 25px;
		}

		/* User info */
		
			.contact-container .user-info {
				margin-bottom: 20px;
			}
		
				.contact-container .user-info:after {
					content: '';
					display: table;
					clear: both;
				}
		
				.contact-container .user-info .avatar {
					float: left;
					width: 100px;
				}
		
					.contact-container .user-info .avatar img {
						width: 100%;
					}
		
				.contact-container .user-info .info {
					margin-left: 120px;
					word-break: break-word;
				}

					.contact-container .user-info .info .name {
						font-size: 21px;
						display: inline-block;
					}
		
					.contact-container .user-info .info .text {
						margin-bottom: 3px;
					}
		
						.contact-container .user-info .info .text .icon {
							color: #00D976;
						}
		
		/* / User info */

		/* Contact */

			.contact-container .contact-box {
				background-color: #64CEEC;
			}
		
				.contact-container .contact-box .box-title {
					background-color: #03B2E3;
				}
		
				.contact-container .contact-box .box-header {
					background-color: #369836;
				}
		
		/* / Contact */

/* / Contact */