/* View panel */

	/* Block */

		.block-list .item {
			width: 250px;
			margin-left: 10px;
			margin-right: 10px;
			position: relative;
		}

			.block-list .item.active:after {
				content: '';
				display: block;
				width: 0;
				height: 0;
				border: 10px solid transparent;
				border-bottom-color: #3c8dbc;
				position: absolute;
				top: 100%;
				left: calc(50% - 5px);
			}

	/* / Block */

	/* Real-estate */

		.real-estate-container {
			border-top: 3px solid #3c8dbc !important;
			border-radius: 0;
			margin-top: -11px;
		}

	/* / Real-estate */

/* / View panel */