/*start search-box*/
.search {
	background: url('/assets/background/background-search.jpg') no-repeat center center;
	height: 550px;
	display: flex;
	margin-bottom: 20px;
}	
	.search .search-box {
		margin: auto;
	}
/*end search-box*/

/*start navigator*/
.navigator {
}
	.navigator .breadcrumb {
		padding-left: 0;
		background-color: #fff;
	}
/*end navigator*/

/*start user-property*/
.user-projects {
	margin-bottom: 30px;
}
	/*Tab panes*/
	.user-projects .tab-content > div {
		padding: 10px 0;
	}

		/*start link*/
		.user-projects .tab-content .link {
			margin-bottom: 10px;
			text-align: center;
		}
		/*end*/

		/*start paging*/
		.user-projects .tab-content .paging {
			margin-bottom: 10px;
		}
		/*end*/

	/*end*/
/*end*/

/*start seo-word*/
.seo-word {
	margin-bottom: 40px;
	border: 1px solid #eee;
	padding: 10px;	
}
	/*start title*/
	.seo-word .title {
		text-transform: uppercase;
		font-size: 138.46%;
		color: #333;
		margin-bottom: 40px;
		padding: 10px;		
	}
	/*end*/

	/*start details*/
	.seo-word .content {
		text-align: center;
		margin-bottom: 30px;
	}
	.seo-word img {
		width: 200px;
		height: 200px;
		display: block;	
		margin: 0 auto;	
		margin-bottom: 12px;		
	}
		.seo-word a:hover img {
			border: 3px solid #54b40d;
			padding: 2px;
		}
	.seo-word span {
		font-size: 130.77%;
		color: #666;
	}
		.seo-word a:hover span {
			color: #54b40d;
		}
	/*end*/
/*end*/

/*start list-project*/
.list-project {
	margin-bottom: 30px;
}
/*end*/

/*start type-project*/
.type-project {
	margin-bottom: 20px;
}
	.type-project .tab-content {
		padding: 15px 0;
	}

	/*start link*/
	.type-project .link {
		text-align: center;
	}
	/*end*/
/*end*/

/*start price-project*/
.price-project {
	border-top: 1px solid #ddd;
	padding-top: 40px;
	margin-bottom: 30px;
}
/*end*/

/*start position-project*/
.position-project {
	border-top: 1px solid #ddd;
	padding-top: 30px;
}
	.position-project .title {
		margin-bottom: 10px;
		font-size: 115.38%;
	}
	.position-project .btn-group span {
		vertical-align: 3px;
		margin-left: 8px;
	}
	.position-project .dropdown-menu {
		padding: 10px;
		left: 11px;
	}

	/*start link*/
	.position-project .link {
		text-align: center;
	}
	/*end*/
/*end*/

/*start distributor project*/
.distributor-project {

}
	/*start image*/
	.distributor-project .picture img {
		width: 100%;
		max-height: 421px;
	}
	/*end*/

	/*start information*/
	.distributor-project .information {

	}
		.distributor-project .information li {
			margin-bottom: 10px;
			color: #666;
		}
		.distributor-project .information .title {
			font-size: 138.46%;
			margin-bottom: 5px;
		}
		.distributor-project .information .detail {
			margin-left: 15px;
		}
	/*end*/

	/*start list project*/
	.distributor-project .list-project {
		padding: 0;
	}
		.distributor-project .list-project ul {
			background-color:  rgba(0,0,0,0.1);
		}
		.distributor-project .list-project li {
			padding: 10px 20px;
			color: #999;			
		}
			.distributor-project .list-project li:hover {
				background-color: black;
			}
			.distributor-project .list-project li:hover a {
				color: #fff;
			}
			.distributor-project .list-project li.active {				
				position: relative;
				background-color: black;
			}
				.distributor-project .list-project li.active a {
					color: #fff;
					font-weight: bold;
				}
			.distributor-project .list-project li.active:after {
				content: '';
				width: 0;
				height: 0;
				right: 0;
				top: calc(50% - 10px);
				position: absolute;
				display: block;
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent; 
				border-right:10px solid #fff; 
			}
		.distributor-project .list-project a {
			display: block;		
			color: #999;			
		}
			.distributor-project .list-project a:hover {
				text-decoration: none;
			}
	/*end*/

	/*start slide logo*/
	.distributor-project .content {
		margin-bottom: 20px;
	}
		.distributor-project .slick-initialized .slick-slide {
			margin: 0 100px;
			opacity: 0.2;
		}
		.distributor-project .slick-slide.slick-current {
			opacity: 1;
			font-size: 120%;
		}
	/*end*/
/*end*/

/*-------------------------*/
/*start fix-list*/
.fix-list {
	padding: 0 30px;
}
	.fix-list label {
		display: block;		
		padding: 15px 10px;
		color: #999;
		font-weight: normal;
		position: relative;
		cursor: pointer;
	}
	.fix-list label a {
		color: #999;
		font-size: 115.35%;
	}
	.fix-list input[type="radio"] {
		position: absolute;
		left: -9999px;
	}
	.fix-list label input:checked ~ span,
	.fix-list label input:hover ~ span,
	.fix-list label input:focus ~ span {
		color: #54b40d;
		display: block;
		font-size: 153.85%;
	}
		.fix-list label.active:after,
		.fix-list label:hover:after {
			content: '';
			display: inline-block;
			width: 12px;
			height: 12px;
			right: -35px;
			top: calc(50% - 8px);
			border-radius: 50%;
			background-color: #ccc;
			position: absolute;
		}
/*end*/

/*start content-list*/
.content-list {
	position: relative;
}
	.content-list:after {
		content: '';
		display: block;
		position: absolute;
		height: 100%;
		left: -16px;
		top: 0;
		border-left: 1px solid #ccc;
	}
/*end*/