/*start search-box*/
.search {
	background: url('/assets/background/background-search.jpg') no-repeat center center;
	height: 550px;
	display: flex;
	margin-bottom: 20px;
}	
	.search .search-box {
		margin: auto;
	}
/*end search-box*/

/*start navigator*/
.navigator {
}
	.navigator .breadcrumb {
		padding-left: 0;
		background-color: #fff;
	}
/*end navigator*/

/*start user-property*/
.user-projects {
	margin-bottom: 30px;
}
	/*Tab panes*/
	.user-projects .tab-content > div {
		padding: 10px 0;
	}

		/*start link*/
		.user-projects .tab-content .link {
			margin-bottom: 10px;
			text-align: right;
		}
		/*end*/

		/*start paging*/
		.user-projects .tab-content .paging {
			margin-bottom: 10px;
		}
		/*end*/

	/*end*/
/*end*/

/*start type-property*/
.type-projects {
	margin-bottom: 30px;
}
	/*Tab panes*/
	.type-projects .tab-content > div {
		padding: 10px 0;
	}

		/*start link*/
		.type-projects .tab-content .link {
			margin-bottom: 10px;
			text-align: center;
			width: 840px;
		}
		/*end*/

		/*start paging*/
		.type-projects .tab-content .paging {
			margin-bottom: 10px;
		}
		/*end*/

		/*start col-custom*/
		.type-projects .tab-content .col-custom {
			width: auto !important;
		}
		/*end*/
	/*end*/
/*end*/

/*start seo-word*/
.seo-word {
	margin-bottom: 30px;
}
	.seo-word ul {

	}
	.seo-word ul li a {
		display: block;
		text-align: center;
	}
	.seo-word ul li {
		display: inline-block;
		width: 280px;
		margin-right: 32px;
	}
		.seo-word li img {
			width: 100%;
			margin-bottom: 10px;
		}
		.seo-word li span {

		}
/*end*/

/*start position projects*/
.position-projects {
	margin-bottom: 20px;
}
	/*start title*/
	.position-projects .title-position {
		font-size: 100%;
		font-weight: bold;
		margin-bottom: 10px;		
	}
		.position-projects .btn-group {
			vertical-align: -6px;
		}
		.position-projects button {
			padding: 0 10px;
		}
	/*end*/
/*end position property*/

/*start distributor-projects*/
.distributor-projects {

}
	.distributor-projects .content .title {
		text-align: center;
		padding-right: 0 !important;
	}
	.distributor-projects .content .title span {
		text-transform: uppercase;
	}
	.distributor-projects .content .title ul {
		text-align: left;
	}
		.distributor-projects .content .title ul li {
			padding: 5px;
			cursor: pointer;
		}
		.distributor-projects .content .title ul li.active {
			background-color: #54b40d;
			color: #fff;
		}
	.distributor-projects .content .pictured {
		max-width: 100%;
		padding-left: 0 !important;
	}
		.distributor-projects .content .pictured img {
			width: 100%;
		}
	.distributor-projects .content .wrap-table {
		padding-left: 0 !important;
	}
	.odd {
		background-color: #eee;
	}

	/*start slide*/
	.list img {		
	}
	/*end*/

	/*start custom slick-distrubutor*/
	.wrapper-distributor .slick-slide {
		margin: 0 70px;
		opacity: 0.1;
	}
		.wrapper-distributor .slick-slide.slick-current {
			opacity: 1;
		}
	/*end*/
/*end*/

/*fix table*/
.fix-table {
	border: 1px solid #ccc;
	width: 180px;
	border-radius: 3px;
}
	.fix-table ul li a {
		display: block;
		color: #333;
	}
	.fix-table li {
		padding: 5px 10px;
		cursor: pointer;
		font-size: 100%;
	}
		.fix-table li.active,
		.fix-table li:hover  {
			background-color: #54b40d;
			color: #fff;
		}
			.fix-table li.active a,
			.fix-table li:hover a {
				color: #fff;
			}
	.fix-table.nofix {
		position: inherit;
	}
	.fix-table.fix {
		position: fixed;
		top: 79px;
		left: 105px;
	}
/*end*/