body {
	background-color: #f5f5f5;
}

/* Header */

	header {
		background-color: #fff;
		border-bottom: 2px solid #f0f0f0;
	}

		header:after {
			content: '';
			display: block;
			clear: both;
		}

	header .page-name {
		position: absolute;
		left: -9999px;
	}

	/* Logo */
	
		header .logo {
			height: 100px;
			width: 230px;
			padding: 35px 15px;
			float: left;
		}
	
			header .logo img {
				width: 200px;
			}
	
	/* Logo */

	/* Navigator */
	
		header .navigator {
			float: left;
			width: calc(100% - 230px);
			padding-left: 40px;
		}

		/* Top */
		
			header .top {
				height: 40px;
				border-bottom: 1px solid #eee;
				text-align: right;
			}
		
				header .top > * {
					height: 40px;
					font-size: 15px;
					display: inline-block;
				}

			/* User info */
			
				header .navigator .user-info {

				}
			
					header .navigator .user-info .text {
						line-height: 40px;
					}
			
			/* User info */
		
		/* Top */

		/* Bottom */
		
			header .bottom {
				height: 60px;
			}

				header .bottom nav {
					float: right;
				}

				header .bottom ul {
					list-style: none;
					padding: 0;
					margin: 0;
				}

				header .bottom li {
					display: inline-block;
				}

				header .bottom a {
					font-size: 16px;
					padding: 22px 15px;
					display: block;
					color: #333;
					text-decoration: none;
				}
		
		/* Bottom */
	
	/* Navigator */

/* Header */

/* Side bar */

	.side-bar {
		height: 100%;
	}

		.side-bar .navigator {
			margin: 15px 0;
		}

			.side-bar .navigator ul {
				list-style: none;
				padding: 0;
				margin: 0;
			}

			.side-bar .navigator li {
				
			}

			.side-bar .navigator a {
				display: block;
				padding: 10px;
				text-align: right;
				font-size: 15px;
				font-weight: bold;
				text-decoration: none;
				color: #fff;
			}

/* / Side bar */

/* Content panel */

	.content-panel {
		height: 100%;
	}

		.content-panel .box {
			margin-bottom: 50px;
		}

			.content-panel .box .box-header {
				padding: 5px;
			}

				.content-panel .box .box-title {
					font-size: 25px;
					text-align: center;
					font-weight: bold;
					color: #333;
				}

			.content-panel .box .box-body {
				padding: 10px;
			}

	/* Utilities */

		.content-panel .utilities {
			padding: 20px;
			margin-bottom: -30px;
		}

			.content-panel .utilities .item {
				border: 1px solid #e5e5e5;
				padding: 20px;
				padding-top: 60px;
				position: relative;
				background-color: #fff;
				max-width: 300px;
				margin: 50px auto 30px auto;
				cursor: pointer;
			}

				.content-panel .utilities .item .icon {
					position: absolute;
					top: -50px;
					left: calc(50% - 50px);
					border-radius: 50%;
					border: 6px solid #e5e5e5;
					width: 100px;
					height: 100px;
					background-color: #fff;
				}

					.content-panel .utilities .item .icon span {
						font-size: 40px;
						border: 3px solid #08c;
						border-radius: 50%;
						width: 88px;
						height: 88px;
						text-align: center;
						line-height: 85px;
					}

				.content-panel .utilities .item .content {
					position: relative;
				}

					.content-panel .utilities .item .title {
						font-size: 18px;
						font-weight: bold;
						margin-bottom: 10px;
						text-align: center;
						width: 100%;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					.content-panel .utilities .item .description {
						height: 140px;
						text-align: justify;
					}

	/* / Utilities */

	/* Interact image */

		.interact-image {
			clear: both;
		}

			.interact-image .image-panel {
				height: 80vh;
				background-color: #fff;
				border: 1px solid #eee;
				position: relative;
			}

				.interact-image .image-panel svg {
					height: 100%;
					width: 100%;
				}

				.interact-image .image-panel .button-in-panel a {
					color: #aaa;
					text-decoration: none;
				}

					.interact-image .image-panel .button-in-panel a:hover {
						color: #0089cc;
					}

				/*
					Info
				*/

					.interact-image .image-panel .info-button {
						position: absolute;
						top: 10px;
						right: 10px;
					}

					.interact-image .info-panel {
						position: absolute;
						top: 0;
						right: 0;
						width: 300px;
						max-width: 90%;
						height: 100%;
						background-color: #fafafa;
						border-left: 10px solid #eee;
						padding: 15px;
						overflow-y: auto;
						transform-origin: calc(100% - 15px) 15px;
						transform: scale(0);
						transition: .3s;
						opacity: 0;
					}

						.interact-image .info-panel.active {
							transform: scale(1);
							opacity: 1;
						}

					/*
						General
					*/

						.interact-image .info-panel .title {
							display: inline-block;
							margin: 0;
							margin-bottom: 20px;
							font-size: 20px;
							padding: 0 30px 5px 10px;
							border-bottom: 2px solid #08c;
						}

							.interact-image .info-panel .title .sub {
								display: block;
								font-size: 13px;
								margin-top: 5px;
							}

						.interact-image .info-panel a.link {
							color: #333;
							font-weight: bold;
						}

						.interact-image .info-panel .info {
							margin-bottom: 5px;
						}

						.interact-image .info-panel ul {
							padding-left: 20px;
							list-style: none;
						}

						.interact-image .info-panel li {
						}

							.interact-image .info-panel li .text {
							}

					/*
						/ General
					*/
				/*
					/ Info
				*/

				/*
					Back button
				*/

					.back-button {
						position: absolute;
						top: 10px;
						left: 10px;
					}

				/*
					/ Back button
				*/

			.interact-image .images-list {
				text-align: center;
			}
				.interact-image .images-list ul {
					padding: 0;
					margin: 0;
					list-style: none;
				}

				.interact-image .images-list li {
					display: inline-block;
				}

				.interact-image .images-list a {
					display: block;
					cursor: pointer;
					padding: 10px 5px;
				}

				.interact-image .images-list span {
					display: block;
					width: 16px;
					height: 16px;
					background-color: #fff;
					border: 1px solid #aaa;
					border-radius: 8px;
					transform: scale(.75);
					transition: .5s;
				}

					.interact-image .images-list li a:hover span{
						transform: none;
						border-color: #0089cc;
					}

					.interact-image .images-list li.active span {
						transform: none;
						border: 2px solid #0089cc;
					}

	/* / Interact image */

	/* Products */

		.re-group-list {
			
		}

			.re-group-list .item-container {
				height: 355px;
				margin-bottom: 15px;
			}

			.re-group-list .item {
				max-width: 250px;
				margin: 0 auto;
				border: 1px solid #ddd;
				background-color: #fff;
				cursor: pointer;
			}

				.re-group-list .item .image img {
					width: 100%;
				}

				.re-group-list .item .content {
					padding: 10px 20px;
				}

				.re-group-list .item .title {
					font-weight: bold;
					margin: 0;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					font-size: 17px;
					margin-top: 10px;
				}

				.re-group-list .item .properties {
					margin-top: 15px;
				}

				.re-group-list .item .node {
					margin-bottom: 5px;
				}

				.re-group-list .item .text {
				}

				.re-group-list .item .value {
					float: right;
					font-weight: bold;
				}

				.re-group-list .item .footer {
					background-color: #fafafa;
					border-top: 1px solid #eee;
					padding: 5px 10px;
					text-align: right;
				}

		.product-description {
			margin-top: 10px;
			border-top: 5px solid #08c;
			position: relative;
		}
	
			.product-description .arrow {
				position: absolute;
			    border: 10px solid transparent;
			    border-bottom-color: #08c;
			    top: -25px;
			}

	/* / Products */

	/* Payment method */

		.payment_method {
			
		}

			.payment_method .attachments {
				
			}

				.payment_method .attachments .title {
					font-size: 18px;
					font-weight: bold;
				}

				.payment_method .attachments .item {
					margin-bottom: 5px;
				}

				.payment_method .attachments a {
				}

				.payment_method .attachments img {
					height: 50px;
					margin-right: 5px;
				}

	/* / Payment method */

/* / Content panel */