<!DOCTYPE html>
<html lang="en">
<head>
  <title>Đăng tin - Muanhaonline.vn</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" Contents="MuaNhaOnline - Giá trị thực trong tầm tay">

  <link rel="stylesheet" href="/assets/shared/layout.css" />
  <link rel="stylesheet" href="/assets/shared/layout_back.css" />
  <link rel="stylesheet" href="/assets/shared/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/shared/bootstrap-datepicker3.min.css" />
  <%= yield :stylesheets %>
</head>
<body>
<div class="container-fluid navbar-fixed-top">
</div>
<!-- #start header -->
<header class="container-fluid navbar-fixed-top">
  <!-- #start top-header -->
    <div class="top-header">   
      <!-- #start function -->
      <div class="button-mini-function visible-xs" data-toggle-target=".mini-function" hidden></div>
      <ul class="mini-function hidden-sm hidden-md hidden-lg" hidden>
        <li><a href="#">Đăng tin bất động sản</a></li>
        <li><a href="#">Đăng ký mua/thuê BĐS</a></li>
        <li><a href="#">Thẩm định giá</a></li>
      </ul>
      <!-- #end function -->
      <!-- #start logo -->    
      <div class="logo hidden-xs">
        <a href="/home/index"><img src="/assets/logo/logo-white.png"></a>
      </div>    
        <!-- mini logo -->
        <div class="button-mini-logo visible-xs" hidden>
          <a href="/home/index">MuaNhaOnline</a>
        </div>
      <!-- #end logo -->
      <!-- #start sitemap -->
      <ul class="sitemap hidden-xs">
        <li><a href="#">Dịch vụ chính</a></li>
        <li><a href="#">Quản trị</a></li>
      </ul>
        <!-- mini sitemap -->
        <div class="button-mini-sitemap visible-xs" data-toggle-target=".mini-sitemap" hidden></div>
        <ul class="mini-sitemap hidden-sm hidden-md hidden-lg" hidden>
          <li><a href="#">Dịch vụ chính</a></li>
          <li><a href="#">Quản trị</a></li>
        </ul>      
      <!-- #end sitemap -->
      <!-- #start user -->
      <div class="userbox hidden-xs" data-toggle-target="#dropdownlist-username">
        <div class="avatar">
          <img src="/assets/icon/guest-26.png">
        </div>
        <div class="username">
          PenguinBlue-Chip          
        </div>
        <!-- Dropdownlist -->
        <ul id="dropdownlist-username" hidden>
          <li><a href="#">Sửa thông tin cá nhân</a></li>
          <li><a href="#">Đổi mật khẩu</a></li>
          <li><a href="#">Đăng xuất</a></li>
        </ul>        
      </div>
        <!-- mini user -->
        <div class="button-mini-userbox visible-xs" data-toggle-target=".dropdownlist-mini-username" hidden></div>
        <ul class="dropdownlist-mini-username hidden-sm hidden-md hidden-lg" hidden>
          <li><a href="#">Sửa thông tin cá nhân</a></li>
          <li><a href="#">Đổi mật khẩu</a></li>
          <li><a href="#">Đăng xuất</a></li>
        </ul>
      <!-- #end user -->
    </div>    
  <!-- #end top-header -->
  <!-- #start bottom-header -->  
  <div class="bottom-header">    
    <nav>      
      <li><a href="#">Trang quản trị</a></li>
      <li><a href="#">Đăng tin</a></li>        
    </nav>
  </div>
  <!-- #end bottom-header -->  
</header>
<div class="header"></div>
<!-- #end header -->
<!-- #start main -->
<main>  
  <!-- #start aside -->
  <aside class="hidden-xs hidden-sm">
    <div class="title">
      Chức năng chính
    </div>
    <ul class="item">
      <li><a href="/real_estates/create">Đăng tin bất động sản</a></li>
      <li><a href="#">Đăng ký mua/thuê BĐS</a></li>
      <li><a href="#">Đăng yêu cầu thẩm định</a></li>   
    </ul>    
  </aside>
  <!-- #end aside -->
  <!-- #start content -->
  <article class="content">
    <%= yield %>    
  </article>       
  <!-- #end content -->
</main>
<!-- #end main -->
</body>

<script src="/assets/shared/jquery.min.js"></script>
<script src="/assets/shared/bootstrap-datepicker.min.js"></script>
<script src="/assets/shared/layout.js"></script>
<script src="/assets/shared/layout_back.js"></script>
<%= yield :scripts %>
</html>