<!DOCTYPE html>
<html lang="en">
<head>
  <title>Đăng tin - Muanhaonline.vn</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" Contents="MuaNhaOnline - Giá trị thực trong tầm tay">
  
  <link rel="stylesheet" href="/assets/shared/layout_admin.css" />
  <link rel="stylesheet" href="/assets/shared/bootstrap.min.css" />
  <%= yield :stylesheets %>
</head>
<body>
<!-- #start header -->
<header class="container-fluid navbar-fixed-top">  
</header>
<div class="header"></div>
<!-- #end header -->
<!-- #start main -->
<main>  
  <!-- #start aside -->
  <aside class="hidden-xs hidden-sm">
  
  </aside>
  <!-- #end aside -->
  <!-- #start content -->
  <article class="content">
    <%= yield %>    
  </article>       
  <!-- #end content -->
</main>
<!-- #end main -->
</body>

<script src="/assets/shared/jquery.min.js"></script>
<script src="/assets/shared/layout.js"></script>
<%= yield :scripts %>
</html>